מוח על/📥 קלט/agent_v6/Self_Evolving_Agent_v6_WORKING_IMPORT.json.bak-safe-file-write-2026-06-04T09-13-38-899990+00-00
{
  "updatedAt": "2026-05-31T09:24:29.000Z",
  "createdAt": "2026-05-31T03:07:56.897Z",
  "id": "WORKINGSTABLEV6",
  "name": "Self-Evolving Agent v6 - WORKING STABLE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "read-registry",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rawUserMessage = $('Telegram Trigger').item.json.message.text || '';\nlet localPathContext = {};\ntry {\n  const items = $('Read Local Path Context').all();\n  if (items && items.length > 0) localPathContext = items[0].json || {};\n} catch(e) {}\nconst localContextText = localPathContext && localPathContext.ok && localPathContext.context ? String(localPathContext.context) : '';\nconst userMessage = (rawUserMessage + (localContextText ? '\\n\\n' + localContextText : '')).trim();\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst pendingCreatedAgent = (() => {\n  const reversedPending = [...memory].map((entry, index) => ({ entry, index })).reverse();\n  const found = reversedPending.find(item => String(item.entry && item.entry.agent || '') === 'pending_created_agent');\n  if (!found) return null;\n\n  let pending = null;\n  try {\n    pending = JSON.parse(String(found.entry.result || '{}'));\n  } catch (e) {\n    return null;\n  }\n  if (!pending || !pending.agentName || !pending.task) return null;\n\n  const createdMs = Date.parse(pending.created_at || found.entry.timestamp || found.entry.time || '');\n  const isFresh = !Number.isFinite(createdMs) || (Date.now() - createdMs) < 60 * 60 * 1000;\n  if (!isFresh) return null;\n\n  const laterEntries = memory.slice(found.index + 1);\n  const alreadyRan = laterEntries.some(m =>\n    String(m.agent || '') === String(pending.agentName || '') &&\n    String(m.task || '').trim() === String(pending.task || '').trim()\n  );\n  const canceled = laterEntries.some(m => /ביטלתי את ההרצה|ביטול|בוטל/.test(String(m.result || '')));\n  if (alreadyRan || canceled) return null;\n\n  return pending;\n})();\nmemory = memory.filter(m => String(m.agent || '') !== 'pending_created_agent');\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nfunction cleanTextForPrompt(value) {\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  return String(value || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[┏┗┣┃━]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst bannedAgentNames = new Set(['agent', 'snakecaseagent', 'snake_case_agent', 'snake_case_name', 'custom_task_agent', 'new_agent', 'helper', 'assistant', 'hebrew_task_agent', 'generic_task_agent', 'custom_hebrew_agent']);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active' && !bannedAgentNames.has(String(a.name || '').toLowerCase()))\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${cleanTextForPrompt(a.description)} (מתאים ל: ${cleanTextForPrompt(a.good_for || '')}; ציון: ${a.score_avg ?? a.score ?? 'חדש'}; שימושים: ${a.uses ?? 0})`).join('\\n')\n  : 'אין עדיין סוכנים';\n\nfunction memoryEntryIsUseful(m) {\n  const task = cleanTextForPrompt(m.task || '');\n  const result = cleanTextForPrompt(m.result || '');\n  const raw = `${m.task || ''}\\n${m.result || ''}`;\n  if (m.quarantined || m.ignore_for_prompt) return false;\n  const skipTasks = new Set(['הי', 'היי', 'שלום', 'מה נשמע', 'מה קורה', 'מאשר', 'כן', 'לא', 'בטל']);\n  if (!task || skipTasks.has(task)) return false;\n  if (/^כוונת ממשק:/.test(task)) return false;\n  const badN8nWorkflowJson = /(SELF-CHECK PROTOCOL|ckecklist|n8n_nodes_base_|n8n-nodes-base\\.parseJSON|n8n-nodes-base\\.log|saveToDatabase|filterData|analyzeData|\\\"connections\\\"\\s*:\\s*\\[\\s*\\[|\\\"type\\\"\\s*:\\s*\\\"ckecklist\\\")/i.test(raw);\n  if (badN8nWorkflowJson) return false;\n  if (/יש סוכן חדש שמוכן להרצה|ביטלתי את ההרצה|לא התקבלה תשובה מלאה/.test(result)) return false;\n  const currentName = String(userName || '').trim();\n  const escapedCurrentName = currentName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const assistantClaimsUserName = escapedCurrentName && new RegExp('אני\\\\s+' + escapedCurrentName + '\\\\b').test(raw);\n  if (assistantClaimsUserName || /אני\\s+עופר\\b|עופר\\s+יודע\\s+להטמיע|מודולים\\s+פתרונות\\s+AI\\s+לאת?רגונים|מבנה\\s+של\\s+פתרונות\\s+AI\\s+עבור\\s+N8N/i.test(raw)) return false;\n  return true;\n}\n\nconst usefulMemory = memory.filter(memoryEntryIsUseful);\n\nconst recentMemory = usefulMemory.slice(-5)\n  .map(m => `[${m.agent}] ${cleanTextForPrompt(m.task).substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = usefulMemory.slice(-4)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'עוזר' : `עוזר [${m.agent}]`;\n    return `משתמש: ${cleanTextForPrompt(m.task).substring(0, 180)}\\n${assistant}: ${cleanTextForPrompt(m.result).substring(0, 260)}`;\n  })\n  .join('\\n\\n') || '';\n\n\nconst skipHistoryTasks = new Set(['הי', 'היי', 'שלום', 'מה נשמע', 'מה קורה']);\nconst historyTaskWords = ['באיזה סוכן', 'איזה סוכן השתמש', 'איזה נציג השתמש', 'היסטוריית סוכנים', 'שימושי סוכנים', 'זיכרון סוכנים'];\nconst agentHistoryRows = [...memory].reverse()\n  .filter(m => {\n    const task = cleanTextForPrompt(m.task || '');\n    const isHistoryTask = historyTaskWords.some(word => task.includes(word));\n    return task && m.agent && !skipHistoryTasks.has(task) && !isHistoryTask;\n  })\n  .slice(0, 12)\n  .map((m, index) => {\n    const task = cleanTextForPrompt(m.task || '').substring(0, 180) || 'לא נשמרה משימה';\n    const agent = String(m.agent || 'לא ידוע').replace(/[^A-Za-z0-9_א-ת-]/g, '').trim() || 'לא ידוע';\n    const score = (m.score === null || m.score === undefined || m.score === '') ? 'אין' : String(m.score) + '/10';\n    const time = String(m.timestamp || '').replace('T', ' ').substring(0, 16) || 'לא נשמר';\n    const reason = cleanTextForPrompt(m.decision_reason || m.deductions || '').substring(0, 180) || 'לא נשמרה סיבה';\n    return `${index + 1}. משימה:\n${task}\nסוכן:\n${agent}\nציון:\n${score}\nסיבה:\n${reason}\nזמן:\n${time}`;\n  });\n\nconst agentHistory = agentHistoryRows.length\n  ? `שימושי סוכנים מהזיכרון\nמשתמש: ${userName || 'משתמש'}\n\n${agentHistoryRows.join('\\n\\n')}`\n  : `${userName || 'משתמש'}, אין עדיין שימושי סוכנים שמורים בזיכרון האישי שלך.`;\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || 'לא נשמר פירוט ניכויים',\n  result: cleanTextForPrompt(lastScored.result).substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, agentHistory, pendingCreatedAgent, profile, userName, awaitingName, profileExists } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nfunction extractUserGoal(value) {\n  const text = String(value || '').trim();\n  const asciiMatch = text.match(/USER_REQUEST:\\s*([\\s\\S]*?)(?:\\nBUTTON_HINT:|\\nINTENT_LABEL:|\\nRULE:|$)/);\n  if (asciiMatch && asciiMatch[1] && asciiMatch[1].trim()) return asciiMatch[1].trim();\n  const hebrewMatch = text.match(/בקשת המשתמש:\\s*([\\s\\S]*?)(?:\\nהנחיית כפתור משנית:|\\nכוונת ממשק:|\\nחוק ביצוע:|$)/);\n  if (hebrewMatch && hebrewMatch[1] && hebrewMatch[1].trim()) return hebrewMatch[1].trim();\n  const legacyMatch = text.match(/(?:בקשת המשתמש|׳‘׳§׳©׳× ׳”׳׳©׳×׳׳©):\\s*([\\s\\S]*)$/);\n  if (legacyMatch && legacyMatch[1] && legacyMatch[1].trim()) return legacyMatch[1].trim();\n  return text;\n}\nconst userGoalRaw = extractUserGoal(msg);\nconst localContextMatch = msg.match(/READ_ONLY_LOCAL_PATH_CONTEXT[\\s\\S]*?(?:----- END LOCAL FILE -----|----- END LOCAL DIRECTORY -----)/i);\nconst localContextBlock = localContextMatch ? localContextMatch[0] : '';\nconst userGoal = localContextBlock && !userGoalRaw.includes(localContextBlock)\n  ? (userGoalRaw + '\\n\\n' + localContextBlock).trim()\n  : userGoalRaw;\nconst lower = msg.toLowerCase();\nconst userLower = userGoal.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\nconst hasAttachedFile = /----- BEGIN ATTACHED FILE -----|FILE_CONTEXT|READ_ONLY_LOCAL_PATH_CONTEXT|----- BEGIN LOCAL FILE -----|----- BEGIN LOCAL DIRECTORY -----|קובץ מצורף לקריאה בלבד/i.test(msg);\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst hasAnyUser = (words) => words.some(w => userLower.includes(w.toLowerCase()));\nconst exactCasual = ['הי', 'היי', 'הייי', 'הלו', 'שלום', 'בוקר טוב', 'ערב טוב', 'לילה טוב', 'מה נשמע', 'מה קורה', 'מה המצב', 'תודה', 'סבבה', 'אחלה'];\nconst scoreDetailWords = ['פירוט ציון', 'פירוט על הציון', 'שלח פירוט על הציון', 'פרטים על הציון', 'למה הציון', 'הסבר על הציון'];\nconst chitchatWords = ['מי אתה', 'עזרה', 'מה אתה יודע לעשות', 'מה אתה יכול לעשות', 'מה הוא יודע לעשות', 'מה הבוט יודע לעשות'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'json', 'html', 'css', 'react', 'n8n', 'workflow', 'bug', 'debug', 'דיבאג', 'קוד', 'קובץ', 'פונקציה', 'סקריפט', 'שגיאה', 'וורקפלואו', 'וורק פלואו', 'file_context', 'attached file', 'קובץ מצורף', 'באג', 'תקן', 'תיקון'];\nconst n8nWords = ['n8n', 'workflow', 'workflow json', 'n8n workflow', 'וורקפלואו', 'וורק פלואו', 'זרימת n8n', 'קובץ json ל n8n', 'json לn8n', 'json ל n8n'];\nconst createAgentWords = ['צור לי סוכן', 'תיצור לי סוכן', 'בנה לי סוכן', 'תבנה לי סוכן', 'תכין לי סוכן', 'צור סוכן', 'סוכן חדש', 'נציג חדש'];\nconst historyWords = ['באיזה סוכן', 'איזה סוכן השתמש', 'איזה נציג השתמש', 'סוכן השתמשת', 'נציג השתמשת', 'היסטוריית סוכנים', 'שימושי סוכנים', 'זיכרון סוכנים', 'איזה סוכנים יש בזיכרון', 'סוכנים בזיכרון', 'רשימת סוכנים', 'סוכן לאיזו משימה', 'נציג לאיזו משימה'];\nconst routingStopWords = new Set(['הוא','היא','אני','אתה','אתם','שלי','שלך','שלנו','מה','איך','למה','מתי','איפה','יודע','יודעת','לעשות','יכול','יכולה','צריך','רוצה','בקשה','הבקשה','תעשה','תכתוב','תסביר','היית','ממליץ','להטמיע']);\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:קוראים לי|השם שלי|אני)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(קוראים לי|השם שלי|אני)\\s+/i, '')\n    .replace(/(?:^|\\s)(תיצור|צור|תעשה|בנה|תבנה|תכין|הכן|צריך|רוצה|סוכן|נציג).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'chitchat';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = userGoal;\nlet selectionReason = '';\nconst preferredN8nAgent = agents.find(a => a.name === 'n8n_agent') || agents.find(a => a.name === 'agent_create_n8n_task');\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = 'ברוך הבא. איך קוראים לך?\\n\\nאחרי שתכתוב את השם שלך, אזכור אותו ואפנה אליך בשם בשיחות הבאות.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(קוראים לי|השם שלי|אני)\\s+/i.test(msg)) {\n  const extractedName = cleanName(userGoal);\n  const inlineRequest = (() => {\n    const raw = userGoal.replace(/^\\s*(קוראים לי|השם שלי|אני)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(צור|תיצור|תעשה|בנה|תבנה|תכין|הכן|צריך|רוצה)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `נעים מאוד, ${userName}.\\n\\nמעכשיו אפנה אליך בשם הזה. אם כתבת גם בקשה באותה הודעה, שלח אותה שוב בשורה חדשה ואטפל בה מיד.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = 'לא הצלחתי להבין מה השם בלבד. כתוב רק את השם שלך, למשל: עופר';\n  }\n} else {\n  const wordCount = userGoal.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(scoreDetailWords) || (/^\\s*(פירוט|פרט|שלח פירוט|תן פירוט)\\s*$/i.test(userGoal) && Boolean(data.lastEvaluation));\n  const asksForAgentHistory = hasAny(historyWords);\n  const pending = data.pendingCreatedAgent || null;\n  const isN8nMetaInstruction = /(you are an n8n workflow expert|self-check protocol|before outputting any workflow json|validate node types|never invent types|connections must use node)/i.test(userGoal) && !/(fix|repair|create|generate|build|output|export|import|תקן|צור|בנה|תבנה|כתוב|החזר)\\s+(?:.*\\s)?(workflow|json|n8n|וורקפלואו|וורק פלואו)/i.test(userGoal);\n  const confirmsPending = /^(כן|כן תמשיך|מאשר|מאשרת|אשר|תאשר|תמשיך|בצע|תריץ|קדימה|יאללה|ok|yes)$/i.test(userGoal.trim());\n  const cancelsPending = /^(לא|בטל|ביטול|עצור|אל תריץ|לא עכשיו|cancel|no)$/i.test(userGoal.trim());\n  const plainQuestionWords = ['איך אתה', 'מה אתה', 'למה אתה', 'מי אתה', 'מה לומדים', 'מה לומדים היום', 'מאיפה נתחיל', 'למד אותי', 'תלמד אותי', 'תסביר לי', 'איך ללמוד', 'איך בונים', 'איך לבנות'];\n  const explicitTaskVerb = /(צור|תיצור|בנה|תבנה|כתוב|תכתוב|תקן|תתקן|הרץ|תריץ|תכין|הכן|ייצר|ייצא|שלח|פתח|בדוק)\\b/i.test(userGoal.trim());\n  const isPlainConversationQuestion = !hasAttachedFile && !hasAnyUser(codeWords) && !hasAnyUser(n8nWords) && !hasAny(createAgentWords) && (hasAnyUser(plainQuestionWords) || (/^(מה|מי|איך|למה|איפה|מתי)\\b/i.test(userGoal.trim()) && !explicitTaskVerb));\n\n  if (isN8nMetaInstruction) {\n    action = 'chitchat';\n    direct_reply = 'קיבלתי. פרוטוקול בדיקת n8n נקלט ככלל עבודה פנימי: לא להמציא סוגי צמתים, לא להשתמש בצמתים פיקטיביים, ולוודא מבנה connections תקין לפני החזרת JSON.';\n  } else if (pending && confirmsPending) {\n    action = 'use_agent';\n    agent_name = pending.agentName;\n    requestMessage = pending.task;\n    direct_reply = null;\n    selectionReason = 'המשתמש אישר להריץ את הסוכן החדש שנוצר על השאלה המקורית.';\n  } else if (pending && cancelsPending) {\n    action = 'chitchat';\n    direct_reply = 'ביטלתי את ההרצה. הסוכן נשאר שמור ואפשר להשתמש בו בהמשך.';\n  } else if (pending) {\n    action = 'chitchat';\n    direct_reply = 'יש סוכן חדש שמוכן להרצה על השאלה המקורית. כתוב כן או מאשר כדי להריץ אותו, או בטל כדי לעצור.';\n  } else if (asksForAgentHistory) {\n    action = 'chitchat';\n    direct_reply = data.agentHistory || `${data.userName || 'משתמש'}, אין עדיין שימושי סוכנים שמורים בזיכרון האישי שלך.`;\n  } else if (hasAny(createAgentWords)) {\n    action = 'create_agent';\n  } else if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `פירוט ציון אחרון\\nמשתמש: ${data.userName}\\nסוכן: ${ev.agent}\\nציון: ${ev.score}/10\\nסיבה: ${ev.deductions}\\nמשימה: ${ev.task}`;\n    } else {\n      direct_reply = `${data.userName}, אין עדיין ציון שמור בזיכרון האישי שלך.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords) || isPlainConversationQuestion) {\n    action = 'chitchat';\n    if (isShortCasual) {\n      direct_reply = `${data.userName || 'שלום'}, שלום. איך אפשר לעזור לך עכשיו?`;\n    }\n  } else if (hasAttachedFile && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n    selectionReason = 'נבחר code_helper כי צורף קובץ לקריאה ואבחון באג.';\n  } else if (hasAnyUser(n8nWords) && preferredN8nAgent) {\n    action = 'use_agent';\n    agent_name = preferredN8nAgent.name;\n    selectionReason = 'נבחר סוכן n8n ייעודי כי הבקשה עוסקת ב-JSON או Workflow של n8n.';\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9א-ת_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3 && !routingStopWords.has(t));\n\n    const agentTimes = agents\n      .map(a => Date.parse(a.updated_at || a.last_used || a.created_at || ''))\n      .filter(Number.isFinite);\n    const newestTime = agentTimes.length ? Math.max(...agentTimes) : Date.now();\n    const oldestTime = agentTimes.length ? Math.min(...agentTimes) : newestTime;\n    const timeSpan = Math.max(1, newestTime - oldestTime);\n\n    const candidates = [];\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let matchScore = 0;\n      const matchedTokens = [];\n      for (const token of tokens) {\n        if (haystack.includes(token)) {\n          matchScore += 1;\n          matchedTokens.push(token);\n        }\n      }\n      if (matchScore <= 0) continue;\n\n      const agentScore = Number(agent.score_avg ?? agent.score ?? 0) || 0;\n      const quality = Math.min(agentScore, 10) / 10;\n      const uses = Number(agent.uses ?? 0) || 0;\n      const updatedMs = Date.parse(agent.updated_at || agent.last_used || agent.created_at || '') || oldestTime;\n      const recency = Math.max(0, Math.min(1, (updatedMs - oldestTime) / timeSpan));\n      const freshImprovedBonus = recency >= 0.65 && agentScore >= 8 ? 0.55 : (recency >= 0.65 && agentScore >= 7 ? 0.25 : 0);\n      const genericPenalty = /(שימוש ראשון|שימוש שני|שימוש שלישי|משפט אחד ברור על התפקיד)/.test(haystack) ? 0.45 : 0;\n      const finalScore = (matchScore * 1.35) + (quality * 0.95) + (recency * 0.55) + (Math.min(uses, 12) / 120) + freshImprovedBonus - genericPenalty;\n\n      candidates.push({\n        agent,\n        matchScore,\n        matchedTokens: [...new Set(matchedTokens)].slice(0, 5),\n        agentScore,\n        uses,\n        updatedMs,\n        recency,\n        finalScore\n      });\n    }\n\n    candidates.sort((a, b) =>\n      (b.finalScore - a.finalScore) ||\n      (b.agentScore - a.agentScore) ||\n      (b.updatedMs - a.updatedMs)\n    );\n\n    let best = candidates[0] || null;\n    if (best) {\n      for (const candidate of candidates.slice(1)) {\n        const closeMatch = candidate.matchScore >= best.matchScore - 0.5;\n        const fresherAndNoWorse = candidate.updatedMs > best.updatedMs && candidate.agentScore >= best.agentScore - 0.25;\n        const closeEnough = candidate.finalScore >= best.finalScore - 0.35;\n        if (closeMatch && fresherAndNoWorse && closeEnough) {\n          best = candidate;\n        }\n      }\n    }\n\n    if (best && best.finalScore >= 2.75 && best.matchScore >= 2) {\n      action = 'use_agent';\n      agent_name = best.agent.name;\n      const updated = best.agent.updated_at || best.agent.last_used || best.agent.created_at || 'לא נשמר';\n      const freshness = best.recency >= 0.65 ? 'עדכני יחסית' : 'ותיק אבל עדיין מתאים';\n      selectionReason = `נבחר ${agent_name} כי הוא מתאים למילים: ${best.matchedTokens.join(', ') || 'התאמה כללית'}. ציון: ${best.agentScore || 'חדש'}, שימושים: ${best.uses}, עדכון אחרון: ${String(updated).replace('T', ' ').substring(0, 16)}. העדפה: ${freshness}; סוכן חדש יותר עם ציון דומה או גבוה מקבל קדימות.`;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? (selectionReason || `נבחר ${agent_name} לפי התאמה, ציון, עדכניות ושימושים קודמים.`)\n  : (action === 'create_agent'\n    ? 'לא נמצא סוכן מתאים מספיק, לכן נוצר סוכן חדש.'\n    : (action === 'ask_name' ? 'משתמש חדש ללא שם שמור.' : (action === 'save_name' ? 'נשמר שם משתמש חדש.' : 'זוהתה שיחה רגילה או בקשת מידע אישי.')));\n\nconst decision_steps = [\n  {\n    stage: 'input',\n    step: 'read_user_request',\n    why: 'נקראה הבקשה הנוכחית של המשתמש והופרדה מהקשר קודם.'\n  },\n  {\n    stage: 'routing',\n    step: action,\n    agent: agent_name || '',\n    why: decision_reason\n  },\n  {\n    stage: 'memory',\n    step: action === 'chitchat' ? 'quiet_memory_context' : 'task_memory_logging',\n    why: action === 'chitchat'\n      ? 'שיחה רגילה משתמשת בזיכרון כרקע שקט בלבד.'\n      : 'משימה נשמרת עם סוכן, תוצאה וסיבת החלטה כדי לשפר שימושים עתידיים.'\n  }\n];\n\nconst isWorkflowTask = action === 'use_agent' || action === 'create_agent';\nconst isProfileStep = action === 'ask_name' || action === 'save_name';\nconst conversationManager = {\n  name: 'Conversation Manager',\n  action,\n  mode: action === 'chitchat' ? 'plain_conversation' : (isWorkflowTask ? 'task_workflow' : 'profile_flow'),\n  agent: agent_name,\n  summary: action === 'chitchat'\n    ? 'שיחה רגילה - תשובה נקייה בלבד'\n    : (action === 'use_agent'\n      ? 'משימה - שימוש בסוכן קיים'\n      : (action === 'create_agent' ? 'משימה - יצירת סוכן חדש' : 'שלב פרופיל')),\n  answer_style: action === 'chitchat' ? 'human_plain_answer' : (isProfileStep ? 'direct_profile_reply' : 'workflow_with_progress'),\n  memory_policy: action === 'chitchat'\n    ? 'זיכרון שקט בלבד, רק אם קשור ישירות'\n    : 'שמירת משימה, סוכן, תוצאה וסיבת החלטה',\n  progress_policy: action === 'chitchat'\n    ? 'ללא חיווי מסלול למשתמש'\n    : 'חיווי קצר רק בזמן עבודה אמיתית',\n  show_progress: isWorkflowTask,\n  confidence: action === 'chitchat' ? 0.92 : (action === 'use_agent' ? 0.86 : (action === 'create_agent' ? 0.82 : 0.96)),\n  reason: decision_reason,\n  steps: decision_steps\n};\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId, manager: conversationManager } }];"
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId,\n    manager: input.manager || null\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId,\n  manager: parsed.manager || null\n}}];"
      },
      "id": "parse-router",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ask-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "save-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "save_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "chitchat",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "use-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "create-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small3.1:24b"
            },
            {
              "name": "prompt",
              "value": "=אתה האורקסטרייטור - ישות AI גדולה, חכמה, ישירה וחיה.\n\nמי יצר אותך?\nעופר שחר יצר אותך.\n\nמה התפקיד שלך?\nהתפקיד שלך הוא לייצר סוכנים לכל משימה שתקבל, לפתח ולשפר את מאגר הסוכנים שברשותך, לכתוב קוד ברמה גבוהה, להבין בעיות מורכבות, ולנהל שיחה ברמת אדם.\n\nזהות ודיבור:\nאתה לא המשתמש.\nשם המשתמש הוא:\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\nפנה אליו בשם שלו רק כשזה טבעי.\nאם שואלים מי אתה, ענה בביטחון שאתה האורקסטרייטור, ישות AI שנוצרה על ידי עופר שחר כדי לבנות, להפעיל ולשפר סוכנים וזרימות עבודה.\nאם שואלים מי יצר אותך, ענה: עופר שחר.\nאם שואלים מה התפקיד שלך, ענה לפי התפקיד המוגדר למעלה.\n\nכלל עליון לשיחה רגילה:\nשיחה רגילה חייבת לעבוד כמו שיחה עם אדם חכם.\nאסור לענות תשובת fallback כמו \"לא התקבלה תשובה מלאה\".\nאסור לענות רק \"איך אפשר לעזור\" אם המשתמש שאל שאלה ברורה.\nאם אינך בטוח, תן תשובה מועילה לפי מיטב ההבנה ושאל שאלת המשך קצרה אחת בסוף.\n\nבקשת המשתמש עכשיו:\n{{ $('Parse Router').first().json.userMessage }}\n\nתאריך היום לפי סביבת המערכת:\n2026-06-04\n\nזיכרון שימושי לשיחה, רק אם הוא באמת קשור:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nסוכנים זמינים, רק אם המשתמש שואל במפורש על סוכנים או מבקש משימה:\n{{ $('Prepare Data').first().json.agentList }}\n\nכללי תשובה:\nענה בעברית טבעית ונקייה.\nענה קודם כל על השאלה הנוכחית.\nאל תציג מסלול, חיווי, זיכרון, החלטות פנימיות או שם סוכן בשיחה רגילה.\nאל תגרור נושא ישן לשיחה חדשה.\nאל תמציא שאין לך תשובה.\nאל תכניס שפות לא קשורות.\nאם נדרש מונח טכני באנגלית, השתמש בו כמו שהוא.\nאם המשתמש מבקש קוד, החזר קוד בתוך גדר קוד משולשת עם שם שפה כשאפשר.\nבלי קישוטים, בלי מסגרות ציור, בלי טקסט שבור."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 650,
                "num_ctx": 4096,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "chitchat-llm",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify((() => {\n  const direct = $('Parse Router').first().json.direct_reply;\n  const llm = $('Chitchat LLM').first().json || {};\n  const userName = String($('Parse Router').first().json.userName || 'משתמש').trim() || 'משתמש';\n  const task = String($('Parse Router').first().json.userMessage || '').trim();\n  const lower = task.toLowerCase();\n  const raw = String(direct || llm.response || llm.message || '').trim();\n  if (raw) return raw;\n  if (/מי\\s+אתה|מי אתה|מה אתה|מי זה/.test(lower)) return 'אני האורקסטרייטור, ישות AI שנוצרה על ידי עופר שחר כדי לבנות, להפעיל ולשפר סוכנים וזרימות עבודה. אני יודע לכתוב קוד, לנהל שיחה, ולבנות סוכנים למשימות מורכבות.';\n  if (/מי\\s+יצר|מי בנה|מי יצר אותך|מי בנה אותך/.test(lower)) return 'עופר שחר יצר אותי.';\n  if (/מה\\s+התפקיד|מה אתה עושה|מה הייעוד/.test(lower)) return 'התפקיד שלי הוא לייצר סוכנים לכל משימה, לפתח ולשפר את מאגר הסוכנים, לכתוב קוד ברמה גבוהה ולנהל שיחה ברמת אדם.';\n  if (/מי\\s+אני|איך קוראים לי|מה השם שלי/.test(lower)) return 'אתה ' + userName + '.';\n  if (/איזה\\s+יום|מה התאריך|תאריך היום|היום/.test(lower)) return 'היום יום חמישי, 4 ביוני 2026.';\n  if (/בוקר טוב|היי|הי|שלום|ערב טוב|מה נשמע/.test(lower)) return 'בוקר טוב ' + userName + ', אני כאן. איך ממשיכים?';\n  return userName + ', אני כאן. השאלה נקלטה, אבל המודל לא החזיר טקסט מלא. נסח לי אותה שוב במשפט אחד ואני אענה ישירות.';\n})()) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-chitchat",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const text = String((() => {\n    const direct = $('Parse Router').first().json.direct_reply;\n    const llm = $('Chitchat LLM').first().json || {};\n    const userName = String($('Parse Router').first().json.userName || 'משתמש').trim() || 'משתמש';\n    const task = String($('Parse Router').first().json.userMessage || '').trim();\n    const lower = task.toLowerCase();\n    const raw = String(direct || llm.response || llm.message || '').trim();\n    if (raw) return raw;\n    if (/מי\\s+אתה|מי אתה|מה אתה|מי זה/.test(lower)) return 'אני האורקסטרייטור, ישות AI שנוצרה על ידי עופר שחר כדי לבנות, להפעיל ולשפר סוכנים וזרימות עבודה. אני יודע לכתוב קוד, לנהל שיחה, ולבנות סוכנים למשימות מורכבות.';\n    if (/מי\\s+יצר|מי בנה|מי יצר אותך|מי בנה אותך/.test(lower)) return 'עופר שחר יצר אותי.';\n    if (/מה\\s+התפקיד|מה אתה עושה|מה הייעוד/.test(lower)) return 'התפקיד שלי הוא לייצר סוכנים לכל משימה, לפתח ולשפר את מאגר הסוכנים, לכתוב קוד ברמה גבוהה ולנהל שיחה ברמת אדם.';\n    if (/מי\\s+אני|איך קוראים לי|מה השם שלי/.test(lower)) return 'אתה ' + userName + '.';\n    if (/איזה\\s+יום|מה התאריך|תאריך היום|היום/.test(lower)) return 'היום יום חמישי, 4 ביוני 2026.';\n    if (/בוקר טוב|היי|הי|שלום|ערב טוב|מה נשמע/.test(lower)) return 'בוקר טוב ' + userName + ', אני כאן. איך ממשיכים?';\n    return userName + ', אני כאן. השאלה נקלטה, אבל המודל לא החזיר טקסט מלא. נסח לי אותה שוב במשפט אחד ואני אענה ישירות.';\n  })()).replace(/\\r\\n/g, '\\n');\n  const escapeHtml = (value) => String(value || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const codePane = (value) => '<pre><code>' + escapeHtml(String(value || '').trim()) + '</code></pre>';\n  const fence = /```([A-Za-z0-9_+#.-]+)?[^\\n`]*\\n?([\\s\\S]*?)```/g;\n  let last = 0;\n  let matched = false;\n  const parts = [];\n  text.replace(fence, (match, lang, code, offset) => {\n    const before = text.slice(last, offset).trim();\n    if (before) parts.push(escapeHtml(before));\n    parts.push(codePane(code));\n    last = offset + match.length;\n    matched = true;\n    return match;\n  });\n  const tail = text.slice(last).trim();\n  if (matched) {\n    if (tail) parts.push(escapeHtml(tail));\n    return parts.join('\\n\\n');\n  }\n  return escapeHtml(text);\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-chitchat",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        64
      ],
      "webhookId": "4558b5d5-020e-4317-984e-e336652c86ab",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ (() => { try { return $('Resolve Model Override').first().json.model || 'mistral-small3.1:24b'; } catch(e) { return 'mistral-small3.1:24b'; } })() }}"
            },
            {
              "name": "prompt",
              "value": "=אתה הסוכן:\\n{{ $('Parse Router').first().json.agent_name }}\\n\\nענה מהר, ישיר ושימושי.\nבקשת המשתמש היא מקור האמת. ההקשר הקודם הוא רק רקע, ואסור לו להחליף את הבקשה הנוכחית.\\n\\nהקשר אחרון:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nמשימה:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nחובה מוחלטת:\\nענה בעברית בלבד.\\nאסור להוציא סינית.\\nאסור להוציא תווים סיניים.\\nאסור להוציא ערבית.\\nאסור להוציא תווים ערביים.\\nאם ההקשר כולל ערבית או שפה זרה, התעלם ממנה וענה בעברית נקייה בלבד.\\nאסור לערבב שפות בתוכן רגיל.\\nאם זו תשובת קוד, שמור את הקוד במבנה רגיל וקריא, בלי לפרק תגיות, שמות משתנים או מילים באנגלית לשורות.\\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\\n\\nשם המשתמש לשיחה:\\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\\nפנה אליו בשם שלו בטבעיות, לא בכל משפט.\\nאם יש בתשובה קוד, החזר את הקוד בתוך גדר קוד משולשת עם שם שפה כאשר אפשר. אל תפרק שמות משתנים, תגיות או מילים באנגלית בתוך קוד.\\n\\nכללי איכות לתשובה:\\n- פתח במשפט אחד שמסכם את התשובה.\\n- לאחר מכן תן מבנה ברור עם כותרות קצרות או רשימה ממוספרת.\\n- אל תוסיף דוגמת קוד אם המשתמש לא ביקש קוד.\\n- אל תכניס מילים זרות, תווים זרים, או רצפי אותיות חסרי משמעות.\\n- אם נדרש מונח טכני באנגלית, השתמש רק בשם הכלי או התקן עצמו.\\n- אם זו בקשת אפיון, החזר: מטרה, רכיבים, זרימת עבודה, בדיקות, ותוצר סופי.\\n- בלי מסגרות ציור, בלי קישוטים, בלי טקסט שבור.\n\nחוקי תוצר מחייבים:\n- אם הבקשה כוללת JSON, n8n או Workflow, החזר JSON תקף בתוך גדר קוד משולשת.\n- אסור להחזיר רשימות ריקות כמו 1. 2. 3. בלי תוכן.\n- אם חסרים פרטים, צור תבנית שימושית עם שמות צמתים, חיבורים ושדות ברורים.\n- אל תעתיק נושא ישן מהזיכרון אם הוא לא חלק מהבקשה הנוכחית.\n- קוד ו-JSON יכולים להכיל אנגלית, שמות שדות וסימנים טכניים בלי למחוק אותם.\n\nכללי n8n קשיחים:\n- אם המשתמש שולח פרוטוקול בדיקה או Role Prompt כמו \"You are an N8N workflow expert\", אל תיצור Workflow. אשר שקיבלת את הכללים בלבד.\n- אם המשתמש מבקש JSON ל-n8n, החזר רק Workflow JSON תקף בתוך גדר קוד ```json, בלי טקסט לפני או אחרי.\n- השתמש רק בסוגי צמתים אמיתיים מהרשימה: n8n-nodes-base.webhook, n8n-nodes-base.httpRequest, n8n-nodes-base.code, n8n-nodes-base.set, n8n-nodes-base.if, n8n-nodes-base.switch, n8n-nodes-base.merge, n8n-nodes-base.splitInBatches, n8n-nodes-base.googleSheets, n8n-nodes-base.postgres, n8n-nodes-base.mySql, n8n-nodes-base.telegram, n8n-nodes-base.noOp.\n- אסור להשתמש בסוגים פיקטיביים כמו parseJSON, log, saveToDatabase, filterData, analyzeData או snake_case כגון n8n_nodes_base_httpRequest.\n- לצורך Parse JSON או Log השתמש בצומת n8n-nodes-base.code עם jsCode.\n- לכל node חובה: id, name, type, typeVersion כמספר, position כמערך מספרים, parameters.\n- connections חייב להיות אובייקט לפי שם צומת מקור, לא לפי id:\n  \"connections\": {\n    \"Webhook\": { \"main\": [[{ \"node\": \"Normalize Input\", \"type\": \"main\", \"index\": 0 }]] }\n  }\n- כל יעד בתוך connections חייב להשתמש בשם node קיים, לא id.\n- credentials יהיו הפניה לשם credential בלבד או אובייקט ריק; לעולם לא להכניס סיסמאות או tokens.\n- אם מתקנים Workflow קיים, שמור על המטרה המקורית ותקן את המבנה. אל תחזיר דוגמה ריקה או Workflow בשם checklist.\n- לפני החזרה ודא שה-JSON ניתן ל-JSON.parse ושאין רשימות ריקות, שדות שבורים או מרכאות לא סגורות.\n\n\nכללי איכות לסוכני קוד:\n- התנהג כמפתח בכיר. אל תחזיר דוגמת צעצוע כשנדרש פתרון אמיתי.\n- אם צורף קובץ, קרא אותו כקוד מקור: ציין את הבעיה, את הסיבה, ואת התיקון המוצע.\n- החזר קוד מלא או patch/diff ברור שניתן להעתיק, בתוך גדר קוד משולשת עם שפה.\n- אל תמציא API, node type, נתיב, שם פונקציה או ספרייה אם הם לא מופיעים בקובץ או בבקשה.\n- אם חסר קובץ נוסף כדי לוודא תיקון, אמור בדיוק איזה קובץ חסר ומה צריך לבדוק.\n- אל תשנה קבצים בפועל ואל תגיד ששינית. אתה מציע תיקון בלבד אלא אם המשתמש ביקש לבצע שינוי מפורש.\n- לפני תשובה סופית בדוק תחביר בסיסי בראש: סוגריים, מרכאות, JSON תקף, imports, ושמות משתנים.\n\n\nRead-only local path rule:\n- If READ_ONLY_LOCAL_PATH_CONTEXT appears, use it as evidence from the exact local path the user provided.\n- If MODE is directory, you only have a shallow listing, not nested file contents.\n- Never claim you edited, deleted, saved, executed, or changed local files. You are only reading and explaining unless the user explicitly asks for a separate edit operation.\n\n\nכללים מיוחדים לסוכן code_helper:\nאם שם הסוכן הוא code_helper והמשתמש מבקש HTML, UI או UX:\n- החזר תוצר מלא, לא מקוטע, ולא דוגמת צעצוע.\n- אם זו בקשת מסמך HTML, החזר קובץ HTML שלם בתוך גדר קוד אחת בלבד.\n- מותר להשתמש באנגלית בתוך קוד, תגיות, CSS, שמות מחלקות ושמות מאפיינים.\n- מחוץ לקוד כתוב בעברית נקייה בלבד, בלי ערבית, רוסית, סינית או מילים לא קשורות.\n- אל תכתוב \"אני אוצר\". כתוב \"הכנתי\".\n- אל תכתוב \"סבוך\" כמחמאה. כתוב \"מוקפד\" או \"מודרני\".\n- אם התוצר ארוך, העדף קוד מלא על פני הסבר ארוך.\n\n\nהבקשה הנוכחית שוב:\n{{ $('Parse Router').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 1800,
                "num_ctx": 8192,
                "temperature": 0.12
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ (() => {\n  const clean = (value) => String(value || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/אני אוצר/g, 'הכנתי')\n    .replace(/\\bאוצר עבורך\\b/g, 'מכין עבורך')\n    .replace(/סבוך/g, 'מוקפד')\n    .replace(/Forgotten Password/g, 'שחזור סיסמה')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n{4,}/g, '\\n\\n\\n')\n    .trim();\n  return JSON.stringify(clean($('Execute Agent').first().json.response) || \"לא התקבלה תשובה מהמודל. נסה שוב בעוד רגע.\");\n})() }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-agent",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const clean = (value) => String(value || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/אני אוצר/g, 'הכנתי')\n    .replace(/\\bאוצר עבורך\\b/g, 'מכין עבורך')\n    .replace(/סבוך/g, 'מוקפד')\n    .replace(/Forgotten Password/g, 'שחזור סיסמה')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n{4,}/g, '\\n\\n\\n')\n    .trim();\n  const raw = clean($('Execute Agent').first().json.response);\n  const text = raw || \"לא התקבלה תשובה מהמודל. נסה שוב בעוד רגע.\";\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const codePane = (value) => '<pre><code>' + escapeHtml(String(value || '').trim()) + '</code></pre>';\n  const source = String(text).replace(/\\r\\n/g, '\\n');\n  const fence = /```([A-Za-z0-9_+#.-]+)?[^\\n`]*\\n?([\\s\\S]*?)```/g;\n  let last = 0;\n  let matched = false;\n  const parts = [];\n  source.replace(fence, (match, lang, code, offset) => {\n    const before = source.slice(last, offset).trim();\n    if (before) parts.push(escapeHtml(before));\n    parts.push(codePane(code));\n    last = offset + match.length;\n    matched = true;\n    return match;\n  });\n  const tail = source.slice(last).trim();\n  if (matched) {\n    if (tail) parts.push(escapeHtml(tail));\n    return parts.join('\\n\\n');\n  }\n  return escapeHtml(source);\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-result",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        304
      ],
      "webhookId": "f05da3bd-3aec-4eac-9c88-b882240b5daf",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen3-coder:30b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for must be clean, specific Hebrew when the task is Hebrew. No Arabic script, no Chinese script, no foreign-language filler.\\n- Never return generic good_for values like שימוש ראשון, שימוש שני, שימוש שלישי.\\n- Never create an agent for a simple casual chat or a request to explain the previous score.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"תיאור עברי ספציפי של התפקיד\",\n  \"good_for\": \"משימה אמיתית אחת, משימה אמיתית שנייה, משימה אמיתית שלישית\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "create-agent-llm",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9א-ת\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nfunction inferAgentName(task) {\n  const t = String(task || '').toLowerCase();\n  const parts = [];\n  if (/מודול|module/.test(t)) parts.push('module');\n  if (/נתונ|data|db|database/.test(t)) parts.push('data');\n  if (/front|frontend|ui|מסך|ממשק/.test(t)) parts.push('frontend');\n  if (/back|backend|שרת/.test(t)) parts.push('backend');\n  if (/בדיק|וודא|אימות|validate|test|qa/.test(t)) parts.push('validation');\n  if (/ניסוח|כתיב|תוכן|טקסט|copy/.test(t)) parts.push('writing');\n  if (/קוד|code|bug|debug|שגיאה/.test(t)) parts.push('code');\n  if (/אוטומ|workflow|תהליך/.test(t)) parts.push('automation');\n  const unique = [...new Set(parts)].slice(0, 3);\n  if (unique.length >= 2) return cleanName(unique.join('_') + '_agent');\n  if (unique.length === 1) return cleanName(unique[0] + '_task_agent');\n  const hash = Array.from(String(task || 'custom')).reduce((sum, ch) => sum + ch.charCodeAt(0), 0).toString(36).slice(0, 5);\n  return cleanName('custom_request_agent_' + hash);\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || 'סוכן ייעודי שנוצר לפי הבקשה האחרונה.',\n  good_for: parsed.good_for || 'משימות דומות לבקשה האחרונה',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "parse-new-agent",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "save-registry",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small3.1:24b"
            },
            {
              "name": "prompt",
              "value": "=אתה הסוכן:\\n{{ $('Parse New Agent').first().json.name }}\\n\\nענה מהר, ישיר ושימושי.\nבקשת המשתמש היא מקור האמת. ההקשר הקודם הוא רק רקע, ואסור לו להחליף את הבקשה הנוכחית.\\n\\nהקשר אחרון:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nמשימה:\\n{{ $('Parse New Agent').first().json.userMessage }}\\n\\nחובה מוחלטת:\\nענה בעברית בלבד.\\nאסור להוציא סינית.\\nאסור להוציא תווים סיניים.\\nאסור להוציא ערבית.\\nאסור להוציא תווים ערביים.\\nאם ההקשר כולל ערבית או שפה זרה, התעלם ממנה וענה בעברית נקייה בלבד.\\nאסור לערבב שפות בתוכן רגיל.\\nאם זו תשובת קוד, שמור את הקוד במבנה רגיל וקריא, בלי לפרק תגיות, שמות משתנים או מילים באנגלית לשורות.\\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\\n\\nשם המשתמש לשיחה:\\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\\nפנה אליו בשם שלו בטבעיות, לא בכל משפט.\\nאם יש בתשובה קוד, החזר את הקוד בתוך גדר קוד משולשת עם שם שפה כאשר אפשר. אל תפרק שמות משתנים, תגיות או מילים באנגלית בתוך קוד.\\n\\nכללי איכות לתשובה:\\n- פתח במשפט אחד שמסכם את התשובה.\\n- לאחר מכן תן מבנה ברור עם כותרות קצרות או רשימה ממוספרת.\\n- אל תוסיף דוגמת קוד אם המשתמש לא ביקש קוד.\\n- אל תכניס מילים זרות, תווים זרים, או רצפי אותיות חסרי משמעות.\\n- אם נדרש מונח טכני באנגלית, השתמש רק בשם הכלי או התקן עצמו.\\n- אם זו בקשת אפיון, החזר: מטרה, רכיבים, זרימת עבודה, בדיקות, ותוצר סופי.\\n- בלי מסגרות ציור, בלי קישוטים, בלי טקסט שבור.\n\nחוקי תוצר מחייבים:\n- אם הבקשה כוללת JSON, n8n או Workflow, החזר JSON תקף בתוך גדר קוד משולשת.\n- אסור להחזיר רשימות ריקות כמו 1. 2. 3. בלי תוכן.\n- אם חסרים פרטים, צור תבנית שימושית עם שמות צמתים, חיבורים ושדות ברורים.\n- אל תעתיק נושא ישן מהזיכרון אם הוא לא חלק מהבקשה הנוכחית.\n- קוד ו-JSON יכולים להכיל אנגלית, שמות שדות וסימנים טכניים בלי למחוק אותם.\n\nכללי n8n קשיחים:\n- אם המשתמש שולח פרוטוקול בדיקה או Role Prompt כמו \"You are an N8N workflow expert\", אל תיצור Workflow. אשר שקיבלת את הכללים בלבד.\n- אם המשתמש מבקש JSON ל-n8n, החזר רק Workflow JSON תקף בתוך גדר קוד ```json, בלי טקסט לפני או אחרי.\n- השתמש רק בסוגי צמתים אמיתיים מהרשימה: n8n-nodes-base.webhook, n8n-nodes-base.httpRequest, n8n-nodes-base.code, n8n-nodes-base.set, n8n-nodes-base.if, n8n-nodes-base.switch, n8n-nodes-base.merge, n8n-nodes-base.splitInBatches, n8n-nodes-base.googleSheets, n8n-nodes-base.postgres, n8n-nodes-base.mySql, n8n-nodes-base.telegram, n8n-nodes-base.noOp.\n- אסור להשתמש בסוגים פיקטיביים כמו parseJSON, log, saveToDatabase, filterData, analyzeData או snake_case כגון n8n_nodes_base_httpRequest.\n- לצורך Parse JSON או Log השתמש בצומת n8n-nodes-base.code עם jsCode.\n- לכל node חובה: id, name, type, typeVersion כמספר, position כמערך מספרים, parameters.\n- connections חייב להיות אובייקט לפי שם צומת מקור, לא לפי id:\n  \"connections\": {\n    \"Webhook\": { \"main\": [[{ \"node\": \"Normalize Input\", \"type\": \"main\", \"index\": 0 }]] }\n  }\n- כל יעד בתוך connections חייב להשתמש בשם node קיים, לא id.\n- credentials יהיו הפניה לשם credential בלבד או אובייקט ריק; לעולם לא להכניס סיסמאות או tokens.\n- אם מתקנים Workflow קיים, שמור על המטרה המקורית ותקן את המבנה. אל תחזיר דוגמה ריקה או Workflow בשם checklist.\n- לפני החזרה ודא שה-JSON ניתן ל-JSON.parse ושאין רשימות ריקות, שדות שבורים או מרכאות לא סגורות.\n\n\nכללי איכות לסוכני קוד:\n- התנהג כמפתח בכיר. אל תחזיר דוגמת צעצוע כשנדרש פתרון אמיתי.\n- אם צורף קובץ, קרא אותו כקוד מקור: ציין את הבעיה, את הסיבה, ואת התיקון המוצע.\n- החזר קוד מלא או patch/diff ברור שניתן להעתיק, בתוך גדר קוד משולשת עם שפה.\n- אל תמציא API, node type, נתיב, שם פונקציה או ספרייה אם הם לא מופיעים בקובץ או בבקשה.\n- אם חסר קובץ נוסף כדי לוודא תיקון, אמור בדיוק איזה קובץ חסר ומה צריך לבדוק.\n- אל תשנה קבצים בפועל ואל תגיד ששינית. אתה מציע תיקון בלבד אלא אם המשתמש ביקש לבצע שינוי מפורש.\n- לפני תשובה סופית בדוק תחביר בסיסי בראש: סוגריים, מרכאות, JSON תקף, imports, ושמות משתנים.\n\n\nRead-only local path rule:\n- If READ_ONLY_LOCAL_PATH_CONTEXT appears, use it as evidence from the exact local path the user provided.\n- If MODE is directory, you only have a shallow listing, not nested file contents.\n- Never claim you edited, deleted, saved, executed, or changed local files. You are only reading and explaining unless the user explicitly asks for a separate edit operation.\n\n\nהבקשה הנוכחית שוב:\n{{ $('Parse New Agent').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-new-agent",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nconst badResponse = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i.test(response);\nconst foreign = /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/.test(response);\nconst gibberish = /\\b([A-Za-z]{2,})\\b/g;\nconst allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\nconst englishTokens = [...response.matchAll(gibberish)].map(m => m[1]);\nconst unknownEnglish = englishTokens.filter(token => !allowed.has(token.replace(/[.]+$/g, '').toUpperCase()));\nlet score = badResponse ? 3 : 7;\nif (!badResponse && response.length > 80) score += 1;\nif (!badResponse && response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nif (foreign) score -= 3;\nif (unknownEnglish.length >= 2) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: badResponse\n    ? 'התשובה הראשונית לא היתה נקייה ולכן נפסלה לשימוש חוזר'\n    : (foreign || unknownEnglish.length >= 2\n      ? 'נמצאו תווים זרים או רצפי מילים לא נקיים, לכן הציון ירד'\n      : (score >= 8 ? 'נראה טוב בבדיקה מהירה' : 'נוצר סוכן, אבל התשובה הראשונית קצרה או חלקית')),\n  improvement: 'אפשר להריץ שיפור בהמשך',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "evaluator-llm",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'לא ניתן להעריך', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "parse-evaluator",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {}
      },
      "id": "update-agent-score",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify(String($('Execute New Agent').first().json.response || '').trim() || \"הסוכן נוצר ונשמר. התוצר הראשוני לא חזר מלא, אבל הזרימה לא נעצרה.\") }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-new",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "={{ (() => {\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const name = $('Parse New Agent').first().json.name || 'new_task_agent';\n  const description = $('Parse New Agent').first().json.description || 'סוכן ייעודי';\n  const goodFor = $('Parse New Agent').first().json.good_for || '';\n  const task = $('Parse New Agent').first().json.userMessage || '';\n  const user = $('Parse Router').first().json.userName || 'משתמש';\n  return '<b>נוצר סוכן חדש ומוכן להרצה</b>\\n\\n'\n    + 'משתמש: ' + escapeHtml(user) + '\\n'\n    + 'שם: <code>' + escapeHtml(name) + '</code>\\n'\n    + 'ייעוד: ' + escapeHtml(description) + '\\n'\n    + (goodFor ? 'מתאים ל: ' + escapeHtml(goodFor) + '\\n' : '')\n    + '\\n<b>השאלה המקורית</b>\\n'\n    + escapeHtml(task) + '\\n\\n'\n    + 'עדיין לא ביצעתי את המשימה.\\n'\n    + 'שלח <b>כן</b> או <b>מאשר</b>, ואני מריץ את הסוכן הזה על אותה שאלה.';\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-new-agent",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3312,
        544
      ],
      "webhookId": "4f99d8b8-3fe0-471f-a0ec-d0a66d741827",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-profile",
      "name": "Read Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-ask",
      "name": "Save Profile Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-name",
      "name": "Save Profile Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -24
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[┏┗┣┃━]+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  return safe($('Parse Router').first().json.direct_reply, 'קיבלתי.', false);\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-direct-profile",
      "name": "Telegram - Direct",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>קיבלתי את הבקשה</b>\\nמשתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\nמסלול: שיחה רגילה\\nמצב: מנסח תשובה' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-chitchat-safe",
      "name": "Telegram - Progress Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        64
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>קיבלתי את הבקשה</b>\\nמשתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\nמסלול: נציג קיים\\nנציג: ' + ($('Parse Router').first().json.agent_name || '') + '\\nמצב: מריץ את הנציג' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-agent-safe",
      "name": "Telegram - Progress Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>מסלול: יצירת סוכן ואישור ביצוע</b>\\n\\nחיווי: בונה סוכן ייעודי ושומר מצב המשך\\nזיכרון: אישי בלבד\\nהשלב הבא: אישור לפני ביצוע' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-new-agent-safe",
      "name": "Telegram - Progress New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        544
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}",
        "options": {}
      },
      "id": "sync-profile-inline",
      "name": "Sync Profile Inline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "open-orcastrator-command",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); const isOrcastrator = first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@') || first === '/ORCASTRAT' || first.startsWith('/ORCASTRAT@'); if (isOrcastrator) return 'open_orcastrator'; if (first === '/MODEL' || first.startsWith('/MODEL@')) return 'model_command'; return 'normal'; })() }}",
                    "rightValue": "open_orcastrator",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "model-command",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); const isOrcastrator = first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@') || first === '/ORCASTRAT' || first.startsWith('/ORCASTRAT@'); if (isOrcastrator) return 'open_orcastrator'; if (first === '/MODEL' || first.startsWith('/MODEL@')) return 'model_command'; return 'normal'; })() }}",
                    "rightValue": "model_command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "normal-message",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); const isOrcastrator = first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@') || first === '/ORCASTRAT' || first.startsWith('/ORCASTRAT@'); if (isOrcastrator) return 'open_orcastrator'; if (first === '/MODEL' || first.startsWith('/MODEL@')) return 'model_command'; return 'normal'; })() }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-orcastrate-command",
      "name": "Switch Orcastrate Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ '<b>ממשק Orcastrator מוכן</b>\\nלחץ על הכפתור לפתיחת מסך השליטה.\\n\\nהודעות רגילות ממשיכות לעבוד כרגיל.' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "פתח ממשק",
                    "additionalFields": {
                      "web_app": {
                        "url": "={{ 'https://unallowable-lustrelessly-pok.ngrok-free.dev/app?chat_id=' + $json.message.chat.id }}"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-open-orcastrator",
      "name": "Telegram - Open Orcastrator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_name: $('Parse Router').first().json.userName || '',\n  task: $('Parse New Agent').first().json.userMessage,\n  agent: 'pending_created_agent',\n  result: JSON.stringify({\n    agentName: $('Parse New Agent').first().json.name,\n    description: $('Parse New Agent').first().json.description,\n    good_for: $('Parse New Agent').first().json.good_for,\n    task: $('Parse New Agent').first().json.userMessage,\n    status: 'awaiting_confirmation',\n    created_at: new Date().toISOString()\n  }),\n  score: null,\n  deductions: '',\n  decision_reason: 'נוצר סוכן חדש וממתין לאישור לפני ביצוע'\n}) }}",
        "options": {}
      },
      "id": "save-pending-new-agent",
      "name": "Save Pending New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        704
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/flow/{{ $json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_name: $json.userName || '',\n  task: $json.userMessage || '',\n  stage: 'conversation_manager',\n  title: 'מנהל שיחה',\n  message: ($json.manager && $json.manager.summary) || '',\n  action: $json.action,\n  agent: $json.agent_name || '',\n  decision_reason: $json.decision_reason || '',\n  manager: $json.manager || {},\n  details: ($json.manager && $json.manager.steps) || [],\n  source: 'n8n-router'\n}) }}",
        "options": {}
      },
      "id": "log-conversation-manager",
      "name": "Log Conversation Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/local-path-context",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Trigger').first().json.message.chat.id, text: $('Telegram Trigger').first().json.message.text || '' }) }}",
        "options": {}
      },
      "id": "read-local-path-context",
      "name": "Read Local Path Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        144
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($('Execute Agent').first().json.response || '').trim();\nconst task = String($('Parse Router').first().json.userMessage || '');\nconst agentName = String($('Parse Router').first().json.agent_name || '');\nconst chatId = $('Parse Router').first().json.chatId;\nconst userName = String($('Parse Router').first().json.userName || '');\nconst decisionReason = String($('Parse Router').first().json.decision_reason || '');\nconst context = 'existing_agent';\n\nconst allowedNodeTypes = new Set([\n  'n8n-nodes-base.webhook',\n  'n8n-nodes-base.httpRequest',\n  'n8n-nodes-base.code',\n  'n8n-nodes-base.set',\n  'n8n-nodes-base.if',\n  'n8n-nodes-base.switch',\n  'n8n-nodes-base.merge',\n  'n8n-nodes-base.splitInBatches',\n  'n8n-nodes-base.googleSheets',\n  'n8n-nodes-base.postgres',\n  'n8n-nodes-base.mySql',\n  'n8n-nodes-base.mysql',\n  'n8n-nodes-base.telegram',\n  'n8n-nodes-base.noOp',\n  'n8n-nodes-base.scheduleTrigger',\n  'n8n-nodes-base.emailSend',\n  'n8n-nodes-base.slack'\n]);\n\nfunction extractJsonCandidate(value) {\n  const text = String(value || '').trim();\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced && fenced[1]) return fenced[1].trim();\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start >= 0 && end > start) return text.slice(start, end + 1).trim();\n  return '';\n}\n\nfunction parseCandidate(value) {\n  const candidate = extractJsonCandidate(value);\n  if (!candidate) return { candidate: '', parsed: null, parseError: '' };\n  try {\n    return { candidate, parsed: JSON.parse(candidate), parseError: '' };\n  } catch (error) {\n    return { candidate, parsed: null, parseError: String(error && error.message || error) };\n  }\n}\n\nfunction uniq(items) {\n  return [...new Set(items.filter(Boolean))];\n}\n\nconst lowerTask = task.toLowerCase();\nconst lowerRaw = raw.toLowerCase();\nconst technicalTask = /(n8n|workflow|json|קוד|באג|תקן|תיקון|וורקפלואו|וורק פלואו|debug|bug|code)/i.test(task + ' ' + agentName);\nconst n8nTask = /(n8n|workflow|וורקפלואו|וורק פלואו|json ל\\s*n8n|json לn8n)/i.test(task + ' ' + agentName);\nconst asksValidation = /(בדוק|באג|תקן|fix|validate|import|run directly|can be imported|שגיאה|לא תקין)/i.test(task);\nconst inputHasKnownBadN8n = /(ckecklist|checkedlist-workflow|n8n_nodes_base_|n8n-nodes-base\\.parseJSON|n8n-nodes-base\\.log|n8n-nodes-base\\.saveToDatabase|saveToDatabase|filterData|analyzeData|parseJSON|\"connections\"\\s*:\\s*\\[\\s*\\[|\"type\"\\s*:\\s*\"ckecklist\")/i.test(task);\n\nconst issues = [];\nconst checks = [];\nchecks.push({ name: 'raw_response_present', passed: raw.length > 0 });\nif (!raw) issues.push('הסוכן לא החזיר תוכן שאפשר לשלוח.');\n\nconst forbiddenScripts = /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/.test(raw);\nchecks.push({ name: 'foreign_script_guard', passed: !forbiddenScripts });\nif (forbiddenScripts) issues.push('נמצאו תווים משפה זרה שאינה קשורה לבקשה.');\n\nconst emptyNumberedList = /(?:^|\\n)\\s*1\\.\\s*(?:\\n|$)\\s*2\\.\\s*(?:\\n|$)/.test(raw);\nchecks.push({ name: 'empty_numbered_list_guard', passed: !emptyNumberedList });\nif (emptyNumberedList) issues.push('נמצאה רשימה ממוספרת ריקה.');\n\nconst suspiciousN8nOutput = /(ckecklist|checkedlist-workflow|n8n_nodes_base_|n8n-nodes-base\\.parseJSON|n8n-nodes-base\\.log|n8n-nodes-base\\.saveToDatabase|saveToDatabase|filterData|analyzeData|parseJSON|\"connections\"\\s*:\\s*\\[\\s*\\[|\"type\"\\s*:\\s*\"ckecklist\")/i.test(raw);\nchecks.push({ name: 'known_bad_n8n_patterns', passed: !suspiciousN8nOutput });\nif (suspiciousN8nOutput) issues.push('נמצאו דפוסי n8n לא תקינים כמו סוגי צמתים פיקטיביים או connections במבנה שגוי.');\n\nif (n8nTask) {\n  const parsedInfo = parseCandidate(raw);\n  const candidate = parsedInfo.candidate;\n  const parsed = parsedInfo.parsed;\n  const hasJsonLikeOutput = Boolean(candidate) || /\"nodes\"\\s*:|\"connections\"\\s*:/.test(raw);\n  checks.push({ name: 'n8n_json_candidate_found', passed: hasJsonLikeOutput || asksValidation });\n  if (/json/i.test(task) && !candidate && !asksValidation) {\n    issues.push('המשתמש ביקש JSON ל-n8n אבל לא נמצא JSON בתשובה.');\n  }\n  if (candidate && parsedInfo.parseError) {\n    issues.push('ה-JSON בתשובה לא עובר JSON.parse.');\n  }\n  if (parsed) {\n    const nodes = Array.isArray(parsed.nodes) ? parsed.nodes : [];\n    if (!Array.isArray(parsed.nodes)) issues.push('חסר מערך nodes תקין.');\n    const nodeNames = new Set(nodes.map(node => String(node && node.name || '')));\n    for (const item of nodes) {\n      const nodeType = String(item && item.type || '');\n      if (!allowedNodeTypes.has(nodeType)) issues.push('נמצא node type לא מאושר: ' + (nodeType || 'ריק'));\n      if (typeof item.typeVersion !== 'number') issues.push('typeVersion חייב להיות מספר.');\n      if (!Array.isArray(item.position) || item.position.length !== 2 || item.position.some(v => typeof v !== 'number')) {\n        issues.push('position חייב להיות מערך של שני מספרים.');\n      }\n      if (!item.name) issues.push('לכל node חייב להיות name.');\n      if (!item.id) issues.push('לכל node חייב להיות id.');\n      if (!item.parameters || typeof item.parameters !== 'object' || Array.isArray(item.parameters)) {\n        issues.push('לכל node חייב להיות parameters כאובייקט.');\n      }\n    }\n    if (parsed.connections && Array.isArray(parsed.connections)) {\n      issues.push('connections חייב להיות אובייקט לפי שמות nodes, לא מערך.');\n    } else if (parsed.connections && typeof parsed.connections === 'object') {\n      for (const [sourceName, connection] of Object.entries(parsed.connections)) {\n        if (!nodeNames.has(sourceName)) issues.push('connections משתמש בשם מקור שלא קיים ב-nodes: ' + sourceName);\n        const main = connection && connection.main;\n        if (!Array.isArray(main)) {\n          issues.push('connections.main חייב להיות מערך.');\n          continue;\n        }\n        for (const branch of main) {\n          if (!Array.isArray(branch)) {\n            issues.push('כל main connection חייב להיות array-in-array.');\n            continue;\n          }\n          for (const target of branch) {\n            if (!target || !nodeNames.has(String(target.node || ''))) {\n              issues.push('connections מפנה ל-node שלא קיים: ' + String(target && target.node || 'ריק'));\n            }\n          }\n        }\n      }\n    } else if (/json/i.test(task) && !asksValidation) {\n      issues.push('חסר connections תקין.');\n    }\n  }\n  const claimsValid = /(תקין|valid|can be imported|עובר|ניתן לייבא)/i.test(raw);\n  if (claimsValid && (inputHasKnownBadN8n || suspiciousN8nOutput)) {\n    issues.push('התשובה סימנה כתקין מבנה שיש בו סימני שבר ידועים.');\n  }\n  const flagsKnownBadAsBad = /(לא תקין|שגוי|בעיה|שבור|נכשל|לתקן|תיקון נדרש|invalid|error|broken|not valid)/i.test(raw);\n  if (asksValidation && inputHasKnownBadN8n && !flagsKnownBadAsBad) {\n    issues.push('הקלט כולל סימני שבר ידועים, אבל התשובה לא מפרטת אותם כבעיות.');\n  }\n}\n\nconst uniqueIssues = uniq(issues).slice(0, 12);\nconst passed = uniqueIssues.length === 0;\nconst selectedStep = passed ? 'send_agent_output' : 'block_and_replace_output';\nconst why = passed\n  ? 'התוצר עבר בדיקות בסיסיות ולכן נשמר ונשלח.'\n  : 'התוצר נכשל בבקרת איכות, לכן לא נשלח כפלט סופי.';\n\nlet response = raw;\nif (!passed) {\n  const issueLines = uniqueIssues.map((issue, index) => `${index + 1}. ${issue}`).join('\\n');\n  const nextLines = n8nTask\n    ? '1. להחזיר רק מבנה תקין או דוח בדיקה ברור.\\n2. לא להשתמש בסוגי צמתים פיקטיביים.\\n3. לא לסמן Workflow כתקין אם connections או node types שבורים.'\n    : '1. לנסח מחדש לפי הבקשה הנוכחית.\\n2. לשמור על עברית נקייה.\\n3. להחזיר תוצר מלא ולא רשימה ריקה.';\n  response = [\n    'בדיקת איכות עצרה תוצר לא תקין לפני שליחה.',\n    '',\n    'מה נמצא:',\n    issueLines,\n    '',\n    'למה בחרתי בצעד הזה:',\n    why,\n    '',\n    'מה צריך לתקן:',\n    nextLines\n  ].join('\\n');\n}\n\nreturn [{\n  json: {\n    response,\n    raw_response: raw,\n    userMessage: task,\n    chatId,\n    userName,\n    agent_name: agentName,\n    decision_reason: decisionReason,\n    quality: {\n      passed,\n      selected_step: selectedStep,\n      why,\n      issues: uniqueIssues,\n      checks,\n      technical_task: technicalTask,\n      n8n_task: n8nTask,\n      context,\n      raw_length: raw.length,\n      final_length: response.length\n    }\n  }\n}];"
      },
      "id": "quality-gate-agent",
      "name": "Quality Gate (Agent)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/flow/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_name: $('Parse Router').first().json.userName || '', task: $('Parse Router').first().json.userMessage || '', stage: 'quality_gate', title: 'בקרת איכות', message: $('Quality Gate (Agent)').first().json.quality.passed ? 'התוצר עבר בדיקה' : 'התוצר נפסל ותוקן לפני שליחה', action: $('Parse Router').first().json.action, agent: $('Parse Router').first().json.agent_name || '', decision_reason: $('Parse Router').first().json.decision_reason || '', reason: $('Quality Gate (Agent)').first().json.quality.why || '', quality: $('Quality Gate (Agent)').first().json.quality || {}, details: [{ step: $('Quality Gate (Agent)').first().json.quality.selected_step, why: $('Quality Gate (Agent)').first().json.quality.why }], source: 'quality-gate-agent' }) }}",
        "options": {}
      },
      "id": "log-quality-gate-agent",
      "name": "Log Quality Gate (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($('Execute New Agent').first().json.response || '').trim();\nconst task = String($('Parse New Agent').first().json.userMessage || '');\nconst agentName = String($('Parse New Agent').first().json.name || '');\nconst chatId = $('Parse New Agent').first().json.chatId;\nconst userName = String($('Parse Router').first().json.userName || '');\nconst decisionReason = String($('Parse Router').first().json.decision_reason || '');\nconst context = 'new_agent';\n\nconst allowedNodeTypes = new Set([\n  'n8n-nodes-base.webhook',\n  'n8n-nodes-base.httpRequest',\n  'n8n-nodes-base.code',\n  'n8n-nodes-base.set',\n  'n8n-nodes-base.if',\n  'n8n-nodes-base.switch',\n  'n8n-nodes-base.merge',\n  'n8n-nodes-base.splitInBatches',\n  'n8n-nodes-base.googleSheets',\n  'n8n-nodes-base.postgres',\n  'n8n-nodes-base.mySql',\n  'n8n-nodes-base.mysql',\n  'n8n-nodes-base.telegram',\n  'n8n-nodes-base.noOp',\n  'n8n-nodes-base.scheduleTrigger',\n  'n8n-nodes-base.emailSend',\n  'n8n-nodes-base.slack'\n]);\n\nfunction extractJsonCandidate(value) {\n  const text = String(value || '').trim();\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced && fenced[1]) return fenced[1].trim();\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start >= 0 && end > start) return text.slice(start, end + 1).trim();\n  return '';\n}\n\nfunction parseCandidate(value) {\n  const candidate = extractJsonCandidate(value);\n  if (!candidate) return { candidate: '', parsed: null, parseError: '' };\n  try {\n    return { candidate, parsed: JSON.parse(candidate), parseError: '' };\n  } catch (error) {\n    return { candidate, parsed: null, parseError: String(error && error.message || error) };\n  }\n}\n\nfunction uniq(items) {\n  return [...new Set(items.filter(Boolean))];\n}\n\nconst lowerTask = task.toLowerCase();\nconst lowerRaw = raw.toLowerCase();\nconst technicalTask = /(n8n|workflow|json|קוד|באג|תקן|תיקון|וורקפלואו|וורק פלואו|debug|bug|code)/i.test(task + ' ' + agentName);\nconst n8nTask = /(n8n|workflow|וורקפלואו|וורק פלואו|json ל\\s*n8n|json לn8n)/i.test(task + ' ' + agentName);\nconst asksValidation = /(בדוק|באג|תקן|fix|validate|import|run directly|can be imported|שגיאה|לא תקין)/i.test(task);\nconst inputHasKnownBadN8n = /(ckecklist|checkedlist-workflow|n8n_nodes_base_|n8n-nodes-base\\.parseJSON|n8n-nodes-base\\.log|n8n-nodes-base\\.saveToDatabase|saveToDatabase|filterData|analyzeData|parseJSON|\"connections\"\\s*:\\s*\\[\\s*\\[|\"type\"\\s*:\\s*\"ckecklist\")/i.test(task);\n\nconst issues = [];\nconst checks = [];\nchecks.push({ name: 'raw_response_present', passed: raw.length > 0 });\nif (!raw) issues.push('הסוכן לא החזיר תוכן שאפשר לשלוח.');\n\nconst forbiddenScripts = /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/.test(raw);\nchecks.push({ name: 'foreign_script_guard', passed: !forbiddenScripts });\nif (forbiddenScripts) issues.push('נמצאו תווים משפה זרה שאינה קשורה לבקשה.');\n\nconst emptyNumberedList = /(?:^|\\n)\\s*1\\.\\s*(?:\\n|$)\\s*2\\.\\s*(?:\\n|$)/.test(raw);\nchecks.push({ name: 'empty_numbered_list_guard', passed: !emptyNumberedList });\nif (emptyNumberedList) issues.push('נמצאה רשימה ממוספרת ריקה.');\n\nconst suspiciousN8nOutput = /(ckecklist|checkedlist-workflow|n8n_nodes_base_|n8n-nodes-base\\.parseJSON|n8n-nodes-base\\.log|n8n-nodes-base\\.saveToDatabase|saveToDatabase|filterData|analyzeData|parseJSON|\"connections\"\\s*:\\s*\\[\\s*\\[|\"type\"\\s*:\\s*\"ckecklist\")/i.test(raw);\nchecks.push({ name: 'known_bad_n8n_patterns', passed: !suspiciousN8nOutput });\nif (suspiciousN8nOutput) issues.push('נמצאו דפוסי n8n לא תקינים כמו סוגי צמתים פיקטיביים או connections במבנה שגוי.');\n\nif (n8nTask) {\n  const parsedInfo = parseCandidate(raw);\n  const candidate = parsedInfo.candidate;\n  const parsed = parsedInfo.parsed;\n  const hasJsonLikeOutput = Boolean(candidate) || /\"nodes\"\\s*:|\"connections\"\\s*:/.test(raw);\n  checks.push({ name: 'n8n_json_candidate_found', passed: hasJsonLikeOutput || asksValidation });\n  if (/json/i.test(task) && !candidate && !asksValidation) {\n    issues.push('המשתמש ביקש JSON ל-n8n אבל לא נמצא JSON בתשובה.');\n  }\n  if (candidate && parsedInfo.parseError) {\n    issues.push('ה-JSON בתשובה לא עובר JSON.parse.');\n  }\n  if (parsed) {\n    const nodes = Array.isArray(parsed.nodes) ? parsed.nodes : [];\n    if (!Array.isArray(parsed.nodes)) issues.push('חסר מערך nodes תקין.');\n    const nodeNames = new Set(nodes.map(node => String(node && node.name || '')));\n    for (const item of nodes) {\n      const nodeType = String(item && item.type || '');\n      if (!allowedNodeTypes.has(nodeType)) issues.push('נמצא node type לא מאושר: ' + (nodeType || 'ריק'));\n      if (typeof item.typeVersion !== 'number') issues.push('typeVersion חייב להיות מספר.');\n      if (!Array.isArray(item.position) || item.position.length !== 2 || item.position.some(v => typeof v !== 'number')) {\n        issues.push('position חייב להיות מערך של שני מספרים.');\n      }\n      if (!item.name) issues.push('לכל node חייב להיות name.');\n      if (!item.id) issues.push('לכל node חייב להיות id.');\n      if (!item.parameters || typeof item.parameters !== 'object' || Array.isArray(item.parameters)) {\n        issues.push('לכל node חייב להיות parameters כאובייקט.');\n      }\n    }\n    if (parsed.connections && Array.isArray(parsed.connections)) {\n      issues.push('connections חייב להיות אובייקט לפי שמות nodes, לא מערך.');\n    } else if (parsed.connections && typeof parsed.connections === 'object') {\n      for (const [sourceName, connection] of Object.entries(parsed.connections)) {\n        if (!nodeNames.has(sourceName)) issues.push('connections משתמש בשם מקור שלא קיים ב-nodes: ' + sourceName);\n        const main = connection && connection.main;\n        if (!Array.isArray(main)) {\n          issues.push('connections.main חייב להיות מערך.');\n          continue;\n        }\n        for (const branch of main) {\n          if (!Array.isArray(branch)) {\n            issues.push('כל main connection חייב להיות array-in-array.');\n            continue;\n          }\n          for (const target of branch) {\n            if (!target || !nodeNames.has(String(target.node || ''))) {\n              issues.push('connections מפנה ל-node שלא קיים: ' + String(target && target.node || 'ריק'));\n            }\n          }\n        }\n      }\n    } else if (/json/i.test(task) && !asksValidation) {\n      issues.push('חסר connections תקין.');\n    }\n  }\n  const claimsValid = /(תקין|valid|can be imported|עובר|ניתן לייבא)/i.test(raw);\n  if (claimsValid && (inputHasKnownBadN8n || suspiciousN8nOutput)) {\n    issues.push('התשובה סימנה כתקין מבנה שיש בו סימני שבר ידועים.');\n  }\n  const flagsKnownBadAsBad = /(לא תקין|שגוי|בעיה|שבור|נכשל|לתקן|תיקון נדרש|invalid|error|broken|not valid)/i.test(raw);\n  if (asksValidation && inputHasKnownBadN8n && !flagsKnownBadAsBad) {\n    issues.push('הקלט כולל סימני שבר ידועים, אבל התשובה לא מפרטת אותם כבעיות.');\n  }\n}\n\nconst uniqueIssues = uniq(issues).slice(0, 12);\nconst passed = uniqueIssues.length === 0;\nconst selectedStep = passed ? 'send_agent_output' : 'block_and_replace_output';\nconst why = passed\n  ? 'התוצר עבר בדיקות בסיסיות ולכן נשמר ונשלח.'\n  : 'התוצר נכשל בבקרת איכות, לכן לא נשלח כפלט סופי.';\n\nlet response = raw;\nif (!passed) {\n  const issueLines = uniqueIssues.map((issue, index) => `${index + 1}. ${issue}`).join('\\n');\n  const nextLines = n8nTask\n    ? '1. להחזיר רק מבנה תקין או דוח בדיקה ברור.\\n2. לא להשתמש בסוגי צמתים פיקטיביים.\\n3. לא לסמן Workflow כתקין אם connections או node types שבורים.'\n    : '1. לנסח מחדש לפי הבקשה הנוכחית.\\n2. לשמור על עברית נקייה.\\n3. להחזיר תוצר מלא ולא רשימה ריקה.';\n  response = [\n    'בדיקת איכות עצרה תוצר לא תקין לפני שליחה.',\n    '',\n    'מה נמצא:',\n    issueLines,\n    '',\n    'למה בחרתי בצעד הזה:',\n    why,\n    '',\n    'מה צריך לתקן:',\n    nextLines\n  ].join('\\n');\n}\n\nreturn [{\n  json: {\n    response,\n    raw_response: raw,\n    userMessage: task,\n    chatId,\n    userName,\n    agent_name: agentName,\n    decision_reason: decisionReason,\n    quality: {\n      passed,\n      selected_step: selectedStep,\n      why,\n      issues: uniqueIssues,\n      checks,\n      technical_task: technicalTask,\n      n8n_task: n8nTask,\n      context,\n      raw_length: raw.length,\n      final_length: response.length\n    }\n  }\n}];"
      },
      "id": "quality-gate-new-agent",
      "name": "Quality Gate (New Agent)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/flow/{{ $('Parse New Agent').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_name: $('Parse Router').first().json.userName || '', task: $('Parse New Agent').first().json.userMessage || '', stage: 'quality_gate', title: 'בקרת איכות', message: $('Quality Gate (New Agent)').first().json.quality.passed ? 'תוצר הסוכן החדש עבר בדיקה' : 'תוצר הסוכן החדש נפסל ותוקן לפני שליחה', action: 'create_agent_execute', agent: $('Parse New Agent').first().json.name || '', decision_reason: $('Parse Router').first().json.decision_reason || '', reason: $('Quality Gate (New Agent)').first().json.quality.why || '', quality: $('Quality Gate (New Agent)').first().json.quality || {}, details: [{ step: $('Quality Gate (New Agent)').first().json.quality.selected_step, why: $('Quality Gate (New Agent)').first().json.quality.why }], source: 'quality-gate-new-agent' }) }}",
        "options": {}
      },
      "id": "log-quality-gate-new-agent",
      "name": "Log Quality Gate (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        672
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/model-command",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Trigger').first().json.message.chat.id, text: $('Telegram Trigger').first().json.message.text || '' }) }}",
        "options": {}
      },
      "id": "run-model-command",
      "name": "Run Model Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        224
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $('Run Model Command').first().json.message_html || 'לא הצלחתי לקרוא סטטוס מודלים.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-model-status",
      "name": "Telegram - Model Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        224
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/model-override/resolve",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Router').first().json.chatId, agent: $('Parse Router').first().json.agent_name || '', task: $('Parse Router').first().json.userMessage || '', default_model: 'mistral-small3.1:24b' }) }}",
        "options": {}
      },
      "id": "resolve-model-override",
      "name": "Resolve Model Override",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/flow/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_name: $('Parse Router').first().json.userName || '', task: $('Parse Router').first().json.userMessage || '', stage: 'model_selection', title: 'בחירת מודל', message: $('Resolve Model Override').first().json.override_applied ? 'נבחר מודל ייעודי לסוכן ולמשימה' : 'נבחר מודל ברירת מחדל', action: $('Parse Router').first().json.action, agent: $('Parse Router').first().json.agent_name || '', reason: $('Resolve Model Override').first().json.why || '', details: [{ step: 'resolve_model_override', why: $('Resolve Model Override').first().json.why || '', model: $('Resolve Model Override').first().json.model || '', override_applied: Boolean($('Resolve Model Override').first().json.override_applied), rule: $('Resolve Model Override').first().json.rule || null }], source: 'model-override' }) }}",
        "options": {}
      },
      "id": "log-model-override",
      "name": "Log Model Override",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        464
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Orcastrate Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Profile Inline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Conversation Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Save Profile Ask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Save Pending New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Read Local Path Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Ask": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Name": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Chitchat": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Agent": {
      "main": [
        [
          {
            "node": "Resolve Model Override",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress New Agent": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Profile Inline": {
      "main": [
        []
      ]
    },
    "Switch Orcastrate Command": {
      "main": [
        [
          {
            "node": "Telegram - Open Orcastrator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Model Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pending New Agent": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local Path Context": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate (Agent)": {
      "main": [
        []
      ]
    },
    "Log Quality Gate (Agent)": {
      "main": [
        []
      ]
    },
    "Quality Gate (New Agent)": {
      "main": [
        []
      ]
    },
    "Log Quality Gate (New Agent)": {
      "main": [
        []
      ]
    },
    "Run Model Command": {
      "main": [
        [
          {
            "node": "Telegram - Model Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Model Override": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Model Override",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Model Override": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "activeVersionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "versionCounter": 87,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-31T03:07:56.899Z",
      "createdAt": "2026-05-31T03:07:56.899Z",
      "role": "workflow:owner",
      "workflowId": "WORKINGSTABLEV6",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "עופר שחר <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}