מוח על/📥 קלט/agent_v6/Self_Evolving_Agent_v6_WORKING_IMPORT.json.bak-fresh-agent-preference-2026-05-31T08-13-41-324Z
{
  "updatedAt": "2026-05-31T06:20:26.000Z",
  "createdAt": "2026-05-31T03:07:56.897Z",
  "id": "WORKINGSTABLEV6",
  "name": "Self-Evolving Agent v6 - WORKING STABLE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "read-registry",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nfunction cleanTextForPrompt(value) {\n  return String(value || '')\n    .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '')\n    .replace(/(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst bannedAgentNames = new Set(['agent', 'snakecaseagent', 'snake_case_agent', 'snake_case_name', 'custom_task_agent', 'new_agent', 'helper', 'assistant']);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active' && !bannedAgentNames.has(String(a.name || '').toLowerCase()))\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${cleanTextForPrompt(a.description)} (ЧһЧӘЧҗЧҷЧқ Чң: ${cleanTextForPrompt(a.good_for || '')}; ЧҰЧҷЧ•Чҹ: ${a.score_avg ?? a.score ?? 'Ч—Ч“Ч©'}; Ч©ЧҷЧһЧ•Ч©ЧҷЧқ: ${a.uses ?? 0})`).join('\\n')\n  : 'ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ ЧЎЧ•ЧӣЧ ЧҷЧқ';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${cleanTextForPrompt(m.task).substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'ЧўЧ•Ч–ЧЁ' : `ЧўЧ•Ч–ЧЁ [${m.agent}]`;\n    return `ЧһЧ©ЧӘЧһЧ©: ${cleanTextForPrompt(m.task).substring(0, 180)}\\n${assistant}: ${cleanTextForPrompt(m.result).substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\n\nconst skipHistoryTasks = new Set(['Ч”Чҷ', 'Ч”ЧҷЧҷ', 'Ч©ЧңЧ•Чқ', 'ЧһЧ” Ч Ч©ЧһЧў', 'ЧһЧ” Ч§Ч•ЧЁЧ”']);\nconst agentHistoryRows = [...memory].reverse()\n  .filter(m => {\n    const task = cleanTextForPrompt(m.task || '');\n    return task && m.agent && !skipHistoryTasks.has(task);\n  })\n  .slice(0, 12)\n  .map((m, index) => {\n    const task = cleanTextForPrompt(m.task || '').substring(0, 180) || 'ЧңЧҗ Ч Ч©ЧһЧЁЧ” ЧһЧ©ЧҷЧһЧ”';\n    const agent = String(m.agent || 'ЧңЧҗ ЧҷЧ“Ч•Чў').trim() || 'ЧңЧҗ ЧҷЧ“Ч•Чў';\n    const score = (m.score === null || m.score === undefined || m.score === '') ? 'ЧҗЧҷЧҹ' : String(m.score) + '/10';\n    const time = String(m.timestamp || '').replace('T', ' ').substring(0, 16) || 'ЧңЧҗ Ч Ч©ЧһЧЁ';\n    return `${index + 1}. ЧһЧ©ЧҷЧһЧ”:\n${task}\nЧЎЧ•ЧӣЧҹ:\n${agent}\nЧҰЧҷЧ•Чҹ:\n${score}\nЧ–ЧһЧҹ:\n${time}`;\n  });\n\nconst agentHistory = agentHistoryRows.length\n  ? `в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ ЧһЧ”Ч–ЧҷЧӣЧЁЧ•Чҹ\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧһЧ©ЧӘЧһЧ©:\nв”ғ ${userName || 'ЧһЧ©ЧӘЧһЧ©'}\nв”ғ\n${agentHistoryRows.join('\\n\\n')}\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ`\n  : `${userName || 'ЧһЧ©ЧӘЧһЧ©'}, ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ Ч©ЧһЧ•ЧЁЧҷЧқ Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ Ч”ЧҗЧҷЧ©Чҷ Ч©ЧңЧҡ.`;\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || 'ЧңЧҗ Ч Ч©ЧһЧЁ ЧӨЧҷЧЁЧ•Чҳ Ч ЧҷЧӣЧ•ЧҷЧҷЧқ',\n  result: cleanTextForPrompt(lastScored.result).substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, agentHistory, profile, userName, awaitingName, profileExists } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst exactCasual = ['Ч”Чҷ', 'Ч”ЧҷЧҷ', 'Ч”ЧҷЧҷЧҷ', 'Ч”ЧңЧ•', 'Ч©ЧңЧ•Чқ', 'Ч‘Ч•Ч§ЧЁ ЧҳЧ•Ч‘', 'ЧўЧЁЧ‘ ЧҳЧ•Ч‘', 'ЧңЧҷЧңЧ” ЧҳЧ•Ч‘', 'ЧһЧ” Ч Ч©ЧһЧў', 'ЧһЧ” Ч§Ч•ЧЁЧ”', 'ЧһЧ” Ч”ЧһЧҰЧ‘', 'ЧӘЧ•Ч“Ч”', 'ЧЎЧ‘Ч‘Ч”', 'ЧҗЧ—ЧңЧ”'];\nconst detailWords = ['ЧӨЧҷЧЁЧ•Чҳ', 'ЧӘЧҹ ЧӨЧҷЧЁЧ•Чҳ', 'ЧӨЧЁЧҳ', 'Ч©ЧңЧ— ЧӨЧҷЧЁЧ•Чҳ', 'ЧӨЧЁЧҳЧҷЧқ ЧўЧң Ч”ЧҰЧҷЧ•Чҹ', 'ЧңЧһЧ” Ч”ЧҰЧҷЧ•Чҹ'];\nconst chitchatWords = ['ЧһЧҷ ЧҗЧӘЧ”', 'ЧўЧ–ЧЁЧ”', 'ЧһЧ” ЧҗЧӘЧ” ЧҷЧ•Ч“Чў ЧңЧўЧ©Ч•ЧӘ'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'Ч“ЧҷЧ‘ЧҗЧ’', 'Ч§Ч•Ч“', 'ЧӨЧ•Ч Ч§ЧҰЧҷЧ”', 'ЧЎЧ§ЧЁЧҷЧӨЧҳ', 'Ч©Ч’ЧҷЧҗЧ”'];\nconst createAgentWords = ['ЧҰЧ•ЧЁ ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧӘЧҷЧҰЧ•ЧЁ ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'Ч‘Ч Ч” ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧӘЧ‘Ч Ч” ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧӘЧӣЧҷЧҹ ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧҰЧ•ЧЁ ЧЎЧ•ЧӣЧҹ', 'ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч©', 'Ч ЧҰЧҷЧ’ Ч—Ч“Ч©'];\nconst historyWords = ['Ч‘ЧҗЧҷЧ–Ч” ЧЎЧ•ЧӣЧҹ', 'ЧҗЧҷЧ–Ч” ЧЎЧ•ЧӣЧҹ Ч”Ч©ЧӘЧһЧ©', 'ЧҗЧҷЧ–Ч” Ч ЧҰЧҷЧ’ Ч”Ч©ЧӘЧһЧ©', 'ЧЎЧ•ЧӣЧҹ Ч”Ч©ЧӘЧһЧ©ЧӘ', 'Ч ЧҰЧҷЧ’ Ч”Ч©ЧӘЧһЧ©ЧӘ', 'Ч”ЧҷЧЎЧҳЧ•ЧЁЧҷЧҷЧӘ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'Ч–ЧҷЧӣЧЁЧ•Чҹ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'ЧЎЧ•ЧӣЧҹ ЧңЧҗЧҷЧ–Ч• ЧһЧ©ЧҷЧһЧ”', 'Ч ЧҰЧҷЧ’ ЧңЧҗЧҷЧ–Ч• ЧһЧ©ЧҷЧһЧ”'];\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+/i, '')\n    .replace(/(?:^|\\s)(ЧӘЧҷЧҰЧ•ЧЁ|ЧҰЧ•ЧЁ|ЧӘЧўЧ©Ч”|Ч‘Ч Ч”|ЧӘЧ‘Ч Ч”|ЧӘЧӣЧҷЧҹ|Ч”ЧӣЧҹ|ЧҰЧЁЧҷЧҡ|ЧЁЧ•ЧҰЧ”|ЧЎЧ•ЧӣЧҹ|Ч ЧҰЧҷЧ’).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'create_agent';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = msg;\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = 'Ч‘ЧЁЧ•Чҡ Ч”Ч‘Чҗ. ЧҗЧҷЧҡ Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҡ?\\n\\nЧҗЧ—ЧЁЧҷ Ч©ЧӘЧӣЧӘЧ•Ч‘ ЧҗЧӘ Ч”Ч©Чқ Ч©ЧңЧҡ, ЧҗЧ–ЧӣЧ•ЧЁ ЧҗЧ•ЧӘЧ• Ч•ЧҗЧӨЧ Ч” ЧҗЧңЧҷЧҡ Ч‘Ч©Чқ Ч‘Ч©ЧҷЧ—Ч•ЧӘ Ч”Ч‘ЧҗЧ•ЧӘ.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+/i.test(msg)) {\n  const extractedName = cleanName(msg);\n  const inlineRequest = (() => {\n    const raw = msg.replace(/^\\s*(Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(ЧҰЧ•ЧЁ|ЧӘЧҷЧҰЧ•ЧЁ|ЧӘЧўЧ©Ч”|Ч‘Ч Ч”|ЧӘЧ‘Ч Ч”|ЧӘЧӣЧҷЧҹ|Ч”ЧӣЧҹ|ЧҰЧЁЧҷЧҡ|ЧЁЧ•ЧҰЧ”)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `Ч ЧўЧҷЧқ ЧһЧҗЧ•Ч“, ${userName}.\\n\\nЧһЧўЧӣЧ©ЧҷЧ• ЧҗЧӨЧ Ч” ЧҗЧңЧҷЧҡ Ч‘Ч©Чқ Ч”Ч–Ч”. ЧҗЧқ ЧӣЧӘЧ‘ЧӘ Ч’Чқ Ч‘Ч§Ч©Ч” Ч‘ЧҗЧ•ЧӘЧ” Ч”Ч•Ч“ЧўЧ”, Ч©ЧңЧ— ЧҗЧ•ЧӘЧ” Ч©Ч•Ч‘ Ч‘Ч©Ч•ЧЁЧ” Ч—Ч“Ч©Ч” Ч•ЧҗЧҳЧӨЧң Ч‘Ч” ЧһЧҷЧ“.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = 'ЧңЧҗ Ч”ЧҰЧңЧ—ЧӘЧҷ ЧңЧ”Ч‘ЧҷЧҹ ЧһЧ” Ч”Ч©Чқ Ч‘ЧңЧ‘Ч“. ЧӣЧӘЧ•Ч‘ ЧЁЧ§ ЧҗЧӘ Ч”Ч©Чқ Ч©ЧңЧҡ, ЧңЧһЧ©Чң: ЧўЧ•ЧӨЧЁ';\n  }\n} else {\n  const wordCount = msg.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(detailWords);\n  const asksForAgentHistory = hasAny(historyWords);\n\n  if (asksForAgentHistory) {\n    action = 'chitchat';\n    direct_reply = data.agentHistory || `${data.userName || 'ЧһЧ©ЧӘЧһЧ©'}, ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ Ч©ЧһЧ•ЧЁЧҷЧқ Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ Ч”ЧҗЧҷЧ©Чҷ Ч©ЧңЧҡ.`;\n  } else if (hasAny(createAgentWords)) {\n    action = 'create_agent';\n  } else if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧӨЧҷЧЁЧ•Чҳ ЧҰЧҷЧ•Чҹ ЧҗЧ—ЧЁЧ•Чҹ\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧһЧ©ЧӘЧһЧ©:\nв”ғ ${data.userName}\nв”ғ\nв”ғ ЧЎЧ•ЧӣЧҹ:\nв”ғ ${ev.agent}\nв”ғ\nв”ғ ЧҰЧҷЧ•Чҹ:\nв”ғ ${ev.score}/10\nв”ғ\nв”ғ ЧЎЧҷЧ‘Ч”:\nв”ғ ${ev.deductions}\nв”ғ\nв”ғ ЧһЧ©ЧҷЧһЧ”:\nв”ғ ${ev.task}\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ`;\n    } else {\n      direct_reply = `${data.userName}, ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ ЧҰЧҷЧ•Чҹ Ч©ЧһЧ•ЧЁ Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ Ч”ЧҗЧҷЧ©Чҷ Ч©ЧңЧҡ.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords)) {\n    action = 'chitchat';\n    if (isShortCasual) {\n      direct_reply = `${data.userName || 'Ч©ЧңЧ•Чқ'}, Ч©ЧңЧ•Чқ. ЧҗЧҷЧҡ ЧҗЧӨЧ©ЧЁ ЧңЧўЧ–Ч•ЧЁ ЧңЧҡ ЧўЧӣЧ©ЧҷЧ•?`;\n    }\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9Чҗ-ЧӘ_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3);\n\n    let best = null;\n    let bestScore = 0;\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let score = 0;\n      for (const token of tokens) {\n        if (haystack.includes(token)) score += 1;\n      }\n      score += Math.min(Number(agent.score_avg ?? agent.score ?? 0) || 0, 10) / 20;\n      score += Math.min(Number(agent.uses ?? 0) || 0, 20) / 100;\n      if (score > bestScore) {\n        bestScore = score;\n        best = agent;\n      }\n    }\n\n    if (best && bestScore >= 1.3) {\n      action = 'use_agent';\n      agent_name = best.name;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? `Ч Ч‘Ч—ЧЁ ${agent_name} ЧңЧӨЧҷ Ч”ЧӘЧҗЧһЧ”, ЧҰЧҷЧ•Чҹ Ч•Ч©ЧҷЧһЧ•Ч©ЧҷЧқ Ч§Ч•Ч“ЧһЧҷЧқ.`\n  : (action === 'create_agent'\n    ? 'ЧңЧҗ Ч ЧһЧҰЧҗ ЧЎЧ•ЧӣЧҹ ЧһЧӘЧҗЧҷЧқ ЧһЧЎЧӨЧҷЧ§, ЧңЧӣЧҹ Ч Ч•ЧҰЧЁ ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч©.'\n    : (action === 'ask_name' ? 'ЧһЧ©ЧӘЧһЧ© Ч—Ч“Ч© ЧңЧңЧҗ Ч©Чқ Ч©ЧһЧ•ЧЁ.' : (action === 'save_name' ? 'Ч Ч©ЧһЧЁ Ч©Чқ ЧһЧ©ЧӘЧһЧ© Ч—Ч“Ч©.' : 'Ч–Ч•Ч”ЧӘЧ” Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ” ЧҗЧ• Ч‘Ч§Ч©ЧӘ ЧһЧҷЧ“Чў ЧҗЧҷЧ©Чҷ.')));\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId } }];"
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId\n}}];"
      },
      "id": "parse-router",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ask-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "save-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "save_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "chitchat",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "use-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "create-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=ЧҗЧӘЧ” ЧўЧ‘Ч“, ЧўЧ•Ч–ЧЁ ЧҳЧңЧ’ЧЁЧқ ЧһЧ”ЧҷЧЁ Ч‘ЧўЧ‘ЧЁЧҷЧӘ.\\nЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ ЧҳЧ‘ЧўЧҷЧӘ Ч•Ч§ЧҰЧЁЧ”. ЧҗЧң ЧӘЧ©ЧӘЧһЧ© Ч‘Ч©ЧӨЧ” ЧҗЧ—ЧЁЧӘ.\\n\\nЧЎЧ•ЧӣЧ ЧҷЧқ Ч–ЧһЧҷЧ ЧҷЧқ:\\n{{ $('Prepare Data').first().json.agentList }}\\n\\nЧ”Ч§Ч©ЧЁ ЧҗЧ—ЧЁЧ•Чҹ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nЧ‘Ч§Ч©ЧӘ Ч”ЧһЧ©ЧӘЧһЧ©:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nЧ—Ч•Ч‘Ч” ЧһЧ•Ч—ЧңЧҳЧӘ:\\nЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧЎЧҷЧ ЧҷЧӘ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧӘЧ•Ч•ЧҷЧқ ЧЎЧҷЧ ЧҷЧҷЧқ.\\nЧҗЧқ Ч—ЧҷЧҷЧ‘ЧҷЧқ ЧһЧ•Ч Ч— Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ, Ч©ЧҷЧқ ЧҗЧ•ЧӘЧ• Ч‘Ч©Ч•ЧЁЧ” Ч ЧӨЧЁЧ“ЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧқ ЧҗЧҷЧҹ ЧңЧҡ ЧһЧҷЧ“Чў ЧҗЧһЧҷЧӘЧҷ, ЧӘЧ’ЧҷЧ“ Ч©ЧҗЧҷЧҹ ЧһЧҷЧ“Чў Ч©ЧһЧ•ЧЁ.\\n\\nЧ©Чқ Ч”ЧһЧ©ЧӘЧһЧ© ЧңЧ©ЧҷЧ—Ч”:\\n{{ $('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©' }}\\nЧӨЧ Ч” ЧҗЧңЧҷЧ• Ч‘Ч©Чқ Ч©ЧңЧ• Ч‘ЧҳЧ‘ЧўЧҷЧ•ЧӘ, ЧңЧҗ Ч‘ЧӣЧң ЧһЧ©ЧӨЧҳ."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 350,
                "num_ctx": 1536,
                "temperature": 0.4
              }
            }
          ]
        },
        "options": {}
      },
      "id": "chitchat-llm",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify(((text, fallback) => { const raw = String(text || ''); const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; })($('Parse Router').first().json.direct_reply || $('Chitchat LLM').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”.')) }}}",
        "options": {}
      },
      "id": "save-memory-chitchat",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback) => { const raw = String(text || ''); const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; });\n  const direct = $('Parse Router').first().json.direct_reply;\n  if (direct) return safe(direct, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”. Ч ЧЎЧ” Ч©Ч•Ч‘ Ч‘ЧўЧ•Ч“ ЧЁЧ’Чў.');\n  const body = safe($('Chitchat LLM').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”. Ч ЧЎЧ” Ч©Ч•Ч‘ Ч‘ЧўЧ•Ч“ ЧЁЧ’Чў.');\n  return `в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧһЧЎЧңЧ•Чң: Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ”\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧһЧ©ЧӘЧһЧ©:\nв”ғ ${$('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©'}\nв”ғ\nв”ғ Ч—ЧҷЧ•Ч•Чҷ: ЧўЧ•Ч Ч” ЧҷЧ©ЧҷЧЁЧ•ЧӘ\nв”ғ Ч–ЧҷЧӣЧЁЧ•Чҹ: ЧҗЧҷЧ©Чҷ Ч‘ЧңЧ‘Ч“\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\n\n${body}`;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-chitchat",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        64
      ],
      "webhookId": "4558b5d5-020e-4317-984e-e336652c86ab",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=ЧҗЧӘЧ” Ч”ЧЎЧ•ЧӣЧҹ:\\n{{ $('Parse Router').first().json.agent_name }}\\n\\nЧўЧ Ч” ЧһЧ”ЧЁ, ЧҷЧ©ЧҷЧЁ Ч•Ч©ЧҷЧһЧ•Ч©Чҷ.\\n\\nЧ”Ч§Ч©ЧЁ ЧҗЧ—ЧЁЧ•Чҹ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nЧһЧ©ЧҷЧһЧ”:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nЧ—Ч•Ч‘Ч” ЧһЧ•Ч—ЧңЧҳЧӘ:\\nЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧЎЧҷЧ ЧҷЧӘ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧӘЧ•Ч•ЧҷЧқ ЧЎЧҷЧ ЧҷЧҷЧқ.\\nЧҗЧЎЧ•ЧЁ ЧңЧўЧЁЧ‘Ч‘ Ч©ЧӨЧ•ЧӘ.\\nЧҗЧқ Ч—ЧҷЧҷЧ‘ЧҷЧқ ЧһЧ•Ч Ч— Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ, Ч©ЧҷЧқ ЧҗЧ•ЧӘЧ• Ч‘Ч©Ч•ЧЁЧ” Ч ЧӨЧЁЧ“ЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧқ ЧҗЧҷЧҹ ЧңЧҡ ЧһЧҷЧ“Чў ЧҗЧһЧҷЧӘЧҷ, ЧӘЧ’ЧҷЧ“ Ч©ЧҗЧҷЧҹ ЧһЧҷЧ“Чў Ч©ЧһЧ•ЧЁ.\\n\\nЧ©Чқ Ч”ЧһЧ©ЧӘЧһЧ© ЧңЧ©ЧҷЧ—Ч”:\\n{{ $('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©' }}\\nЧӨЧ Ч” ЧҗЧңЧҷЧ• Ч‘Ч©Чқ Ч©ЧңЧ• Ч‘ЧҳЧ‘ЧўЧҷЧ•ЧӘ, ЧңЧҗ Ч‘ЧӣЧң ЧһЧ©ЧӨЧҳ."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify(((text, fallback) => { const raw = String(text || ''); const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; })($('Execute Agent').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”.')) }}}",
        "options": {}
      },
      "id": "save-memory-agent",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback) => { const raw = String(text || ''); const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; });\n  const body = safe($('Execute Agent').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”. Ч ЧЎЧ” Ч©Ч•Ч‘ Ч‘ЧўЧ•Ч“ ЧЁЧ’Чў.');\n  return `в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ Ч ЧҰЧҷЧ’ Ч Ч‘Ч—ЧЁ\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧһЧ©ЧӘЧһЧ©:\nв”ғ ${$('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©'}\nв”ғ\nв”ғ Ч©Чқ:\nв”ғ ${safe($('Parse Router').first().json.agent_name, 'ЧЎЧ•ЧӣЧҹ Ч§ЧҷЧҷЧқ')}\nв”ғ\nв”ғ ЧЎЧҷЧ‘Ч”:\nв”ғ ${safe($('Parse Router').first().json.decision_reason || 'Ч”ЧӘЧҗЧһЧ” ЧҳЧ•Ч‘Ч” Ч‘ЧҷЧ•ЧӘЧЁ ЧңЧӨЧҷ Ч”ЧЁЧ©ЧҷЧһЧ” Ч•Ч”ЧҰЧҷЧ•Ч ЧҷЧқ', 'Ч”ЧӘЧҗЧһЧ” ЧҳЧ•Ч‘Ч” Ч‘ЧҷЧ•ЧӘЧЁ ЧңЧӨЧҷ Ч”ЧЁЧ©ЧҷЧһЧ” Ч•Ч”ЧҰЧҷЧ•Ч ЧҷЧқ')}\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\n\n${body}`;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-result",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        304
      ],
      "webhookId": "f05da3bd-3aec-4eac-9c88-b882240b5daf",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for should be Hebrew if the task is Hebrew.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"ЧһЧ©ЧӨЧҳ ЧҗЧ—Ч“ Ч‘ЧЁЧ•ЧЁ ЧўЧң Ч”ЧӘЧӨЧ§ЧҷЧ“\",\n  \"good_for\": \"Ч©ЧҷЧһЧ•Ч© ЧЁЧҗЧ©Ч•Чҹ, Ч©ЧҷЧһЧ•Ч© Ч©Ч Чҷ, Ч©ЧҷЧһЧ•Ч© Ч©ЧңЧҷЧ©Чҷ\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "create-agent-llm",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9Чҗ-ЧӘ\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nfunction inferAgentName(task) {\n  const t = String(task || '').toLowerCase();\n  const parts = [];\n  if (/ЧһЧ•Ч“Ч•Чң|module/.test(t)) parts.push('module');\n  if (/Ч ЧӘЧ•Ч |data|db|database/.test(t)) parts.push('data');\n  if (/front|frontend|ui|ЧһЧЎЧҡ|ЧһЧһЧ©Ч§/.test(t)) parts.push('frontend');\n  if (/back|backend|Ч©ЧЁЧӘ/.test(t)) parts.push('backend');\n  if (/Ч‘Ч“ЧҷЧ§|Ч•Ч•Ч“Чҗ|ЧҗЧҷЧһЧ•ЧӘ|validate|test|qa/.test(t)) parts.push('validation');\n  if (/Ч ЧҷЧЎЧ•Ч—|ЧӣЧӘЧҷЧ‘|ЧӘЧ•ЧӣЧҹ|ЧҳЧ§ЧЎЧҳ|copy/.test(t)) parts.push('writing');\n  if (/Ч§Ч•Ч“|code|bug|debug|Ч©Ч’ЧҷЧҗЧ”/.test(t)) parts.push('code');\n  if (/ЧҗЧ•ЧҳЧ•Чһ|workflow|ЧӘЧ”ЧңЧҷЧҡ/.test(t)) parts.push('automation');\n  const unique = [...new Set(parts)].slice(0, 3);\n  if (unique.length >= 2) return cleanName(unique.join('_') + '_agent');\n  if (unique.length === 1) return cleanName(unique[0] + '_task_agent');\n  return 'hebrew_task_agent';\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || 'ЧЎЧ•ЧӣЧҹ ЧҷЧҷЧўЧ•Ч“Чҷ Ч©Ч Ч•ЧҰЧЁ ЧңЧӨЧҷ Ч”Ч‘Ч§Ч©Ч” Ч”ЧҗЧ—ЧЁЧ•Ч Ч”.',\n  good_for: parsed.good_for || 'ЧһЧ©ЧҷЧһЧ•ЧӘ Ч“Ч•ЧһЧ•ЧӘ ЧңЧ‘Ч§Ч©Ч” Ч”ЧҗЧ—ЧЁЧ•Ч Ч”',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "parse-new-agent",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "save-registry",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=ЧҗЧӘЧ” Ч”ЧЎЧ•ЧӣЧҹ:\\n{{ $('Parse New Agent').first().json.name }}\\n\\nЧўЧ Ч” ЧһЧ”ЧЁ, ЧҷЧ©ЧҷЧЁ Ч•Ч©ЧҷЧһЧ•Ч©Чҷ.\\n\\nЧ”Ч§Ч©ЧЁ ЧҗЧ—ЧЁЧ•Чҹ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nЧһЧ©ЧҷЧһЧ”:\\n{{ $('Parse New Agent').first().json.userMessage }}\\n\\nЧ—Ч•Ч‘Ч” ЧһЧ•Ч—ЧңЧҳЧӘ:\\nЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧЎЧҷЧ ЧҷЧӘ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧӘЧ•Ч•ЧҷЧқ ЧЎЧҷЧ ЧҷЧҷЧқ.\\nЧҗЧЎЧ•ЧЁ ЧңЧўЧЁЧ‘Ч‘ Ч©ЧӨЧ•ЧӘ.\\nЧҗЧқ Ч—ЧҷЧҷЧ‘ЧҷЧқ ЧһЧ•Ч Ч— Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ, Ч©ЧҷЧқ ЧҗЧ•ЧӘЧ• Ч‘Ч©Ч•ЧЁЧ” Ч ЧӨЧЁЧ“ЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧқ ЧҗЧҷЧҹ ЧңЧҡ ЧһЧҷЧ“Чў ЧҗЧһЧҷЧӘЧҷ, ЧӘЧ’ЧҷЧ“ Ч©ЧҗЧҷЧҹ ЧһЧҷЧ“Чў Ч©ЧһЧ•ЧЁ.\\n\\nЧ©Чқ Ч”ЧһЧ©ЧӘЧһЧ© ЧңЧ©ЧҷЧ—Ч”:\\n{{ $('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©' }}\\nЧӨЧ Ч” ЧҗЧңЧҷЧ• Ч‘Ч©Чқ Ч©ЧңЧ• Ч‘ЧҳЧ‘ЧўЧҷЧ•ЧӘ, ЧңЧҗ Ч‘ЧӣЧң ЧһЧ©ЧӨЧҳ."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-new-agent",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nconst badResponse = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i.test(response);\nlet score = badResponse ? 3 : 7;\nif (!badResponse && response.length > 80) score += 1;\nif (!badResponse && response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: badResponse ? 'Ч”ЧӘЧ©Ч•Ч‘Ч” Ч”ЧЁЧҗЧ©Ч•Ч ЧҷЧӘ ЧңЧҗ Ч”ЧҷЧӘЧ” Ч Ч§ЧҷЧҷЧ” Ч•ЧңЧӣЧҹ Ч ЧӨЧЎЧңЧ” ЧңЧ©ЧҷЧһЧ•Ч© Ч—Ч•Ч–ЧЁ' : (score >= 8 ? 'Ч ЧЁЧҗЧ” ЧҳЧ•Ч‘ Ч‘Ч‘Ч“ЧҷЧ§Ч” ЧһЧ”ЧҷЧЁЧ”' : 'Ч Ч•ЧҰЧЁ ЧЎЧ•ЧӣЧҹ, ЧҗЧ‘Чң Ч”ЧӘЧ©Ч•Ч‘Ч” Ч”ЧЁЧҗЧ©Ч•Ч ЧҷЧӘ Ч§ЧҰЧЁЧ” ЧҗЧ• Ч—ЧңЧ§ЧҷЧӘ'),\n  improvement: 'ЧҗЧӨЧ©ЧЁ ЧңЧ”ЧЁЧҷЧҘ Ч©ЧҷЧӨЧ•ЧЁ Ч‘Ч”ЧһЧ©Чҡ',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "evaluator-llm",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'ЧңЧҗ Ч ЧҷЧӘЧҹ ЧңЧ”ЧўЧЁЧҷЧҡ', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "parse-evaluator",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {}
      },
      "id": "update-agent-score",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify(((text, fallback) => { const raw = String(text || ''); const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; })($('Execute New Agent').first().json.response, 'Ч”ЧЎЧ•ЧӣЧҹ Ч Ч•ЧҰЧЁ Ч•Ч Ч©ЧһЧЁ. ЧӘЧ•ЧҰЧЁ ЧЁЧҗЧ©Ч•Ч Чҷ Ч Ч§Чҷ Ч Ч©ЧһЧЁ ЧңЧ©ЧҷЧһЧ•Ч© Ч—Ч•Ч–ЧЁ.')) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}}",
        "options": {}
      },
      "id": "save-memory-new",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback) => { const raw = String(text || ''); const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; });\n  const fallback = 'Ч”ЧЎЧ•ЧӣЧҹ Ч Ч•ЧҰЧЁ Ч•Ч Ч©ЧһЧЁ. ЧӘЧ•ЧҰЧЁ ЧЁЧҗЧ©Ч•Ч Чҷ Ч Ч§Чҷ: Ч§ЧҷЧ‘ЧңЧӘЧҷ ЧҗЧӘ Ч”ЧһЧ©ЧҷЧһЧ”, ЧҗЧ©ЧһЧ•ЧЁ ЧҗЧӘ Ч”ЧЎЧ•ЧӣЧҹ ЧңЧ©ЧҷЧһЧ•Ч© Ч—Ч•Ч–ЧЁ, Ч•Ч‘Ч‘Ч§Ч©Ч” Ч”Ч‘ЧҗЧ” ЧҗЧӨЧўЧҷЧң ЧҗЧ•ЧӘЧ• ЧӣЧ“Чҷ ЧңЧ”Ч—Ч–ЧҷЧЁ ЧӘЧ©Ч•Ч‘Ч” ЧўЧ‘ЧЁЧҷЧӘ ЧһЧЎЧ•Ч“ЧЁЧӘ.';\n  const body = safe($('Execute New Agent').first().json.response, fallback);\n  return `в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч© Ч Ч•ЧҰЧЁ\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\nв”ғ ЧһЧ©ЧӘЧһЧ©:\nв”ғ ${$('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©'}\nв”ғ\nв”ғ Ч©Чқ:\nв”ғ ${safe($('Parse New Agent').first().json.name, 'new_task_agent')}\nв”ғ\nв”ғ ЧЎЧҷЧ‘Ч”:\nв”ғ ЧңЧҗ Ч ЧһЧҰЧҗ ЧЎЧ•ЧӣЧҹ ЧһЧӘЧҗЧҷЧқ ЧһЧЎЧӨЧҷЧ§\nв”ғ\nв”ғ ЧҰЧҷЧ•Чҹ:\nв”ғ ${$('Parse Evaluator').first().json.score || 7}/10\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\n\n${body}\n\nЧ©ЧңЧ— ЧӨЧҷЧЁЧ•Чҳ ЧӣЧ“Чҷ ЧңЧЁЧҗЧ•ЧӘ Ч”ЧЎЧ‘ЧЁ ЧўЧң Ч”ЧҰЧҷЧ•Чҹ`;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-new-agent",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3312,
        544
      ],
      "webhookId": "4f99d8b8-3fe0-471f-a0ec-d0a66d741827",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-profile",
      "name": "Read Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-ask",
      "name": "Save Profile Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-name",
      "name": "Save Profile Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -24
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Parse Router').first().json.direct_reply }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-direct-profile",
      "name": "Telegram - Direct",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ 'в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\\nв”ғ Ч§ЧҷЧ‘ЧңЧӘЧҷ ЧҗЧӘ Ч”Ч‘Ч§Ч©Ч”\\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\\nв”ғ ЧһЧ©ЧӘЧһЧ©: ' + ($('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©') + '\\nв”ғ ЧһЧЎЧңЧ•Чң: Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ”\\nв”ғ ЧһЧҰЧ‘: ЧһЧ ЧЎЧ— ЧӘЧ©Ч•Ч‘Ч”\\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-chitchat-safe",
      "name": "Telegram - Progress Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        64
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ 'в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\\nв”ғ Ч§ЧҷЧ‘ЧңЧӘЧҷ ЧҗЧӘ Ч”Ч‘Ч§Ч©Ч”\\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\\nв”ғ ЧһЧ©ЧӘЧһЧ©: ' + ($('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©') + '\\nв”ғ ЧһЧЎЧңЧ•Чң: Ч ЧҰЧҷЧ’ Ч§ЧҷЧҷЧқ\\nв”ғ Ч ЧҰЧҷЧ’: ' + ($('Parse Router').first().json.agent_name || '') + '\\nв”ғ ЧһЧҰЧ‘: ЧһЧЁЧҷЧҘ ЧҗЧӘ Ч”Ч ЧҰЧҷЧ’\\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-agent-safe",
      "name": "Telegram - Progress Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ 'в”Ҹв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\\nв”ғ Ч§ЧҷЧ‘ЧңЧӘЧҷ ЧҗЧӘ Ч”Ч‘Ч§Ч©Ч”\\nв”Јв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ\\nв”ғ ЧһЧ©ЧӘЧһЧ©: ' + ($('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©') + '\\nв”ғ ЧһЧЎЧңЧ•Чң: ЧҷЧҰЧҷЧЁЧӘ Ч ЧҰЧҷЧ’ Ч—Ч“Ч©\\nв”ғ ЧһЧҰЧ‘: Ч‘Ч•Ч Ч” Ч•ЧһЧ—Ч–ЧҷЧЁ ЧӘЧ•ЧҰЧЁ\\nв”—в”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғв”Ғ' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-new-agent-safe",
      "name": "Telegram - Progress New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        544
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}",
        "options": {}
      },
      "id": "sync-profile-inline",
      "name": "Sync Profile Inline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        704
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Profile Inline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Save Profile Ask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Chitchat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Execute New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Ask": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Name": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Chitchat": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Agent": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress New Agent": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Profile Inline": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b4c4f1a3-5d79-42a9-9cee-3535e2f57a56",
  "activeVersionId": "b4c4f1a3-5d79-42a9-9cee-3535e2f57a56",
  "versionCounter": 67,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-31T03:07:56.899Z",
      "createdAt": "2026-05-31T03:07:56.899Z",
      "role": "workflow:owner",
      "workflowId": "WORKINGSTABLEV6",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "ЧўЧ•ЧӨЧЁ Ч©Ч—ЧЁ <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}