מוח על/📥 קלט/agent_v6/Self_Evolving_Agent_v6_WORKING_IMPORT.json.bak-onerror-2026-05-31T04-48-37-707Z
{
  "updatedAt": "2026-05-31T04:28:42.000Z",
  "createdAt": "2026-05-31T03:07:56.897Z",
  "id": "WORKINGSTABLEV6",
  "name": "Self-Evolving Agent v6 - WORKING STABLE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "read-registry",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active')\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${a.description} (good for: ${a.good_for || ''}; avg score: ${a.score_avg ?? a.score ?? 'new'}; uses: ${a.uses ?? 0})`).join('\\n')\n  : 'No agents yet';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${String(m.task || '').substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'Assistant' : `Assistant [${m.agent}]`;\n    return `User: ${String(m.task || '').substring(0, 180)}\\n${assistant}: ${String(m.result || '').substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || 'לא נשמר פירוט ניכויים',\n  result: String(lastScored.result || '').substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, profile, userName, awaitingName, profileExists } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst exactCasual = ['הי', 'היי', 'הייי', 'הלו', 'שלום', 'בוקר טוב', 'ערב טוב', 'לילה טוב', 'מה נשמע', 'מה קורה', 'מה המצב', 'תודה', 'סבבה', 'אחלה'];\nconst detailWords = ['פירוט', 'תן פירוט', 'פרט', 'שלח פירוט', 'פרטים על הציון', 'למה הציון'];\nconst chitchatWords = ['מי אתה', 'עזרה', 'מה אתה יודע לעשות'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'דיבאג', 'קוד', 'פונקציה', 'סקריפט', 'שגיאה'];\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:קוראים לי|השם שלי|אני)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(קוראים לי|השם שלי|אני)\\s+/i, '')\n    .replace(/(?:^|\\s)(תיצור|צור|תעשה|בנה|תבנה|תכין|הכן|צריך|רוצה|סוכן|נציג).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'create_agent';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = msg;\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = 'ברוך הבא. איך קוראים לך?\\n\\nאחרי שתכתוב את השם שלך, אזכור אותו ואפנה אליך בשם בשיחות הבאות.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(קוראים לי|השם שלי|אני)\\s+/i.test(msg)) {\n  const extractedName = cleanName(msg);\n  const inlineRequest = (() => {\n    const raw = msg.replace(/^\\s*(קוראים לי|השם שלי|אני)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(צור|תיצור|תעשה|בנה|תבנה|תכין|הכן|צריך|רוצה)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `נעים מאוד, ${userName}.\\n\\nמעכשיו אפנה אליך בשם הזה. אם כתבת גם בקשה באותה הודעה, שלח אותה שוב בשורה חדשה ואטפל בה מיד.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = 'לא הצלחתי להבין מה השם בלבד. כתוב רק את השם שלך, למשל: עופר';\n  }\n} else {\n  const wordCount = msg.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(detailWords);\n\n  if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `┏━━━━━━━━━━━━━━━━━━\n┃ פירוט ציון אחרון\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${data.userName}\n┃\n┃ סוכן:\n┃ ${ev.agent}\n┃\n┃ ציון:\n┃ ${ev.score}/10\n┃\n┃ סיבה:\n┃ ${ev.deductions}\n┃\n┃ משימה:\n┃ ${ev.task}\n┗━━━━━━━━━━━━━━━━━━`;\n    } else {\n      direct_reply = `${data.userName}, אין עדיין ציון שמור בזיכרון האישי שלך.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords)) {\n    action = 'chitchat';\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9א-ת_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3);\n\n    let best = null;\n    let bestScore = 0;\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let score = 0;\n      for (const token of tokens) {\n        if (haystack.includes(token)) score += 1;\n      }\n      score += Math.min(Number(agent.score_avg ?? agent.score ?? 0) || 0, 10) / 20;\n      score += Math.min(Number(agent.uses ?? 0) || 0, 20) / 100;\n      if (score > bestScore) {\n        bestScore = score;\n        best = agent;\n      }\n    }\n\n    if (best && bestScore >= 1.3) {\n      action = 'use_agent';\n      agent_name = best.name;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? `נבחר ${agent_name} לפי התאמה, ציון ושימושים קודמים.`\n  : (action === 'create_agent'\n    ? 'לא נמצא סוכן מתאים מספיק, לכן נוצר סוכן חדש.'\n    : (action === 'ask_name' ? 'משתמש חדש ללא שם שמור.' : (action === 'save_name' ? 'נשמר שם משתמש חדש.' : 'זוהתה שיחה רגילה או בקשת מידע אישי.')));\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId } }];"
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId\n}}];"
      },
      "id": "parse-router",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ask-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "save-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "save_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "chitchat",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "use-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "create-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=SYSTEM: You are עבד, a fast Hebrew Telegram assistant.\nAnswer in Hebrew, naturally and briefly. No markdown unless the user asks.\n\nAvailable agents:\n{{ $('Prepare Data').first().json.agentList }}\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nUser: {{ $('Parse Router').first().json.userMessage }}\nעבד:\n\nחובה מוחלטת:\nענה בעברית בלבד.\nאסור להוציא סינית.\nאסור להוציא תווים סיניים.\nאסור לערבב שפות.\nאם חייבים מונח באנגלית, שים אותו בשורה נפרדת בלבד.\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\n\n\nשם המשתמש לשיחה:\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\nפנה אליו בשם שלו בטבעיות, לא בכל משפט."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 350,
                "num_ctx": 1536,
                "temperature": 0.4
              }
            }
          ]
        },
        "options": {}
      },
      "id": "chitchat-llm",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify($('Chitchat LLM').first().json.response) }}}",
        "options": {}
      },
      "id": "save-memory-chitchat",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        64
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Parse Router').first().json.direct_reply || `┏━━━━━━━━━━━━━━━━━━\n┃ מסלול: שיחה רגילה\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${$('Parse Router').first().json.userName || 'משתמש'}\n┃\n┃ חיווי: עונה ישירות\n┃ זיכרון: אישי בלבד\n┗━━━━━━━━━━━━━━━━━━\n\n${((text) => String(text || '')\n  .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/g, '')\n  .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n[ \\t]+/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim())($('Chitchat LLM').first().json.response)}` }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-chitchat",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        64
      ],
      "webhookId": "4558b5d5-020e-4317-984e-e336652c86ab",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse Router').first().json.agent_name }}.\nAnswer fast, direct and useful.\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nTask: {{ $('Parse Router').first().json.userMessage }}\n\nחובה מוחלטת:\nענה בעברית בלבד.\nאסור להוציא סינית.\nאסור להוציא תווים סיניים.\nאסור לערבב שפות.\nאם חייבים מונח באנגלית, שים אותו בשורה נפרדת בלבד.\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\n\n\nשם המשתמש לשיחה:\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\nפנה אליו בשם שלו בטבעיות, לא בכל משפט."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify($('Execute Agent').first().json.response) }}}",
        "options": {}
      },
      "id": "save-memory-agent",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ `┏━━━━━━━━━━━━━━━━━━\n┃ נציג נבחר\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${$('Parse Router').first().json.userName || 'משתמש'}\n┃\n┃ שם:\n┃ ${((text) => String(text || '')\n  .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/g, '')\n  .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n[ \\t]+/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim())($('Parse Router').first().json.agent_name)}\n┃\n┃ סיבה:\n┃ ${((text) => String(text || '')\n  .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/g, '')\n  .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n[ \\t]+/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim())($('Parse Router').first().json.decision_reason || 'התאמה טובה ביותר לפי הרשימה והציונים')}\n┗━━━━━━━━━━━━━━━━━━\n\n${((text) => String(text || '')\n  .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/g, '')\n  .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n[ \\t]+/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim())($('Execute Agent').first().json.response)}` }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-result",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        304
      ],
      "webhookId": "f05da3bd-3aec-4eac-9c88-b882240b5daf",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for should be Hebrew if the task is Hebrew.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"משפט אחד ברור על התפקיד\",\n  \"good_for\": \"שימוש ראשון, שימוש שני, שימוש שלישי\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "create-agent-llm",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9א-ת\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = cleanName((fallbackBase || 'custom_task') + '_agent');\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = 'custom_task_agent';\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || 'סוכן ייעודי שנוצר לפי הבקשה האחרונה.',\n  good_for: parsed.good_for || 'משימות דומות לבקשה האחרונה',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "parse-new-agent",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "save-registry",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse New Agent').first().json.name }}.\nAnswer fast, direct and useful.\n\nTask: {{ $('Parse New Agent').first().json.userMessage }}\n\nKeep the answer under 1800 characters unless code is required.\n\nחובה מוחלטת:\nענה בעברית בלבד.\nאסור להוציא סינית.\nאסור להוציא תווים סיניים.\nאסור לערבב שפות.\nאם חייבים מונח באנגלית, שים אותו בשורה נפרדת בלבד.\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\n\n\nשם המשתמש לשיחה:\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\nפנה אליו בשם שלו בטבעיות, לא בכל משפט."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "execute-new-agent",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nlet score = 7;\nif (response.length > 80) score += 1;\nif (response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: score >= 8 ? 'נראה טוב בבדיקה מהירה' : 'נוצר סוכן, אבל התשובה הראשונית קצרה או חלקית',\n  improvement: 'אפשר להריץ שיפור בהמשך',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];",
        "onError": "continueRegularOutput"
      },
      "id": "evaluator-llm",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'לא ניתן להעריך', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];",
        "onError": "continueRegularOutput"
      },
      "id": "parse-evaluator",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "update-agent-score",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify($('Execute New Agent').first().json.response || 'הסוכן נוצר ונשמר. לא התקבלה תשובה ראשונית מלאה.') }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "save-memory-new",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        544
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "={{ `┏━━━━━━━━━━━━━━━━━━\n┃ סוכן חדש נוצר\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${$('Parse Router').first().json.userName || 'משתמש'}\n┃\n┃ שם:\n┃ ${((text) => String(text || '')\n  .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/g, '')\n  .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n[ \\t]+/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim())($('Parse New Agent').first().json.name)}\n┃\n┃ סיבה:\n┃ לא נמצא סוכן מתאים מספיק\n┃\n┃ ציון:\n┃ ${$('Parse Evaluator').first().json.score || 7}/10\n┗━━━━━━━━━━━━━━━━━━\n\n${((text) => String(text || '')\n  .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/g, '')\n  .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n[ \\t]+/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim())($('Execute New Agent').first().json.response || 'הסוכן נוצר ונשמר. לא התקבלה תשובה ראשונית מלאה, אבל הוא זמין לשימוש בבקשה הבאה.')}\n\nשלח פירוט כדי לראות הסבר על הציון` }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-new-agent",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3312,
        544
      ],
      "webhookId": "4f99d8b8-3fe0-471f-a0ec-d0a66d741827",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "read-profile",
      "name": "Read Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "save-profile-ask",
      "name": "Save Profile Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "save-profile-name",
      "name": "Save Profile Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -24
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Parse Router').first().json.direct_reply }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-direct-profile",
      "name": "Telegram - Direct",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '┏━━━━━━━━━━━━━━━━━━\\n┃ קיבלתי את הבקשה\\n┣━━━━━━━━━━━━━━━━━━\\n┃ משתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\n┃ מסלול: שיחה רגילה\\n┃ מצב: מנסח תשובה\\n┗━━━━━━━━━━━━━━━━━━' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-progress-chitchat-safe",
      "name": "Telegram - Progress Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        64
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '┏━━━━━━━━━━━━━━━━━━\\n┃ קיבלתי את הבקשה\\n┣━━━━━━━━━━━━━━━━━━\\n┃ משתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\n┃ מסלול: נציג קיים\\n┃ נציג: ' + ($('Parse Router').first().json.agent_name || '') + '\\n┃ מצב: מריץ את הנציג\\n┗━━━━━━━━━━━━━━━━━━' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-progress-agent-safe",
      "name": "Telegram - Progress Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '┏━━━━━━━━━━━━━━━━━━\\n┃ קיבלתי את הבקשה\\n┣━━━━━━━━━━━━━━━━━━\\n┃ משתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\n┃ מסלול: יצירת נציג חדש\\n┃ מצב: בונה ומחזיר תוצר\\n┗━━━━━━━━━━━━━━━━━━' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-progress-new-agent-safe",
      "name": "Telegram - Progress New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        544
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "sync-profile-inline",
      "name": "Sync Profile Inline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        704
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Profile Inline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Save Profile Ask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Chitchat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Execute New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Ask": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Name": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Chitchat": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Agent": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress New Agent": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Profile Inline": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "11d3a384-45cd-45b9-b592-f7df98d2265c",
  "activeVersionId": "11d3a384-45cd-45b9-b592-f7df98d2265c",
  "versionCounter": 31,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-31T03:07:56.899Z",
      "createdAt": "2026-05-31T03:07:56.899Z",
      "role": "workflow:owner",
      "workflowId": "WORKINGSTABLEV6",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "עופר שחר <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}