מוח על/📥 קלט/agent_v6/Self_Evolving_Agent_v6_WORKING_IMPORT.json.bak-chitchat-context-2026-05-31T19-02-59-973631+00-00
{
  "updatedAt": "2026-05-31T09:24:29.000Z",
  "createdAt": "2026-05-31T03:07:56.897Z",
  "id": "WORKINGSTABLEV6",
  "name": "Self-Evolving Agent v6 - WORKING STABLE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "read-registry",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst latestMemoryEntry = [...memory].reverse().find(m => m && (m.task || m.result || m.agent)) || null;\nconst pendingCreatedAgent = (() => {\n  if (!latestMemoryEntry || String(latestMemoryEntry.agent || '') !== 'pending_created_agent') return null;\n  try {\n    const pending = JSON.parse(String(latestMemoryEntry.result || '{}'));\n    if (!pending || !pending.agentName || !pending.task) return null;\n    const createdMs = Date.parse(pending.created_at || latestMemoryEntry.timestamp || '');\n    const isFresh = !Number.isFinite(createdMs) || (Date.now() - createdMs) < 60 * 60 * 1000;\n    return isFresh ? pending : null;\n  } catch (e) {\n    return null;\n  }\n})();\nmemory = memory.filter(m => String(m.agent || '') !== 'pending_created_agent');\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nfunction cleanTextForPrompt(value) {\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\n  return String(value || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[鈹忊敆鈹ｂ攦鈹乚+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst bannedAgentNames = new Set(['agent', 'snakecaseagent', 'snake_case_agent', 'snake_case_name', 'custom_task_agent', 'new_agent', 'helper', 'assistant', 'hebrew_task_agent', 'generic_task_agent', 'custom_hebrew_agent']);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active' && !bannedAgentNames.has(String(a.name || '').toLowerCase()))\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${cleanTextForPrompt(a.description)} (诪转讗讬诐 诇: ${cleanTextForPrompt(a.good_for || '')}; 爪讬讜谉: ${a.score_avg ?? a.score ?? '讞讚砖'}; 砖讬诪讜砖讬诐: ${a.uses ?? 0})`).join('\\n')\n  : '讗讬谉 注讚讬讬谉 住讜讻谞讬诐';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${cleanTextForPrompt(m.task).substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? '注讜讝专' : `注讜讝专 [${m.agent}]`;\n    return `诪砖转诪砖: ${cleanTextForPrompt(m.task).substring(0, 180)}\\n${assistant}: ${cleanTextForPrompt(m.result).substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\n\nconst skipHistoryTasks = new Set(['讛讬', '讛讬讬', '砖诇讜诐', '诪讛 谞砖诪注', '诪讛 拽讜专讛']);\nconst historyTaskWords = ['讘讗讬讝讛 住讜讻谉', '讗讬讝讛 住讜讻谉 讛砖转诪砖', '讗讬讝讛 谞爪讬讙 讛砖转诪砖', '讛讬住讟讜专讬讬转 住讜讻谞讬诐', '砖讬诪讜砖讬 住讜讻谞讬诐', '讝讬讻专讜谉 住讜讻谞讬诐'];\nconst agentHistoryRows = [...memory].reverse()\n  .filter(m => {\n    const task = cleanTextForPrompt(m.task || '');\n    const isHistoryTask = historyTaskWords.some(word => task.includes(word));\n    return task && m.agent && !skipHistoryTasks.has(task) && !isHistoryTask;\n  })\n  .slice(0, 12)\n  .map((m, index) => {\n    const task = cleanTextForPrompt(m.task || '').substring(0, 180) || '诇讗 谞砖诪专讛 诪砖讬诪讛';\n    const agent = String(m.agent || '诇讗 讬讚讜注').replace(/[^A-Za-z0-9_讗-转-]/g, '').trim() || '诇讗 讬讚讜注';\n    const score = (m.score === null || m.score === undefined || m.score === '') ? '讗讬谉' : String(m.score) + '/10';\n    const time = String(m.timestamp || '').replace('T', ' ').substring(0, 16) || '诇讗 谞砖诪专';\n    const reason = cleanTextForPrompt(m.decision_reason || m.deductions || '').substring(0, 180) || '诇讗 谞砖诪专讛 住讬讘讛';\n    return `${index + 1}. 诪砖讬诪讛:\n${task}\n住讜讻谉:\n${agent}\n爪讬讜谉:\n${score}\n住讬讘讛:\n${reason}\n讝诪谉:\n${time}`;\n  });\n\nconst agentHistory = agentHistoryRows.length\n  ? `砖讬诪讜砖讬 住讜讻谞讬诐 诪讛讝讬讻专讜谉\n诪砖转诪砖: ${userName || '诪砖转诪砖'}\n\n${agentHistoryRows.join('\\n\\n')}`\n  : `${userName || '诪砖转诪砖'}, 讗讬谉 注讚讬讬谉 砖讬诪讜砖讬 住讜讻谞讬诐 砖诪讜专讬诐 讘讝讬讻专讜谉 讛讗讬砖讬 砖诇讱.`;\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || '诇讗 谞砖诪专 驻讬专讜讟 谞讬讻讜讬讬诐',\n  result: cleanTextForPrompt(lastScored.result).substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, agentHistory, pendingCreatedAgent, profile, userName, awaitingName, profileExists } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst exactCasual = ['讛讬', '讛讬讬', '讛讬讬讬', '讛诇讜', '砖诇讜诐', '讘讜拽专 讟讜讘', '注专讘 讟讜讘', '诇讬诇讛 讟讜讘', '诪讛 谞砖诪注', '诪讛 拽讜专讛', '诪讛 讛诪爪讘', '转讜讚讛', '住讘讘讛', '讗讞诇讛'];\nconst scoreDetailWords = ['驻讬专讜讟 爪讬讜谉', '驻讬专讜讟 注诇 讛爪讬讜谉', '砖诇讞 驻讬专讜讟 注诇 讛爪讬讜谉', '驻专讟讬诐 注诇 讛爪讬讜谉', '诇诪讛 讛爪讬讜谉', '讛住讘专 注诇 讛爪讬讜谉'];\nconst chitchatWords = ['诪讬 讗转讛', '注讝专讛', '诪讛 讗转讛 讬讜讚注 诇注砖讜转'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', '讚讬讘讗讙', '拽讜讚', '驻讜谞拽爪讬讛', '住拽专讬驻讟', '砖讙讬讗讛'];\nconst createAgentWords = ['爪讜专 诇讬 住讜讻谉', '转讬爪讜专 诇讬 住讜讻谉', '讘谞讛 诇讬 住讜讻谉', '转讘谞讛 诇讬 住讜讻谉', '转讻讬谉 诇讬 住讜讻谉', '爪讜专 住讜讻谉', '住讜讻谉 讞讚砖', '谞爪讬讙 讞讚砖'];\nconst historyWords = ['讘讗讬讝讛 住讜讻谉', '讗讬讝讛 住讜讻谉 讛砖转诪砖', '讗讬讝讛 谞爪讬讙 讛砖转诪砖', '住讜讻谉 讛砖转诪砖转', '谞爪讬讙 讛砖转诪砖转', '讛讬住讟讜专讬讬转 住讜讻谞讬诐', '砖讬诪讜砖讬 住讜讻谞讬诐', '讝讬讻专讜谉 住讜讻谞讬诐', '住讜讻谉 诇讗讬讝讜 诪砖讬诪讛', '谞爪讬讙 诇讗讬讝讜 诪砖讬诪讛'];\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:拽讜专讗讬诐 诇讬|讛砖诐 砖诇讬|讗谞讬)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(拽讜专讗讬诐 诇讬|讛砖诐 砖诇讬|讗谞讬)\\s+/i, '')\n    .replace(/(?:^|\\s)(转讬爪讜专|爪讜专|转注砖讛|讘谞讛|转讘谞讛|转讻讬谉|讛讻谉|爪专讬讱|专讜爪讛|住讜讻谉|谞爪讬讙).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'chitchat';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = msg;\nlet selectionReason = '';\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = '讘专讜讱 讛讘讗. 讗讬讱 拽讜专讗讬诐 诇讱?\\n\\n讗讞专讬 砖转讻转讜讘 讗转 讛砖诐 砖诇讱, 讗讝讻讜专 讗讜转讜 讜讗驻谞讛 讗诇讬讱 讘砖诐 讘砖讬讞讜转 讛讘讗讜转.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(拽讜专讗讬诐 诇讬|讛砖诐 砖诇讬|讗谞讬)\\s+/i.test(msg)) {\n  const extractedName = cleanName(msg);\n  const inlineRequest = (() => {\n    const raw = msg.replace(/^\\s*(拽讜专讗讬诐 诇讬|讛砖诐 砖诇讬|讗谞讬)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(爪讜专|转讬爪讜专|转注砖讛|讘谞讛|转讘谞讛|转讻讬谉|讛讻谉|爪专讬讱|专讜爪讛)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `谞注讬诐 诪讗讜讚, ${userName}.\\n\\n诪注讻砖讬讜 讗驻谞讛 讗诇讬讱 讘砖诐 讛讝讛. 讗诐 讻转讘转 讙诐 讘拽砖讛 讘讗讜转讛 讛讜讚注讛, 砖诇讞 讗讜转讛 砖讜讘 讘砖讜专讛 讞讚砖讛 讜讗讟驻诇 讘讛 诪讬讚.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = '诇讗 讛爪诇讞转讬 诇讛讘讬谉 诪讛 讛砖诐 讘诇讘讚. 讻转讜讘 专拽 讗转 讛砖诐 砖诇讱, 诇诪砖诇: 注讜驻专';\n  }\n} else {\n  const wordCount = msg.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(scoreDetailWords) || (/^\\s*(驻讬专讜讟|驻专讟|砖诇讞 驻讬专讜讟|转谉 驻讬专讜讟)\\s*$/i.test(msg) && Boolean(data.lastEvaluation));\n  const asksForAgentHistory = hasAny(historyWords);\n  const pending = data.pendingCreatedAgent || null;\n  const confirmsPending = /^(讻谉|讻谉 转诪砖讬讱|诪讗砖专|诪讗砖专转|讗砖专|转讗砖专|转诪砖讬讱|讘爪注|转专讬抓|拽讚讬诪讛|讬讗诇诇讛|ok|yes)$/i.test(msg.trim());\n  const cancelsPending = /^(诇讗|讘讟诇|讘讬讟讜诇|注爪讜专|讗诇 转专讬抓|诇讗 注讻砖讬讜|cancel|no)$/i.test(msg.trim());\n\n  if (pending && confirmsPending) {\n    action = 'use_agent';\n    agent_name = pending.agentName;\n    requestMessage = pending.task;\n    direct_reply = null;\n    selectionReason = '讛诪砖转诪砖 讗讬砖专 诇讛专讬抓 讗转 讛住讜讻谉 讛讞讚砖 砖谞讜爪专 注诇 讛砖讗诇讛 讛诪拽讜专讬转.';\n  } else if (pending && cancelsPending) {\n    action = 'chitchat';\n    direct_reply = '讘讬讟诇转讬 讗转 讛讛专爪讛. 讛住讜讻谉 谞砖讗专 砖诪讜专 讜讗驻砖专 诇讛砖转诪砖 讘讜 讘讛诪砖讱.';\n  } else if (pending) {\n    action = 'chitchat';\n    direct_reply = '讬砖 住讜讻谉 讞讚砖 砖诪讜讻谉 诇讛专爪讛 注诇 讛砖讗诇讛 讛诪拽讜专讬转. 讻转讜讘 讻谉 讗讜 诪讗砖专 讻讚讬 诇讛专讬抓 讗讜转讜, 讗讜 讘讟诇 讻讚讬 诇注爪讜专.';\n  } else if (asksForAgentHistory) {\n    action = 'chitchat';\n    direct_reply = data.agentHistory || `${data.userName || '诪砖转诪砖'}, 讗讬谉 注讚讬讬谉 砖讬诪讜砖讬 住讜讻谞讬诐 砖诪讜专讬诐 讘讝讬讻专讜谉 讛讗讬砖讬 砖诇讱.`;\n  } else if (hasAny(createAgentWords)) {\n    action = 'create_agent';\n  } else if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `驻讬专讜讟 爪讬讜谉 讗讞专讜谉\\n诪砖转诪砖: ${data.userName}\\n住讜讻谉: ${ev.agent}\\n爪讬讜谉: ${ev.score}/10\\n住讬讘讛: ${ev.deductions}\\n诪砖讬诪讛: ${ev.task}`;\n    } else {\n      direct_reply = `${data.userName}, 讗讬谉 注讚讬讬谉 爪讬讜谉 砖诪讜专 讘讝讬讻专讜谉 讛讗讬砖讬 砖诇讱.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords)) {\n    action = 'chitchat';\n    if (isShortCasual) {\n      direct_reply = `${data.userName || '砖诇讜诐'}, 砖诇讜诐. 讗讬讱 讗驻砖专 诇注讝讜专 诇讱 注讻砖讬讜?`;\n    }\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9讗-转_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3);\n\n    const agentTimes = agents\n      .map(a => Date.parse(a.updated_at || a.last_used || a.created_at || ''))\n      .filter(Number.isFinite);\n    const newestTime = agentTimes.length ? Math.max(...agentTimes) : Date.now();\n    const oldestTime = agentTimes.length ? Math.min(...agentTimes) : newestTime;\n    const timeSpan = Math.max(1, newestTime - oldestTime);\n\n    const candidates = [];\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let matchScore = 0;\n      const matchedTokens = [];\n      for (const token of tokens) {\n        if (haystack.includes(token)) {\n          matchScore += 1;\n          matchedTokens.push(token);\n        }\n      }\n      if (matchScore <= 0) continue;\n\n      const agentScore = Number(agent.score_avg ?? agent.score ?? 0) || 0;\n      const quality = Math.min(agentScore, 10) / 10;\n      const uses = Number(agent.uses ?? 0) || 0;\n      const updatedMs = Date.parse(agent.updated_at || agent.last_used || agent.created_at || '') || oldestTime;\n      const recency = Math.max(0, Math.min(1, (updatedMs - oldestTime) / timeSpan));\n      const freshImprovedBonus = recency >= 0.65 && agentScore >= 8 ? 0.55 : (recency >= 0.65 && agentScore >= 7 ? 0.25 : 0);\n      const genericPenalty = /(砖讬诪讜砖 专讗砖讜谉|砖讬诪讜砖 砖谞讬|砖讬诪讜砖 砖诇讬砖讬|诪砖驻讟 讗讞讚 讘专讜专 注诇 讛转驻拽讬讚)/.test(haystack) ? 0.45 : 0;\n      const finalScore = (matchScore * 1.35) + (quality * 0.95) + (recency * 0.55) + (Math.min(uses, 12) / 120) + freshImprovedBonus - genericPenalty;\n\n      candidates.push({\n        agent,\n        matchScore,\n        matchedTokens: [...new Set(matchedTokens)].slice(0, 5),\n        agentScore,\n        uses,\n        updatedMs,\n        recency,\n        finalScore\n      });\n    }\n\n    candidates.sort((a, b) =>\n      (b.finalScore - a.finalScore) ||\n      (b.agentScore - a.agentScore) ||\n      (b.updatedMs - a.updatedMs)\n    );\n\n    let best = candidates[0] || null;\n    if (best) {\n      for (const candidate of candidates.slice(1)) {\n        const closeMatch = candidate.matchScore >= best.matchScore - 0.5;\n        const fresherAndNoWorse = candidate.updatedMs > best.updatedMs && candidate.agentScore >= best.agentScore - 0.25;\n        const closeEnough = candidate.finalScore >= best.finalScore - 0.35;\n        if (closeMatch && fresherAndNoWorse && closeEnough) {\n          best = candidate;\n        }\n      }\n    }\n\n    if (best && best.finalScore >= 1.85 && best.matchScore >= 1) {\n      action = 'use_agent';\n      agent_name = best.agent.name;\n      const updated = best.agent.updated_at || best.agent.last_used || best.agent.created_at || '诇讗 谞砖诪专';\n      const freshness = best.recency >= 0.65 ? '注讚讻谞讬 讬讞住讬转' : '讜转讬拽 讗讘诇 注讚讬讬谉 诪转讗讬诐';\n      selectionReason = `谞讘讞专 ${agent_name} 讻讬 讛讜讗 诪转讗讬诐 诇诪讬诇讬诐: ${best.matchedTokens.join(', ') || '讛转讗诪讛 讻诇诇讬转'}. 爪讬讜谉: ${best.agentScore || '讞讚砖'}, 砖讬诪讜砖讬诐: ${best.uses}, 注讚讻讜谉 讗讞专讜谉: ${String(updated).replace('T', ' ').substring(0, 16)}. 讛注讚驻讛: ${freshness}; 住讜讻谉 讞讚砖 讬讜转专 注诐 爪讬讜谉 讚讜诪讛 讗讜 讙讘讜讛 诪拽讘诇 拽讚讬诪讜转.`;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? (selectionReason || `谞讘讞专 ${agent_name} 诇驻讬 讛转讗诪讛, 爪讬讜谉, 注讚讻谞讬讜转 讜砖讬诪讜砖讬诐 拽讜讚诪讬诐.`)\n  : (action === 'create_agent'\n    ? '诇讗 谞诪爪讗 住讜讻谉 诪转讗讬诐 诪住驻讬拽, 诇讻谉 谞讜爪专 住讜讻谉 讞讚砖.'\n    : (action === 'ask_name' ? '诪砖转诪砖 讞讚砖 诇诇讗 砖诐 砖诪讜专.' : (action === 'save_name' ? '谞砖诪专 砖诐 诪砖转诪砖 讞讚砖.' : '讝讜讛转讛 砖讬讞讛 专讙讬诇讛 讗讜 讘拽砖转 诪讬讚注 讗讬砖讬.')));\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId } }];"
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId\n}}];"
      },
      "id": "parse-router",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ask-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "save-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "save_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "chitchat",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "use-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "create-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=讗转讛 注讘讚, 注讜讝专 讟诇讙专诐 诪讛讬专 讘注讘专讬转.\\n注谞讛 讘注讘专讬转 讟讘注讬转 讜拽爪专讛. 讗诇 转砖转诪砖 讘砖驻讛 讗讞专转.\\n\\n住讜讻谞讬诐 讝诪讬谞讬诐:\\n{{ $('Prepare Data').first().json.agentList }}\\n\\n讛拽砖专 讗讞专讜谉:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\n讘拽砖转 讛诪砖转诪砖:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\n讞讜讘讛 诪讜讞诇讟转:\\n注谞讛 讘注讘专讬转 讘诇讘讚.\\n讗住讜专 诇讛讜爪讬讗 住讬谞讬转.\\n讗住讜专 诇讛讜爪讬讗 转讜讜讬诐 住讬谞讬讬诐.\\n讗住讜专 诇讛讜爪讬讗 注专讘讬转.\\n讗住讜专 诇讛讜爪讬讗 转讜讜讬诐 注专讘讬讬诐.\\n讗诐 讛讛拽砖专 讻讜诇诇 注专讘讬转 讗讜 砖驻讛 讝专讛, 讛转注诇诐 诪诪谞讛 讜注谞讛 讘注讘专讬转 谞拽讬讬讛 讘诇讘讚.\\n讗诐 讝讜 转砖讜讘转 拽讜讚, 砖诪讜专 讗转 讛拽讜讚 讘诪讘谞讛 专讙讬诇 讜拽专讬讗, 讘诇讬 诇驻专拽 转讙讬讜转, 砖诪讜转 诪砖转谞讬诐 讗讜 诪讬诇讬诐 讘讗谞讙诇讬转 诇砖讜专讜转.\\n讗诐 讗讬谉 诇讱 诪讬讚注 讗诪讬转讬, 转讙讬讚 砖讗讬谉 诪讬讚注 砖诪讜专.\\n\\n砖诐 讛诪砖转诪砖 诇砖讬讞讛:\\n{{ $('Parse Router').first().json.userName || '诪砖转诪砖' }}\\n驻谞讛 讗诇讬讜 讘砖诐 砖诇讜 讘讟讘注讬讜转, 诇讗 讘讻诇 诪砖驻讟.\\n讗诐 讬砖 讘转砖讜讘讛 拽讜讚, 讛讞讝专 讗转 讛拽讜讚 讘转讜讱 讙讚专 拽讜讚 诪砖讜诇砖转 注诐 砖诐 砖驻讛 讻讗砖专 讗驻砖专. 讗诇 转驻专拽 砖诪讜转 诪砖转谞讬诐, 转讙讬讜转 讗讜 诪讬诇讬诐 讘讗谞讙诇讬转 讘转讜讱 拽讜讚.\\n\\n讻诇诇讬 讗讬讻讜转 诇转砖讜讘讛:\\n- 驻转讞 讘诪砖驻讟 讗讞讚 砖诪住讻诐 讗转 讛转砖讜讘讛.\\n- 诇讗讞专 诪讻谉 转谉 诪讘谞讛 讘专讜专 注诐 讻讜转专讜转 拽爪专讜转 讗讜 专砖讬诪讛 诪诪讜住驻专转.\\n- 讗诇 转讜住讬祝 讚讜讙诪转 拽讜讚 讗诐 讛诪砖转诪砖 诇讗 讘讬拽砖 拽讜讚.\\n- 讗诇 转讻谞讬住 诪讬诇讬诐 讝专讜转, 转讜讜讬诐 讝专讬诐, 讗讜 专爪驻讬 讗讜转讬讜转 讞住专讬 诪砖诪注讜转.\\n- 讗诐 谞讚专砖 诪讜谞讞 讟讻谞讬 讘讗谞讙诇讬转, 讛砖转诪砖 专拽 讘砖诐 讛讻诇讬 讗讜 讛转拽谉 注爪诪讜.\\n- 讗诐 讝讜 讘拽砖转 讗驻讬讜谉, 讛讞讝专: 诪讟专讛, 专讻讬讘讬诐, 讝专讬诪转 注讘讜讚讛, 讘讚讬拽讜转, 讜转讜爪专 住讜驻讬.\\n- 讘诇讬 诪住讙专讜转 爪讬讜专, 讘诇讬 拽讬砖讜讟讬诐, 讘诇讬 讟拽住讟 砖讘讜专."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 350,
                "num_ctx": 1536,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "chitchat-llm",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[鈹忊敆鈹ｂ攦鈹乚+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Parse Router').first().json.direct_reply || $('Chitchat LLM').first().json.response, '诇讗 讛转拽讘诇讛 转砖讜讘讛 诪诇讗讛.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|拽讜讚|注诪讜讚|讚祝|驻讜谞拽爪讬讛|住拽专讬驻讟|拽讜诪驻讜谞谞讟|讗转专|讟讜驻住|讻驻转讜专)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-chitchat",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[鈹忊敆鈹ｂ攦鈹乚+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|拽讜讚|注诪讜讚|讚祝|驻讜谞拽爪讬讛|住拽专讬驻讟|拽讜诪驻讜谞谞讟|讗转专|讟讜驻住|讻驻转讜专)/i.test(task + ' ' + agent);\n  })());\n  const direct = $('Parse Router').first().json.direct_reply;\n  const body = direct\n    ? safe(direct, '诇讗 讛转拽讘诇讛 转砖讜讘讛 诪诇讗讛. 谞住讛 砖讜讘 讘注讜讚 专讙注.', keepCode)\n    : safe($('Chitchat LLM').first().json.response, '诇讗 讛转拽讘诇讛 转砖讜讘讛 诪诇讗讛. 谞住讛 砖讜讘 讘注讜讚 专讙注.', keepCode);\n  return body;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-chitchat",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        64
      ],
      "webhookId": "4558b5d5-020e-4317-984e-e336652c86ab",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=讗转讛 讛住讜讻谉:\\n{{ $('Parse Router').first().json.agent_name }}\\n\\n注谞讛 诪讛专, 讬砖讬专 讜砖讬诪讜砖讬.\\n\\n讛拽砖专 讗讞专讜谉:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\n诪砖讬诪讛:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\n讞讜讘讛 诪讜讞诇讟转:\\n注谞讛 讘注讘专讬转 讘诇讘讚.\\n讗住讜专 诇讛讜爪讬讗 住讬谞讬转.\\n讗住讜专 诇讛讜爪讬讗 转讜讜讬诐 住讬谞讬讬诐.\\n讗住讜专 诇讛讜爪讬讗 注专讘讬转.\\n讗住讜专 诇讛讜爪讬讗 转讜讜讬诐 注专讘讬讬诐.\\n讗诐 讛讛拽砖专 讻讜诇诇 注专讘讬转 讗讜 砖驻讛 讝专讛, 讛转注诇诐 诪诪谞讛 讜注谞讛 讘注讘专讬转 谞拽讬讬讛 讘诇讘讚.\\n讗住讜专 诇注专讘讘 砖驻讜转 讘转讜讻谉 专讙讬诇.\\n讗诐 讝讜 转砖讜讘转 拽讜讚, 砖诪讜专 讗转 讛拽讜讚 讘诪讘谞讛 专讙讬诇 讜拽专讬讗, 讘诇讬 诇驻专拽 转讙讬讜转, 砖诪讜转 诪砖转谞讬诐 讗讜 诪讬诇讬诐 讘讗谞讙诇讬转 诇砖讜专讜转.\\n讗诐 讗讬谉 诇讱 诪讬讚注 讗诪讬转讬, 转讙讬讚 砖讗讬谉 诪讬讚注 砖诪讜专.\\n\\n砖诐 讛诪砖转诪砖 诇砖讬讞讛:\\n{{ $('Parse Router').first().json.userName || '诪砖转诪砖' }}\\n驻谞讛 讗诇讬讜 讘砖诐 砖诇讜 讘讟讘注讬讜转, 诇讗 讘讻诇 诪砖驻讟.\\n讗诐 讬砖 讘转砖讜讘讛 拽讜讚, 讛讞讝专 讗转 讛拽讜讚 讘转讜讱 讙讚专 拽讜讚 诪砖讜诇砖转 注诐 砖诐 砖驻讛 讻讗砖专 讗驻砖专. 讗诇 转驻专拽 砖诪讜转 诪砖转谞讬诐, 转讙讬讜转 讗讜 诪讬诇讬诐 讘讗谞讙诇讬转 讘转讜讱 拽讜讚.\\n\\n讻诇诇讬 讗讬讻讜转 诇转砖讜讘讛:\\n- 驻转讞 讘诪砖驻讟 讗讞讚 砖诪住讻诐 讗转 讛转砖讜讘讛.\\n- 诇讗讞专 诪讻谉 转谉 诪讘谞讛 讘专讜专 注诐 讻讜转专讜转 拽爪专讜转 讗讜 专砖讬诪讛 诪诪讜住驻专转.\\n- 讗诇 转讜住讬祝 讚讜讙诪转 拽讜讚 讗诐 讛诪砖转诪砖 诇讗 讘讬拽砖 拽讜讚.\\n- 讗诇 转讻谞讬住 诪讬诇讬诐 讝专讜转, 转讜讜讬诐 讝专讬诐, 讗讜 专爪驻讬 讗讜转讬讜转 讞住专讬 诪砖诪注讜转.\\n- 讗诐 谞讚专砖 诪讜谞讞 讟讻谞讬 讘讗谞讙诇讬转, 讛砖转诪砖 专拽 讘砖诐 讛讻诇讬 讗讜 讛转拽谉 注爪诪讜.\\n- 讗诐 讝讜 讘拽砖转 讗驻讬讜谉, 讛讞讝专: 诪讟专讛, 专讻讬讘讬诐, 讝专讬诪转 注讘讜讚讛, 讘讚讬拽讜转, 讜转讜爪专 住讜驻讬.\\n- 讘诇讬 诪住讙专讜转 爪讬讜专, 讘诇讬 拽讬砖讜讟讬诐, 讘诇讬 讟拽住讟 砖讘讜专."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[鈹忊敆鈹ｂ攦鈹乚+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute Agent').first().json.response, '诇讗 讛转拽讘诇讛 转砖讜讘讛 诪诇讗讛.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|拽讜讚|注诪讜讚|讚祝|驻讜谞拽爪讬讛|住拽专讬驻讟|拽讜诪驻讜谞谞讟|讗转专|讟讜驻住|讻驻转讜专)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-agent",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[鈹忊敆鈹ｂ攦鈹乚+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|拽讜讚|注诪讜讚|讚祝|驻讜谞拽爪讬讛|住拽专讬驻讟|拽讜诪驻讜谞谞讟|讗转专|讟讜驻住|讻驻转讜专)/i.test(task + ' ' + agent);\n  })());\n  const body = safe($('Execute Agent').first().json.response, '诇讗 讛转拽讘诇讛 转砖讜讘讛 诪诇讗讛. 谞住讛 砖讜讘 讘注讜讚 专讙注.', keepCode);\n  return `<b>谞爪讬讙 谞讘讞专</b>\n诪砖转诪砖: ${$('Parse Router').first().json.userName || '诪砖转诪砖'}\n谞爪讬讙: ${safe($('Parse Router').first().json.agent_name, '住讜讻谉 拽讬讬诐', false)}\n住讬讘讛: ${safe($('Parse Router').first().json.decision_reason || '讛转讗诪讛 讟讜讘讛 讘讬讜转专 诇驻讬 讛专砖讬诪讛 讜讛爪讬讜谞讬诐', '讛转讗诪讛 讟讜讘讛 讘讬讜转专 诇驻讬 讛专砖讬诪讛 讜讛爪讬讜谞讬诐', false)}\n\n${body}`;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-result",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        304
      ],
      "webhookId": "f05da3bd-3aec-4eac-9c88-b882240b5daf",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for must be clean, specific Hebrew when the task is Hebrew. No Arabic script, no Chinese script, no foreign-language filler.\\n- Never return generic good_for values like 砖讬诪讜砖 专讗砖讜谉, 砖讬诪讜砖 砖谞讬, 砖讬诪讜砖 砖诇讬砖讬.\\n- Never create an agent for a simple casual chat or a request to explain the previous score.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"转讬讗讜专 注讘专讬 住驻爪讬驻讬 砖诇 讛转驻拽讬讚\",\n  \"good_for\": \"诪砖讬诪讛 讗诪讬转讬转 讗讞转, 诪砖讬诪讛 讗诪讬转讬转 砖谞讬讬讛, 诪砖讬诪讛 讗诪讬转讬转 砖诇讬砖讬转\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "create-agent-llm",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9讗-转\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nfunction inferAgentName(task) {\n  const t = String(task || '').toLowerCase();\n  const parts = [];\n  if (/诪讜讚讜诇|module/.test(t)) parts.push('module');\n  if (/谞转讜谞|data|db|database/.test(t)) parts.push('data');\n  if (/front|frontend|ui|诪住讱|诪诪砖拽/.test(t)) parts.push('frontend');\n  if (/back|backend|砖专转/.test(t)) parts.push('backend');\n  if (/讘讚讬拽|讜讜讚讗|讗讬诪讜转|validate|test|qa/.test(t)) parts.push('validation');\n  if (/谞讬住讜讞|讻转讬讘|转讜讻谉|讟拽住讟|copy/.test(t)) parts.push('writing');\n  if (/拽讜讚|code|bug|debug|砖讙讬讗讛/.test(t)) parts.push('code');\n  if (/讗讜讟讜诪|workflow|转讛诇讬讱/.test(t)) parts.push('automation');\n  const unique = [...new Set(parts)].slice(0, 3);\n  if (unique.length >= 2) return cleanName(unique.join('_') + '_agent');\n  if (unique.length === 1) return cleanName(unique[0] + '_task_agent');\n  const hash = Array.from(String(task || 'custom')).reduce((sum, ch) => sum + ch.charCodeAt(0), 0).toString(36).slice(0, 5);\n  return cleanName('custom_request_agent_' + hash);\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || '住讜讻谉 讬讬注讜讚讬 砖谞讜爪专 诇驻讬 讛讘拽砖讛 讛讗讞专讜谞讛.',\n  good_for: parsed.good_for || '诪砖讬诪讜转 讚讜诪讜转 诇讘拽砖讛 讛讗讞专讜谞讛',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "parse-new-agent",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "save-registry",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=讗转讛 讛住讜讻谉:\\n{{ $('Parse New Agent').first().json.name }}\\n\\n注谞讛 诪讛专, 讬砖讬专 讜砖讬诪讜砖讬.\\n\\n讛拽砖专 讗讞专讜谉:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\n诪砖讬诪讛:\\n{{ $('Parse New Agent').first().json.userMessage }}\\n\\n讞讜讘讛 诪讜讞诇讟转:\\n注谞讛 讘注讘专讬转 讘诇讘讚.\\n讗住讜专 诇讛讜爪讬讗 住讬谞讬转.\\n讗住讜专 诇讛讜爪讬讗 转讜讜讬诐 住讬谞讬讬诐.\\n讗住讜专 诇讛讜爪讬讗 注专讘讬转.\\n讗住讜专 诇讛讜爪讬讗 转讜讜讬诐 注专讘讬讬诐.\\n讗诐 讛讛拽砖专 讻讜诇诇 注专讘讬转 讗讜 砖驻讛 讝专讛, 讛转注诇诐 诪诪谞讛 讜注谞讛 讘注讘专讬转 谞拽讬讬讛 讘诇讘讚.\\n讗住讜专 诇注专讘讘 砖驻讜转 讘转讜讻谉 专讙讬诇.\\n讗诐 讝讜 转砖讜讘转 拽讜讚, 砖诪讜专 讗转 讛拽讜讚 讘诪讘谞讛 专讙讬诇 讜拽专讬讗, 讘诇讬 诇驻专拽 转讙讬讜转, 砖诪讜转 诪砖转谞讬诐 讗讜 诪讬诇讬诐 讘讗谞讙诇讬转 诇砖讜专讜转.\\n讗诐 讗讬谉 诇讱 诪讬讚注 讗诪讬转讬, 转讙讬讚 砖讗讬谉 诪讬讚注 砖诪讜专.\\n\\n砖诐 讛诪砖转诪砖 诇砖讬讞讛:\\n{{ $('Parse Router').first().json.userName || '诪砖转诪砖' }}\\n驻谞讛 讗诇讬讜 讘砖诐 砖诇讜 讘讟讘注讬讜转, 诇讗 讘讻诇 诪砖驻讟.\\n讗诐 讬砖 讘转砖讜讘讛 拽讜讚, 讛讞讝专 讗转 讛拽讜讚 讘转讜讱 讙讚专 拽讜讚 诪砖讜诇砖转 注诐 砖诐 砖驻讛 讻讗砖专 讗驻砖专. 讗诇 转驻专拽 砖诪讜转 诪砖转谞讬诐, 转讙讬讜转 讗讜 诪讬诇讬诐 讘讗谞讙诇讬转 讘转讜讱 拽讜讚.\\n\\n讻诇诇讬 讗讬讻讜转 诇转砖讜讘讛:\\n- 驻转讞 讘诪砖驻讟 讗讞讚 砖诪住讻诐 讗转 讛转砖讜讘讛.\\n- 诇讗讞专 诪讻谉 转谉 诪讘谞讛 讘专讜专 注诐 讻讜转专讜转 拽爪专讜转 讗讜 专砖讬诪讛 诪诪讜住驻专转.\\n- 讗诇 转讜住讬祝 讚讜讙诪转 拽讜讚 讗诐 讛诪砖转诪砖 诇讗 讘讬拽砖 拽讜讚.\\n- 讗诇 转讻谞讬住 诪讬诇讬诐 讝专讜转, 转讜讜讬诐 讝专讬诐, 讗讜 专爪驻讬 讗讜转讬讜转 讞住专讬 诪砖诪注讜转.\\n- 讗诐 谞讚专砖 诪讜谞讞 讟讻谞讬 讘讗谞讙诇讬转, 讛砖转诪砖 专拽 讘砖诐 讛讻诇讬 讗讜 讛转拽谉 注爪诪讜.\\n- 讗诐 讝讜 讘拽砖转 讗驻讬讜谉, 讛讞讝专: 诪讟专讛, 专讻讬讘讬诐, 讝专讬诪转 注讘讜讚讛, 讘讚讬拽讜转, 讜转讜爪专 住讜驻讬.\\n- 讘诇讬 诪住讙专讜转 爪讬讜专, 讘诇讬 拽讬砖讜讟讬诐, 讘诇讬 讟拽住讟 砖讘讜专."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-new-agent",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nconst badResponse = /(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/i.test(response);\nconst foreign = /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/.test(response);\nconst gibberish = /\\b([A-Za-z]{2,})\\b/g;\nconst allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\nconst englishTokens = [...response.matchAll(gibberish)].map(m => m[1]);\nconst unknownEnglish = englishTokens.filter(token => !allowed.has(token.replace(/[.]+$/g, '').toUpperCase()));\nlet score = badResponse ? 3 : 7;\nif (!badResponse && response.length > 80) score += 1;\nif (!badResponse && response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nif (foreign) score -= 3;\nif (unknownEnglish.length >= 2) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: badResponse\n    ? '讛转砖讜讘讛 讛专讗砖讜谞讬转 诇讗 讛讬转讛 谞拽讬讬讛 讜诇讻谉 谞驻住诇讛 诇砖讬诪讜砖 讞讜讝专'\n    : (foreign || unknownEnglish.length >= 2\n      ? '谞诪爪讗讜 转讜讜讬诐 讝专讬诐 讗讜 专爪驻讬 诪讬诇讬诐 诇讗 谞拽讬讬诐, 诇讻谉 讛爪讬讜谉 讬专讚'\n      : (score >= 8 ? '谞专讗讛 讟讜讘 讘讘讚讬拽讛 诪讛讬专讛' : '谞讜爪专 住讜讻谉, 讗讘诇 讛转砖讜讘讛 讛专讗砖讜谞讬转 拽爪专讛 讗讜 讞诇拽讬转')),\n  improvement: '讗驻砖专 诇讛专讬抓 砖讬驻讜专 讘讛诪砖讱',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "evaluator-llm",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: '诇讗 谞讬转谉 诇讛注专讬讱', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "parse-evaluator",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {}
      },
      "id": "update-agent-score",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[鈹忊敆鈹ｂ攦鈹乚+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute New Agent').first().json.response, '讛住讜讻谉 谞讜爪专 讜谞砖诪专. 转讜爪专 专讗砖讜谞讬 谞拽讬 谞砖诪专 诇砖讬诪讜砖 讞讜讝专.', ((() => {\n    const task = String($('Parse New Agent').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse New Agent').first().json.name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|拽讜讚|注诪讜讚|讚祝|驻讜谞拽爪讬讛|住拽专讬驻讟|拽讜诪驻讜谞谞讟|讗转专|讟讜驻住|讻驻转讜专)/i.test(task + ' ' + agent);\n  })()))) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '诇讗 谞诪爪讗 住讜讻谉 诪转讗讬诐 诪住驻讬拽, 诇讻谉 谞讜爪专 住讜讻谉 讞讚砖.') }}}",
        "options": {}
      },
      "id": "save-memory-new",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "={{ (() => {\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const name = $('Parse New Agent').first().json.name || 'new_task_agent';\n  const description = $('Parse New Agent').first().json.description || '住讜讻谉 讬讬注讜讚讬';\n  const goodFor = $('Parse New Agent').first().json.good_for || '';\n  const task = $('Parse New Agent').first().json.userMessage || '';\n  const user = $('Parse Router').first().json.userName || '诪砖转诪砖';\n  return '<b>谞讜爪专 住讜讻谉 讞讚砖 讜诪讜讻谉 诇讛专爪讛</b>\\n\\n'\n    + '诪砖转诪砖: ' + escapeHtml(user) + '\\n'\n    + '砖诐: <code>' + escapeHtml(name) + '</code>\\n'\n    + '讬讬注讜讚: ' + escapeHtml(description) + '\\n'\n    + (goodFor ? '诪转讗讬诐 诇: ' + escapeHtml(goodFor) + '\\n' : '')\n    + '\\n<b>讛砖讗诇讛 讛诪拽讜专讬转</b>\\n'\n    + escapeHtml(task) + '\\n\\n'\n    + '注讚讬讬谉 诇讗 讘讬爪注转讬 讗转 讛诪砖讬诪讛.\\n'\n    + '砖诇讞 <b>讻谉</b> 讗讜 <b>诪讗砖专</b>, 讜讗谞讬 诪专讬抓 讗转 讛住讜讻谉 讛讝讛 注诇 讗讜转讛 砖讗诇讛.';\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-new-agent",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3312,
        544
      ],
      "webhookId": "4f99d8b8-3fe0-471f-a0ec-d0a66d741827",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-profile",
      "name": "Read Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-ask",
      "name": "Save Profile Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-name",
      "name": "Save Profile Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -24
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(讝讬谉|讻讜住|砖专诪讜讟|讝讜谞讛|诪讝讚讬讬谉|讘谉 讝讜谞讛|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[鈹忊敆鈹ｂ攦鈹乚+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  return safe($('Parse Router').first().json.direct_reply, '拽讬讘诇转讬.', false);\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-direct-profile",
      "name": "Telegram - Direct",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>拽讬讘诇转讬 讗转 讛讘拽砖讛</b>\\n诪砖转诪砖: ' + ($('Parse Router').first().json.userName || '诪砖转诪砖') + '\\n诪住诇讜诇: 砖讬讞讛 专讙讬诇讛\\n诪爪讘: 诪谞住讞 转砖讜讘讛' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-chitchat-safe",
      "name": "Telegram - Progress Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        64
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>拽讬讘诇转讬 讗转 讛讘拽砖讛</b>\\n诪砖转诪砖: ' + ($('Parse Router').first().json.userName || '诪砖转诪砖') + '\\n诪住诇讜诇: 谞爪讬讙 拽讬讬诐\\n谞爪讬讙: ' + ($('Parse Router').first().json.agent_name || '') + '\\n诪爪讘: 诪专讬抓 讗转 讛谞爪讬讙' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-agent-safe",
      "name": "Telegram - Progress Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>诪住诇讜诇: 讬爪讬专转 住讜讻谉 讜讗讬砖讜专 讘讬爪讜注</b>\\n\\n讞讬讜讜讬: 讘讜谞讛 住讜讻谉 讬讬注讜讚讬 讜砖讜诪专 诪爪讘 讛诪砖讱\\n讝讬讻专讜谉: 讗讬砖讬 讘诇讘讚\\n讛砖诇讘 讛讘讗: 讗讬砖讜专 诇驻谞讬 讘讬爪讜注' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-new-agent-safe",
      "name": "Telegram - Progress New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        544
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}",
        "options": {}
      },
      "id": "sync-profile-inline",
      "name": "Sync Profile Inline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "open-orcastrator-command",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); return (first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@')) ? 'open_orcastrator' : 'normal'; })() }}",
                    "rightValue": "open_orcastrator",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "normal-message",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); return (first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@')) ? 'open_orcastrator' : 'normal'; })() }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-orcastrate-command",
      "name": "Switch Orcastrate Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ '<b>诪诪砖拽 Orcastrator 诪讜讻谉</b>\\n诇讞抓 注诇 讛讻驻转讜专 诇驻转讬讞转 诪住讱 讛砖诇讬讟讛.\\n\\n讛讜讚注讜转 专讙讬诇讜转 诪诪砖讬讻讜转 诇注讘讜讚 讻专讙讬诇.' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "驻转讞 诪诪砖拽",
                    "additionalFields": {
                      "web_app": {
                        "url": "={{ 'https://unallowable-lustrelessly-pok.ngrok-free.dev/app?chat_id=' + $json.message.chat.id }}"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-open-orcastrator",
      "name": "Telegram - Open Orcastrator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_name: $('Parse Router').first().json.userName || '',\n  task: $('Parse New Agent').first().json.userMessage,\n  agent: 'pending_created_agent',\n  result: JSON.stringify({\n    agentName: $('Parse New Agent').first().json.name,\n    description: $('Parse New Agent').first().json.description,\n    good_for: $('Parse New Agent').first().json.good_for,\n    task: $('Parse New Agent').first().json.userMessage,\n    status: 'awaiting_confirmation',\n    created_at: new Date().toISOString()\n  }),\n  score: null,\n  deductions: '',\n  decision_reason: '谞讜爪专 住讜讻谉 讞讚砖 讜诪诪转讬谉 诇讗讬砖讜专 诇驻谞讬 讘讬爪讜注'\n}) }}",
        "options": {}
      },
      "id": "save-pending-new-agent",
      "name": "Save Pending New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        704
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Orcastrate Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Profile Inline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Save Profile Ask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Save Pending New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Ask": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Name": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Chitchat": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Agent": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress New Agent": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Profile Inline": {
      "main": [
        []
      ]
    },
    "Switch Orcastrate Command": {
      "main": [
        [
          {
            "node": "Telegram - Open Orcastrator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pending New Agent": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "activeVersionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "versionCounter": 87,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-31T03:07:56.899Z",
      "createdAt": "2026-05-31T03:07:56.899Z",
      "role": "workflow:owner",
      "workflowId": "WORKINGSTABLEV6",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "注讜驻专 砖讞专 <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}