מוח על/📥 קלט/agent_v6/n8n_fixed_all_telegram/V3c9nfYLE1dpYLbf.json
{
  "updatedAt": "2026-05-30T22:30:19.000Z",
  "createdAt": "2026-05-30T22:20:05.096Z",
  "id": "V3c9nfYLE1dpYLbf",
  "name": "Self-Evolving Agent v6 - Multi User",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "529cd630-c358-4653-b507-38ae90d37d45",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1648,
        400
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "05cba41a-6384-402d-92f5-61484065e380",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        400
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "7525c7e3-6a06-422d-8494-2ccf3fc35144",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active')\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${a.description} (good for: ${a.good_for || ''}; avg score: ${a.score_avg ?? a.score ?? 'new'}; uses: ${a.uses ?? 0})`).join('\\n')\n  : 'No agents yet';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${String(m.task || '').substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'Assistant' : `Assistant [${m.agent}]`;\n    return `User: ${String(m.task || '').substring(0, 180)}\\n${assistant}: ${String(m.result || '').substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory } }];"
      },
      "id": "bf0924ef-1e97-4efb-b876-a65f529b5b2e",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '');\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst chitchatWords = ['מה המצב', 'היי', 'שלום', 'בוקר טוב', 'ערב טוב', 'תודה', 'מי אתה', 'פירוט', 'תן פירוט', 'פרט'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'דיבאג', 'קוד', 'פונקציה', 'סקריפט', 'שגיאה'];\n\nlet action = 'create_agent';\nlet agent_name = null;\nlet decision_reason = 'לא נמצא סוכן קיים שעבר את סף ההתאמה, לכן נוצר סוכן חדש.';\nlet inner_thought = 'אני משווה את הבקשה מול קטלוג הסוכנים, ציונים ושימושים קודמים.';\nlet candidates = [];\n\nif (!msg.trim() || hasAny(chitchatWords)) {\n  action = 'chitchat';\n  decision_reason = 'ההודעה נראית כמו שיחה רגילה או בקשת פירוט, לכן אין צורך בסוכן משימתי.';\n  inner_thought = 'זו אינטראקציה שיחתית. אני שומר הקשר אישי ומחזיר תשובה קצרה.';\n} else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n  action = 'use_agent';\n  agent_name = 'code_helper';\n  decision_reason = 'זוהו מילות קוד/דיבאג, ו-code_helper קיים ופעיל.';\n  inner_thought = 'הבקשה טכנית. אני מעדיף סוכן קוד מוכר במקום ליצור כפילות.';\n} else {\n  const tokens = lower\n    .replace(/[^a-z0-9א-ת_\\s]/gi, ' ')\n    .split(/\\s+/)\n    .filter(t => t.length >= 3);\n\n  let best = null;\n  let bestScore = 0;\n  for (const agent of agents) {\n    const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n    let score = 0;\n    for (const token of tokens) {\n      if (haystack.includes(token)) score += 1;\n    }\n    score += Math.min(Number(agent.score_avg ?? agent.score ?? 0) || 0, 10) / 20;\n    score += Math.min(Number(agent.uses ?? 0) || 0, 20) / 100;\n    const item = {\n      name: agent.name,\n      score: Number(score.toFixed(2)),\n      avg: agent.score_avg ?? agent.score ?? null,\n      uses: agent.uses ?? 0,\n      description: agent.description || ''\n    };\n    candidates.push(item);\n    if (score > bestScore) {\n      bestScore = score;\n      best = agent;\n    }\n  }\n  candidates = candidates.sort((a, b) => b.score - a.score).slice(0, 5);\n\n  if (best && bestScore >= 1.3) {\n    action = 'use_agent';\n    agent_name = best.name;\n    decision_reason = `נבחר ${best.name} כי קיבל התאמה ${bestScore.toFixed(2)} והוא הסוכן החזק ביותר למשימה הזו.`;\n    inner_thought = 'יש סוכן קיים שעובר את הסף. אני משתמש בו כדי לא ליצור כפילות חלשה.';\n  }\n}\n\nreturn [{ json: { action, agent_name, decision_reason, inner_thought, candidates, userMessage: data.userMessage, chatId: data.chatId } }];"
      },
      "id": "b71507ec-5fce-4a46-91d4-a22497efdce4",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    inner_thought: input.inner_thought || '',\n    candidates: input.candidates || [],\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  inner_thought: parsed.inner_thought || '',\n  candidates: parsed.candidates || [],\n  userMessage,\n  chatId\n}}];"
      },
      "id": "111b641b-11d4-4c3e-8446-8aa1ef5e6322",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "34d60546-70f1-4987-b0ed-0430767e783e",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -368,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=SYSTEM: You are עבד, a fast Hebrew Telegram assistant.\nAnswer in Hebrew, naturally and briefly. No markdown unless the user asks.\n\nAvailable agents:\n{{ $('Prepare Data').first().json.agentList }}\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nUser: {{ $('Parse Router').first().json.userMessage }}\nעבד:"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 350,
                "num_ctx": 1536,
                "temperature": 0.4
              }
            }
          ]
        },
        "options": {}
      },
      "id": "fadf38d3-aa21-44fe-9aa2-739e2ea7a888",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify($('Chitchat LLM').first().json.response) }}}",
        "options": {}
      },
      "id": "06bd87c6-02c8-49dc-aca0-4442fc0fff63",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        48
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Chitchat LLM').first().json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "60542eae-b342-4b33-b2c3-24531e41b0e8",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        32
      ],
      "webhookId": "0396f8e3-bb9a-4daa-8253-533221acb8d5",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse Router').first().json.agent_name }}.\nAnswer fast, direct and useful.\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nTask: {{ $('Parse Router').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3ed026eb-6929-4406-a9f4-7b0e1c18c8a9",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify($('Execute Agent').first().json.response) }}}",
        "options": {}
      },
      "id": "e958b8c9-0959-459a-b46c-a4a6ac4ac9e4",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Execute Agent').first().json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "85946247-07b9-474e-a922-80d5f0614c03",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        400
      ],
      "webhookId": "e065483d-db4f-422e-9eac-f59cb83fabf8",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON.\nCreate a compact agent definition for this task: {{ $('Parse Router').first().json.userMessage }}\n\n{\n  \"name\": \"snake_case_name\",\n  \"description\": \"one sentence\",\n  \"good_for\": \"comma separated use cases\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4de9bdbb-19f1-4af9-890c-85dd16dc311d",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\nreturn [{ json: {\n  name: parsed.name,\n  description: parsed.description,\n  good_for: parsed.good_for,\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "c701d479-1274-49ef-960d-bff75c4f4882",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "d56823cb-5061-4547-9136-6a94c5b398c7",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse New Agent').first().json.name }}.\nAnswer fast, direct and useful.\n\nTask: {{ $('Parse New Agent').first().json.userMessage }}\n\nKeep the answer under 1800 characters unless code is required."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "16bf4585-4e46-4fb0-86da-564f5ea77661",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = String($('Execute New Agent').first().json.response || '');\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nlet score = 7;\nif (response.length > 80) score += 1;\nif (response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: score >= 8 ? 'נראה טוב בבדיקה מהירה' : 'תשובה קצרה או חלקית בבדיקה מהירה',\n  improvement: 'אפשר להריץ הערכה עמוקה ידנית אם צריך',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "73442011-1524-489c-939c-1696722cf27c",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'לא ניתן להעריך', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "73b83b92-07f8-4add-87cb-ebe811487050",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {}
      },
      "id": "311d85ea-d534-4eb6-94d6-e4f8297cd2bb",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        528
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify($('Execute New Agent').first().json.response) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}}",
        "options": {}
      },
      "id": "ba356426-6856-4f8d-8fda-d6b039b61170",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "=יצרתי סוכן חדש\n\n{{ $('Execute New Agent').first().json.response.substring(0, 1000) }}\n\nציון: {{ $('Parse Evaluator').first().json.score }}/10\nשלח פירוט לפרטים על הציון",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "76954bcf-c081-48ed-81dc-f74e86829934",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        640
      ],
      "webhookId": "b4d16f6e-3e1d-46fa-8131-8ceee777ab10",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "=קיבלתי. זה נראה כמו שיחה רגילה, אז אני עונה ישירות ומהר.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "28f42256-65b3-4741-b47c-e1917315ee4d",
      "name": "Telegram - Flow Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        32
      ],
      "webhookId": "a269b86e-ef44-4f00-a819-8fe12d1e06d1",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "=קיבלתי. בוחר נציג לפי התאמה וציון...\\nנבחר: {{ $('Parse Router').first().json.agent_name }}\\nלמה: {{ $('Parse Router').first().json.decision_reason }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b5168898-8eac-471e-8620-c0a2bafc147f",
      "name": "Telegram - Flow Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        400
      ],
      "webhookId": "380fbdfa-3b6f-46e6-8cf5-1cb24910c7ca",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "=לא מצאתי נציג מספיק מתאים. יוצר נציג חדש...\\nלמה: {{ $('Parse Router').first().json.decision_reason }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2dd044ff-69d7-44ae-ba91-630eff86e4f2",
      "name": "Telegram - Flow New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        624
      ],
      "webhookId": "42803eb6-2bef-4469-8bef-55b12a80f975",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'decision',\n  title: 'בחירת מסלול',\n  message: $('Parse Router').first().json.action === 'use_agent'\n    ? 'נבחר סוכן קיים: ' + $('Parse Router').first().json.agent_name\n    : ($('Parse Router').first().json.action === 'create_agent' ? 'נדרש סוכן חדש' : 'שיחה רגילה'),\n  agent: $('Parse Router').first().json.agent_name,\n  action: $('Parse Router').first().json.action,\n  reason: $('Parse Router').first().json.decision_reason,\n  thought: $('Parse Router').first().json.inner_thought,\n  candidates: $('Parse Router').first().json.candidates\n}) }}",
        "options": {}
      },
      "id": "673b3b9b-27e1-4ff9-9023-17b5732dbcb3",
      "name": "Flow - Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'answering',\n  title: 'מנסח תשובה',\n  message: 'המסלול הוא שיחה רגילה. אני משתמש בהקשר האישי האחרון בלבד.',\n  action: 'chitchat',\n  thought: 'אני שומר את זה קל ומהיר, בלי לפתוח סוכן משימתי.'\n}) }}",
        "options": {}
      },
      "id": "a502f14c-6fe5-482f-9227-97c5b45fca93",
      "name": "Flow - Chitchat Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'agent_run',\n  title: 'מריץ סוכן נבחר',\n  message: 'הסוכן שנבחר: ' + $('Parse Router').first().json.agent_name,\n  agent: $('Parse Router').first().json.agent_name,\n  action: 'use_agent',\n  reason: $('Parse Router').first().json.decision_reason,\n  thought: 'אני מעביר את המשימה לסוכן עם ההתאמה והציון הטובים ביותר.'\n}) }}",
        "options": {}
      },
      "id": "fc63701e-2ae0-48b5-af1c-cdda3acc7ac0",
      "name": "Flow - Agent Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'agent_build',\n  title: 'יוצר סוכן חדש',\n  message: 'לא נמצא סוכן מספיק מתאים, אז אני בונה הגדרה חדשה.',\n  action: 'create_agent',\n  reason: $('Parse Router').first().json.decision_reason,\n  thought: 'אני מנסה להימנע מכפילות. רק אם אין התאמה טובה אני יוצר סוכן חדש.'\n}) }}",
        "options": {}
      },
      "id": "52ea0fb3-3a91-4de9-bcc4-1d22d21ad0f8",
      "name": "Flow - New Agent Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'agent_named',\n  title: 'הסוכן קיבל זהות',\n  message: 'נוצרה טיוטת סוכן: ' + $('Parse New Agent').first().json.name,\n  agent: $('Parse New Agent').first().json.name,\n  action: 'create_agent',\n  thought: $('Parse New Agent').first().json.description + ' | ' + $('Parse New Agent').first().json.good_for\n}) }}",
        "options": {}
      },
      "id": "c1989626-5f6e-4619-8ceb-b700dab915ff",
      "name": "Flow - New Agent Named",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'saved',\n  title: 'נשמר בזיכרון האישי',\n  message: 'השיחה נשמרה רק לקובץ של המשתמש הזה.',\n  action: 'chitchat'\n}) }}",
        "options": {}
      },
      "id": "7dc97b1e-4c78-4787-93ae-5548d94dad09",
      "name": "Flow - Saved Chitchat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'saved',\n  title: 'תוצאה נשמרה',\n  message: 'התוצאה של ' + $('Parse Router').first().json.agent_name + ' נשמרה בזיכרון האישי.',\n  agent: $('Parse Router').first().json.agent_name,\n  action: 'use_agent'\n}) }}",
        "options": {}
      },
      "id": "c698ed9d-21a1-4cbb-b1d2-b2466b39cffc",
      "name": "Flow - Saved Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'scored',\n  title: 'סוכן חדש דורג ונשמר',\n  message: $('Parse New Agent').first().json.name + ' קיבל ציון ' + $('Parse Evaluator').first().json.score + '/10',\n  agent: $('Parse New Agent').first().json.name,\n  action: 'create_agent',\n  reason: $('Parse Evaluator').first().json.deductions,\n  thought: 'הציון נכנס ל-registry כדי שהסוכן הטוב יותר ינצח בפעמים הבאות.'\n}) }}",
        "options": {}
      },
      "id": "65adf8a5-48eb-4811-a2aa-92677f702a7c",
      "name": "Flow - Saved New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        528
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Flow - Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Telegram - Flow Chitchat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Flow Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Flow New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Flow - Saved Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Flow - Saved Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Flow - New Agent Named",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Execute New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Flow - Saved New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Flow Chitchat": {
      "main": [
        [
          {
            "node": "Flow - Chitchat Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Flow Agent": {
      "main": [
        [
          {
            "node": "Flow - Agent Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Flow New Agent": {
      "main": [
        [
          {
            "node": "Flow - New Agent Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Decision": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Chitchat Start": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Saved Chitchat": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Agent Start": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Saved Agent": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - New Agent Start": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - New Agent Named": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Saved New Agent": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ce2a98ec-34b8-4e37-b2a0-b4dc75b43d37",
  "activeVersionId": null,
  "versionCounter": 40,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-30T22:20:05.097Z",
      "createdAt": "2026-05-30T22:20:05.097Z",
      "role": "workflow:owner",
      "workflowId": "V3c9nfYLE1dpYLbf",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "עופר שחר <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
