📥 קלט/agent_v6/n8n_fixed_all_telegram/jScd4Q4RESKLz3zr.json
{
  "updatedAt": "2026-05-30T22:32:35.000Z",
  "createdAt": "2026-05-30T22:30:37.368Z",
  "id": "jScd4Q4RESKLz3zr",
  "name": "Self-Evolving Agent v6 - Multi User",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c802b99b-3a11-4179-94a0-01ee43f5f167",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        256
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "70b526b3-838f-4ff6-b1aa-74e028e4e6e5",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1328,
        256
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "29536032-5a27-4e13-917e-b64abcd97546",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active')\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${a.description} (good for: ${a.good_for || ''}; avg score: ${a.score_avg ?? a.score ?? 'new'}; uses: ${a.uses ?? 0})`).join('\\n')\n  : 'No agents yet';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${String(m.task || '').substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'Assistant' : `Assistant [${m.agent}]`;\n    return `User: ${String(m.task || '').substring(0, 180)}\\n${assistant}: ${String(m.result || '').substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory } }];"
      },
      "id": "091bddcb-fca8-43b2-a312-749fb6a9a89c",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '');\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst chitchatWords = ['מה המצב', 'היי', 'שלום', 'בוקר טוב', 'ערב טוב', 'תודה', 'מי אתה', 'פירוט', 'תן פירוט', 'פרט'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'דיבאג', 'קוד', 'פונקציה', 'סקריפט', 'שגיאה'];\n\nlet action = 'create_agent';\nlet agent_name = null;\n\nif (!msg.trim() || hasAny(chitchatWords)) {\n  action = 'chitchat';\n} else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n  action = 'use_agent';\n  agent_name = 'code_helper';\n} else {\n  const tokens = lower\n    .replace(/[^a-z0-9א-ת_\\s]/gi, ' ')\n    .split(/\\s+/)\n    .filter(t => t.length >= 3);\n\n  let best = null;\n  let bestScore = 0;\n  for (const agent of agents) {\n    const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n    let score = 0;\n    for (const token of tokens) {\n      if (haystack.includes(token)) score += 1;\n    }\n    score += Math.min(Number(agent.score_avg ?? agent.score ?? 0) || 0, 10) / 20;\n    score += Math.min(Number(agent.uses ?? 0) || 0, 20) / 100;\n    if (score > bestScore) {\n      bestScore = score;\n      best = agent;\n    }\n  }\n\n  if (best && bestScore >= 1.3) {\n    action = 'use_agent';\n    agent_name = best.name;\n  }\n}\n\nreturn [{ json: { action, agent_name, userMessage: data.userMessage, chatId: data.chatId } }];"
      },
      "id": "ba43e973-457d-41fa-a5d1-56a24d454c86",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  userMessage,\n  chatId\n}}];"
      },
      "id": "f061681f-0145-425f-b221-906f4dee1e18",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        256
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1148d3a7-6bb4-432f-b56d-47401b6fa648",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -224,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=SYSTEM: You are עבד, a fast Hebrew Telegram assistant.\nAnswer in Hebrew, naturally and briefly. No markdown unless the user asks.\n\nAvailable agents:\n{{ $('Prepare Data').first().json.agentList }}\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nUser: {{ $('Parse Router').first().json.userMessage }}\nעבד:"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 350,
                "num_ctx": 1536,
                "temperature": 0.4
              }
            }
          ]
        },
        "options": {}
      },
      "id": "0133a225-3e3b-491b-ac80-c2689d1db19f",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify($('Chitchat LLM').first().json.response) }}}",
        "options": {}
      },
      "id": "95875946-a933-4489-ad3b-8857a06c6f3e",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        16
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Chitchat LLM').first().json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ce395bd8-bda9-4a96-97ce-0be54a1d9b7f",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        16
      ],
      "webhookId": "501e4cf8-4537-4f72-86f5-5ed401e8d071",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse Router').first().json.agent_name }}.\nAnswer fast, direct and useful.\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nTask: {{ $('Parse Router').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b8c7de61-9923-4ad9-9f25-7dd0e6bcd6af",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify($('Execute Agent').first().json.response) }}}",
        "options": {}
      },
      "id": "ffafee4c-0279-4853-bd12-62a8bafd7e48",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Execute Agent').first().json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "238fbadb-9ebe-4d67-aaf3-26c1c4c4a40b",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        256
      ],
      "webhookId": "429a585f-630b-4120-8382-6ceee2ee58ef",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON.\nCreate a compact agent definition for this task: {{ $('Parse Router').first().json.userMessage }}\n\n{\n  \"name\": \"snake_case_name\",\n  \"description\": \"one sentence\",\n  \"good_for\": \"comma separated use cases\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ce0e05b4-b1c6-4b0f-a1e2-48768bdd728d",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\nreturn [{ json: {\n  name: parsed.name,\n  description: parsed.description,\n  good_for: parsed.good_for,\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "df6b49c9-5437-4465-a453-ee791b39af3e",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "13da7e7e-d3f3-4a00-bb14-be4ccdb57cd6",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse New Agent').first().json.name }}.\nAnswer fast, direct and useful.\n\nTask: {{ $('Parse New Agent').first().json.userMessage }}\n\nKeep the answer under 1800 characters unless code is required."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9a8952a6-5a6d-40ac-aa8d-63c38b9df143",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = String($('Execute New Agent').first().json.response || '');\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nlet score = 7;\nif (response.length > 80) score += 1;\nif (response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: score >= 8 ? 'נראה טוב בבדיקה מהירה' : 'תשובה קצרה או חלקית בבדיקה מהירה',\n  improvement: 'אפשר להריץ הערכה עמוקה ידנית אם צריך',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "d301f7ab-bbed-4693-bb66-d7a1ff10e76e",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'לא ניתן להעריך', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "27e76259-318c-4642-b0c2-e8e99e61cbdb",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {}
      },
      "id": "86dc7c96-e936-410b-a3c8-dd345cfac495",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        496
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify($('Execute New Agent').first().json.response) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}}",
        "options": {}
      },
      "id": "bd933ab6-5b74-4455-9ea5-936c2d6e5ded",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        496
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "=יצרתי סוכן חדש\n\n{{ $('Execute New Agent').first().json.response.substring(0, 1000) }}\n\nציון: {{ $('Parse Evaluator').first().json.score }}/10\nשלח פירוט לפרטים על הציון",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a661bb83-6be8-402f-ac6d-fb15a1224a3e",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        496
      ],
      "webhookId": "2fd24920-5f71-4b21-82ab-d94017c0a20e",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Execute New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6194766e-0319-4fc8-bd6b-b70a9ebb6a0c",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-30T22:30:37.370Z",
      "createdAt": "2026-05-30T22:30:37.370Z",
      "role": "workflow:owner",
      "workflowId": "jScd4Q4RESKLz3zr",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "עופר שחר <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
