📥 קלט/agent_v6/n8n_fixed_all_telegram/PEQ9qXlVyOfyaBAD.json
{
  "updatedAt": "2026-05-31T03:11:08.000Z",
  "createdAt": "2026-05-30T21:56:04.206Z",
  "id": "PEQ9qXlVyOfyaBAD",
  "name": "Yad2 Apartment Hunter 🏠",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "ebf465f8-887f-44cc-ab64-63f3adc35b1d",
      "name": "Schedule - כל שעתיים",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        16
      ]
    },
    {
      "parameters": {
        "url": "https://gw.yad2.co.il/feed-search-legacy/realestate/rent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "5000"
            },
            {
              "name": "rooms",
              "value": "2-4"
            },
            {
              "name": "price",
              "value": "0-8000"
            },
            {
              "name": "propertyGroup",
              "value": "apartments"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "pageSize",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 16_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.0 Mobile/15E148 Safari/604.1"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Referer",
              "value": "https://www.yad2.co.il/"
            },
            {
              "name": "Accept-Language",
              "value": "he-IL,he;q=0.9"
            },
            {
              "name": "Origin",
              "value": "https://www.yad2.co.il"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "36ad4faf-443b-4b1a-a12c-1770b16f1cc7",
      "name": "Yad2 API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// פרסור תוצאות מ-Yad2 API\n// ========================================\nconst body = $input.first().json;\n\nconst listings =\n  body?.data?.markers ||\n  body?.data?.feed?.feed_items ||\n  body?.feed?.feed_items ||\n  body?.markers ||\n  [];\n\nif (!listings || listings.length === 0) {\n  console.log('RAW:', JSON.stringify(body).substring(0, 600));\n  return [];\n}\n\nreturn listings\n  .filter(l => l && (l.id || l.orderId))\n  .map(l => ({\n    json: {\n      // id חייב להיות string אחיד - זה מה שנכנס ל-dedup\n      id: String(l.id || l.orderId || ''),\n      price:        l.price || l.feedPrice || 0,\n      rooms:        l.roomsCount || l.rooms || '?',\n      floor:        l.floor !== undefined ? l.floor : '?',\n      size:         l.squareMeter || l.squareMeter_text || '?',\n      city:         l.city_text || l.city || '',\n      neighborhood: l.neighborhood_text || l.neighborhood || '',\n      street:       l.street || l.streetName || '',\n      url:          `https://www.yad2.co.il/item/${l.id || l.orderId}`,\n      date:         l.date || l.updatedAt || ''\n    }\n  }));\n"
      },
      "id": "dbbadab0-583b-49df-813c-b54596c39667",
      "name": "פרסור דירות",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        16
      ]
    },
    {
      "parameters": {},
      "id": "73fe36bd-8edd-4f78-bd92-b6ce4b7daf4e",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        720,
        16
      ]
    },
    {
      "parameters": {
        "chatId": "=YOUR_TELEGRAM_CHAT_ID",
        "text": "=🏠 *דירה חדשה ביד2!*\n\n💰 מחיר: *{{ $json.price }}₪ לחודש*\n🛏 חדרים: {{ $json.rooms }}\n📐 שטח: {{ $json.size }} מ\"ר\n🏢 קומה: {{ $json.floor }}\n📍 *{{ $json.neighborhood }}*, {{ $json.city }}\n🛣 {{ $json.street }}\n\n🔗 [לצפייה במודעה]({{ $json.url }})",
        "additionalFields": {
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "8f034b37-5fe2-4e4a-9711-90fa054ecc1d",
      "name": "Telegram - שלח התראה",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        16
      ],
      "webhookId": "f12f4d57-c23f-4912-9db8-ee5b8667340e",
      "credentials": {
        "telegramApi": {
          "id": "68b1vqL0qJvex7Dh",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule - כל שעתיים": {
      "main": [
        [
          {
            "node": "Yad2 API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yad2 API Request": {
      "main": [
        [
          {
            "node": "פרסור דירות",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "פרסור דירות": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Telegram - שלח התראה",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a7890673-e332-42a2-a3bc-d5b0fc3e314c",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-30T21:56:04.207Z",
      "createdAt": "2026-05-30T21:56:04.207Z",
      "role": "workflow:owner",
      "workflowId": "PEQ9qXlVyOfyaBAD",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "עופר שחר <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
