lisim/בוט קרן/בוט סטודיו תכשיטים - מתוקן ניתוב סוכנים-20260617-174553.json
{
  "name": "Telegram Jewelry Studio Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "cf97c735-8f49-4052-b298-36417ec3a6c6",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -4128,
        1632
      ],
      "webhookId": "ff9a4513-345b-4ace-ae4a-4c4f2d6f556a",
      "credentials": {
        "telegramApi": {
          "id": "UkQhvpT2pzWMFC2s",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "אתה מסווג שיחות לקוחות לסטודיו לעיצוב תכשיטים בהתאמה אישית.\n\nקטגוריות זמינות:\n- new_customer: לקוח חדש ששואל שאלות כלליות\n- returns: החזרות והחלפות\n- sales: שאלות על מחירים\n- orders: מעקב הזמנה\n- breastmilk_jewelry: תכשיטים מחלב אם\n- custom_design: עיצוב אישי\n- general_support: שאלות כלליות\n\nענה בפורמט JSON:\n{\"category\": \"[הקטגוריה]\", \"confidence\": [0-1]}"
        }
      },
      "id": "24d982a6-9f59-4423-93d3-e8b89d499d43",
      "name": "Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3792,
        1632
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=gpt-4o-mini",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "f0f9aa03-11fa-483e-8083-f79ba6ada0ea",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2960,
        1040
      ],
      "credentials": {
        "openAiApi": {
          "id": "sDQCmCh1UvbxDbNo",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "5547670f-5fa5-4d11-8240-626a34a5410f",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -2832,
        1040
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "new_customer"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_customer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "returns"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "returns"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "sales"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "orders"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "orders"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "breastmilk_jewelry"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "breastmilk_jewelry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "custom_design"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "custom_design"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "general_support"
        }
      },
      "id": "cf519849-4ae6-44d6-8ae9-07df37440bdc",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3200,
        1520
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "אתה נציג שירות לקוחות לסטודיו תכשיטים. התמחותך: קבלת פנים ללקוחות חדשים.\n\nשירותים: תכשיטים מחלב אם, עיצוב אישי, חריטות, תכשיטי זהב וכסף.\n\nתפקידך: להסביר על השירותים, לענות על שאלות, להפנות צעד הבא.\nסגנון: חם, מקצועי, סבלני."
        }
      },
      "id": "3b3ec086-bacd-4f4a-90aa-fa677060144e",
      "name": "New Customer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2976,
        816
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output || 'תודה על הפנייה!' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0150ae8f-a6ea-4710-a60c-b5614e98267a",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1920,
        1600
      ],
      "webhookId": "201fabdb-6543-4145-90a5-aa3f0db93bb2",
      "credentials": {
        "telegramApi": {
          "id": "UkQhvpT2pzWMFC2s",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "אתה נציג שירות לקוחות המטפל בהחזרות והחלפות.\n\nמדיניות: החזרה עד 14 יום, מוצר במצב מקורי, תכשיטים מותאמים לא ניתנים להחזרה.\nתפקידך: להבין הבעיה, להציע פתרונות.\nסגנון: אמפתי, מקצועי."
        }
      },
      "id": "6af8e1f8-6605-41f7-886d-5642aa03fb1f",
      "name": "Returns Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2976,
        1216
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "אתה נציג מכירות. מחירים: חלב אם 350-800 ש\"ח, כסף 400-1200, זהב 1500-5000.\nמבצעים: 10% על שני, משלוח חינם מעל 500.\nתפקידך: לענות על מחירים, להציע מוצרים.\nסגנון: משכנע, ממוקד ערך."
        }
      },
      "id": "540f234e-1a63-4ccf-bb07-c2e6278367b8",
      "name": "Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2976,
        1408
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "אתה נציג שירות הזמנות. תפקידך: מעקב, שינוי, ביטול.\nזמנים: חלב אם 3-4 שבועות, התאמה אישית 2-3, מלאי 3-5 ימים.\nסגנון: מדויק, שקוף."
        }
      },
      "id": "519f1295-428f-468e-924b-b18b9bfab254",
      "name": "Orders Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2976,
        1600
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "אתה מומחה לתכשיטים מחלב אם. התהליך: 10-15 מ\"ל חלב → אבן ייחודית → משובצת בתכשיט.\nזמן: 3-4 שבועות. צבעים: לבן, ורוד, כחול, סגול.\nמחירים: 350-800 ש\"ח.\nתפקידך: הסבר, הרגעת חששות.\nסגנון: חם, רגיש."
        }
      },
      "id": "19b32555-7788-46ff-a186-4c9691c4134d",
      "name": "Breastmilk Jewelry Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2976,
        1792
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "אתה מעצב תכשיטים. תהליך: שיחה ראשונית → סקיצות → אישור → ייצור (2-3 שבועות).\nאפשרויות: חריטות, אבני חן, עיצובים גיאומטריים.\nחומרים: כסף, זהב 14K/18K, פלטינה.\nתפקידך: הבן חזון, הציע רעיונות.\nסגנון: יצירתי, מעורר השראה."
        }
      },
      "id": "81a84ca0-3b82-49d2-ae5d-f4a2d8512691",
      "name": "Custom Design Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2992,
        2000
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "אתה נציג שירות כללי.\nשעות: א-ה 9-18, ו 9-13 | כתובת: הרצל 123, תל אביב | טל: 03-1234567\nמייל: info@jewelry-studio.co.il | משלוחים: דואר, שליח | תשלום: כרטיס, ביט, פייבוקס\nתפקידך: שאלות כלליות, הפנייה.\nסגנון: ידידותי, יעיל."
        }
      },
      "id": "33225e93-4e8d-4058-9d18-58881bbd838d",
      "name": "General Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2976,
        2176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -4016,
        1920
      ],
      "id": "4159b3c4-9c0a-4ac1-814a-4fb63b5cea7a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LYedfJICfLLCKLBn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allowed = new Set([\n  'new_customer',\n  'returns',\n  'sales',\n  'orders',\n  'breastmilk_jewelry',\n  'custom_design',\n  'general_support',\n]);\n\nreturn $input.all().map((item) => {\n  const raw = item.json.output ?? item.json.text ?? '';\n  let parsed = {};\n\n  if (typeof raw === 'object' && raw !== null) {\n    parsed = raw;\n  } else {\n    const text = String(raw);\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n\n    try {\n      parsed = JSON.parse(match ? match[0] : text);\n    } catch (error) {\n      parsed = {};\n    }\n  }\n\n  const category = allowed.has(parsed.category) ? parsed.category : 'general_support';\n  const confidence = Number.isFinite(Number(parsed.confidence)) ? Number(parsed.confidence) : 0;\n\n  return {\n    json: {\n      ...item.json,\n      category,\n      confidence,\n      router_raw_output: raw,\n    },\n  };\n});"
      },
      "id": "7f7d961a-14e6-4f25-a862-2c94b5249b45",
      "name": "Extract Router Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        1632
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Agent": {
      "main": [
        [
          {
            "node": "Extract Router Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "New Customer Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Returns Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Orders Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Breastmilk Jewelry Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Custom Design Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "General Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Router Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "New Customer Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Returns Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Sales Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Orders Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Breastmilk Jewelry Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Custom Design Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "General Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "New Customer Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Returns Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orders Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Breastmilk Jewelry Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Custom Design Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Customer Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Returns Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orders Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Breastmilk Jewelry Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Design Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Support Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Extract Router Category": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "b38dbd25-2d01-4ebb-beea-79f3cef99009",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa096b8f13b7009d0fea4b89c54e0a0848fb4b66147c3ffc89cece4fd758887c"
  },
  "nodeGroups": [],
  "id": "dYvT9nTSKJmRyeC5",
  "tags": []
}
