📥 קלט/agent_v6/n8n_exports/WORKINGSTABLEV6_before_premium_output.json
[{"updatedAt":"2026-05-31T09:24:29.000Z","createdAt":"2026-05-31T03:07:56.897Z","id":"WORKINGSTABLEV6","name":"Self-Evolving Agent v6 - WORKING STABLE","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"telegram-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,304],"webhookId":"a4c6dcb8-696a-4509-ade3-c7246f389ef9","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"url":"http://127.0.0.1:5000/agents","options":{}},"id":"read-registry","name":"Read Registry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,304],"onError":"continueRegularOutput"},{"parameters":{"url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","options":{}},"id":"read-memory","name":"Read Memory","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,304],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nfunction cleanTextForPrompt(value) {\n  return String(value || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '')\n    .replace(/(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst bannedAgentNames = new Set(['agent', 'snakecaseagent', 'snake_case_agent', 'snake_case_name', 'custom_task_agent', 'new_agent', 'helper', 'assistant']);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active' && !bannedAgentNames.has(String(a.name || '').toLowerCase()))\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${cleanTextForPrompt(a.description)} (ОъОфОљОЎОЮ Ою: ${cleanTextForPrompt(a.good_for || '')}; ОдОЎОЋОЪ: ${a.score_avg ?? a.score ?? 'ОЌОЊОЕ'}; ОЕОЎОъОЋОЕОЎОЮ: ${a.uses ?? 0})`).join('\\n')\n  : 'ОљОЎОЪ ОбОЊОЎОЎОЪ ОАОЋОЏОаОЎОЮ';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${cleanTextForPrompt(m.task).substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'ОбОЋОќОе' : `ОбОЋОќОе [${m.agent}]`;\n    return `ОъОЕОфОъОЕ: ${cleanTextForPrompt(m.task).substring(0, 180)}\\n${assistant}: ${cleanTextForPrompt(m.result).substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\n\nconst skipHistoryTasks = new Set(['ОћОЎ', 'ОћОЎОЎ', 'ОЕОюОЋОЮ', 'ОъОћ ОаОЕОъОб', 'ОъОћ ОДОЋОеОћ']);\nconst historyTaskWords = ['ОЉОљОЎОќОћ ОАОЋОЏОЪ', 'ОљОЎОќОћ ОАОЋОЏОЪ ОћОЕОфОъОЕ', 'ОљОЎОќОћ ОаОдОЎОњ ОћОЕОфОъОЕ', 'ОћОЎОАОўОЋОеОЎОЎОф ОАОЋОЏОаОЎОЮ', 'ОЕОЎОъОЋОЕОЎ ОАОЋОЏОаОЎОЮ', 'ОќОЎОЏОеОЋОЪ ОАОЋОЏОаОЎОЮ'];\nconst agentHistoryRows = [...memory].reverse()\n  .filter(m => {\n    const task = cleanTextForPrompt(m.task || '');\n    const isHistoryTask = historyTaskWords.some(word => task.includes(word));\n    return task && m.agent && !skipHistoryTasks.has(task) && !isHistoryTask;\n  })\n  .slice(0, 12)\n  .map((m, index) => {\n    const task = cleanTextForPrompt(m.task || '').substring(0, 180) || 'ОюОљ ОаОЕОъОеОћ ОъОЕОЎОъОћ';\n    const agent = String(m.agent || 'ОюОљ ОЎОЊОЋОб').trim() || 'ОюОљ ОЎОЊОЋОб';\n    const score = (m.score === null || m.score === undefined || m.score === '') ? 'ОљОЎОЪ' : String(m.score) + '/10';\n    const time = String(m.timestamp || '').replace('T', ' ').substring(0, 16) || 'ОюОљ ОаОЕОъОе';\n    const reason = cleanTextForPrompt(m.decision_reason || m.deductions || '').substring(0, 180) || 'ОюОљ ОаОЕОъОеОћ ОАОЎОЉОћ';\n    return `${index + 1}. ОъОЕОЎОъОћ:\n${task}\nОАОЋОЏОЪ:\n${agent}\nОдОЎОЋОЪ:\n${score}\nОАОЎОЉОћ:\n${reason}\nОќОъОЪ:\n${time}`;\n  });\n\nconst agentHistory = agentHistoryRows.length\n  ? `РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОЕОЎОъОЋОЕОЎ ОАОЋОЏОаОЎОЮ ОъОћОќОЎОЏОеОЋОЪ\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОъОЕОфОъОЕ:\nРћЃ ${userName || 'ОъОЕОфОъОЕ'}\nРћЃ\n${agentHistoryRows.join('\\n\\n')}\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ`\n  : `${userName || 'ОъОЕОфОъОЕ'}, ОљОЎОЪ ОбОЊОЎОЎОЪ ОЕОЎОъОЋОЕОЎ ОАОЋОЏОаОЎОЮ ОЕОъОЋОеОЎОЮ ОЉОќОЎОЏОеОЋОЪ ОћОљОЎОЕОЎ ОЕОюОџ.`;\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || 'ОюОљ ОаОЕОъОе ОцОЎОеОЋОў ОаОЎОЏОЋОЎОЎОЮ',\n  result: cleanTextForPrompt(lastScored.result).substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, agentHistory, profile, userName, awaitingName, profileExists } }];"},"id":"prepare-data","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304]},{"parameters":{"jsCode":"const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst exactCasual = ['ОћОЎ', 'ОћОЎОЎ', 'ОћОЎОЎОЎ', 'ОћОюОЋ', 'ОЕОюОЋОЮ', 'ОЉОЋОДОе ОўОЋОЉ', 'ОбОеОЉ ОўОЋОЉ', 'ОюОЎОюОћ ОўОЋОЉ', 'ОъОћ ОаОЕОъОб', 'ОъОћ ОДОЋОеОћ', 'ОъОћ ОћОъОдОЉ', 'ОфОЋОЊОћ', 'ОАОЉОЉОћ', 'ОљОЌОюОћ'];\nconst detailWords = ['ОцОЎОеОЋОў', 'ОфОЪ ОцОЎОеОЋОў', 'ОцОеОў', 'ОЕОюОЌ ОцОЎОеОЋОў', 'ОцОеОўОЎОЮ ОбОю ОћОдОЎОЋОЪ', 'ОюОъОћ ОћОдОЎОЋОЪ'];\nconst chitchatWords = ['ОъОЎ ОљОфОћ', 'ОбОќОеОћ', 'ОъОћ ОљОфОћ ОЎОЋОЊОб ОюОбОЕОЋОф'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'ОЊОЎОЉОљОњ', 'ОДОЋОЊ', 'ОцОЋОаОДОдОЎОћ', 'ОАОДОеОЎОцОў', 'ОЕОњОЎОљОћ'];\nconst createAgentWords = ['ОдОЋОе ОюОЎ ОАОЋОЏОЪ', 'ОфОЎОдОЋОе ОюОЎ ОАОЋОЏОЪ', 'ОЉОаОћ ОюОЎ ОАОЋОЏОЪ', 'ОфОЉОаОћ ОюОЎ ОАОЋОЏОЪ', 'ОфОЏОЎОЪ ОюОЎ ОАОЋОЏОЪ', 'ОдОЋОе ОАОЋОЏОЪ', 'ОАОЋОЏОЪ ОЌОЊОЕ', 'ОаОдОЎОњ ОЌОЊОЕ'];\nconst historyWords = ['ОЉОљОЎОќОћ ОАОЋОЏОЪ', 'ОљОЎОќОћ ОАОЋОЏОЪ ОћОЕОфОъОЕ', 'ОљОЎОќОћ ОаОдОЎОњ ОћОЕОфОъОЕ', 'ОАОЋОЏОЪ ОћОЕОфОъОЕОф', 'ОаОдОЎОњ ОћОЕОфОъОЕОф', 'ОћОЎОАОўОЋОеОЎОЎОф ОАОЋОЏОаОЎОЮ', 'ОЕОЎОъОЋОЕОЎ ОАОЋОЏОаОЎОЮ', 'ОќОЎОЏОеОЋОЪ ОАОЋОЏОаОЎОЮ', 'ОАОЋОЏОЪ ОюОљОЎОќОЋ ОъОЕОЎОъОћ', 'ОаОдОЎОњ ОюОљОЎОќОЋ ОъОЕОЎОъОћ'];\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:ОДОЋОеОљОЎОЮ ОюОЎ|ОћОЕОЮ ОЕОюОЎ|ОљОаОЎ)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(ОДОЋОеОљОЎОЮ ОюОЎ|ОћОЕОЮ ОЕОюОЎ|ОљОаОЎ)\\s+/i, '')\n    .replace(/(?:^|\\s)(ОфОЎОдОЋОе|ОдОЋОе|ОфОбОЕОћ|ОЉОаОћ|ОфОЉОаОћ|ОфОЏОЎОЪ|ОћОЏОЪ|ОдОеОЎОџ|ОеОЋОдОћ|ОАОЋОЏОЪ|ОаОдОЎОњ).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'create_agent';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = msg;\nlet selectionReason = '';\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = 'ОЉОеОЋОџ ОћОЉОљ. ОљОЎОџ ОДОЋОеОљОЎОЮ ОюОџ?\\n\\nОљОЌОеОЎ ОЕОфОЏОфОЋОЉ ОљОф ОћОЕОЮ ОЕОюОџ, ОљОќОЏОЋОе ОљОЋОфОЋ ОЋОљОцОаОћ ОљОюОЎОџ ОЉОЕОЮ ОЉОЕОЎОЌОЋОф ОћОЉОљОЋОф.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(ОДОЋОеОљОЎОЮ ОюОЎ|ОћОЕОЮ ОЕОюОЎ|ОљОаОЎ)\\s+/i.test(msg)) {\n  const extractedName = cleanName(msg);\n  const inlineRequest = (() => {\n    const raw = msg.replace(/^\\s*(ОДОЋОеОљОЎОЮ ОюОЎ|ОћОЕОЮ ОЕОюОЎ|ОљОаОЎ)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(ОдОЋОе|ОфОЎОдОЋОе|ОфОбОЕОћ|ОЉОаОћ|ОфОЉОаОћ|ОфОЏОЎОЪ|ОћОЏОЪ|ОдОеОЎОџ|ОеОЋОдОћ)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `ОаОбОЎОЮ ОъОљОЋОЊ, ${userName}.\\n\\nОъОбОЏОЕОЎОЋ ОљОцОаОћ ОљОюОЎОџ ОЉОЕОЮ ОћОќОћ. ОљОЮ ОЏОфОЉОф ОњОЮ ОЉОДОЕОћ ОЉОљОЋОфОћ ОћОЋОЊОбОћ, ОЕОюОЌ ОљОЋОфОћ ОЕОЋОЉ ОЉОЕОЋОеОћ ОЌОЊОЕОћ ОЋОљОўОцОю ОЉОћ ОъОЎОЊ.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = 'ОюОљ ОћОдОюОЌОфОЎ ОюОћОЉОЎОЪ ОъОћ ОћОЕОЮ ОЉОюОЉОЊ. ОЏОфОЋОЉ ОеОД ОљОф ОћОЕОЮ ОЕОюОџ, ОюОъОЕОю: ОбОЋОцОе';\n  }\n} else {\n  const wordCount = msg.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(detailWords);\n  const asksForAgentHistory = hasAny(historyWords);\n\n  if (asksForAgentHistory) {\n    action = 'chitchat';\n    direct_reply = data.agentHistory || `${data.userName || 'ОъОЕОфОъОЕ'}, ОљОЎОЪ ОбОЊОЎОЎОЪ ОЕОЎОъОЋОЕОЎ ОАОЋОЏОаОЎОЮ ОЕОъОЋОеОЎОЮ ОЉОќОЎОЏОеОЋОЪ ОћОљОЎОЕОЎ ОЕОюОџ.`;\n  } else if (hasAny(createAgentWords)) {\n    action = 'create_agent';\n  } else if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОцОЎОеОЋОў ОдОЎОЋОЪ ОљОЌОеОЋОЪ\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОъОЕОфОъОЕ:\nРћЃ ${data.userName}\nРћЃ\nРћЃ ОАОЋОЏОЪ:\nРћЃ ${ev.agent}\nРћЃ\nРћЃ ОдОЎОЋОЪ:\nРћЃ ${ev.score}/10\nРћЃ\nРћЃ ОАОЎОЉОћ:\nРћЃ ${ev.deductions}\nРћЃ\nРћЃ ОъОЕОЎОъОћ:\nРћЃ ${ev.task}\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ`;\n    } else {\n      direct_reply = `${data.userName}, ОљОЎОЪ ОбОЊОЎОЎОЪ ОдОЎОЋОЪ ОЕОъОЋОе ОЉОќОЎОЏОеОЋОЪ ОћОљОЎОЕОЎ ОЕОюОџ.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords)) {\n    action = 'chitchat';\n    if (isShortCasual) {\n      direct_reply = `${data.userName || 'ОЕОюОЋОЮ'}, ОЕОюОЋОЮ. ОљОЎОџ ОљОцОЕОе ОюОбОќОЋОе ОюОџ ОбОЏОЕОЎОЋ?`;\n    }\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9Ољ-Оф_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3);\n\n    const agentTimes = agents\n      .map(a => Date.parse(a.updated_at || a.last_used || a.created_at || ''))\n      .filter(Number.isFinite);\n    const newestTime = agentTimes.length ? Math.max(...agentTimes) : Date.now();\n    const oldestTime = agentTimes.length ? Math.min(...agentTimes) : newestTime;\n    const timeSpan = Math.max(1, newestTime - oldestTime);\n\n    const candidates = [];\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let matchScore = 0;\n      const matchedTokens = [];\n      for (const token of tokens) {\n        if (haystack.includes(token)) {\n          matchScore += 1;\n          matchedTokens.push(token);\n        }\n      }\n      if (matchScore <= 0) continue;\n\n      const agentScore = Number(agent.score_avg ?? agent.score ?? 0) || 0;\n      const quality = Math.min(agentScore, 10) / 10;\n      const uses = Number(agent.uses ?? 0) || 0;\n      const updatedMs = Date.parse(agent.updated_at || agent.last_used || agent.created_at || '') || oldestTime;\n      const recency = Math.max(0, Math.min(1, (updatedMs - oldestTime) / timeSpan));\n      const freshImprovedBonus = recency >= 0.65 && agentScore >= 8 ? 0.55 : (recency >= 0.65 && agentScore >= 7 ? 0.25 : 0);\n      const finalScore = (matchScore * 1.35) + (quality * 0.95) + (recency * 0.55) + (Math.min(uses, 12) / 120) + freshImprovedBonus;\n\n      candidates.push({\n        agent,\n        matchScore,\n        matchedTokens: [...new Set(matchedTokens)].slice(0, 5),\n        agentScore,\n        uses,\n        updatedMs,\n        recency,\n        finalScore\n      });\n    }\n\n    candidates.sort((a, b) =>\n      (b.finalScore - a.finalScore) ||\n      (b.agentScore - a.agentScore) ||\n      (b.updatedMs - a.updatedMs)\n    );\n\n    let best = candidates[0] || null;\n    if (best) {\n      for (const candidate of candidates.slice(1)) {\n        const closeMatch = candidate.matchScore >= best.matchScore - 0.5;\n        const fresherAndNoWorse = candidate.updatedMs > best.updatedMs && candidate.agentScore >= best.agentScore - 0.25;\n        const closeEnough = candidate.finalScore >= best.finalScore - 0.35;\n        if (closeMatch && fresherAndNoWorse && closeEnough) {\n          best = candidate;\n        }\n      }\n    }\n\n    if (best && best.finalScore >= 1.85 && best.matchScore >= 1) {\n      action = 'use_agent';\n      agent_name = best.agent.name;\n      const updated = best.agent.updated_at || best.agent.last_used || best.agent.created_at || 'ОюОљ ОаОЕОъОе';\n      const freshness = best.recency >= 0.65 ? 'ОбОЊОЏОаОЎ ОЎОЌОАОЎОф' : 'ОЋОфОЎОД ОљОЉОю ОбОЊОЎОЎОЪ ОъОфОљОЎОЮ';\n      selectionReason = `ОаОЉОЌОе ${agent_name} ОЏОЎ ОћОЋОљ ОъОфОљОЎОЮ ОюОъОЎОюОЎОЮ: ${best.matchedTokens.join(', ') || 'ОћОфОљОъОћ ОЏОюОюОЎОф'}. ОдОЎОЋОЪ: ${best.agentScore || 'ОЌОЊОЕ'}, ОЕОЎОъОЋОЕОЎОЮ: ${best.uses}, ОбОЊОЏОЋОЪ ОљОЌОеОЋОЪ: ${String(updated).replace('T', ' ').substring(0, 16)}. ОћОбОЊОцОћ: ${freshness}; ОАОЋОЏОЪ ОЌОЊОЕ ОЎОЋОфОе ОбОЮ ОдОЎОЋОЪ ОЊОЋОъОћ ОљОЋ ОњОЉОЋОћ ОъОДОЉОю ОДОЊОЎОъОЋОф.`;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? (selectionReason || `ОаОЉОЌОе ${agent_name} ОюОцОЎ ОћОфОљОъОћ, ОдОЎОЋОЪ, ОбОЊОЏОаОЎОЋОф ОЋОЕОЎОъОЋОЕОЎОЮ ОДОЋОЊОъОЎОЮ.`)\n  : (action === 'create_agent'\n    ? 'ОюОљ ОаОъОдОљ ОАОЋОЏОЪ ОъОфОљОЎОЮ ОъОАОцОЎОД, ОюОЏОЪ ОаОЋОдОе ОАОЋОЏОЪ ОЌОЊОЕ.'\n    : (action === 'ask_name' ? 'ОъОЕОфОъОЕ ОЌОЊОЕ ОюОюОљ ОЕОЮ ОЕОъОЋОе.' : (action === 'save_name' ? 'ОаОЕОъОе ОЕОЮ ОъОЕОфОъОЕ ОЌОЊОЕ.' : 'ОќОЋОћОфОћ ОЕОЎОЌОћ ОеОњОЎОюОћ ОљОЋ ОЉОДОЕОф ОъОЎОЊОб ОљОЎОЕОЎ.')));\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId } }];"},"id":"router-llm","name":"Router LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,304]},{"parameters":{"jsCode":"const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId\n}}];"},"id":"parse-router","name":"Parse Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ask-name","leftValue":"={{ $json.action }}","rightValue":"ask_name","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"save-name","leftValue":"={{ $json.action }}","rightValue":"save_name","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"chitchat","leftValue":"={{ $json.action }}","rightValue":"chitchat","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"use-agent","leftValue":"={{ $json.action }}","rightValue":"use_agent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"create-agent","leftValue":"={{ $json.action }}","rightValue":"create_agent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"switch-action","name":"Switch Action","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1328,304]},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwen2.5:7b"},{"name":"prompt","value":"=ОљОфОћ ОбОЉОЊ, ОбОЋОќОе ОўОюОњОеОЮ ОъОћОЎОе ОЉОбОЉОеОЎОф.\\nОбОаОћ ОЉОбОЉОеОЎОф ОўОЉОбОЎОф ОЋОДОдОеОћ. ОљОю ОфОЕОфОъОЕ ОЉОЕОцОћ ОљОЌОеОф.\\n\\nОАОЋОЏОаОЎОЮ ОќОъОЎОаОЎОЮ:\\n{{ $('Prepare Data').first().json.agentList }}\\n\\nОћОДОЕОе ОљОЌОеОЋОЪ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nОЉОДОЕОф ОћОъОЕОфОъОЕ:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nОЌОЋОЉОћ ОъОЋОЌОюОўОф:\\nОбОаОћ ОЉОбОЉОеОЎОф ОЉОюОЉОЊ.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОАОЎОаОЎОф.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОфОЋОЋОЎОЮ ОАОЎОаОЎОЎОЮ.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОбОеОЉОЎОф.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОфОЋОЋОЎОЮ ОбОеОЉОЎОЎОЮ.\\nОљОЮ ОћОћОДОЕОе ОЏОЋОюОю ОбОеОЉОЎОф ОљОЋ ОЕОцОћ ОќОеОћ, ОћОфОбОюОЮ ОъОъОаОћ ОЋОбОаОћ ОЉОбОЉОеОЎОф ОаОДОЎОЎОћ ОЉОюОЉОЊ.\\nОљОЮ ОќОЋ ОфОЕОЋОЉОф ОДОЋОЊ, ОЕОъОЋОе ОљОф ОћОДОЋОЊ ОЉОъОЉОаОћ ОеОњОЎОю ОЋОДОеОЎОљ, ОЉОюОЎ ОюОцОеОД ОфОњОЎОЋОф, ОЕОъОЋОф ОъОЕОфОаОЎОЮ ОљОЋ ОъОЎОюОЎОЮ ОЉОљОаОњОюОЎОф ОюОЕОЋОеОЋОф.\\nОљОЮ ОљОЎОЪ ОюОџ ОъОЎОЊОб ОљОъОЎОфОЎ, ОфОњОЎОЊ ОЕОљОЎОЪ ОъОЎОЊОб ОЕОъОЋОе.\\n\\nОЕОЮ ОћОъОЕОфОъОЕ ОюОЕОЎОЌОћ:\\n{{ $('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ' }}\\nОцОаОћ ОљОюОЎОЋ ОЉОЕОЮ ОЕОюОЋ ОЉОўОЉОбОЎОЋОф, ОюОљ ОЉОЏОю ОъОЕОцОў.\\nОљОЮ ОЎОЕ ОЉОфОЕОЋОЉОћ ОДОЋОЊ, ОћОЌОќОе ОљОф ОћОДОЋОЊ ОЉОфОЋОџ ОњОЊОе ОДОЋОЊ ОъОЕОЋОюОЕОф ОбОЮ ОЕОЮ ОЕОцОћ ОЏОљОЕОе ОљОцОЕОе. ОљОю ОфОцОеОД ОЕОъОЋОф ОъОЕОфОаОЎОЮ, ОфОњОЎОЋОф ОљОЋ ОъОЎОюОЎОЮ ОЉОљОаОњОюОЎОф ОЉОфОЋОџ ОДОЋОЊ."},{"name":"stream","value":false},{"name":"options","value":{"num_predict":350,"num_ctx":1536,"temperature":0.4}}]},"options":{}},"id":"chitchat-llm","name":"Chitchat LLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,64],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify(((text, fallback) => { const raw = String(text || ''); const bad = /(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; })($('Parse Router').first().json.direct_reply || $('Chitchat LLM').first().json.response, 'ОюОљ ОћОфОДОЉОюОћ ОфОЕОЋОЉОћ ОъОюОљОћ.')) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}","options":{}},"id":"save-memory-chitchat","name":"Save Memory (Chitchat)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,64],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/i;\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const codePane = (value) => {\n    const code = String(value || '').replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = String(value || '').replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /```([A-Za-z0-9_+#.-]+)?[^\\n`]*\\n?([\\s\\S]*?)```/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(escapeHtml(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (tail) parts.push(matched ? escapeHtml(tail) : codePane(tail));\n    if (!matched && !parts.length) return codePane(source);\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  if (keepCode) return formatCode(cleaned);\n  return escapeHtml(cleaned)\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|ОДОЋОЊ|ОбОъОЋОЊ|ОЊОБ|ОцОЋОаОДОдОЎОћ|ОАОДОеОЎОцОў|ОДОЋОъОцОЋОаОаОў|ОљОфОе|ОўОЋОцОА|ОЏОцОфОЋОе)/i.test(task + ' ' + agent);\n  })());\n  const direct = $('Parse Router').first().json.direct_reply;\n  if (direct) return safe(direct, 'ОюОљ ОћОфОДОЉОюОћ ОфОЕОЋОЉОћ ОъОюОљОћ. ОаОАОћ ОЕОЋОЉ ОЉОбОЋОЊ ОеОњОб.', keepCode);\n  const body = safe($('Chitchat LLM').first().json.response, 'ОюОљ ОћОфОДОЉОюОћ ОфОЕОЋОЉОћ ОъОюОљОћ. ОаОАОћ ОЕОЋОЉ ОЉОбОЋОЊ ОеОњОб.', keepCode);\n  return `РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОъОАОюОЋОю: ОЕОЎОЌОћ ОеОњОЎОюОћ\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОъОЕОфОъОЕ:\nРћЃ ${$('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ'}\nРћЃ\nРћЃ ОЌОЎОЋОЋОЎ: ОбОЋОаОћ ОЎОЕОЎОеОЋОф\nРћЃ ОќОЎОЏОеОЋОЪ: ОљОЎОЕОЎ ОЉОюОЉОЊ\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\n\n${body}`;\n})() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-chitchat","name":"Telegram - Chitchat","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1984,64],"webhookId":"4558b5d5-020e-4317-984e-e336652c86ab","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwen2.5:7b"},{"name":"prompt","value":"=ОљОфОћ ОћОАОЋОЏОЪ:\\n{{ $('Parse Router').first().json.agent_name }}\\n\\nОбОаОћ ОъОћОе, ОЎОЕОЎОе ОЋОЕОЎОъОЋОЕОЎ.\\n\\nОћОДОЕОе ОљОЌОеОЋОЪ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nОъОЕОЎОъОћ:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nОЌОЋОЉОћ ОъОЋОЌОюОўОф:\\nОбОаОћ ОЉОбОЉОеОЎОф ОЉОюОЉОЊ.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОАОЎОаОЎОф.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОфОЋОЋОЎОЮ ОАОЎОаОЎОЎОЮ.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОбОеОЉОЎОф.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОфОЋОЋОЎОЮ ОбОеОЉОЎОЎОЮ.\\nОљОЮ ОћОћОДОЕОе ОЏОЋОюОю ОбОеОЉОЎОф ОљОЋ ОЕОцОћ ОќОеОћ, ОћОфОбОюОЮ ОъОъОаОћ ОЋОбОаОћ ОЉОбОЉОеОЎОф ОаОДОЎОЎОћ ОЉОюОЉОЊ.\\nОљОАОЋОе ОюОбОеОЉОЉ ОЕОцОЋОф ОЉОфОЋОЏОЪ ОеОњОЎОю.\\nОљОЮ ОќОЋ ОфОЕОЋОЉОф ОДОЋОЊ, ОЕОъОЋОе ОљОф ОћОДОЋОЊ ОЉОъОЉОаОћ ОеОњОЎОю ОЋОДОеОЎОљ, ОЉОюОЎ ОюОцОеОД ОфОњОЎОЋОф, ОЕОъОЋОф ОъОЕОфОаОЎОЮ ОљОЋ ОъОЎОюОЎОЮ ОЉОљОаОњОюОЎОф ОюОЕОЋОеОЋОф.\\nОљОЮ ОљОЎОЪ ОюОџ ОъОЎОЊОб ОљОъОЎОфОЎ, ОфОњОЎОЊ ОЕОљОЎОЪ ОъОЎОЊОб ОЕОъОЋОе.\\n\\nОЕОЮ ОћОъОЕОфОъОЕ ОюОЕОЎОЌОћ:\\n{{ $('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ' }}\\nОцОаОћ ОљОюОЎОЋ ОЉОЕОЮ ОЕОюОЋ ОЉОўОЉОбОЎОЋОф, ОюОљ ОЉОЏОю ОъОЕОцОў.\\nОљОЮ ОЎОЕ ОЉОфОЕОЋОЉОћ ОДОЋОЊ, ОћОЌОќОе ОљОф ОћОДОЋОЊ ОЉОфОЋОџ ОњОЊОе ОДОЋОЊ ОъОЕОЋОюОЕОф ОбОЮ ОЕОЮ ОЕОцОћ ОЏОљОЕОе ОљОцОЕОе. ОљОю ОфОцОеОД ОЕОъОЋОф ОъОЕОфОаОЎОЮ, ОфОњОЎОЋОф ОљОЋ ОъОЎОюОЎОЮ ОЉОљОаОњОюОЎОф ОЉОфОЋОџ ОДОЋОЊ."},{"name":"stream","value":false},{"name":"options","value":{"num_predict":550,"num_ctx":2048,"temperature":0.25}}]},"options":{}},"id":"execute-agent","name":"Execute Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,304],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/i;\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) {\n    return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  }\n  return cleaned\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute Agent').first().json.response, 'ОюОљ ОћОфОДОЉОюОћ ОфОЕОЋОЉОћ ОъОюОљОћ.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|ОДОЋОЊ|ОбОъОЋОЊ|ОЊОБ|ОцОЋОаОДОдОЎОћ|ОАОДОеОЎОцОў|ОДОЋОъОцОЋОаОаОў)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}","options":{}},"id":"save-memory-agent","name":"Save Memory (Agent)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,304],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/i;\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const codePane = (value) => {\n    const code = String(value || '').replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = String(value || '').replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /```([A-Za-z0-9_+#.-]+)?[^\\n`]*\\n?([\\s\\S]*?)```/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(escapeHtml(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (tail) parts.push(matched ? escapeHtml(tail) : codePane(tail));\n    if (!matched && !parts.length) return codePane(source);\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  if (keepCode) return formatCode(cleaned);\n  return escapeHtml(cleaned)\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|ОДОЋОЊ|ОбОъОЋОЊ|ОЊОБ|ОцОЋОаОДОдОЎОћ|ОАОДОеОЎОцОў|ОДОЋОъОцОЋОаОаОў|ОљОфОе|ОўОЋОцОА|ОЏОцОфОЋОе)/i.test(task + ' ' + agent);\n  })());\n  const body = safe($('Execute Agent').first().json.response, 'ОюОљ ОћОфОДОЉОюОћ ОфОЕОЋОЉОћ ОъОюОљОћ. ОаОАОћ ОЕОЋОЉ ОЉОбОЋОЊ ОеОњОб.', keepCode);\n  return `РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОаОдОЎОњ ОаОЉОЌОе\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОъОЕОфОъОЕ:\nРћЃ ${$('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ'}\nРћЃ\nРћЃ ОЕОЮ:\nРћЃ ${safe($('Parse Router').first().json.agent_name, 'ОАОЋОЏОЪ ОДОЎОЎОЮ', false)}\nРћЃ\nРћЃ ОАОЎОЉОћ:\nРћЃ ${safe($('Parse Router').first().json.decision_reason || 'ОћОфОљОъОћ ОўОЋОЉОћ ОЉОЎОЋОфОе ОюОцОЎ ОћОеОЕОЎОъОћ ОЋОћОдОЎОЋОаОЎОЮ', 'ОћОфОљОъОћ ОўОЋОЉОћ ОЉОЎОЋОфОе ОюОцОЎ ОћОеОЕОЎОъОћ ОЋОћОдОЎОЋОаОЎОЮ', false)}\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\n\n${body}`;\n})() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-result","name":"Telegram - Result","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1984,304],"webhookId":"f05da3bd-3aec-4eac-9c88-b882240b5daf","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gemma2:2b"},{"name":"prompt","value":"=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for must be clean Hebrew when the task is Hebrew. No Arabic script, no Chinese script, no foreign-language filler.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"ОъОЕОцОў ОљОЌОЊ ОЉОеОЋОе ОбОю ОћОфОцОДОЎОЊ\",\n  \"good_for\": \"ОЕОЎОъОЋОЕ ОеОљОЕОЋОЪ, ОЕОЎОъОЋОЕ ОЕОаОЎ, ОЕОЎОъОЋОЕ ОЕОюОЎОЕОЎ\"\n}"},{"name":"stream","value":false},{"name":"options","value":{"num_predict":180,"num_ctx":1024,"temperature":0.2}}]},"options":{}},"id":"create-agent-llm","name":"Create Agent LLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,544],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9Ољ-Оф\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nfunction inferAgentName(task) {\n  const t = String(task || '').toLowerCase();\n  const parts = [];\n  if (/ОъОЋОЊОЋОю|module/.test(t)) parts.push('module');\n  if (/ОаОфОЋОа|data|db|database/.test(t)) parts.push('data');\n  if (/front|frontend|ui|ОъОАОџ|ОъОъОЕОД/.test(t)) parts.push('frontend');\n  if (/back|backend|ОЕОеОф/.test(t)) parts.push('backend');\n  if (/ОЉОЊОЎОД|ОЋОЋОЊОљ|ОљОЎОъОЋОф|validate|test|qa/.test(t)) parts.push('validation');\n  if (/ОаОЎОАОЋОЌ|ОЏОфОЎОЉ|ОфОЋОЏОЪ|ОўОДОАОў|copy/.test(t)) parts.push('writing');\n  if (/ОДОЋОЊ|code|bug|debug|ОЕОњОЎОљОћ/.test(t)) parts.push('code');\n  if (/ОљОЋОўОЋОъ|workflow|ОфОћОюОЎОџ/.test(t)) parts.push('automation');\n  const unique = [...new Set(parts)].slice(0, 3);\n  if (unique.length >= 2) return cleanName(unique.join('_') + '_agent');\n  if (unique.length === 1) return cleanName(unique[0] + '_task_agent');\n  return 'hebrew_task_agent';\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || 'ОАОЋОЏОЪ ОЎОЎОбОЋОЊОЎ ОЕОаОЋОдОе ОюОцОЎ ОћОЉОДОЕОћ ОћОљОЌОеОЋОаОћ.',\n  good_for: parsed.good_for || 'ОъОЕОЎОъОЋОф ОЊОЋОъОЋОф ОюОЉОДОЕОћ ОћОљОЌОеОЋОаОћ',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"},"id":"parse-new-agent","name":"Parse New Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,544]},{"parameters":{"method":"POST","url":"http://127.0.0.1:5000/agents","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}","options":{}},"id":"save-registry","name":"Save to Registry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,544],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwen2.5:7b"},{"name":"prompt","value":"=ОљОфОћ ОћОАОЋОЏОЪ:\\n{{ $('Parse New Agent').first().json.name }}\\n\\nОбОаОћ ОъОћОе, ОЎОЕОЎОе ОЋОЕОЎОъОЋОЕОЎ.\\n\\nОћОДОЕОе ОљОЌОеОЋОЪ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nОъОЕОЎОъОћ:\\n{{ $('Parse New Agent').first().json.userMessage }}\\n\\nОЌОЋОЉОћ ОъОЋОЌОюОўОф:\\nОбОаОћ ОЉОбОЉОеОЎОф ОЉОюОЉОЊ.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОАОЎОаОЎОф.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОфОЋОЋОЎОЮ ОАОЎОаОЎОЎОЮ.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОбОеОЉОЎОф.\\nОљОАОЋОе ОюОћОЋОдОЎОљ ОфОЋОЋОЎОЮ ОбОеОЉОЎОЎОЮ.\\nОљОЮ ОћОћОДОЕОе ОЏОЋОюОю ОбОеОЉОЎОф ОљОЋ ОЕОцОћ ОќОеОћ, ОћОфОбОюОЮ ОъОъОаОћ ОЋОбОаОћ ОЉОбОЉОеОЎОф ОаОДОЎОЎОћ ОЉОюОЉОЊ.\\nОљОАОЋОе ОюОбОеОЉОЉ ОЕОцОЋОф ОЉОфОЋОЏОЪ ОеОњОЎОю.\\nОљОЮ ОќОЋ ОфОЕОЋОЉОф ОДОЋОЊ, ОЕОъОЋОе ОљОф ОћОДОЋОЊ ОЉОъОЉОаОћ ОеОњОЎОю ОЋОДОеОЎОљ, ОЉОюОЎ ОюОцОеОД ОфОњОЎОЋОф, ОЕОъОЋОф ОъОЕОфОаОЎОЮ ОљОЋ ОъОЎОюОЎОЮ ОЉОљОаОњОюОЎОф ОюОЕОЋОеОЋОф.\\nОљОЮ ОљОЎОЪ ОюОџ ОъОЎОЊОб ОљОъОЎОфОЎ, ОфОњОЎОЊ ОЕОљОЎОЪ ОъОЎОЊОб ОЕОъОЋОе.\\n\\nОЕОЮ ОћОъОЕОфОъОЕ ОюОЕОЎОЌОћ:\\n{{ $('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ' }}\\nОцОаОћ ОљОюОЎОЋ ОЉОЕОЮ ОЕОюОЋ ОЉОўОЉОбОЎОЋОф, ОюОљ ОЉОЏОю ОъОЕОцОў.\\nОљОЮ ОЎОЕ ОЉОфОЕОЋОЉОћ ОДОЋОЊ, ОћОЌОќОе ОљОф ОћОДОЋОЊ ОЉОфОЋОџ ОњОЊОе ОДОЋОЊ ОъОЕОЋОюОЕОф ОбОЮ ОЕОЮ ОЕОцОћ ОЏОљОЕОе ОљОцОЕОе. ОљОю ОфОцОеОД ОЕОъОЋОф ОъОЕОфОаОЎОЮ, ОфОњОЎОЋОф ОљОЋ ОъОЎОюОЎОЮ ОЉОљОаОњОюОЎОф ОЉОфОЋОџ ОДОЋОЊ."},{"name":"stream","value":false},{"name":"options","value":{"num_predict":600,"num_ctx":2048,"temperature":0.25}}]},"options":{}},"id":"execute-new-agent","name":"Execute New Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,544],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nconst badResponse = /(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/i.test(response);\nlet score = badResponse ? 3 : 7;\nif (!badResponse && response.length > 80) score += 1;\nif (!badResponse && response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: badResponse ? 'ОћОфОЕОЋОЉОћ ОћОеОљОЕОЋОаОЎОф ОюОљ ОћОЎОфОћ ОаОДОЎОЎОћ ОЋОюОЏОЪ ОаОцОАОюОћ ОюОЕОЎОъОЋОЕ ОЌОЋОќОе' : (score >= 8 ? 'ОаОеОљОћ ОўОЋОЉ ОЉОЉОЊОЎОДОћ ОъОћОЎОеОћ' : 'ОаОЋОдОе ОАОЋОЏОЪ, ОљОЉОю ОћОфОЕОЋОЉОћ ОћОеОљОЕОЋОаОЎОф ОДОдОеОћ ОљОЋ ОЌОюОДОЎОф'),\n  improvement: 'ОљОцОЕОе ОюОћОеОЎОЦ ОЕОЎОцОЋОе ОЉОћОъОЕОџ',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"},"id":"evaluator-llm","name":"Evaluator LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,544],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'ОюОљ ОаОЎОфОЪ ОюОћОбОеОЎОџ', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"},"id":"parse-evaluator","name":"Parse Evaluator","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,544],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://127.0.0.1:5000/agents","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}","options":{}},"id":"update-agent-score","name":"Update Agent Score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,544],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/i;\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) {\n    return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  }\n  return cleaned\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute New Agent').first().json.response, 'ОћОАОЋОЏОЪ ОаОЋОдОе ОЋОаОЕОъОе. ОфОЋОдОе ОеОљОЕОЋОаОЎ ОаОДОЎ ОаОЕОъОе ОюОЕОЎОъОЋОЕ ОЌОЋОќОе.', ((() => {\n    const task = String($('Parse New Agent').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse New Agent').first().json.name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|ОДОЋОЊ|ОбОъОЋОЊ|ОЊОБ|ОцОЋОаОДОдОЎОћ|ОАОДОеОЎОцОў|ОДОЋОъОцОЋОаОаОў)/i.test(task + ' ' + agent);\n  })()))) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || 'ОюОљ ОаОъОдОљ ОАОЋОЏОЪ ОъОфОљОЎОЮ ОъОАОцОЎОД, ОюОЏОЪ ОаОЋОдОе ОАОЋОЏОЪ ОЌОЊОЕ.') }}}","options":{}},"id":"save-memory-new","name":"Save Memory (New Agent)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,544],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse New Agent').first().json.chatId }}","text":"={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(ОќОЎОЪ|ОЏОЋОА|ОЕОеОъОЋОў|ОќОЋОаОћ|ОъОќОЊОЎОЎОЪ|ОЉОЪ ОќОЋОаОћ|fuck|sex|porn)/i;\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const codePane = (value) => {\n    const code = String(value || '').replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = String(value || '').replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /```([A-Za-z0-9_+#.-]+)?[^\\n`]*\\n?([\\s\\S]*?)```/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(escapeHtml(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (tail) parts.push(matched ? escapeHtml(tail) : codePane(tail));\n    if (!matched && !parts.length) return codePane(source);\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  if (keepCode) return formatCode(cleaned);\n  return escapeHtml(cleaned)\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n});\n  const keepCode = ((() => {\n    const task = String($('Parse New Agent').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse New Agent').first().json.name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|ОДОЋОЊ|ОбОъОЋОЊ|ОЊОБ|ОцОЋОаОДОдОЎОћ|ОАОДОеОЎОцОў|ОДОЋОъОцОЋОаОаОў|ОљОфОе|ОўОЋОцОА|ОЏОцОфОЋОе)/i.test(task + ' ' + agent);\n  })());\n  const fallback = 'ОћОАОЋОЏОЪ ОаОЋОдОе ОЋОаОЕОъОе. ОфОЋОдОе ОеОљОЕОЋОаОЎ ОаОДОЎ ОаОЕОъОе ОюОЕОЎОъОЋОЕ ОЌОЋОќОе.';\n  const body = safe($('Execute New Agent').first().json.response, fallback, keepCode);\n  return `РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОАОЋОЏОЪ ОЌОЊОЕ ОаОЋОдОе\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\nРћЃ ОъОЕОфОъОЕ:\nРћЃ ${$('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ'}\nРћЃ\nРћЃ ОЕОЮ:\nРћЃ ${safe($('Parse New Agent').first().json.name, 'new_task_agent', false)}\nРћЃ\nРћЃ ОАОЎОЉОћ:\nРћЃ ОюОљ ОаОъОдОљ ОАОЋОЏОЪ ОъОфОљОЎОЮ ОъОАОцОЎОД\nРћЃ\nРћЃ ОдОЎОЋОЪ:\nРћЃ ${$('Parse Evaluator').first().json.score || 7}/10\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\n\n${body}\n\nОЕОюОЌ ОцОЎОеОЋОў ОЏОЊОЎ ОюОеОљОЋОф ОћОАОЉОе ОбОю ОћОдОЎОЋОЪ`;\n})() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-new-agent","name":"Telegram - New Agent","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3312,544],"webhookId":"4f99d8b8-3fe0-471f-a0ec-d0a66d741827","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"url":"=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}","options":{}},"id":"read-profile","name":"Read Profile","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,144],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}","options":{}},"id":"save-profile-ask","name":"Save Profile Ask","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-160],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}","options":{}},"id":"save-profile-name","name":"Save Profile Name","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-24],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ ((text) => {\n  const cleaned = String(text || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .replace(/[\\\\*`#]/g, '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  return cleaned || 'ОДОЎОЉОюОфОЎ.';\n})($('Parse Router').first().json.direct_reply) }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-direct-profile","name":"Telegram - Direct","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-96],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ 'РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\\nРћЃ ОДОЎОЉОюОфОЎ ОљОф ОћОЉОДОЕОћ\\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\\nРћЃ ОъОЕОфОъОЕ: ' + ($('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ') + '\\nРћЃ ОъОАОюОЋОю: ОЕОЎОЌОћ ОеОњОЎОюОћ\\nРћЃ ОъОдОЉ: ОъОаОАОЌ ОфОЕОЋОЉОћ\\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ' }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-progress-chitchat-safe","name":"Telegram - Progress Chitchat","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,64],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ 'РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\\nРћЃ ОДОЎОЉОюОфОЎ ОљОф ОћОЉОДОЕОћ\\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\\nРћЃ ОъОЕОфОъОЕ: ' + ($('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ') + '\\nРћЃ ОъОАОюОЋОю: ОаОдОЎОњ ОДОЎОЎОЮ\\nРћЃ ОаОдОЎОњ: ' + ($('Parse Router').first().json.agent_name || '') + '\\nРћЃ ОъОдОЉ: ОъОеОЎОЦ ОљОф ОћОаОдОЎОњ\\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ' }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-progress-agent-safe","name":"Telegram - Progress Agent","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,304],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ 'РћЈРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\\nРћЃ ОДОЎОЉОюОфОЎ ОљОф ОћОЉОДОЕОћ\\nРћБРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ\\nРћЃ ОъОЕОфОъОЕ: ' + ($('Parse Router').first().json.userName || 'ОъОЕОфОъОЕ') + '\\nРћЃ ОъОАОюОЋОю: ОЎОдОЎОеОф ОаОдОЎОњ ОЌОЊОЕ\\nРћЃ ОъОдОЉ: ОЉОЋОаОћ ОЋОъОЌОќОЎОе ОфОЋОдОе\\nРћЌРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂРћЂ' }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-progress-new-agent-safe","name":"Telegram - Progress New Agent","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,544],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}","options":{}},"id":"sync-profile-inline","name":"Sync Profile Inline","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,704],"onError":"continueRegularOutput"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Read Registry","type":"main","index":0}]]},"Read Registry":{"main":[[{"node":"Read Memory","type":"main","index":0}]]},"Read Memory":{"main":[[{"node":"Read Profile","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Router LLM","type":"main","index":0}]]},"Router LLM":{"main":[[{"node":"Parse Router","type":"main","index":0}]]},"Parse Router":{"main":[[{"node":"Switch Action","type":"main","index":0},{"node":"Sync Profile Inline","type":"main","index":0}]]},"Switch Action":{"main":[[{"node":"Save Profile Ask","type":"main","index":0}],[{"node":"Save Profile Name","type":"main","index":0}],[{"node":"Telegram - Progress Chitchat","type":"main","index":0}],[{"node":"Telegram - Progress Agent","type":"main","index":0}],[{"node":"Telegram - Progress New Agent","type":"main","index":0}]]},"Chitchat LLM":{"main":[[{"node":"Save Memory (Chitchat)","type":"main","index":0}]]},"Save Memory (Chitchat)":{"main":[[{"node":"Telegram - Chitchat","type":"main","index":0}]]},"Execute Agent":{"main":[[{"node":"Save Memory (Agent)","type":"main","index":0}]]},"Save Memory (Agent)":{"main":[[{"node":"Telegram - Result","type":"main","index":0}]]},"Create Agent LLM":{"main":[[{"node":"Parse New Agent","type":"main","index":0}]]},"Parse New Agent":{"main":[[{"node":"Save to Registry","type":"main","index":0}]]},"Save to Registry":{"main":[[{"node":"Execute New Agent","type":"main","index":0}]]},"Execute New Agent":{"main":[[{"node":"Evaluator LLM","type":"main","index":0}]]},"Evaluator LLM":{"main":[[{"node":"Parse Evaluator","type":"main","index":0}]]},"Parse Evaluator":{"main":[[{"node":"Update Agent Score","type":"main","index":0}]]},"Update Agent Score":{"main":[[{"node":"Save Memory (New Agent)","type":"main","index":0}]]},"Save Memory (New Agent)":{"main":[[{"node":"Telegram - New Agent","type":"main","index":0}]]},"Read Profile":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Save Profile Ask":{"main":[[{"node":"Telegram - Direct","type":"main","index":0}]]},"Save Profile Name":{"main":[[{"node":"Telegram - Direct","type":"main","index":0}]]},"Telegram - Progress Chitchat":{"main":[[{"node":"Chitchat LLM","type":"main","index":0}]]},"Telegram - Progress Agent":{"main":[[{"node":"Execute Agent","type":"main","index":0}]]},"Telegram - Progress New Agent":{"main":[[{"node":"Create Agent LLM","type":"main","index":0}]]},"Sync Profile Inline":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"75fc8c86-174e-4566-9a48-7ec47ecab73f","activeVersionId":"75fc8c86-174e-4566-9a48-7ec47ecab73f","versionCounter":87,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-31T03:07:56.899Z","createdAt":"2026-05-31T03:07:56.899Z","role":"workflow:owner","workflowId":"WORKINGSTABLEV6","projectId":"cB0HY6hwxKY3jP5p","project":{"updatedAt":"2026-05-27T18:13:22.667Z","createdAt":"2026-05-27T18:11:32.809Z","id":"cB0HY6hwxKY3jP5p","name":"ОбОЋОцОе ОЕОЌОе <offer0528813271@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e20300ad-9be9-4e1d-99d0-0742550133b9"}}],"versionMetadata":{"name":null,"description":null}}]