📥 קלט/agent_v6/n8n_exports/WORKINGSTABLEV6_code_display_verified.json
[{"updatedAt":"2026-05-31T08:20:53.000Z","createdAt":"2026-05-31T03:07:56.897Z","id":"WORKINGSTABLEV6","name":"Self-Evolving Agent v6 - WORKING STABLE","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"telegram-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,304],"webhookId":"a4c6dcb8-696a-4509-ade3-c7246f389ef9","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"url":"http://127.0.0.1:5000/agents","options":{}},"id":"read-registry","name":"Read Registry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,304],"onError":"continueRegularOutput"},{"parameters":{"url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","options":{}},"id":"read-memory","name":"Read Memory","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,304],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nfunction cleanTextForPrompt(value) {\n  return String(value || '')\n    .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '')\n    .replace(/(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst bannedAgentNames = new Set(['agent', 'snakecaseagent', 'snake_case_agent', 'snake_case_name', 'custom_task_agent', 'new_agent', 'helper', 'assistant']);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active' && !bannedAgentNames.has(String(a.name || '').toLowerCase()))\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${cleanTextForPrompt(a.description)} (מתאים ל: ${cleanTextForPrompt(a.good_for || '')}; ציון: ${a.score_avg ?? a.score ?? 'חדש'}; שימושים: ${a.uses ?? 0})`).join('\\n')\n  : 'אין עדיין סוכנים';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${cleanTextForPrompt(m.task).substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'עוזר' : `עוזר [${m.agent}]`;\n    return `משתמש: ${cleanTextForPrompt(m.task).substring(0, 180)}\\n${assistant}: ${cleanTextForPrompt(m.result).substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\n\nconst skipHistoryTasks = new Set(['הי', 'היי', 'שלום', 'מה נשמע', 'מה קורה']);\nconst historyTaskWords = ['באיזה סוכן', 'איזה סוכן השתמש', 'איזה נציג השתמש', 'היסטוריית סוכנים', 'שימושי סוכנים', 'זיכרון סוכנים'];\nconst agentHistoryRows = [...memory].reverse()\n  .filter(m => {\n    const task = cleanTextForPrompt(m.task || '');\n    const isHistoryTask = historyTaskWords.some(word => task.includes(word));\n    return task && m.agent && !skipHistoryTasks.has(task) && !isHistoryTask;\n  })\n  .slice(0, 12)\n  .map((m, index) => {\n    const task = cleanTextForPrompt(m.task || '').substring(0, 180) || 'לא נשמרה משימה';\n    const agent = String(m.agent || 'לא ידוע').trim() || 'לא ידוע';\n    const score = (m.score === null || m.score === undefined || m.score === '') ? 'אין' : String(m.score) + '/10';\n    const time = String(m.timestamp || '').replace('T', ' ').substring(0, 16) || 'לא נשמר';\n    const reason = cleanTextForPrompt(m.decision_reason || m.deductions || '').substring(0, 180) || 'לא נשמרה סיבה';\n    return `${index + 1}. משימה:\n${task}\nסוכן:\n${agent}\nציון:\n${score}\nסיבה:\n${reason}\nזמן:\n${time}`;\n  });\n\nconst agentHistory = agentHistoryRows.length\n  ? `┏━━━━━━━━━━━━━━━━━━\n┃ שימושי סוכנים מהזיכרון\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${userName || 'משתמש'}\n┃\n${agentHistoryRows.join('\\n\\n')}\n┗━━━━━━━━━━━━━━━━━━`\n  : `${userName || 'משתמש'}, אין עדיין שימושי סוכנים שמורים בזיכרון האישי שלך.`;\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || 'לא נשמר פירוט ניכויים',\n  result: cleanTextForPrompt(lastScored.result).substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, agentHistory, profile, userName, awaitingName, profileExists } }];"},"id":"prepare-data","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304]},{"parameters":{"jsCode":"const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst exactCasual = ['הי', 'היי', 'הייי', 'הלו', 'שלום', 'בוקר טוב', 'ערב טוב', 'לילה טוב', 'מה נשמע', 'מה קורה', 'מה המצב', 'תודה', 'סבבה', 'אחלה'];\nconst detailWords = ['פירוט', 'תן פירוט', 'פרט', 'שלח פירוט', 'פרטים על הציון', 'למה הציון'];\nconst chitchatWords = ['מי אתה', 'עזרה', 'מה אתה יודע לעשות'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'דיבאג', 'קוד', 'פונקציה', 'סקריפט', 'שגיאה'];\nconst createAgentWords = ['צור לי סוכן', 'תיצור לי סוכן', 'בנה לי סוכן', 'תבנה לי סוכן', 'תכין לי סוכן', 'צור סוכן', 'סוכן חדש', 'נציג חדש'];\nconst historyWords = ['באיזה סוכן', 'איזה סוכן השתמש', 'איזה נציג השתמש', 'סוכן השתמשת', 'נציג השתמשת', 'היסטוריית סוכנים', 'שימושי סוכנים', 'זיכרון סוכנים', 'סוכן לאיזו משימה', 'נציג לאיזו משימה'];\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:קוראים לי|השם שלי|אני)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(קוראים לי|השם שלי|אני)\\s+/i, '')\n    .replace(/(?:^|\\s)(תיצור|צור|תעשה|בנה|תבנה|תכין|הכן|צריך|רוצה|סוכן|נציג).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'create_agent';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = msg;\nlet selectionReason = '';\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = 'ברוך הבא. איך קוראים לך?\\n\\nאחרי שתכתוב את השם שלך, אזכור אותו ואפנה אליך בשם בשיחות הבאות.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(קוראים לי|השם שלי|אני)\\s+/i.test(msg)) {\n  const extractedName = cleanName(msg);\n  const inlineRequest = (() => {\n    const raw = msg.replace(/^\\s*(קוראים לי|השם שלי|אני)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(צור|תיצור|תעשה|בנה|תבנה|תכין|הכן|צריך|רוצה)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `נעים מאוד, ${userName}.\\n\\nמעכשיו אפנה אליך בשם הזה. אם כתבת גם בקשה באותה הודעה, שלח אותה שוב בשורה חדשה ואטפל בה מיד.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = 'לא הצלחתי להבין מה השם בלבד. כתוב רק את השם שלך, למשל: עופר';\n  }\n} else {\n  const wordCount = msg.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(detailWords);\n  const asksForAgentHistory = hasAny(historyWords);\n\n  if (asksForAgentHistory) {\n    action = 'chitchat';\n    direct_reply = data.agentHistory || `${data.userName || 'משתמש'}, אין עדיין שימושי סוכנים שמורים בזיכרון האישי שלך.`;\n  } else if (hasAny(createAgentWords)) {\n    action = 'create_agent';\n  } else if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `┏━━━━━━━━━━━━━━━━━━\n┃ פירוט ציון אחרון\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${data.userName}\n┃\n┃ סוכן:\n┃ ${ev.agent}\n┃\n┃ ציון:\n┃ ${ev.score}/10\n┃\n┃ סיבה:\n┃ ${ev.deductions}\n┃\n┃ משימה:\n┃ ${ev.task}\n┗━━━━━━━━━━━━━━━━━━`;\n    } else {\n      direct_reply = `${data.userName}, אין עדיין ציון שמור בזיכרון האישי שלך.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords)) {\n    action = 'chitchat';\n    if (isShortCasual) {\n      direct_reply = `${data.userName || 'שלום'}, שלום. איך אפשר לעזור לך עכשיו?`;\n    }\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9א-ת_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3);\n\n    const agentTimes = agents\n      .map(a => Date.parse(a.updated_at || a.last_used || a.created_at || ''))\n      .filter(Number.isFinite);\n    const newestTime = agentTimes.length ? Math.max(...agentTimes) : Date.now();\n    const oldestTime = agentTimes.length ? Math.min(...agentTimes) : newestTime;\n    const timeSpan = Math.max(1, newestTime - oldestTime);\n\n    const candidates = [];\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let matchScore = 0;\n      const matchedTokens = [];\n      for (const token of tokens) {\n        if (haystack.includes(token)) {\n          matchScore += 1;\n          matchedTokens.push(token);\n        }\n      }\n      if (matchScore <= 0) continue;\n\n      const agentScore = Number(agent.score_avg ?? agent.score ?? 0) || 0;\n      const quality = Math.min(agentScore, 10) / 10;\n      const uses = Number(agent.uses ?? 0) || 0;\n      const updatedMs = Date.parse(agent.updated_at || agent.last_used || agent.created_at || '') || oldestTime;\n      const recency = Math.max(0, Math.min(1, (updatedMs - oldestTime) / timeSpan));\n      const freshImprovedBonus = recency >= 0.65 && agentScore >= 8 ? 0.55 : (recency >= 0.65 && agentScore >= 7 ? 0.25 : 0);\n      const finalScore = (matchScore * 1.35) + (quality * 0.95) + (recency * 0.55) + (Math.min(uses, 12) / 120) + freshImprovedBonus;\n\n      candidates.push({\n        agent,\n        matchScore,\n        matchedTokens: [...new Set(matchedTokens)].slice(0, 5),\n        agentScore,\n        uses,\n        updatedMs,\n        recency,\n        finalScore\n      });\n    }\n\n    candidates.sort((a, b) =>\n      (b.finalScore - a.finalScore) ||\n      (b.agentScore - a.agentScore) ||\n      (b.updatedMs - a.updatedMs)\n    );\n\n    let best = candidates[0] || null;\n    if (best) {\n      for (const candidate of candidates.slice(1)) {\n        const closeMatch = candidate.matchScore >= best.matchScore - 0.5;\n        const fresherAndNoWorse = candidate.updatedMs > best.updatedMs && candidate.agentScore >= best.agentScore - 0.25;\n        const closeEnough = candidate.finalScore >= best.finalScore - 0.35;\n        if (closeMatch && fresherAndNoWorse && closeEnough) {\n          best = candidate;\n        }\n      }\n    }\n\n    if (best && best.finalScore >= 1.85 && best.matchScore >= 1) {\n      action = 'use_agent';\n      agent_name = best.agent.name;\n      const updated = best.agent.updated_at || best.agent.last_used || best.agent.created_at || 'לא נשמר';\n      const freshness = best.recency >= 0.65 ? 'עדכני יחסית' : 'ותיק אבל עדיין מתאים';\n      selectionReason = `נבחר ${agent_name} כי הוא מתאים למילים: ${best.matchedTokens.join(', ') || 'התאמה כללית'}. ציון: ${best.agentScore || 'חדש'}, שימושים: ${best.uses}, עדכון אחרון: ${String(updated).replace('T', ' ').substring(0, 16)}. העדפה: ${freshness}; סוכן חדש יותר עם ציון דומה או גבוה מקבל קדימות.`;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? (selectionReason || `נבחר ${agent_name} לפי התאמה, ציון, עדכניות ושימושים קודמים.`)\n  : (action === 'create_agent'\n    ? 'לא נמצא סוכן מתאים מספיק, לכן נוצר סוכן חדש.'\n    : (action === 'ask_name' ? 'משתמש חדש ללא שם שמור.' : (action === 'save_name' ? 'נשמר שם משתמש חדש.' : 'זוהתה שיחה רגילה או בקשת מידע אישי.')));\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId } }];"},"id":"router-llm","name":"Router LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,304]},{"parameters":{"jsCode":"const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId\n}}];"},"id":"parse-router","name":"Parse Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ask-name","leftValue":"={{ $json.action }}","rightValue":"ask_name","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"save-name","leftValue":"={{ $json.action }}","rightValue":"save_name","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"chitchat","leftValue":"={{ $json.action }}","rightValue":"chitchat","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"use-agent","leftValue":"={{ $json.action }}","rightValue":"use_agent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"create-agent","leftValue":"={{ $json.action }}","rightValue":"create_agent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"switch-action","name":"Switch Action","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1328,304]},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwen2.5:7b"},{"name":"prompt","value":"=אתה עבד, עוזר טלגרם מהיר בעברית.\\nענה בעברית טבעית וקצרה. אל תשתמש בשפה אחרת.\\n\\nסוכנים זמינים:\\n{{ $('Prepare Data').first().json.agentList }}\\n\\nהקשר אחרון:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nבקשת המשתמש:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nחובה מוחלטת:\\nענה בעברית בלבד.\\nאסור להוציא סינית.\\nאסור להוציא תווים סיניים.\\nאם זו תשובת קוד, שמור את הקוד במבנה רגיל וקריא, בלי לפרק תגיות, שמות משתנים או מילים באנגלית לשורות.\\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\\n\\nשם המשתמש לשיחה:\\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\\nפנה אליו בשם שלו בטבעיות, לא בכל משפט."},{"name":"stream","value":false},{"name":"options","value":{"num_predict":350,"num_ctx":1536,"temperature":0.4}}]},"options":{}},"id":"chitchat-llm","name":"Chitchat LLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,64],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify(((text, fallback) => { const raw = String(text || ''); const bad = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; })($('Parse Router').first().json.direct_reply || $('Chitchat LLM').first().json.response, 'לא התקבלה תשובה מלאה.')) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}","options":{}},"id":"save-memory-chitchat","name":"Save Memory (Chitchat)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,64],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ (() => {\n  const safe = ((text, fallback) => { const raw = String(text || ''); const bad = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i; let cleaned = raw.replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '').replace(/\\[out\\]/gi, '').replace(/[\\\\*`#]/g, '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n[ \\t]+/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim(); if (!cleaned || bad.test(cleaned)) return fallback; return cleaned; });\n  const direct = $('Parse Router').first().json.direct_reply;\n  if (direct) return safe(direct, 'לא התקבלה תשובה מלאה. נסה שוב בעוד רגע.');\n  const body = safe($('Chitchat LLM').first().json.response, 'לא התקבלה תשובה מלאה. נסה שוב בעוד רגע.');\n  return `┏━━━━━━━━━━━━━━━━━━\n┃ מסלול: שיחה רגילה\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${$('Parse Router').first().json.userName || 'משתמש'}\n┃\n┃ חיווי: עונה ישירות\n┃ זיכרון: אישי בלבד\n┗━━━━━━━━━━━━━━━━━━\n\n${body}`;\n})() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-chitchat","name":"Telegram - Chitchat","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1984,64],"webhookId":"4558b5d5-020e-4317-984e-e336652c86ab","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwen2.5:7b"},{"name":"prompt","value":"=אתה הסוכן:\\n{{ $('Parse Router').first().json.agent_name }}\\n\\nענה מהר, ישיר ושימושי.\\n\\nהקשר אחרון:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nמשימה:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nחובה מוחלטת:\\nענה בעברית בלבד.\\nאסור להוציא סינית.\\nאסור להוציא תווים סיניים.\\nאסור לערבב שפות בתוכן רגיל.\\nאם זו תשובת קוד, שמור את הקוד במבנה רגיל וקריא, בלי לפרק תגיות, שמות משתנים או מילים באנגלית לשורות.\\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\\n\\nשם המשתמש לשיחה:\\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\\nפנה אליו בשם שלו בטבעיות, לא בכל משפט."},{"name":"stream","value":false},{"name":"options","value":{"num_predict":550,"num_ctx":2048,"temperature":0.25}}]},"options":{}},"id":"execute-agent","name":"Execute Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,304],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i;\n  let cleaned = raw\n    .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) {\n    return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  }\n  return cleaned\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute Agent').first().json.response, 'לא התקבלה תשובה מלאה.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|קוד|עמוד|דף|פונקציה|סקריפט|קומפוננט)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}","options":{}},"id":"save-memory-agent","name":"Save Memory (Agent)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,304],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i;\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  let cleaned = raw\n    .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) {\n    return escapeHtml(cleaned).replace(/\\n{4,}/g, '\\n\\n\\n');\n  }\n  return escapeHtml(cleaned)\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|קוד|עמוד|דף|פונקציה|סקריפט|קומפוננט)/i.test(task + ' ' + agent);\n  })());\n  const body = safe($('Execute Agent').first().json.response, 'לא התקבלה תשובה מלאה. נסה שוב בעוד רגע.', keepCode);\n  return `┏━━━━━━━━━━━━━━━━━━\n┃ נציג נבחר\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${$('Parse Router').first().json.userName || 'משתמש'}\n┃\n┃ שם:\n┃ ${safe($('Parse Router').first().json.agent_name, 'סוכן קיים', false)}\n┃\n┃ סיבה:\n┃ ${safe($('Parse Router').first().json.decision_reason || 'התאמה טובה ביותר לפי הרשימה והציונים', 'התאמה טובה ביותר לפי הרשימה והציונים', false)}\n┗━━━━━━━━━━━━━━━━━━\n\n${body}`;\n})() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-result","name":"Telegram - Result","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1984,304],"webhookId":"f05da3bd-3aec-4eac-9c88-b882240b5daf","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gemma2:2b"},{"name":"prompt","value":"=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for should be Hebrew if the task is Hebrew.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"משפט אחד ברור על התפקיד\",\n  \"good_for\": \"שימוש ראשון, שימוש שני, שימוש שלישי\"\n}"},{"name":"stream","value":false},{"name":"options","value":{"num_predict":180,"num_ctx":1024,"temperature":0.2}}]},"options":{}},"id":"create-agent-llm","name":"Create Agent LLM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,544],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9א-ת\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nfunction inferAgentName(task) {\n  const t = String(task || '').toLowerCase();\n  const parts = [];\n  if (/מודול|module/.test(t)) parts.push('module');\n  if (/נתונ|data|db|database/.test(t)) parts.push('data');\n  if (/front|frontend|ui|מסך|ממשק/.test(t)) parts.push('frontend');\n  if (/back|backend|שרת/.test(t)) parts.push('backend');\n  if (/בדיק|וודא|אימות|validate|test|qa/.test(t)) parts.push('validation');\n  if (/ניסוח|כתיב|תוכן|טקסט|copy/.test(t)) parts.push('writing');\n  if (/קוד|code|bug|debug|שגיאה/.test(t)) parts.push('code');\n  if (/אוטומ|workflow|תהליך/.test(t)) parts.push('automation');\n  const unique = [...new Set(parts)].slice(0, 3);\n  if (unique.length >= 2) return cleanName(unique.join('_') + '_agent');\n  if (unique.length === 1) return cleanName(unique[0] + '_task_agent');\n  return 'hebrew_task_agent';\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || 'סוכן ייעודי שנוצר לפי הבקשה האחרונה.',\n  good_for: parsed.good_for || 'משימות דומות לבקשה האחרונה',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"},"id":"parse-new-agent","name":"Parse New Agent","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,544]},{"parameters":{"method":"POST","url":"http://127.0.0.1:5000/agents","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}","options":{}},"id":"save-registry","name":"Save to Registry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,544],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwen2.5:7b"},{"name":"prompt","value":"=אתה הסוכן:\\n{{ $('Parse New Agent').first().json.name }}\\n\\nענה מהר, ישיר ושימושי.\\n\\nהקשר אחרון:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nמשימה:\\n{{ $('Parse New Agent').first().json.userMessage }}\\n\\nחובה מוחלטת:\\nענה בעברית בלבד.\\nאסור להוציא סינית.\\nאסור להוציא תווים סיניים.\\nאסור לערבב שפות בתוכן רגיל.\\nאם זו תשובת קוד, שמור את הקוד במבנה רגיל וקריא, בלי לפרק תגיות, שמות משתנים או מילים באנגלית לשורות.\\nאם אין לך מידע אמיתי, תגיד שאין מידע שמור.\\n\\nשם המשתמש לשיחה:\\n{{ $('Parse Router').first().json.userName || 'משתמש' }}\\nפנה אליו בשם שלו בטבעיות, לא בכל משפט."},{"name":"stream","value":false},{"name":"options","value":{"num_predict":600,"num_ctx":2048,"temperature":0.25}}]},"options":{}},"id":"execute-new-agent","name":"Execute New Agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,544],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nconst badResponse = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i.test(response);\nlet score = badResponse ? 3 : 7;\nif (!badResponse && response.length > 80) score += 1;\nif (!badResponse && response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: badResponse ? 'התשובה הראשונית לא היתה נקייה ולכן נפסלה לשימוש חוזר' : (score >= 8 ? 'נראה טוב בבדיקה מהירה' : 'נוצר סוכן, אבל התשובה הראשונית קצרה או חלקית'),\n  improvement: 'אפשר להריץ שיפור בהמשך',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"},"id":"evaluator-llm","name":"Evaluator LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,544],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'לא ניתן להעריך', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"},"id":"parse-evaluator","name":"Parse Evaluator","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,544],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"http://127.0.0.1:5000/agents","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}","options":{}},"id":"update-agent-score","name":"Update Agent Score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,544],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}","sendBody":true,"specifyBody":"json","jsonBody":"={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i;\n  let cleaned = raw\n    .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) {\n    return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  }\n  return cleaned\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute New Agent').first().json.response, 'הסוכן נוצר ונשמר. תוצר ראשוני נקי נשמר לשימוש חוזר.', ((() => {\n    const task = String($('Parse New Agent').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse New Agent').first().json.name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|קוד|עמוד|דף|פונקציה|סקריפט|קומפוננט)/i.test(task + ' ' + agent);\n  })()))) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || 'לא נמצא סוכן מתאים מספיק, לכן נוצר סוכן חדש.') }}}","options":{}},"id":"save-memory-new","name":"Save Memory (New Agent)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,544],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse New Agent').first().json.chatId }}","text":"={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(זין|כוס|שרמוט|זונה|מזדיין|בן זונה|fuck|sex|porn)/i;\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  let cleaned = raw\n    .replace(/[\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) {\n    return escapeHtml(cleaned).replace(/\\n{4,}/g, '\\n\\n\\n');\n  }\n  return escapeHtml(cleaned)\n    .replace(/[\\\\*\\`#]/g, '')\n    .replace(/([A-Za-z][A-Za-z0-9_+#./-]*)/g, '\\n$1\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n});\n  const keepCode = ((() => {\n    const task = String($('Parse New Agent').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse New Agent').first().json.name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|קוד|עמוד|דף|פונקציה|סקריפט|קומפוננט)/i.test(task + ' ' + agent);\n  })());\n  const fallback = 'הסוכן נוצר ונשמר. תוצר ראשוני נקי נשמר לשימוש חוזר.';\n  const body = safe($('Execute New Agent').first().json.response, fallback, keepCode);\n  return `┏━━━━━━━━━━━━━━━━━━\n┃ סוכן חדש נוצר\n┣━━━━━━━━━━━━━━━━━━\n┃ משתמש:\n┃ ${$('Parse Router').first().json.userName || 'משתמש'}\n┃\n┃ שם:\n┃ ${safe($('Parse New Agent').first().json.name, 'new_task_agent', false)}\n┃\n┃ סיבה:\n┃ לא נמצא סוכן מתאים מספיק\n┃\n┃ ציון:\n┃ ${$('Parse Evaluator').first().json.score || 7}/10\n┗━━━━━━━━━━━━━━━━━━\n\n${body}\n\nשלח פירוט כדי לראות הסבר על הציון`;\n})() }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-new-agent","name":"Telegram - New Agent","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3312,544],"webhookId":"4f99d8b8-3fe0-471f-a0ec-d0a66d741827","credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"url":"=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}","options":{}},"id":"read-profile","name":"Read Profile","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,144],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}","options":{}},"id":"save-profile-ask","name":"Save Profile Ask","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-160],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}","options":{}},"id":"save-profile-name","name":"Save Profile Name","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-24],"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ $('Parse Router').first().json.direct_reply }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-direct-profile","name":"Telegram - Direct","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-96],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}}},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ '┏━━━━━━━━━━━━━━━━━━\\n┃ קיבלתי את הבקשה\\n┣━━━━━━━━━━━━━━━━━━\\n┃ משתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\n┃ מסלול: שיחה רגילה\\n┃ מצב: מנסח תשובה\\n┗━━━━━━━━━━━━━━━━━━' }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-progress-chitchat-safe","name":"Telegram - Progress Chitchat","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,64],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ '┏━━━━━━━━━━━━━━━━━━\\n┃ קיבלתי את הבקשה\\n┣━━━━━━━━━━━━━━━━━━\\n┃ משתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\n┃ מסלול: נציג קיים\\n┃ נציג: ' + ($('Parse Router').first().json.agent_name || '') + '\\n┃ מצב: מריץ את הנציג\\n┗━━━━━━━━━━━━━━━━━━' }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-progress-agent-safe","name":"Telegram - Progress Agent","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,304],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $('Parse Router').first().json.chatId }}","text":"={{ '┏━━━━━━━━━━━━━━━━━━\\n┃ קיבלתי את הבקשה\\n┣━━━━━━━━━━━━━━━━━━\\n┃ משתמש: ' + ($('Parse Router').first().json.userName || 'משתמש') + '\\n┃ מסלול: יצירת נציג חדש\\n┃ מצב: בונה ומחזיר תוצר\\n┗━━━━━━━━━━━━━━━━━━' }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"telegram-progress-new-agent-safe","name":"Telegram - Progress New Agent","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,544],"credentials":{"telegramApi":{"id":"yuL92tuSioALGmJa","name":"Telegram account 2"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}","options":{}},"id":"sync-profile-inline","name":"Sync Profile Inline","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,704],"onError":"continueRegularOutput"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Read Registry","type":"main","index":0}]]},"Read Registry":{"main":[[{"node":"Read Memory","type":"main","index":0}]]},"Read Memory":{"main":[[{"node":"Read Profile","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Router LLM","type":"main","index":0}]]},"Router LLM":{"main":[[{"node":"Parse Router","type":"main","index":0}]]},"Parse Router":{"main":[[{"node":"Switch Action","type":"main","index":0},{"node":"Sync Profile Inline","type":"main","index":0}]]},"Switch Action":{"main":[[{"node":"Save Profile Ask","type":"main","index":0}],[{"node":"Save Profile Name","type":"main","index":0}],[{"node":"Telegram - Progress Chitchat","type":"main","index":0}],[{"node":"Telegram - Progress Agent","type":"main","index":0}],[{"node":"Telegram - Progress New Agent","type":"main","index":0}]]},"Chitchat LLM":{"main":[[{"node":"Save Memory (Chitchat)","type":"main","index":0}]]},"Save Memory (Chitchat)":{"main":[[{"node":"Telegram - Chitchat","type":"main","index":0}]]},"Execute Agent":{"main":[[{"node":"Save Memory (Agent)","type":"main","index":0}]]},"Save Memory (Agent)":{"main":[[{"node":"Telegram - Result","type":"main","index":0}]]},"Create Agent LLM":{"main":[[{"node":"Parse New Agent","type":"main","index":0}]]},"Parse New Agent":{"main":[[{"node":"Save to Registry","type":"main","index":0}]]},"Save to Registry":{"main":[[{"node":"Execute New Agent","type":"main","index":0}]]},"Execute New Agent":{"main":[[{"node":"Evaluator LLM","type":"main","index":0}]]},"Evaluator LLM":{"main":[[{"node":"Parse Evaluator","type":"main","index":0}]]},"Parse Evaluator":{"main":[[{"node":"Update Agent Score","type":"main","index":0}]]},"Update Agent Score":{"main":[[{"node":"Save Memory (New Agent)","type":"main","index":0}]]},"Save Memory (New Agent)":{"main":[[{"node":"Telegram - New Agent","type":"main","index":0}]]},"Read Profile":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Save Profile Ask":{"main":[[{"node":"Telegram - Direct","type":"main","index":0}]]},"Save Profile Name":{"main":[[{"node":"Telegram - Direct","type":"main","index":0}]]},"Telegram - Progress Chitchat":{"main":[[{"node":"Chitchat LLM","type":"main","index":0}]]},"Telegram - Progress Agent":{"main":[[{"node":"Execute Agent","type":"main","index":0}]]},"Telegram - Progress New Agent":{"main":[[{"node":"Create Agent LLM","type":"main","index":0}]]},"Sync Profile Inline":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"a93d6f81-7023-4f34-84ab-e7d5a80690a9","activeVersionId":"a93d6f81-7023-4f34-84ab-e7d5a80690a9","versionCounter":79,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-31T03:07:56.899Z","createdAt":"2026-05-31T03:07:56.899Z","role":"workflow:owner","workflowId":"WORKINGSTABLEV6","projectId":"cB0HY6hwxKY3jP5p","project":{"updatedAt":"2026-05-27T18:13:22.667Z","createdAt":"2026-05-27T18:11:32.809Z","id":"cB0HY6hwxKY3jP5p","name":"עופר שחר <offer0528813271@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e20300ad-9be9-4e1d-99d0-0742550133b9"}}],"versionMetadata":{"name":null,"description":null}}]