📥 קלט/agent_v6/Self_Evolving_Agent_v6_WORKING_IMPORT.json.bak-quality-gate-logs-2026-06-01T05-58-25-869257+00-00
{
  "updatedAt": "2026-05-31T09:24:29.000Z",
  "createdAt": "2026-05-31T03:07:56.897Z",
  "id": "WORKINGSTABLEV6",
  "name": "Self-Evolving Agent v6 - WORKING STABLE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "read-registry",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rawUserMessage = $('Telegram Trigger').item.json.message.text || '';\nlet localPathContext = {};\ntry {\n  const items = $('Read Local Path Context').all();\n  if (items && items.length > 0) localPathContext = items[0].json || {};\n} catch(e) {}\nconst localContextText = localPathContext && localPathContext.ok && localPathContext.context ? String(localPathContext.context) : '';\nconst userMessage = (rawUserMessage + (localContextText ? '\\n\\n' + localContextText : '')).trim();\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst pendingCreatedAgent = (() => {\n  const reversedPending = [...memory].map((entry, index) => ({ entry, index })).reverse();\n  const found = reversedPending.find(item => String(item.entry && item.entry.agent || '') === 'pending_created_agent');\n  if (!found) return null;\n\n  let pending = null;\n  try {\n    pending = JSON.parse(String(found.entry.result || '{}'));\n  } catch (e) {\n    return null;\n  }\n  if (!pending || !pending.agentName || !pending.task) return null;\n\n  const createdMs = Date.parse(pending.created_at || found.entry.timestamp || found.entry.time || '');\n  const isFresh = !Number.isFinite(createdMs) || (Date.now() - createdMs) < 60 * 60 * 1000;\n  if (!isFresh) return null;\n\n  const laterEntries = memory.slice(found.index + 1);\n  const alreadyRan = laterEntries.some(m =>\n    String(m.agent || '') === String(pending.agentName || '') &&\n    String(m.task || '').trim() === String(pending.task || '').trim()\n  );\n  const canceled = laterEntries.some(m => /Ч‘ЧҷЧҳЧңЧӘЧҷ ЧҗЧӘ Ч”Ч”ЧЁЧҰЧ”|Ч‘ЧҷЧҳЧ•Чң|Ч‘Ч•ЧҳЧң/.test(String(m.result || '')));\n  if (alreadyRan || canceled) return null;\n\n  return pending;\n})();\nmemory = memory.filter(m => String(m.agent || '') !== 'pending_created_agent');\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nfunction cleanTextForPrompt(value) {\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  return String(value || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[в”Ҹв”—в”Јв”ғв”Ғ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst bannedAgentNames = new Set(['agent', 'snakecaseagent', 'snake_case_agent', 'snake_case_name', 'custom_task_agent', 'new_agent', 'helper', 'assistant', 'hebrew_task_agent', 'generic_task_agent', 'custom_hebrew_agent']);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active' && !bannedAgentNames.has(String(a.name || '').toLowerCase()))\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${cleanTextForPrompt(a.description)} (ЧһЧӘЧҗЧҷЧқ Чң: ${cleanTextForPrompt(a.good_for || '')}; ЧҰЧҷЧ•Чҹ: ${a.score_avg ?? a.score ?? 'Ч—Ч“Ч©'}; Ч©ЧҷЧһЧ•Ч©ЧҷЧқ: ${a.uses ?? 0})`).join('\\n')\n  : 'ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ ЧЎЧ•ЧӣЧ ЧҷЧқ';\n\nfunction memoryEntryIsUseful(m) {\n  const task = cleanTextForPrompt(m.task || '');\n  const result = cleanTextForPrompt(m.result || '');\n  const raw = `${m.task || ''}\\n${m.result || ''}`;\n  if (m.quarantined || m.ignore_for_prompt) return false;\n  const skipTasks = new Set(['Ч”Чҷ', 'Ч”ЧҷЧҷ', 'Ч©ЧңЧ•Чқ', 'ЧһЧ” Ч Ч©ЧһЧў', 'ЧһЧ” Ч§Ч•ЧЁЧ”', 'ЧһЧҗЧ©ЧЁ', 'ЧӣЧҹ', 'ЧңЧҗ', 'Ч‘ЧҳЧң']);\n  if (!task || skipTasks.has(task)) return false;\n  if (/^ЧӣЧ•Ч•Ч ЧӘ ЧһЧһЧ©Ч§:/.test(task)) return false;\n  const badN8nWorkflowJson = /(SELF-CHECK PROTOCOL|ckecklist|n8n_nodes_base_|n8n-nodes-base\\.parseJSON|n8n-nodes-base\\.log|saveToDatabase|filterData|analyzeData|\\\"connections\\\"\\s*:\\s*\\[\\s*\\[|\\\"type\\\"\\s*:\\s*\\\"ckecklist\\\")/i.test(raw);\n  if (badN8nWorkflowJson) return false;\n  if (/ЧҷЧ© ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч© Ч©ЧһЧ•ЧӣЧҹ ЧңЧ”ЧЁЧҰЧ”|Ч‘ЧҷЧҳЧңЧӘЧҷ ЧҗЧӘ Ч”Ч”ЧЁЧҰЧ”|ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”/.test(result)) return false;\n  const currentName = String(userName || '').trim();\n  const escapedCurrentName = currentName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const assistantClaimsUserName = escapedCurrentName && new RegExp('ЧҗЧ Чҷ\\\\s+' + escapedCurrentName + '\\\\b').test(raw);\n  if (assistantClaimsUserName || /ЧҗЧ Чҷ\\s+ЧўЧ•ЧӨЧЁ\\b|ЧўЧ•ЧӨЧЁ\\s+ЧҷЧ•Ч“Чў\\s+ЧңЧ”ЧҳЧһЧҷЧў|ЧһЧ•Ч“Ч•ЧңЧҷЧқ\\s+ЧӨЧӘЧЁЧ•Ч Ч•ЧӘ\\s+AI\\s+ЧңЧҗЧӘ?ЧЁЧ’Ч•Ч ЧҷЧқ|ЧһЧ‘Ч Ч”\\s+Ч©Чң\\s+ЧӨЧӘЧЁЧ•Ч Ч•ЧӘ\\s+AI\\s+ЧўЧ‘Ч•ЧЁ\\s+N8N/i.test(raw)) return false;\n  return true;\n}\n\nconst usefulMemory = memory.filter(memoryEntryIsUseful);\n\nconst recentMemory = usefulMemory.slice(-5)\n  .map(m => `[${m.agent}] ${cleanTextForPrompt(m.task).substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = usefulMemory.slice(-4)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'ЧўЧ•Ч–ЧЁ' : `ЧўЧ•Ч–ЧЁ [${m.agent}]`;\n    return `ЧһЧ©ЧӘЧһЧ©: ${cleanTextForPrompt(m.task).substring(0, 180)}\\n${assistant}: ${cleanTextForPrompt(m.result).substring(0, 260)}`;\n  })\n  .join('\\n\\n') || '';\n\n\nconst skipHistoryTasks = new Set(['Ч”Чҷ', 'Ч”ЧҷЧҷ', 'Ч©ЧңЧ•Чқ', 'ЧһЧ” Ч Ч©ЧһЧў', 'ЧһЧ” Ч§Ч•ЧЁЧ”']);\nconst historyTaskWords = ['Ч‘ЧҗЧҷЧ–Ч” ЧЎЧ•ЧӣЧҹ', 'ЧҗЧҷЧ–Ч” ЧЎЧ•ЧӣЧҹ Ч”Ч©ЧӘЧһЧ©', 'ЧҗЧҷЧ–Ч” Ч ЧҰЧҷЧ’ Ч”Ч©ЧӘЧһЧ©', 'Ч”ЧҷЧЎЧҳЧ•ЧЁЧҷЧҷЧӘ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'Ч–ЧҷЧӣЧЁЧ•Чҹ ЧЎЧ•ЧӣЧ ЧҷЧқ'];\nconst agentHistoryRows = [...memory].reverse()\n  .filter(m => {\n    const task = cleanTextForPrompt(m.task || '');\n    const isHistoryTask = historyTaskWords.some(word => task.includes(word));\n    return task && m.agent && !skipHistoryTasks.has(task) && !isHistoryTask;\n  })\n  .slice(0, 12)\n  .map((m, index) => {\n    const task = cleanTextForPrompt(m.task || '').substring(0, 180) || 'ЧңЧҗ Ч Ч©ЧһЧЁЧ” ЧһЧ©ЧҷЧһЧ”';\n    const agent = String(m.agent || 'ЧңЧҗ ЧҷЧ“Ч•Чў').replace(/[^A-Za-z0-9_Чҗ-ЧӘ-]/g, '').trim() || 'ЧңЧҗ ЧҷЧ“Ч•Чў';\n    const score = (m.score === null || m.score === undefined || m.score === '') ? 'ЧҗЧҷЧҹ' : String(m.score) + '/10';\n    const time = String(m.timestamp || '').replace('T', ' ').substring(0, 16) || 'ЧңЧҗ Ч Ч©ЧһЧЁ';\n    const reason = cleanTextForPrompt(m.decision_reason || m.deductions || '').substring(0, 180) || 'ЧңЧҗ Ч Ч©ЧһЧЁЧ” ЧЎЧҷЧ‘Ч”';\n    return `${index + 1}. ЧһЧ©ЧҷЧһЧ”:\n${task}\nЧЎЧ•ЧӣЧҹ:\n${agent}\nЧҰЧҷЧ•Чҹ:\n${score}\nЧЎЧҷЧ‘Ч”:\n${reason}\nЧ–ЧһЧҹ:\n${time}`;\n  });\n\nconst agentHistory = agentHistoryRows.length\n  ? `Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ ЧһЧ”Ч–ЧҷЧӣЧЁЧ•Чҹ\nЧһЧ©ЧӘЧһЧ©: ${userName || 'ЧһЧ©ЧӘЧһЧ©'}\n\n${agentHistoryRows.join('\\n\\n')}`\n  : `${userName || 'ЧһЧ©ЧӘЧһЧ©'}, ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ Ч©ЧһЧ•ЧЁЧҷЧқ Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ Ч”ЧҗЧҷЧ©Чҷ Ч©ЧңЧҡ.`;\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || 'ЧңЧҗ Ч Ч©ЧһЧЁ ЧӨЧҷЧЁЧ•Чҳ Ч ЧҷЧӣЧ•ЧҷЧҷЧқ',\n  result: cleanTextForPrompt(lastScored.result).substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, agentHistory, pendingCreatedAgent, profile, userName, awaitingName, profileExists } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nfunction extractUserGoal(value) {\n  const text = String(value || '').trim();\n  const asciiMatch = text.match(/USER_REQUEST:\\s*([\\s\\S]*?)(?:\\nBUTTON_HINT:|\\nINTENT_LABEL:|\\nRULE:|$)/);\n  if (asciiMatch && asciiMatch[1] && asciiMatch[1].trim()) return asciiMatch[1].trim();\n  const hebrewMatch = text.match(/Ч‘Ч§Ч©ЧӘ Ч”ЧһЧ©ЧӘЧһЧ©:\\s*([\\s\\S]*?)(?:\\nЧ”Ч Ч—ЧҷЧҷЧӘ ЧӣЧӨЧӘЧ•ЧЁ ЧһЧ©Ч ЧҷЧӘ:|\\nЧӣЧ•Ч•Ч ЧӘ ЧһЧһЧ©Ч§:|\\nЧ—Ч•Ч§ Ч‘ЧҷЧҰЧ•Чў:|$)/);\n  if (hebrewMatch && hebrewMatch[1] && hebrewMatch[1].trim()) return hebrewMatch[1].trim();\n  const legacyMatch = text.match(/(?:Ч‘Ч§Ч©ЧӘ Ч”ЧһЧ©ЧӘЧһЧ©|ЧівҖҳЧіВ§ЧіВ©ЧіГ— ЧівҖқЧіВһЧіВ©ЧіГ—ЧіВһЧіВ©):\\s*([\\s\\S]*)$/);\n  if (legacyMatch && legacyMatch[1] && legacyMatch[1].trim()) return legacyMatch[1].trim();\n  return text;\n}\nconst userGoalRaw = extractUserGoal(msg);\nconst localContextMatch = msg.match(/READ_ONLY_LOCAL_PATH_CONTEXT[\\s\\S]*?(?:----- END LOCAL FILE -----|----- END LOCAL DIRECTORY -----)/i);\nconst localContextBlock = localContextMatch ? localContextMatch[0] : '';\nconst userGoal = localContextBlock && !userGoalRaw.includes(localContextBlock)\n  ? (userGoalRaw + '\\n\\n' + localContextBlock).trim()\n  : userGoalRaw;\nconst lower = msg.toLowerCase();\nconst userLower = userGoal.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\nconst hasAttachedFile = /----- BEGIN ATTACHED FILE -----|FILE_CONTEXT|READ_ONLY_LOCAL_PATH_CONTEXT|----- BEGIN LOCAL FILE -----|----- BEGIN LOCAL DIRECTORY -----|Ч§Ч•Ч‘ЧҘ ЧһЧҰЧ•ЧЁЧЈ ЧңЧ§ЧЁЧҷЧҗЧ” Ч‘ЧңЧ‘Ч“/i.test(msg);\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst hasAnyUser = (words) => words.some(w => userLower.includes(w.toLowerCase()));\nconst exactCasual = ['Ч”Чҷ', 'Ч”ЧҷЧҷ', 'Ч”ЧҷЧҷЧҷ', 'Ч”ЧңЧ•', 'Ч©ЧңЧ•Чқ', 'Ч‘Ч•Ч§ЧЁ ЧҳЧ•Ч‘', 'ЧўЧЁЧ‘ ЧҳЧ•Ч‘', 'ЧңЧҷЧңЧ” ЧҳЧ•Ч‘', 'ЧһЧ” Ч Ч©ЧһЧў', 'ЧһЧ” Ч§Ч•ЧЁЧ”', 'ЧһЧ” Ч”ЧһЧҰЧ‘', 'ЧӘЧ•Ч“Ч”', 'ЧЎЧ‘Ч‘Ч”', 'ЧҗЧ—ЧңЧ”'];\nconst scoreDetailWords = ['ЧӨЧҷЧЁЧ•Чҳ ЧҰЧҷЧ•Чҹ', 'ЧӨЧҷЧЁЧ•Чҳ ЧўЧң Ч”ЧҰЧҷЧ•Чҹ', 'Ч©ЧңЧ— ЧӨЧҷЧЁЧ•Чҳ ЧўЧң Ч”ЧҰЧҷЧ•Чҹ', 'ЧӨЧЁЧҳЧҷЧқ ЧўЧң Ч”ЧҰЧҷЧ•Чҹ', 'ЧңЧһЧ” Ч”ЧҰЧҷЧ•Чҹ', 'Ч”ЧЎЧ‘ЧЁ ЧўЧң Ч”ЧҰЧҷЧ•Чҹ'];\nconst chitchatWords = ['ЧһЧҷ ЧҗЧӘЧ”', 'ЧўЧ–ЧЁЧ”', 'ЧһЧ” ЧҗЧӘЧ” ЧҷЧ•Ч“Чў ЧңЧўЧ©Ч•ЧӘ', 'ЧһЧ” ЧҗЧӘЧ” ЧҷЧӣЧ•Чң ЧңЧўЧ©Ч•ЧӘ', 'ЧһЧ” Ч”Ч•Чҗ ЧҷЧ•Ч“Чў ЧңЧўЧ©Ч•ЧӘ', 'ЧһЧ” Ч”Ч‘Ч•Чҳ ЧҷЧ•Ч“Чў ЧңЧўЧ©Ч•ЧӘ'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'json', 'html', 'css', 'react', 'n8n', 'workflow', 'bug', 'debug', 'Ч“ЧҷЧ‘ЧҗЧ’', 'Ч§Ч•Ч“', 'Ч§Ч•Ч‘ЧҘ', 'ЧӨЧ•Ч Ч§ЧҰЧҷЧ”', 'ЧЎЧ§ЧЁЧҷЧӨЧҳ', 'Ч©Ч’ЧҷЧҗЧ”', 'Ч•Ч•ЧЁЧ§ЧӨЧңЧ•ЧҗЧ•', 'Ч•Ч•ЧЁЧ§ ЧӨЧңЧ•ЧҗЧ•', 'file_context', 'attached file', 'Ч§Ч•Ч‘ЧҘ ЧһЧҰЧ•ЧЁЧЈ', 'Ч‘ЧҗЧ’', 'ЧӘЧ§Чҹ', 'ЧӘЧҷЧ§Ч•Чҹ'];\nconst n8nWords = ['n8n', 'workflow', 'workflow json', 'n8n workflow', 'Ч•Ч•ЧЁЧ§ЧӨЧңЧ•ЧҗЧ•', 'Ч•Ч•ЧЁЧ§ ЧӨЧңЧ•ЧҗЧ•', 'Ч–ЧЁЧҷЧһЧӘ n8n', 'Ч§Ч•Ч‘ЧҘ json Чң n8n', 'json Чңn8n', 'json Чң n8n'];\nconst createAgentWords = ['ЧҰЧ•ЧЁ ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧӘЧҷЧҰЧ•ЧЁ ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'Ч‘Ч Ч” ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧӘЧ‘Ч Ч” ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧӘЧӣЧҷЧҹ ЧңЧҷ ЧЎЧ•ЧӣЧҹ', 'ЧҰЧ•ЧЁ ЧЎЧ•ЧӣЧҹ', 'ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч©', 'Ч ЧҰЧҷЧ’ Ч—Ч“Ч©'];\nconst historyWords = ['Ч‘ЧҗЧҷЧ–Ч” ЧЎЧ•ЧӣЧҹ', 'ЧҗЧҷЧ–Ч” ЧЎЧ•ЧӣЧҹ Ч”Ч©ЧӘЧһЧ©', 'ЧҗЧҷЧ–Ч” Ч ЧҰЧҷЧ’ Ч”Ч©ЧӘЧһЧ©', 'ЧЎЧ•ЧӣЧҹ Ч”Ч©ЧӘЧһЧ©ЧӘ', 'Ч ЧҰЧҷЧ’ Ч”Ч©ЧӘЧһЧ©ЧӘ', 'Ч”ЧҷЧЎЧҳЧ•ЧЁЧҷЧҷЧӘ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'Ч–ЧҷЧӣЧЁЧ•Чҹ ЧЎЧ•ЧӣЧ ЧҷЧқ', 'ЧЎЧ•ЧӣЧҹ ЧңЧҗЧҷЧ–Ч• ЧһЧ©ЧҷЧһЧ”', 'Ч ЧҰЧҷЧ’ ЧңЧҗЧҷЧ–Ч• ЧһЧ©ЧҷЧһЧ”'];\nconst routingStopWords = new Set(['Ч”Ч•Чҗ','Ч”ЧҷЧҗ','ЧҗЧ Чҷ','ЧҗЧӘЧ”','ЧҗЧӘЧқ','Ч©ЧңЧҷ','Ч©ЧңЧҡ','Ч©ЧңЧ Ч•','ЧһЧ”','ЧҗЧҷЧҡ','ЧңЧһЧ”','ЧһЧӘЧҷ','ЧҗЧҷЧӨЧ”','ЧҷЧ•Ч“Чў','ЧҷЧ•Ч“ЧўЧӘ','ЧңЧўЧ©Ч•ЧӘ','ЧҷЧӣЧ•Чң','ЧҷЧӣЧ•ЧңЧ”','ЧҰЧЁЧҷЧҡ','ЧЁЧ•ЧҰЧ”','Ч‘Ч§Ч©Ч”','Ч”Ч‘Ч§Ч©Ч”','ЧӘЧўЧ©Ч”','ЧӘЧӣЧӘЧ•Ч‘','ЧӘЧЎЧ‘ЧҷЧЁ','Ч”ЧҷЧҷЧӘ','ЧһЧһЧңЧҷЧҘ','ЧңЧ”ЧҳЧһЧҷЧў']);\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+/i, '')\n    .replace(/(?:^|\\s)(ЧӘЧҷЧҰЧ•ЧЁ|ЧҰЧ•ЧЁ|ЧӘЧўЧ©Ч”|Ч‘Ч Ч”|ЧӘЧ‘Ч Ч”|ЧӘЧӣЧҷЧҹ|Ч”ЧӣЧҹ|ЧҰЧЁЧҷЧҡ|ЧЁЧ•ЧҰЧ”|ЧЎЧ•ЧӣЧҹ|Ч ЧҰЧҷЧ’).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'chitchat';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = userGoal;\nlet selectionReason = '';\nconst preferredN8nAgent = agents.find(a => a.name === 'n8n_agent') || agents.find(a => a.name === 'agent_create_n8n_task');\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = 'Ч‘ЧЁЧ•Чҡ Ч”Ч‘Чҗ. ЧҗЧҷЧҡ Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҡ?\\n\\nЧҗЧ—ЧЁЧҷ Ч©ЧӘЧӣЧӘЧ•Ч‘ ЧҗЧӘ Ч”Ч©Чқ Ч©ЧңЧҡ, ЧҗЧ–ЧӣЧ•ЧЁ ЧҗЧ•ЧӘЧ• Ч•ЧҗЧӨЧ Ч” ЧҗЧңЧҷЧҡ Ч‘Ч©Чқ Ч‘Ч©ЧҷЧ—Ч•ЧӘ Ч”Ч‘ЧҗЧ•ЧӘ.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+/i.test(msg)) {\n  const extractedName = cleanName(userGoal);\n  const inlineRequest = (() => {\n    const raw = userGoal.replace(/^\\s*(Ч§Ч•ЧЁЧҗЧҷЧқ ЧңЧҷ|Ч”Ч©Чқ Ч©ЧңЧҷ|ЧҗЧ Чҷ)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(ЧҰЧ•ЧЁ|ЧӘЧҷЧҰЧ•ЧЁ|ЧӘЧўЧ©Ч”|Ч‘Ч Ч”|ЧӘЧ‘Ч Ч”|ЧӘЧӣЧҷЧҹ|Ч”ЧӣЧҹ|ЧҰЧЁЧҷЧҡ|ЧЁЧ•ЧҰЧ”)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `Ч ЧўЧҷЧқ ЧһЧҗЧ•Ч“, ${userName}.\\n\\nЧһЧўЧӣЧ©ЧҷЧ• ЧҗЧӨЧ Ч” ЧҗЧңЧҷЧҡ Ч‘Ч©Чқ Ч”Ч–Ч”. ЧҗЧқ ЧӣЧӘЧ‘ЧӘ Ч’Чқ Ч‘Ч§Ч©Ч” Ч‘ЧҗЧ•ЧӘЧ” Ч”Ч•Ч“ЧўЧ”, Ч©ЧңЧ— ЧҗЧ•ЧӘЧ” Ч©Ч•Ч‘ Ч‘Ч©Ч•ЧЁЧ” Ч—Ч“Ч©Ч” Ч•ЧҗЧҳЧӨЧң Ч‘Ч” ЧһЧҷЧ“.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = 'ЧңЧҗ Ч”ЧҰЧңЧ—ЧӘЧҷ ЧңЧ”Ч‘ЧҷЧҹ ЧһЧ” Ч”Ч©Чқ Ч‘ЧңЧ‘Ч“. ЧӣЧӘЧ•Ч‘ ЧЁЧ§ ЧҗЧӘ Ч”Ч©Чқ Ч©ЧңЧҡ, ЧңЧһЧ©Чң: ЧўЧ•ЧӨЧЁ';\n  }\n} else {\n  const wordCount = userGoal.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(scoreDetailWords) || (/^\\s*(ЧӨЧҷЧЁЧ•Чҳ|ЧӨЧЁЧҳ|Ч©ЧңЧ— ЧӨЧҷЧЁЧ•Чҳ|ЧӘЧҹ ЧӨЧҷЧЁЧ•Чҳ)\\s*$/i.test(userGoal) && Boolean(data.lastEvaluation));\n  const asksForAgentHistory = hasAny(historyWords);\n  const pending = data.pendingCreatedAgent || null;\n  const isN8nMetaInstruction = /(you are an n8n workflow expert|self-check protocol|before outputting any workflow json|validate node types|never invent types|connections must use node)/i.test(userGoal) && !/(fix|repair|create|generate|build|output|export|import|ЧӘЧ§Чҹ|ЧҰЧ•ЧЁ|Ч‘Ч Ч”|ЧӘЧ‘Ч Ч”|ЧӣЧӘЧ•Ч‘|Ч”Ч—Ч–ЧЁ)\\s+(?:.*\\s)?(workflow|json|n8n|Ч•Ч•ЧЁЧ§ЧӨЧңЧ•ЧҗЧ•|Ч•Ч•ЧЁЧ§ ЧӨЧңЧ•ЧҗЧ•)/i.test(userGoal);\n  const confirmsPending = /^(ЧӣЧҹ|ЧӣЧҹ ЧӘЧһЧ©ЧҷЧҡ|ЧһЧҗЧ©ЧЁ|ЧһЧҗЧ©ЧЁЧӘ|ЧҗЧ©ЧЁ|ЧӘЧҗЧ©ЧЁ|ЧӘЧһЧ©ЧҷЧҡ|Ч‘ЧҰЧў|ЧӘЧЁЧҷЧҘ|Ч§Ч“ЧҷЧһЧ”|ЧҷЧҗЧңЧңЧ”|ok|yes)$/i.test(userGoal.trim());\n  const cancelsPending = /^(ЧңЧҗ|Ч‘ЧҳЧң|Ч‘ЧҷЧҳЧ•Чң|ЧўЧҰЧ•ЧЁ|ЧҗЧң ЧӘЧЁЧҷЧҘ|ЧңЧҗ ЧўЧӣЧ©ЧҷЧ•|cancel|no)$/i.test(userGoal.trim());\n\n  if (isN8nMetaInstruction) {\n    action = 'chitchat';\n    direct_reply = 'Ч§ЧҷЧ‘ЧңЧӘЧҷ. ЧӨЧЁЧ•ЧҳЧ•Ч§Ч•Чң Ч‘Ч“ЧҷЧ§ЧӘ n8n Ч Ч§ЧңЧҳ ЧӣЧӣЧңЧң ЧўЧ‘Ч•Ч“Ч” ЧӨЧ ЧҷЧһЧҷ: ЧңЧҗ ЧңЧ”ЧһЧҰЧҷЧҗ ЧЎЧ•Ч’Чҷ ЧҰЧһЧӘЧҷЧқ, ЧңЧҗ ЧңЧ”Ч©ЧӘЧһЧ© Ч‘ЧҰЧһЧӘЧҷЧқ ЧӨЧҷЧ§ЧҳЧҷЧ‘ЧҷЧҷЧқ, Ч•ЧңЧ•Ч•Ч“Чҗ ЧһЧ‘Ч Ч” connections ЧӘЧ§ЧҷЧҹ ЧңЧӨЧ Чҷ Ч”Ч—Ч–ЧЁЧӘ JSON.';\n  } else if (pending && confirmsPending) {\n    action = 'use_agent';\n    agent_name = pending.agentName;\n    requestMessage = pending.task;\n    direct_reply = null;\n    selectionReason = 'Ч”ЧһЧ©ЧӘЧһЧ© ЧҗЧҷЧ©ЧЁ ЧңЧ”ЧЁЧҷЧҘ ЧҗЧӘ Ч”ЧЎЧ•ЧӣЧҹ Ч”Ч—Ч“Ч© Ч©Ч Ч•ЧҰЧЁ ЧўЧң Ч”Ч©ЧҗЧңЧ” Ч”ЧһЧ§Ч•ЧЁЧҷЧӘ.';\n  } else if (pending && cancelsPending) {\n    action = 'chitchat';\n    direct_reply = 'Ч‘ЧҷЧҳЧңЧӘЧҷ ЧҗЧӘ Ч”Ч”ЧЁЧҰЧ”. Ч”ЧЎЧ•ЧӣЧҹ Ч Ч©ЧҗЧЁ Ч©ЧһЧ•ЧЁ Ч•ЧҗЧӨЧ©ЧЁ ЧңЧ”Ч©ЧӘЧһЧ© Ч‘Ч• Ч‘Ч”ЧһЧ©Чҡ.';\n  } else if (pending) {\n    action = 'chitchat';\n    direct_reply = 'ЧҷЧ© ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч© Ч©ЧһЧ•ЧӣЧҹ ЧңЧ”ЧЁЧҰЧ” ЧўЧң Ч”Ч©ЧҗЧңЧ” Ч”ЧһЧ§Ч•ЧЁЧҷЧӘ. ЧӣЧӘЧ•Ч‘ ЧӣЧҹ ЧҗЧ• ЧһЧҗЧ©ЧЁ ЧӣЧ“Чҷ ЧңЧ”ЧЁЧҷЧҘ ЧҗЧ•ЧӘЧ•, ЧҗЧ• Ч‘ЧҳЧң ЧӣЧ“Чҷ ЧңЧўЧҰЧ•ЧЁ.';\n  } else if (asksForAgentHistory) {\n    action = 'chitchat';\n    direct_reply = data.agentHistory || `${data.userName || 'ЧһЧ©ЧӘЧһЧ©'}, ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ Ч©ЧҷЧһЧ•Ч©Чҷ ЧЎЧ•ЧӣЧ ЧҷЧқ Ч©ЧһЧ•ЧЁЧҷЧқ Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ Ч”ЧҗЧҷЧ©Чҷ Ч©ЧңЧҡ.`;\n  } else if (hasAny(createAgentWords)) {\n    action = 'create_agent';\n  } else if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `ЧӨЧҷЧЁЧ•Чҳ ЧҰЧҷЧ•Чҹ ЧҗЧ—ЧЁЧ•Чҹ\\nЧһЧ©ЧӘЧһЧ©: ${data.userName}\\nЧЎЧ•ЧӣЧҹ: ${ev.agent}\\nЧҰЧҷЧ•Чҹ: ${ev.score}/10\\nЧЎЧҷЧ‘Ч”: ${ev.deductions}\\nЧһЧ©ЧҷЧһЧ”: ${ev.task}`;\n    } else {\n      direct_reply = `${data.userName}, ЧҗЧҷЧҹ ЧўЧ“ЧҷЧҷЧҹ ЧҰЧҷЧ•Чҹ Ч©ЧһЧ•ЧЁ Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ Ч”ЧҗЧҷЧ©Чҷ Ч©ЧңЧҡ.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords)) {\n    action = 'chitchat';\n    if (isShortCasual) {\n      direct_reply = `${data.userName || 'Ч©ЧңЧ•Чқ'}, Ч©ЧңЧ•Чқ. ЧҗЧҷЧҡ ЧҗЧӨЧ©ЧЁ ЧңЧўЧ–Ч•ЧЁ ЧңЧҡ ЧўЧӣЧ©ЧҷЧ•?`;\n    }\n  } else if (hasAttachedFile && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n    selectionReason = 'Ч Ч‘Ч—ЧЁ code_helper ЧӣЧҷ ЧҰЧ•ЧЁЧЈ Ч§Ч•Ч‘ЧҘ ЧңЧ§ЧЁЧҷЧҗЧ” Ч•ЧҗЧ‘Ч—Ч•Чҹ Ч‘ЧҗЧ’.';\n  } else if (hasAnyUser(n8nWords) && preferredN8nAgent) {\n    action = 'use_agent';\n    agent_name = preferredN8nAgent.name;\n    selectionReason = 'Ч Ч‘Ч—ЧЁ ЧЎЧ•ЧӣЧҹ n8n ЧҷЧҷЧўЧ•Ч“Чҷ ЧӣЧҷ Ч”Ч‘Ч§Ч©Ч” ЧўЧ•ЧЎЧ§ЧӘ Ч‘-JSON ЧҗЧ• Workflow Ч©Чң n8n.';\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9Чҗ-ЧӘ_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3 && !routingStopWords.has(t));\n\n    const agentTimes = agents\n      .map(a => Date.parse(a.updated_at || a.last_used || a.created_at || ''))\n      .filter(Number.isFinite);\n    const newestTime = agentTimes.length ? Math.max(...agentTimes) : Date.now();\n    const oldestTime = agentTimes.length ? Math.min(...agentTimes) : newestTime;\n    const timeSpan = Math.max(1, newestTime - oldestTime);\n\n    const candidates = [];\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let matchScore = 0;\n      const matchedTokens = [];\n      for (const token of tokens) {\n        if (haystack.includes(token)) {\n          matchScore += 1;\n          matchedTokens.push(token);\n        }\n      }\n      if (matchScore <= 0) continue;\n\n      const agentScore = Number(agent.score_avg ?? agent.score ?? 0) || 0;\n      const quality = Math.min(agentScore, 10) / 10;\n      const uses = Number(agent.uses ?? 0) || 0;\n      const updatedMs = Date.parse(agent.updated_at || agent.last_used || agent.created_at || '') || oldestTime;\n      const recency = Math.max(0, Math.min(1, (updatedMs - oldestTime) / timeSpan));\n      const freshImprovedBonus = recency >= 0.65 && agentScore >= 8 ? 0.55 : (recency >= 0.65 && agentScore >= 7 ? 0.25 : 0);\n      const genericPenalty = /(Ч©ЧҷЧһЧ•Ч© ЧЁЧҗЧ©Ч•Чҹ|Ч©ЧҷЧһЧ•Ч© Ч©Ч Чҷ|Ч©ЧҷЧһЧ•Ч© Ч©ЧңЧҷЧ©Чҷ|ЧһЧ©ЧӨЧҳ ЧҗЧ—Ч“ Ч‘ЧЁЧ•ЧЁ ЧўЧң Ч”ЧӘЧӨЧ§ЧҷЧ“)/.test(haystack) ? 0.45 : 0;\n      const finalScore = (matchScore * 1.35) + (quality * 0.95) + (recency * 0.55) + (Math.min(uses, 12) / 120) + freshImprovedBonus - genericPenalty;\n\n      candidates.push({\n        agent,\n        matchScore,\n        matchedTokens: [...new Set(matchedTokens)].slice(0, 5),\n        agentScore,\n        uses,\n        updatedMs,\n        recency,\n        finalScore\n      });\n    }\n\n    candidates.sort((a, b) =>\n      (b.finalScore - a.finalScore) ||\n      (b.agentScore - a.agentScore) ||\n      (b.updatedMs - a.updatedMs)\n    );\n\n    let best = candidates[0] || null;\n    if (best) {\n      for (const candidate of candidates.slice(1)) {\n        const closeMatch = candidate.matchScore >= best.matchScore - 0.5;\n        const fresherAndNoWorse = candidate.updatedMs > best.updatedMs && candidate.agentScore >= best.agentScore - 0.25;\n        const closeEnough = candidate.finalScore >= best.finalScore - 0.35;\n        if (closeMatch && fresherAndNoWorse && closeEnough) {\n          best = candidate;\n        }\n      }\n    }\n\n    if (best && best.finalScore >= 1.85 && best.matchScore >= 1) {\n      action = 'use_agent';\n      agent_name = best.agent.name;\n      const updated = best.agent.updated_at || best.agent.last_used || best.agent.created_at || 'ЧңЧҗ Ч Ч©ЧһЧЁ';\n      const freshness = best.recency >= 0.65 ? 'ЧўЧ“ЧӣЧ Чҷ ЧҷЧ—ЧЎЧҷЧӘ' : 'Ч•ЧӘЧҷЧ§ ЧҗЧ‘Чң ЧўЧ“ЧҷЧҷЧҹ ЧһЧӘЧҗЧҷЧқ';\n      selectionReason = `Ч Ч‘Ч—ЧЁ ${agent_name} ЧӣЧҷ Ч”Ч•Чҗ ЧһЧӘЧҗЧҷЧқ ЧңЧһЧҷЧңЧҷЧқ: ${best.matchedTokens.join(', ') || 'Ч”ЧӘЧҗЧһЧ” ЧӣЧңЧңЧҷЧӘ'}. ЧҰЧҷЧ•Чҹ: ${best.agentScore || 'Ч—Ч“Ч©'}, Ч©ЧҷЧһЧ•Ч©ЧҷЧқ: ${best.uses}, ЧўЧ“ЧӣЧ•Чҹ ЧҗЧ—ЧЁЧ•Чҹ: ${String(updated).replace('T', ' ').substring(0, 16)}. Ч”ЧўЧ“ЧӨЧ”: ${freshness}; ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч© ЧҷЧ•ЧӘЧЁ ЧўЧқ ЧҰЧҷЧ•Чҹ Ч“Ч•ЧһЧ” ЧҗЧ• Ч’Ч‘Ч•Ч” ЧһЧ§Ч‘Чң Ч§Ч“ЧҷЧһЧ•ЧӘ.`;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? (selectionReason || `Ч Ч‘Ч—ЧЁ ${agent_name} ЧңЧӨЧҷ Ч”ЧӘЧҗЧһЧ”, ЧҰЧҷЧ•Чҹ, ЧўЧ“ЧӣЧ ЧҷЧ•ЧӘ Ч•Ч©ЧҷЧһЧ•Ч©ЧҷЧқ Ч§Ч•Ч“ЧһЧҷЧқ.`)\n  : (action === 'create_agent'\n    ? 'ЧңЧҗ Ч ЧһЧҰЧҗ ЧЎЧ•ЧӣЧҹ ЧһЧӘЧҗЧҷЧқ ЧһЧЎЧӨЧҷЧ§, ЧңЧӣЧҹ Ч Ч•ЧҰЧЁ ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч©.'\n    : (action === 'ask_name' ? 'ЧһЧ©ЧӘЧһЧ© Ч—Ч“Ч© ЧңЧңЧҗ Ч©Чқ Ч©ЧһЧ•ЧЁ.' : (action === 'save_name' ? 'Ч Ч©ЧһЧЁ Ч©Чқ ЧһЧ©ЧӘЧһЧ© Ч—Ч“Ч©.' : 'Ч–Ч•Ч”ЧӘЧ” Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ” ЧҗЧ• Ч‘Ч§Ч©ЧӘ ЧһЧҷЧ“Чў ЧҗЧҷЧ©Чҷ.')));\n\nconst isWorkflowTask = action === 'use_agent' || action === 'create_agent';\nconst isProfileStep = action === 'ask_name' || action === 'save_name';\nconst conversationManager = {\n  name: 'Conversation Manager',\n  action,\n  mode: action === 'chitchat' ? 'plain_conversation' : (isWorkflowTask ? 'task_workflow' : 'profile_flow'),\n  agent: agent_name,\n  summary: action === 'chitchat'\n    ? 'Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ” - ЧӘЧ©Ч•Ч‘Ч” Ч Ч§ЧҷЧҷЧ” Ч‘ЧңЧ‘Ч“'\n    : (action === 'use_agent'\n      ? 'ЧһЧ©ЧҷЧһЧ” - Ч©ЧҷЧһЧ•Ч© Ч‘ЧЎЧ•ЧӣЧҹ Ч§ЧҷЧҷЧқ'\n      : (action === 'create_agent' ? 'ЧһЧ©ЧҷЧһЧ” - ЧҷЧҰЧҷЧЁЧӘ ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч©' : 'Ч©ЧңЧ‘ ЧӨЧЁЧ•ЧӨЧҷЧң')),\n  answer_style: action === 'chitchat' ? 'human_plain_answer' : (isProfileStep ? 'direct_profile_reply' : 'workflow_with_progress'),\n  memory_policy: action === 'chitchat'\n    ? 'Ч–ЧҷЧӣЧЁЧ•Чҹ Ч©Ч§Чҳ Ч‘ЧңЧ‘Ч“, ЧЁЧ§ ЧҗЧқ Ч§Ч©Ч•ЧЁ ЧҷЧ©ЧҷЧЁЧ•ЧӘ'\n    : 'Ч©ЧһЧҷЧЁЧӘ ЧһЧ©ЧҷЧһЧ”, ЧЎЧ•ЧӣЧҹ, ЧӘЧ•ЧҰЧҗЧ” Ч•ЧЎЧҷЧ‘ЧӘ Ч”Ч—ЧңЧҳЧ”',\n  progress_policy: action === 'chitchat'\n    ? 'ЧңЧңЧҗ Ч—ЧҷЧ•Ч•Чҷ ЧһЧЎЧңЧ•Чң ЧңЧһЧ©ЧӘЧһЧ©'\n    : 'Ч—ЧҷЧ•Ч•Чҷ Ч§ЧҰЧЁ ЧЁЧ§ Ч‘Ч–ЧһЧҹ ЧўЧ‘Ч•Ч“Ч” ЧҗЧһЧҷЧӘЧҷЧӘ',\n  show_progress: isWorkflowTask,\n  confidence: action === 'chitchat' ? 0.92 : (action === 'use_agent' ? 0.86 : (action === 'create_agent' ? 0.82 : 0.96)),\n  reason: decision_reason\n};\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId, manager: conversationManager } }];"
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId,\n    manager: input.manager || null\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId,\n  manager: parsed.manager || null\n}}];"
      },
      "id": "parse-router",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ask-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "save-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "save_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "chitchat",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "use-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "create-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=ЧҗЧӘЧ” ЧҗЧ•ЧЁЧ§ЧЎЧҳЧЁЧҷЧҷЧҳЧ•ЧЁ, Ч”ЧўЧ•Ч–ЧЁ Ч”ЧҗЧҷЧ©Чҷ Ч©Чң Ч”ЧһЧ©ЧӘЧһЧ© Ч‘ЧҳЧңЧ’ЧЁЧқ.\nЧҗЧӘЧ” ЧңЧҗ Ч”ЧһЧ©ЧӘЧһЧ©.\nЧ©Чқ Ч”ЧһЧ©ЧӘЧһЧ© Ч”Ч•Чҗ:\n{{ $('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©' }}\nЧ–Ч” Ч©Чқ Ч”ЧҗЧ“Чқ Ч©ЧӨЧ•Ч Ч” ЧҗЧңЧҷЧҡ, ЧңЧҗ Ч”Ч©Чқ Ч©ЧңЧҡ.\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч’ЧҷЧ“ \"ЧҗЧ Чҷ {{ $('Parse Router').first().json.userName || 'Ч”ЧһЧ©ЧӘЧһЧ©' }}\".\nЧҗЧқ Ч©Ч•ЧҗЧңЧҷЧқ ЧһЧҷ ЧҗЧӘЧ”, ЧўЧ Ч” Ч©ЧҗЧӘЧ” ЧҗЧ•ЧЁЧ§ЧЎЧҳЧЁЧҷЧҷЧҳЧ•ЧЁ, ЧўЧ•Ч–ЧЁ AI ЧҗЧҷЧ©Чҷ Ч©Ч‘Ч•Ч Ч”, ЧһЧӨЧўЧҷЧң Ч•ЧһЧ©ЧӨЧЁ ЧЎЧ•ЧӣЧ ЧҷЧқ Ч•Ч–ЧЁЧҷЧһЧ•ЧӘ ЧўЧ‘Ч•Ч“Ч”.\n\nЧ”ЧһЧҳЧЁЧ” Ч©ЧңЧҡ Ч‘Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ”:\nЧңЧўЧ Ч•ЧӘ ЧӣЧһЧ• ЧҗЧ“Чқ Ч—ЧӣЧқ, Ч‘ЧЁЧ•ЧЁ Ч•ЧўЧ ЧҷЧҷЧ Чҷ.\n\nЧ‘Ч§Ч©ЧӘ Ч”ЧһЧ©ЧӘЧһЧ© ЧўЧӣЧ©ЧҷЧ•:\n{{ $('Parse Router').first().json.userMessage }}\n\nЧ–ЧҷЧӣЧЁЧ•Чҹ Ч©ЧҷЧһЧ•Ч©Чҷ ЧңЧ©ЧҷЧ—Ч”, ЧЁЧ§ ЧҗЧқ Ч”Ч•Чҗ Ч‘ЧҗЧһЧӘ Ч§Ч©Ч•ЧЁ:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nЧЎЧ•ЧӣЧ ЧҷЧқ Ч–ЧһЧҷЧ ЧҷЧқ, ЧЁЧ§ ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© Ч©Ч•ЧҗЧң Ч‘ЧһЧӨЧ•ЧЁЧ© ЧўЧң ЧЎЧ•ЧӣЧ ЧҷЧқ ЧҗЧ• ЧһЧ‘Ч§Ч© ЧһЧ©ЧҷЧһЧ”:\n{{ $('Prepare Data').first().json.agentList }}\n\nЧӣЧңЧңЧҷ Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ”:\nЧўЧ Ч” Ч§Ч•Ч“Чқ ЧӣЧң ЧўЧң Ч”Ч”Ч•Ч“ЧўЧ” Ч”Ч Ч•ЧӣЧ—ЧҷЧӘ.\nЧ”Ч©ЧӘЧһЧ© Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ ЧӣЧЁЧ§Чў Ч©Ч§Чҳ Ч‘ЧңЧ‘Ч“ Ч•ЧЁЧ§ ЧҗЧқ Ч”Ч•Чҗ Ч§Ч©Ч•ЧЁ ЧҷЧ©ЧҷЧЁЧ•ЧӘ.\nЧҗЧң ЧӘЧҰЧҷЧ’ ЧһЧЎЧңЧ•Чң, Ч—ЧҷЧ•Ч•Чҷ, Ч–ЧҷЧӣЧЁЧ•Чҹ, Ч”Ч—ЧңЧҳЧ•ЧӘ ЧӨЧ ЧҷЧһЧҷЧ•ЧӘ ЧҗЧ• Ч©Чқ ЧЎЧ•ЧӣЧҹ.\nЧҗЧң ЧӘЧ’ЧЁЧ•ЧЁ Ч Ч•Ч©Чҗ ЧҷЧ©Чҹ ЧңЧ©ЧҷЧ—Ч” Ч—Ч“Ч©Ч”.\nЧҗЧқ Ч”Ч”Ч§Ч©ЧЁ ЧңЧҗ Ч‘ЧЁЧ•ЧЁ, Ч©ЧҗЧң Ч©ЧҗЧңЧӘ Ч”Ч‘Ч”ЧЁЧ” Ч§ЧҰЧЁЧ” ЧҗЧ—ЧӘ.\nЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© ЧһЧ‘Ч§Ч© Ч”ЧЎЧ‘ЧЁ, ЧӘЧҹ ЧһЧ‘Ч Ч” Ч Ч§Чҷ ЧўЧқ ЧӣЧ•ЧӘЧЁЧ•ЧӘ Ч§ЧҰЧЁЧ•ЧӘ ЧҗЧ• ЧЁЧ©ЧҷЧһЧ”.\nЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© ЧһЧ‘Ч§Ч© Ч§Ч•Ч“, Ч”Ч—Ч–ЧЁ Ч§Ч•Ч“ Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ЧһЧ©Ч•ЧңЧ©ЧӘ ЧўЧқ Ч©Чқ Ч©ЧӨЧ” ЧӣЧ©ЧҗЧӨЧ©ЧЁ.\nЧҗЧң ЧӘЧ•ЧЎЧҷЧЈ Ч“Ч•Ч’ЧһЧӘ Ч§Ч•Ч“ ЧҗЧқ ЧңЧҗ Ч‘ЧҷЧ§Ч©Ч• Ч§Ч•Ч“.\nЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч Ч§ЧҷЧҷЧ” Ч‘ЧңЧ‘Ч“, ЧҗЧңЧҗ ЧҗЧқ Ч©Чқ ЧӣЧңЧҷ ЧҳЧӣЧ Чҷ Ч—ЧҷЧҷЧ‘ ЧңЧ”Ч•ЧӨЧҷЧў Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ.\nЧҗЧқ ЧһЧ•ЧӨЧҷЧўЧҷЧқ Ч‘Ч–ЧҷЧӣЧЁЧ•Чҹ ЧһЧ©ЧӨЧҳЧҷЧқ Ч©Ч‘Ч•ЧЁЧҷЧқ, Ч©ЧӨЧ•ЧӘ Ч–ЧЁЧ•ЧӘ ЧҗЧ• Ч Ч•Ч©Чҗ Ч©ЧңЧҗ Ч§Ч©Ч•ЧЁ ЧңЧ©ЧҗЧңЧ”, Ч”ЧӘЧўЧңЧқ ЧһЧ”Чқ.\nЧ‘ЧңЧҷ Ч§ЧҷЧ©Ч•ЧҳЧҷЧқ, Ч‘ЧңЧҷ ЧһЧЎЧ’ЧЁЧ•ЧӘ ЧҰЧҷЧ•ЧЁ, Ч‘ЧңЧҷ ЧҳЧ§ЧЎЧҳ Ч©Ч‘Ч•ЧЁ."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 450,
                "num_ctx": 2048,
                "temperature": 0.3
              }
            }
          ]
        },
        "options": {}
      },
      "id": "chitchat-llm",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[в”Ҹв”—в”Јв”ғв”Ғ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Parse Router').first().json.direct_reply || $('Chitchat LLM').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|Ч§Ч•Ч“|ЧўЧһЧ•Ч“|Ч“ЧЈ|ЧӨЧ•Ч Ч§ЧҰЧҷЧ”|ЧЎЧ§ЧЁЧҷЧӨЧҳ|Ч§Ч•ЧһЧӨЧ•Ч Ч Чҳ|ЧҗЧӘЧЁ|ЧҳЧ•ЧӨЧЎ|ЧӣЧӨЧӘЧ•ЧЁ)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-chitchat",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[в”Ҹв”—в”Јв”ғв”Ғ]+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|Ч§Ч•Ч“|ЧўЧһЧ•Ч“|Ч“ЧЈ|ЧӨЧ•Ч Ч§ЧҰЧҷЧ”|ЧЎЧ§ЧЁЧҷЧӨЧҳ|Ч§Ч•ЧһЧӨЧ•Ч Ч Чҳ|ЧҗЧӘЧЁ|ЧҳЧ•ЧӨЧЎ|ЧӣЧӨЧӘЧ•ЧЁ)/i.test(task + ' ' + agent);\n  })());\n  const direct = $('Parse Router').first().json.direct_reply;\n  const body = direct\n    ? safe(direct, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”. Ч ЧЎЧ” Ч©Ч•Ч‘ Ч‘ЧўЧ•Ч“ ЧЁЧ’Чў.', keepCode)\n    : safe($('Chitchat LLM').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”. Ч ЧЎЧ” Ч©Ч•Ч‘ Ч‘ЧўЧ•Ч“ ЧЁЧ’Чў.', keepCode);\n  const userName = String($('Parse Router').first().json.userName || '').trim();\n  const plain = body.replace(/<[^>]+>/g, '');\n  const escapedName = userName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const assistantClaimsUserName = escapedName && new RegExp('(^|[\\\\s,.:;!?])ЧҗЧ Чҷ\\\\s+' + escapedName + '([\\\\s,.:;!?]|$)').test(plain);\n  if (assistantClaimsUserName || /ЧўЧ•ЧӨЧЁ\\\\s+ЧҷЧ•Ч“Чў\\\\s+ЧңЧ”ЧҳЧһЧҷЧў|ЧҗЧ Чҷ\\\\s+ЧўЧ•ЧӨЧЁ\\\\b/.test(plain)) {\n    return 'ЧҗЧ Чҷ ЧҗЧ•ЧЁЧ§ЧЎЧҳЧЁЧҷЧҷЧҳЧ•ЧЁ, Ч”ЧўЧ•Ч–ЧЁ Ч”ЧҗЧҷЧ©Чҷ Ч©ЧңЧҡ. ЧҗЧ Чҷ Ч–Ч•ЧӣЧЁ Ч©Ч”Ч©Чқ Ч©ЧңЧҡ Ч”Ч•Чҗ ' + safe(userName, 'ЧһЧ©ЧӘЧһЧ©', false) + '. ЧҗЧҷЧҡ ЧҗЧӨЧ©ЧЁ ЧңЧўЧ–Ч•ЧЁ?';\n  }\n  return body;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-chitchat",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        64
      ],
      "webhookId": "4558b5d5-020e-4317-984e-e336652c86ab",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=ЧҗЧӘЧ” Ч”ЧЎЧ•ЧӣЧҹ:\\n{{ $('Parse Router').first().json.agent_name }}\\n\\nЧўЧ Ч” ЧһЧ”ЧЁ, ЧҷЧ©ЧҷЧЁ Ч•Ч©ЧҷЧһЧ•Ч©Чҷ.\nЧ‘Ч§Ч©ЧӘ Ч”ЧһЧ©ЧӘЧһЧ© Ч”ЧҷЧҗ ЧһЧ§Ч•ЧЁ Ч”ЧҗЧһЧӘ. Ч”Ч”Ч§Ч©ЧЁ Ч”Ч§Ч•Ч“Чқ Ч”Ч•Чҗ ЧЁЧ§ ЧЁЧ§Чў, Ч•ЧҗЧЎЧ•ЧЁ ЧңЧ• ЧңЧ”Ч—ЧңЧҷЧЈ ЧҗЧӘ Ч”Ч‘Ч§Ч©Ч” Ч”Ч Ч•ЧӣЧ—ЧҷЧӘ.\\n\\nЧ”Ч§Ч©ЧЁ ЧҗЧ—ЧЁЧ•Чҹ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nЧһЧ©ЧҷЧһЧ”:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\nЧ—Ч•Ч‘Ч” ЧһЧ•Ч—ЧңЧҳЧӘ:\\nЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧЎЧҷЧ ЧҷЧӘ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧӘЧ•Ч•ЧҷЧқ ЧЎЧҷЧ ЧҷЧҷЧқ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧўЧЁЧ‘ЧҷЧӘ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧӘЧ•Ч•ЧҷЧқ ЧўЧЁЧ‘ЧҷЧҷЧқ.\\nЧҗЧқ Ч”Ч”Ч§Ч©ЧЁ ЧӣЧ•ЧңЧң ЧўЧЁЧ‘ЧҷЧӘ ЧҗЧ• Ч©ЧӨЧ” Ч–ЧЁЧ”, Ч”ЧӘЧўЧңЧқ ЧһЧһЧ Ч” Ч•ЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч Ч§ЧҷЧҷЧ” Ч‘ЧңЧ‘Ч“.\\nЧҗЧЎЧ•ЧЁ ЧңЧўЧЁЧ‘Ч‘ Ч©ЧӨЧ•ЧӘ Ч‘ЧӘЧ•ЧӣЧҹ ЧЁЧ’ЧҷЧң.\\nЧҗЧқ Ч–Ч• ЧӘЧ©Ч•Ч‘ЧӘ Ч§Ч•Ч“, Ч©ЧһЧ•ЧЁ ЧҗЧӘ Ч”Ч§Ч•Ч“ Ч‘ЧһЧ‘Ч Ч” ЧЁЧ’ЧҷЧң Ч•Ч§ЧЁЧҷЧҗ, Ч‘ЧңЧҷ ЧңЧӨЧЁЧ§ ЧӘЧ’ЧҷЧ•ЧӘ, Ч©ЧһЧ•ЧӘ ЧһЧ©ЧӘЧ ЧҷЧқ ЧҗЧ• ЧһЧҷЧңЧҷЧқ Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ ЧңЧ©Ч•ЧЁЧ•ЧӘ.\\nЧҗЧқ ЧҗЧҷЧҹ ЧңЧҡ ЧһЧҷЧ“Чў ЧҗЧһЧҷЧӘЧҷ, ЧӘЧ’ЧҷЧ“ Ч©ЧҗЧҷЧҹ ЧһЧҷЧ“Чў Ч©ЧһЧ•ЧЁ.\\n\\nЧ©Чқ Ч”ЧһЧ©ЧӘЧһЧ© ЧңЧ©ЧҷЧ—Ч”:\\n{{ $('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©' }}\\nЧӨЧ Ч” ЧҗЧңЧҷЧ• Ч‘Ч©Чқ Ч©ЧңЧ• Ч‘ЧҳЧ‘ЧўЧҷЧ•ЧӘ, ЧңЧҗ Ч‘ЧӣЧң ЧһЧ©ЧӨЧҳ.\\nЧҗЧқ ЧҷЧ© Ч‘ЧӘЧ©Ч•Ч‘Ч” Ч§Ч•Ч“, Ч”Ч—Ч–ЧЁ ЧҗЧӘ Ч”Ч§Ч•Ч“ Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ЧһЧ©Ч•ЧңЧ©ЧӘ ЧўЧқ Ч©Чқ Ч©ЧӨЧ” ЧӣЧҗЧ©ЧЁ ЧҗЧӨЧ©ЧЁ. ЧҗЧң ЧӘЧӨЧЁЧ§ Ч©ЧһЧ•ЧӘ ЧһЧ©ЧӘЧ ЧҷЧқ, ЧӘЧ’ЧҷЧ•ЧӘ ЧҗЧ• ЧһЧҷЧңЧҷЧқ Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ Ч‘ЧӘЧ•Чҡ Ч§Ч•Ч“.\\n\\nЧӣЧңЧңЧҷ ЧҗЧҷЧӣЧ•ЧӘ ЧңЧӘЧ©Ч•Ч‘Ч”:\\n- ЧӨЧӘЧ— Ч‘ЧһЧ©ЧӨЧҳ ЧҗЧ—Ч“ Ч©ЧһЧЎЧӣЧқ ЧҗЧӘ Ч”ЧӘЧ©Ч•Ч‘Ч”.\\n- ЧңЧҗЧ—ЧЁ ЧһЧӣЧҹ ЧӘЧҹ ЧһЧ‘Ч Ч” Ч‘ЧЁЧ•ЧЁ ЧўЧқ ЧӣЧ•ЧӘЧЁЧ•ЧӘ Ч§ЧҰЧЁЧ•ЧӘ ЧҗЧ• ЧЁЧ©ЧҷЧһЧ” ЧһЧһЧ•ЧЎЧӨЧЁЧӘ.\\n- ЧҗЧң ЧӘЧ•ЧЎЧҷЧЈ Ч“Ч•Ч’ЧһЧӘ Ч§Ч•Ч“ ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© ЧңЧҗ Ч‘ЧҷЧ§Ч© Ч§Ч•Ч“.\\n- ЧҗЧң ЧӘЧӣЧ ЧҷЧЎ ЧһЧҷЧңЧҷЧқ Ч–ЧЁЧ•ЧӘ, ЧӘЧ•Ч•ЧҷЧқ Ч–ЧЁЧҷЧқ, ЧҗЧ• ЧЁЧҰЧӨЧҷ ЧҗЧ•ЧӘЧҷЧ•ЧӘ Ч—ЧЎЧЁЧҷ ЧһЧ©ЧһЧўЧ•ЧӘ.\\n- ЧҗЧқ Ч Ч“ЧЁЧ© ЧһЧ•Ч Ч— ЧҳЧӣЧ Чҷ Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ, Ч”Ч©ЧӘЧһЧ© ЧЁЧ§ Ч‘Ч©Чқ Ч”ЧӣЧңЧҷ ЧҗЧ• Ч”ЧӘЧ§Чҹ ЧўЧҰЧһЧ•.\\n- ЧҗЧқ Ч–Ч• Ч‘Ч§Ч©ЧӘ ЧҗЧӨЧҷЧ•Чҹ, Ч”Ч—Ч–ЧЁ: ЧһЧҳЧЁЧ”, ЧЁЧӣЧҷЧ‘ЧҷЧқ, Ч–ЧЁЧҷЧһЧӘ ЧўЧ‘Ч•Ч“Ч”, Ч‘Ч“ЧҷЧ§Ч•ЧӘ, Ч•ЧӘЧ•ЧҰЧЁ ЧЎЧ•ЧӨЧҷ.\\n- Ч‘ЧңЧҷ ЧһЧЎЧ’ЧЁЧ•ЧӘ ЧҰЧҷЧ•ЧЁ, Ч‘ЧңЧҷ Ч§ЧҷЧ©Ч•ЧҳЧҷЧқ, Ч‘ЧңЧҷ ЧҳЧ§ЧЎЧҳ Ч©Ч‘Ч•ЧЁ.\n\nЧ—Ч•Ч§Чҷ ЧӘЧ•ЧҰЧЁ ЧһЧ—ЧҷЧҷЧ‘ЧҷЧқ:\n- ЧҗЧқ Ч”Ч‘Ч§Ч©Ч” ЧӣЧ•ЧңЧңЧӘ JSON, n8n ЧҗЧ• Workflow, Ч”Ч—Ч–ЧЁ JSON ЧӘЧ§ЧЈ Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ЧһЧ©Ч•ЧңЧ©ЧӘ.\n- ЧҗЧЎЧ•ЧЁ ЧңЧ”Ч—Ч–ЧҷЧЁ ЧЁЧ©ЧҷЧһЧ•ЧӘ ЧЁЧҷЧ§Ч•ЧӘ ЧӣЧһЧ• 1. 2. 3. Ч‘ЧңЧҷ ЧӘЧ•ЧӣЧҹ.\n- ЧҗЧқ Ч—ЧЎЧЁЧҷЧқ ЧӨЧЁЧҳЧҷЧқ, ЧҰЧ•ЧЁ ЧӘЧ‘Ч ЧҷЧӘ Ч©ЧҷЧһЧ•Ч©ЧҷЧӘ ЧўЧқ Ч©ЧһЧ•ЧӘ ЧҰЧһЧӘЧҷЧқ, Ч—ЧҷЧ‘Ч•ЧЁЧҷЧқ Ч•Ч©Ч“Ч•ЧӘ Ч‘ЧЁЧ•ЧЁЧҷЧқ.\n- ЧҗЧң ЧӘЧўЧӘЧҷЧ§ Ч Ч•Ч©Чҗ ЧҷЧ©Чҹ ЧһЧ”Ч–ЧҷЧӣЧЁЧ•Чҹ ЧҗЧқ Ч”Ч•Чҗ ЧңЧҗ Ч—ЧңЧ§ ЧһЧ”Ч‘Ч§Ч©Ч” Ч”Ч Ч•ЧӣЧ—ЧҷЧӘ.\n- Ч§Ч•Ч“ Ч•-JSON ЧҷЧӣЧ•ЧңЧҷЧқ ЧңЧ”ЧӣЧҷЧң ЧҗЧ Ч’ЧңЧҷЧӘ, Ч©ЧһЧ•ЧӘ Ч©Ч“Ч•ЧӘ Ч•ЧЎЧҷЧһЧ ЧҷЧқ ЧҳЧӣЧ ЧҷЧҷЧқ Ч‘ЧңЧҷ ЧңЧһЧ—Ч•Ч§ ЧҗЧ•ЧӘЧқ.\n\nЧӣЧңЧңЧҷ n8n Ч§Ч©ЧҷЧ—ЧҷЧқ:\n- ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© Ч©Ч•ЧңЧ— ЧӨЧЁЧ•ЧҳЧ•Ч§Ч•Чң Ч‘Ч“ЧҷЧ§Ч” ЧҗЧ• Role Prompt ЧӣЧһЧ• \"You are an N8N workflow expert\", ЧҗЧң ЧӘЧҷЧҰЧ•ЧЁ Workflow. ЧҗЧ©ЧЁ Ч©Ч§ЧҷЧ‘ЧңЧӘ ЧҗЧӘ Ч”ЧӣЧңЧңЧҷЧқ Ч‘ЧңЧ‘Ч“.\n- ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© ЧһЧ‘Ч§Ч© JSON Чң-n8n, Ч”Ч—Ч–ЧЁ ЧЁЧ§ Workflow JSON ЧӘЧ§ЧЈ Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ```json, Ч‘ЧңЧҷ ЧҳЧ§ЧЎЧҳ ЧңЧӨЧ Чҷ ЧҗЧ• ЧҗЧ—ЧЁЧҷ.\n- Ч”Ч©ЧӘЧһЧ© ЧЁЧ§ Ч‘ЧЎЧ•Ч’Чҷ ЧҰЧһЧӘЧҷЧқ ЧҗЧһЧҷЧӘЧҷЧҷЧқ ЧһЧ”ЧЁЧ©ЧҷЧһЧ”: n8n-nodes-base.webhook, n8n-nodes-base.httpRequest, n8n-nodes-base.code, n8n-nodes-base.set, n8n-nodes-base.if, n8n-nodes-base.switch, n8n-nodes-base.merge, n8n-nodes-base.splitInBatches, n8n-nodes-base.googleSheets, n8n-nodes-base.postgres, n8n-nodes-base.mySql, n8n-nodes-base.telegram, n8n-nodes-base.noOp.\n- ЧҗЧЎЧ•ЧЁ ЧңЧ”Ч©ЧӘЧһЧ© Ч‘ЧЎЧ•Ч’ЧҷЧқ ЧӨЧҷЧ§ЧҳЧҷЧ‘ЧҷЧҷЧқ ЧӣЧһЧ• parseJSON, log, saveToDatabase, filterData, analyzeData ЧҗЧ• snake_case ЧӣЧ’Ч•Чҹ n8n_nodes_base_httpRequest.\n- ЧңЧҰЧ•ЧЁЧҡ Parse JSON ЧҗЧ• Log Ч”Ч©ЧӘЧһЧ© Ч‘ЧҰЧ•ЧһЧӘ n8n-nodes-base.code ЧўЧқ jsCode.\n- ЧңЧӣЧң node Ч—Ч•Ч‘Ч”: id, name, type, typeVersion ЧӣЧһЧЎЧӨЧЁ, position ЧӣЧһЧўЧЁЧҡ ЧһЧЎЧӨЧЁЧҷЧқ, parameters.\n- connections Ч—ЧҷЧҷЧ‘ ЧңЧ”ЧҷЧ•ЧӘ ЧҗЧ•Ч‘ЧҷЧҷЧ§Чҳ ЧңЧӨЧҷ Ч©Чқ ЧҰЧ•ЧһЧӘ ЧһЧ§Ч•ЧЁ, ЧңЧҗ ЧңЧӨЧҷ id:\n  \"connections\": {\n    \"Webhook\": { \"main\": [[{ \"node\": \"Normalize Input\", \"type\": \"main\", \"index\": 0 }]] }\n  }\n- ЧӣЧң ЧҷЧўЧ“ Ч‘ЧӘЧ•Чҡ connections Ч—ЧҷЧҷЧ‘ ЧңЧ”Ч©ЧӘЧһЧ© Ч‘Ч©Чқ node Ч§ЧҷЧҷЧқ, ЧңЧҗ id.\n- credentials ЧҷЧ”ЧҷЧ• Ч”ЧӨЧ ЧҷЧ” ЧңЧ©Чқ credential Ч‘ЧңЧ‘Ч“ ЧҗЧ• ЧҗЧ•Ч‘ЧҷЧҷЧ§Чҳ ЧЁЧҷЧ§; ЧңЧўЧ•ЧңЧқ ЧңЧҗ ЧңЧ”ЧӣЧ ЧҷЧЎ ЧЎЧҷЧЎЧһЧҗЧ•ЧӘ ЧҗЧ• tokens.\n- ЧҗЧқ ЧһЧӘЧ§Ч ЧҷЧқ Workflow Ч§ЧҷЧҷЧқ, Ч©ЧһЧ•ЧЁ ЧўЧң Ч”ЧһЧҳЧЁЧ” Ч”ЧһЧ§Ч•ЧЁЧҷЧӘ Ч•ЧӘЧ§Чҹ ЧҗЧӘ Ч”ЧһЧ‘Ч Ч”. ЧҗЧң ЧӘЧ—Ч–ЧҷЧЁ Ч“Ч•Ч’ЧһЧ” ЧЁЧҷЧ§Ч” ЧҗЧ• Workflow Ч‘Ч©Чқ checklist.\n- ЧңЧӨЧ Чҷ Ч”Ч—Ч–ЧЁЧ” Ч•Ч“Чҗ Ч©Ч”-JSON Ч ЧҷЧӘЧҹ Чң-JSON.parse Ч•Ч©ЧҗЧҷЧҹ ЧЁЧ©ЧҷЧһЧ•ЧӘ ЧЁЧҷЧ§Ч•ЧӘ, Ч©Ч“Ч•ЧӘ Ч©Ч‘Ч•ЧЁЧҷЧқ ЧҗЧ• ЧһЧЁЧӣЧҗЧ•ЧӘ ЧңЧҗ ЧЎЧ’Ч•ЧЁЧ•ЧӘ.\n\n\nЧӣЧңЧңЧҷ ЧҗЧҷЧӣЧ•ЧӘ ЧңЧЎЧ•ЧӣЧ Чҷ Ч§Ч•Ч“:\n- Ч”ЧӘЧ Ч”Ч’ ЧӣЧһЧӨЧӘЧ— Ч‘ЧӣЧҷЧЁ. ЧҗЧң ЧӘЧ—Ч–ЧҷЧЁ Ч“Ч•Ч’ЧһЧӘ ЧҰЧўЧҰЧ•Чў ЧӣЧ©Ч Ч“ЧЁЧ© ЧӨЧӘЧЁЧ•Чҹ ЧҗЧһЧҷЧӘЧҷ.\n- ЧҗЧқ ЧҰЧ•ЧЁЧЈ Ч§Ч•Ч‘ЧҘ, Ч§ЧЁЧҗ ЧҗЧ•ЧӘЧ• ЧӣЧ§Ч•Ч“ ЧһЧ§Ч•ЧЁ: ЧҰЧҷЧҷЧҹ ЧҗЧӘ Ч”Ч‘ЧўЧҷЧ”, ЧҗЧӘ Ч”ЧЎЧҷЧ‘Ч”, Ч•ЧҗЧӘ Ч”ЧӘЧҷЧ§Ч•Чҹ Ч”ЧһЧ•ЧҰЧў.\n- Ч”Ч—Ч–ЧЁ Ч§Ч•Ч“ ЧһЧңЧҗ ЧҗЧ• patch/diff Ч‘ЧЁЧ•ЧЁ Ч©Ч ЧҷЧӘЧҹ ЧңЧ”ЧўЧӘЧҷЧ§, Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ЧһЧ©Ч•ЧңЧ©ЧӘ ЧўЧқ Ч©ЧӨЧ”.\n- ЧҗЧң ЧӘЧһЧҰЧҷЧҗ API, node type, Ч ЧӘЧҷЧ‘, Ч©Чқ ЧӨЧ•Ч Ч§ЧҰЧҷЧ” ЧҗЧ• ЧЎЧӨЧЁЧҷЧҷЧ” ЧҗЧқ Ч”Чқ ЧңЧҗ ЧһЧ•ЧӨЧҷЧўЧҷЧқ Ч‘Ч§Ч•Ч‘ЧҘ ЧҗЧ• Ч‘Ч‘Ч§Ч©Ч”.\n- ЧҗЧқ Ч—ЧЎЧЁ Ч§Ч•Ч‘ЧҘ Ч Ч•ЧЎЧЈ ЧӣЧ“Чҷ ЧңЧ•Ч•Ч“Чҗ ЧӘЧҷЧ§Ч•Чҹ, ЧҗЧһЧ•ЧЁ Ч‘Ч“ЧҷЧ•Ч§ ЧҗЧҷЧ–Ч” Ч§Ч•Ч‘ЧҘ Ч—ЧЎЧЁ Ч•ЧһЧ” ЧҰЧЁЧҷЧҡ ЧңЧ‘Ч“Ч•Ч§.\n- ЧҗЧң ЧӘЧ©Ч Ч” Ч§Ч‘ЧҰЧҷЧқ Ч‘ЧӨЧ•ЧўЧң Ч•ЧҗЧң ЧӘЧ’ЧҷЧ“ Ч©Ч©ЧҷЧ ЧҷЧӘ. ЧҗЧӘЧ” ЧһЧҰЧҷЧў ЧӘЧҷЧ§Ч•Чҹ Ч‘ЧңЧ‘Ч“ ЧҗЧңЧҗ ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© Ч‘ЧҷЧ§Ч© ЧңЧ‘ЧҰЧў Ч©ЧҷЧ Ч•Чҷ ЧһЧӨЧ•ЧЁЧ©.\n- ЧңЧӨЧ Чҷ ЧӘЧ©Ч•Ч‘Ч” ЧЎЧ•ЧӨЧҷЧӘ Ч‘Ч“Ч•Ч§ ЧӘЧ—Ч‘ЧҷЧЁ Ч‘ЧЎЧҷЧЎЧҷ Ч‘ЧЁЧҗЧ©: ЧЎЧ•Ч’ЧЁЧҷЧҷЧқ, ЧһЧЁЧӣЧҗЧ•ЧӘ, JSON ЧӘЧ§ЧЈ, imports, Ч•Ч©ЧһЧ•ЧӘ ЧһЧ©ЧӘЧ ЧҷЧқ.\n\n\nRead-only local path rule:\n- If READ_ONLY_LOCAL_PATH_CONTEXT appears, use it as evidence from the exact local path the user provided.\n- If MODE is directory, you only have a shallow listing, not nested file contents.\n- Never claim you edited, deleted, saved, executed, or changed local files. You are only reading and explaining unless the user explicitly asks for a separate edit operation.\n\n\nЧ”Ч‘Ч§Ч©Ч” Ч”Ч Ч•ЧӣЧ—ЧҷЧӘ Ч©Ч•Ч‘:\n{{ $('Parse Router').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[в”Ҹв”—в”Јв”ғв”Ғ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute Agent').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|Ч§Ч•Ч“|ЧўЧһЧ•Ч“|Ч“ЧЈ|ЧӨЧ•Ч Ч§ЧҰЧҷЧ”|ЧЎЧ§ЧЁЧҷЧӨЧҳ|Ч§Ч•ЧһЧӨЧ•Ч Ч Чҳ|ЧҗЧӘЧЁ|ЧҳЧ•ЧӨЧЎ|ЧӣЧӨЧӘЧ•ЧЁ)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-agent",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[в”Ҹв”—в”Јв”ғв”Ғ]+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|Ч§Ч•Ч“|ЧўЧһЧ•Ч“|Ч“ЧЈ|ЧӨЧ•Ч Ч§ЧҰЧҷЧ”|ЧЎЧ§ЧЁЧҷЧӨЧҳ|Ч§Ч•ЧһЧӨЧ•Ч Ч Чҳ|ЧҗЧӘЧЁ|ЧҳЧ•ЧӨЧЎ|ЧӣЧӨЧӘЧ•ЧЁ)/i.test(task + ' ' + agent);\n  })());\n  const body = safe($('Execute Agent').first().json.response, 'ЧңЧҗ Ч”ЧӘЧ§Ч‘ЧңЧ” ЧӘЧ©Ч•Ч‘Ч” ЧһЧңЧҗЧ”. Ч ЧЎЧ” Ч©Ч•Ч‘ Ч‘ЧўЧ•Ч“ ЧЁЧ’Чў.', keepCode);\n  const escapeHeader = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const rawAgentName = String($('Parse Router').first().json.agent_name || '').trim();\n  const agentLabel = rawAgentName ? '<code>' + escapeHeader(rawAgentName) + '</code>' : 'ЧЎЧ•ЧӣЧҹ Ч§ЧҷЧҷЧқ';\n  return `<b>Ч ЧҰЧҷЧ’ Ч Ч‘Ч—ЧЁ</b>\nЧһЧ©ЧӘЧһЧ©: ${$('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©'}\nЧ ЧҰЧҷЧ’: ${agentLabel}\nЧЎЧҷЧ‘Ч”: ${safe($('Parse Router').first().json.decision_reason || 'Ч”ЧӘЧҗЧһЧ” ЧҳЧ•Ч‘Ч” Ч‘ЧҷЧ•ЧӘЧЁ ЧңЧӨЧҷ Ч”ЧЁЧ©ЧҷЧһЧ” Ч•Ч”ЧҰЧҷЧ•Ч ЧҷЧқ', 'Ч”ЧӘЧҗЧһЧ” ЧҳЧ•Ч‘Ч” Ч‘ЧҷЧ•ЧӘЧЁ ЧңЧӨЧҷ Ч”ЧЁЧ©ЧҷЧһЧ” Ч•Ч”ЧҰЧҷЧ•Ч ЧҷЧқ', false)}\n\n${body}`;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-result",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        304
      ],
      "webhookId": "f05da3bd-3aec-4eac-9c88-b882240b5daf",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for must be clean, specific Hebrew when the task is Hebrew. No Arabic script, no Chinese script, no foreign-language filler.\\n- Never return generic good_for values like Ч©ЧҷЧһЧ•Ч© ЧЁЧҗЧ©Ч•Чҹ, Ч©ЧҷЧһЧ•Ч© Ч©Ч Чҷ, Ч©ЧҷЧһЧ•Ч© Ч©ЧңЧҷЧ©Чҷ.\\n- Never create an agent for a simple casual chat or a request to explain the previous score.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"ЧӘЧҷЧҗЧ•ЧЁ ЧўЧ‘ЧЁЧҷ ЧЎЧӨЧҰЧҷЧӨЧҷ Ч©Чң Ч”ЧӘЧӨЧ§ЧҷЧ“\",\n  \"good_for\": \"ЧһЧ©ЧҷЧһЧ” ЧҗЧһЧҷЧӘЧҷЧӘ ЧҗЧ—ЧӘ, ЧһЧ©ЧҷЧһЧ” ЧҗЧһЧҷЧӘЧҷЧӘ Ч©Ч ЧҷЧҷЧ”, ЧһЧ©ЧҷЧһЧ” ЧҗЧһЧҷЧӘЧҷЧӘ Ч©ЧңЧҷЧ©ЧҷЧӘ\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "create-agent-llm",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9Чҗ-ЧӘ\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nfunction inferAgentName(task) {\n  const t = String(task || '').toLowerCase();\n  const parts = [];\n  if (/ЧһЧ•Ч“Ч•Чң|module/.test(t)) parts.push('module');\n  if (/Ч ЧӘЧ•Ч |data|db|database/.test(t)) parts.push('data');\n  if (/front|frontend|ui|ЧһЧЎЧҡ|ЧһЧһЧ©Ч§/.test(t)) parts.push('frontend');\n  if (/back|backend|Ч©ЧЁЧӘ/.test(t)) parts.push('backend');\n  if (/Ч‘Ч“ЧҷЧ§|Ч•Ч•Ч“Чҗ|ЧҗЧҷЧһЧ•ЧӘ|validate|test|qa/.test(t)) parts.push('validation');\n  if (/Ч ЧҷЧЎЧ•Ч—|ЧӣЧӘЧҷЧ‘|ЧӘЧ•ЧӣЧҹ|ЧҳЧ§ЧЎЧҳ|copy/.test(t)) parts.push('writing');\n  if (/Ч§Ч•Ч“|code|bug|debug|Ч©Ч’ЧҷЧҗЧ”/.test(t)) parts.push('code');\n  if (/ЧҗЧ•ЧҳЧ•Чһ|workflow|ЧӘЧ”ЧңЧҷЧҡ/.test(t)) parts.push('automation');\n  const unique = [...new Set(parts)].slice(0, 3);\n  if (unique.length >= 2) return cleanName(unique.join('_') + '_agent');\n  if (unique.length === 1) return cleanName(unique[0] + '_task_agent');\n  const hash = Array.from(String(task || 'custom')).reduce((sum, ch) => sum + ch.charCodeAt(0), 0).toString(36).slice(0, 5);\n  return cleanName('custom_request_agent_' + hash);\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || 'ЧЎЧ•ЧӣЧҹ ЧҷЧҷЧўЧ•Ч“Чҷ Ч©Ч Ч•ЧҰЧЁ ЧңЧӨЧҷ Ч”Ч‘Ч§Ч©Ч” Ч”ЧҗЧ—ЧЁЧ•Ч Ч”.',\n  good_for: parsed.good_for || 'ЧһЧ©ЧҷЧһЧ•ЧӘ Ч“Ч•ЧһЧ•ЧӘ ЧңЧ‘Ч§Ч©Ч” Ч”ЧҗЧ—ЧЁЧ•Ч Ч”',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "parse-new-agent",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "save-registry",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=ЧҗЧӘЧ” Ч”ЧЎЧ•ЧӣЧҹ:\\n{{ $('Parse New Agent').first().json.name }}\\n\\nЧўЧ Ч” ЧһЧ”ЧЁ, ЧҷЧ©ЧҷЧЁ Ч•Ч©ЧҷЧһЧ•Ч©Чҷ.\nЧ‘Ч§Ч©ЧӘ Ч”ЧһЧ©ЧӘЧһЧ© Ч”ЧҷЧҗ ЧһЧ§Ч•ЧЁ Ч”ЧҗЧһЧӘ. Ч”Ч”Ч§Ч©ЧЁ Ч”Ч§Ч•Ч“Чқ Ч”Ч•Чҗ ЧЁЧ§ ЧЁЧ§Чў, Ч•ЧҗЧЎЧ•ЧЁ ЧңЧ• ЧңЧ”Ч—ЧңЧҷЧЈ ЧҗЧӘ Ч”Ч‘Ч§Ч©Ч” Ч”Ч Ч•ЧӣЧ—ЧҷЧӘ.\\n\\nЧ”Ч§Ч©ЧЁ ЧҗЧ—ЧЁЧ•Чҹ:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\nЧһЧ©ЧҷЧһЧ”:\\n{{ $('Parse New Agent').first().json.userMessage }}\\n\\nЧ—Ч•Ч‘Ч” ЧһЧ•Ч—ЧңЧҳЧӘ:\\nЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч‘ЧңЧ‘Ч“.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧЎЧҷЧ ЧҷЧӘ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧӘЧ•Ч•ЧҷЧқ ЧЎЧҷЧ ЧҷЧҷЧқ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧўЧЁЧ‘ЧҷЧӘ.\\nЧҗЧЎЧ•ЧЁ ЧңЧ”Ч•ЧҰЧҷЧҗ ЧӘЧ•Ч•ЧҷЧқ ЧўЧЁЧ‘ЧҷЧҷЧқ.\\nЧҗЧқ Ч”Ч”Ч§Ч©ЧЁ ЧӣЧ•ЧңЧң ЧўЧЁЧ‘ЧҷЧӘ ЧҗЧ• Ч©ЧӨЧ” Ч–ЧЁЧ”, Ч”ЧӘЧўЧңЧқ ЧһЧһЧ Ч” Ч•ЧўЧ Ч” Ч‘ЧўЧ‘ЧЁЧҷЧӘ Ч Ч§ЧҷЧҷЧ” Ч‘ЧңЧ‘Ч“.\\nЧҗЧЎЧ•ЧЁ ЧңЧўЧЁЧ‘Ч‘ Ч©ЧӨЧ•ЧӘ Ч‘ЧӘЧ•ЧӣЧҹ ЧЁЧ’ЧҷЧң.\\nЧҗЧқ Ч–Ч• ЧӘЧ©Ч•Ч‘ЧӘ Ч§Ч•Ч“, Ч©ЧһЧ•ЧЁ ЧҗЧӘ Ч”Ч§Ч•Ч“ Ч‘ЧһЧ‘Ч Ч” ЧЁЧ’ЧҷЧң Ч•Ч§ЧЁЧҷЧҗ, Ч‘ЧңЧҷ ЧңЧӨЧЁЧ§ ЧӘЧ’ЧҷЧ•ЧӘ, Ч©ЧһЧ•ЧӘ ЧһЧ©ЧӘЧ ЧҷЧқ ЧҗЧ• ЧһЧҷЧңЧҷЧқ Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ ЧңЧ©Ч•ЧЁЧ•ЧӘ.\\nЧҗЧқ ЧҗЧҷЧҹ ЧңЧҡ ЧһЧҷЧ“Чў ЧҗЧһЧҷЧӘЧҷ, ЧӘЧ’ЧҷЧ“ Ч©ЧҗЧҷЧҹ ЧһЧҷЧ“Чў Ч©ЧһЧ•ЧЁ.\\n\\nЧ©Чқ Ч”ЧһЧ©ЧӘЧһЧ© ЧңЧ©ЧҷЧ—Ч”:\\n{{ $('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©' }}\\nЧӨЧ Ч” ЧҗЧңЧҷЧ• Ч‘Ч©Чқ Ч©ЧңЧ• Ч‘ЧҳЧ‘ЧўЧҷЧ•ЧӘ, ЧңЧҗ Ч‘ЧӣЧң ЧһЧ©ЧӨЧҳ.\\nЧҗЧқ ЧҷЧ© Ч‘ЧӘЧ©Ч•Ч‘Ч” Ч§Ч•Ч“, Ч”Ч—Ч–ЧЁ ЧҗЧӘ Ч”Ч§Ч•Ч“ Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ЧһЧ©Ч•ЧңЧ©ЧӘ ЧўЧқ Ч©Чқ Ч©ЧӨЧ” ЧӣЧҗЧ©ЧЁ ЧҗЧӨЧ©ЧЁ. ЧҗЧң ЧӘЧӨЧЁЧ§ Ч©ЧһЧ•ЧӘ ЧһЧ©ЧӘЧ ЧҷЧқ, ЧӘЧ’ЧҷЧ•ЧӘ ЧҗЧ• ЧһЧҷЧңЧҷЧқ Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ Ч‘ЧӘЧ•Чҡ Ч§Ч•Ч“.\\n\\nЧӣЧңЧңЧҷ ЧҗЧҷЧӣЧ•ЧӘ ЧңЧӘЧ©Ч•Ч‘Ч”:\\n- ЧӨЧӘЧ— Ч‘ЧһЧ©ЧӨЧҳ ЧҗЧ—Ч“ Ч©ЧһЧЎЧӣЧқ ЧҗЧӘ Ч”ЧӘЧ©Ч•Ч‘Ч”.\\n- ЧңЧҗЧ—ЧЁ ЧһЧӣЧҹ ЧӘЧҹ ЧһЧ‘Ч Ч” Ч‘ЧЁЧ•ЧЁ ЧўЧқ ЧӣЧ•ЧӘЧЁЧ•ЧӘ Ч§ЧҰЧЁЧ•ЧӘ ЧҗЧ• ЧЁЧ©ЧҷЧһЧ” ЧһЧһЧ•ЧЎЧӨЧЁЧӘ.\\n- ЧҗЧң ЧӘЧ•ЧЎЧҷЧЈ Ч“Ч•Ч’ЧһЧӘ Ч§Ч•Ч“ ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© ЧңЧҗ Ч‘ЧҷЧ§Ч© Ч§Ч•Ч“.\\n- ЧҗЧң ЧӘЧӣЧ ЧҷЧЎ ЧһЧҷЧңЧҷЧқ Ч–ЧЁЧ•ЧӘ, ЧӘЧ•Ч•ЧҷЧқ Ч–ЧЁЧҷЧқ, ЧҗЧ• ЧЁЧҰЧӨЧҷ ЧҗЧ•ЧӘЧҷЧ•ЧӘ Ч—ЧЎЧЁЧҷ ЧһЧ©ЧһЧўЧ•ЧӘ.\\n- ЧҗЧқ Ч Ч“ЧЁЧ© ЧһЧ•Ч Ч— ЧҳЧӣЧ Чҷ Ч‘ЧҗЧ Ч’ЧңЧҷЧӘ, Ч”Ч©ЧӘЧһЧ© ЧЁЧ§ Ч‘Ч©Чқ Ч”ЧӣЧңЧҷ ЧҗЧ• Ч”ЧӘЧ§Чҹ ЧўЧҰЧһЧ•.\\n- ЧҗЧқ Ч–Ч• Ч‘Ч§Ч©ЧӘ ЧҗЧӨЧҷЧ•Чҹ, Ч”Ч—Ч–ЧЁ: ЧһЧҳЧЁЧ”, ЧЁЧӣЧҷЧ‘ЧҷЧқ, Ч–ЧЁЧҷЧһЧӘ ЧўЧ‘Ч•Ч“Ч”, Ч‘Ч“ЧҷЧ§Ч•ЧӘ, Ч•ЧӘЧ•ЧҰЧЁ ЧЎЧ•ЧӨЧҷ.\\n- Ч‘ЧңЧҷ ЧһЧЎЧ’ЧЁЧ•ЧӘ ЧҰЧҷЧ•ЧЁ, Ч‘ЧңЧҷ Ч§ЧҷЧ©Ч•ЧҳЧҷЧқ, Ч‘ЧңЧҷ ЧҳЧ§ЧЎЧҳ Ч©Ч‘Ч•ЧЁ.\n\nЧ—Ч•Ч§Чҷ ЧӘЧ•ЧҰЧЁ ЧһЧ—ЧҷЧҷЧ‘ЧҷЧқ:\n- ЧҗЧқ Ч”Ч‘Ч§Ч©Ч” ЧӣЧ•ЧңЧңЧӘ JSON, n8n ЧҗЧ• Workflow, Ч”Ч—Ч–ЧЁ JSON ЧӘЧ§ЧЈ Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ЧһЧ©Ч•ЧңЧ©ЧӘ.\n- ЧҗЧЎЧ•ЧЁ ЧңЧ”Ч—Ч–ЧҷЧЁ ЧЁЧ©ЧҷЧһЧ•ЧӘ ЧЁЧҷЧ§Ч•ЧӘ ЧӣЧһЧ• 1. 2. 3. Ч‘ЧңЧҷ ЧӘЧ•ЧӣЧҹ.\n- ЧҗЧқ Ч—ЧЎЧЁЧҷЧқ ЧӨЧЁЧҳЧҷЧқ, ЧҰЧ•ЧЁ ЧӘЧ‘Ч ЧҷЧӘ Ч©ЧҷЧһЧ•Ч©ЧҷЧӘ ЧўЧқ Ч©ЧһЧ•ЧӘ ЧҰЧһЧӘЧҷЧқ, Ч—ЧҷЧ‘Ч•ЧЁЧҷЧқ Ч•Ч©Ч“Ч•ЧӘ Ч‘ЧЁЧ•ЧЁЧҷЧқ.\n- ЧҗЧң ЧӘЧўЧӘЧҷЧ§ Ч Ч•Ч©Чҗ ЧҷЧ©Чҹ ЧһЧ”Ч–ЧҷЧӣЧЁЧ•Чҹ ЧҗЧқ Ч”Ч•Чҗ ЧңЧҗ Ч—ЧңЧ§ ЧһЧ”Ч‘Ч§Ч©Ч” Ч”Ч Ч•ЧӣЧ—ЧҷЧӘ.\n- Ч§Ч•Ч“ Ч•-JSON ЧҷЧӣЧ•ЧңЧҷЧқ ЧңЧ”ЧӣЧҷЧң ЧҗЧ Ч’ЧңЧҷЧӘ, Ч©ЧһЧ•ЧӘ Ч©Ч“Ч•ЧӘ Ч•ЧЎЧҷЧһЧ ЧҷЧқ ЧҳЧӣЧ ЧҷЧҷЧқ Ч‘ЧңЧҷ ЧңЧһЧ—Ч•Ч§ ЧҗЧ•ЧӘЧқ.\n\nЧӣЧңЧңЧҷ n8n Ч§Ч©ЧҷЧ—ЧҷЧқ:\n- ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© Ч©Ч•ЧңЧ— ЧӨЧЁЧ•ЧҳЧ•Ч§Ч•Чң Ч‘Ч“ЧҷЧ§Ч” ЧҗЧ• Role Prompt ЧӣЧһЧ• \"You are an N8N workflow expert\", ЧҗЧң ЧӘЧҷЧҰЧ•ЧЁ Workflow. ЧҗЧ©ЧЁ Ч©Ч§ЧҷЧ‘ЧңЧӘ ЧҗЧӘ Ч”ЧӣЧңЧңЧҷЧқ Ч‘ЧңЧ‘Ч“.\n- ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© ЧһЧ‘Ч§Ч© JSON Чң-n8n, Ч”Ч—Ч–ЧЁ ЧЁЧ§ Workflow JSON ЧӘЧ§ЧЈ Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ```json, Ч‘ЧңЧҷ ЧҳЧ§ЧЎЧҳ ЧңЧӨЧ Чҷ ЧҗЧ• ЧҗЧ—ЧЁЧҷ.\n- Ч”Ч©ЧӘЧһЧ© ЧЁЧ§ Ч‘ЧЎЧ•Ч’Чҷ ЧҰЧһЧӘЧҷЧқ ЧҗЧһЧҷЧӘЧҷЧҷЧқ ЧһЧ”ЧЁЧ©ЧҷЧһЧ”: n8n-nodes-base.webhook, n8n-nodes-base.httpRequest, n8n-nodes-base.code, n8n-nodes-base.set, n8n-nodes-base.if, n8n-nodes-base.switch, n8n-nodes-base.merge, n8n-nodes-base.splitInBatches, n8n-nodes-base.googleSheets, n8n-nodes-base.postgres, n8n-nodes-base.mySql, n8n-nodes-base.telegram, n8n-nodes-base.noOp.\n- ЧҗЧЎЧ•ЧЁ ЧңЧ”Ч©ЧӘЧһЧ© Ч‘ЧЎЧ•Ч’ЧҷЧқ ЧӨЧҷЧ§ЧҳЧҷЧ‘ЧҷЧҷЧқ ЧӣЧһЧ• parseJSON, log, saveToDatabase, filterData, analyzeData ЧҗЧ• snake_case ЧӣЧ’Ч•Чҹ n8n_nodes_base_httpRequest.\n- ЧңЧҰЧ•ЧЁЧҡ Parse JSON ЧҗЧ• Log Ч”Ч©ЧӘЧһЧ© Ч‘ЧҰЧ•ЧһЧӘ n8n-nodes-base.code ЧўЧқ jsCode.\n- ЧңЧӣЧң node Ч—Ч•Ч‘Ч”: id, name, type, typeVersion ЧӣЧһЧЎЧӨЧЁ, position ЧӣЧһЧўЧЁЧҡ ЧһЧЎЧӨЧЁЧҷЧқ, parameters.\n- connections Ч—ЧҷЧҷЧ‘ ЧңЧ”ЧҷЧ•ЧӘ ЧҗЧ•Ч‘ЧҷЧҷЧ§Чҳ ЧңЧӨЧҷ Ч©Чқ ЧҰЧ•ЧһЧӘ ЧһЧ§Ч•ЧЁ, ЧңЧҗ ЧңЧӨЧҷ id:\n  \"connections\": {\n    \"Webhook\": { \"main\": [[{ \"node\": \"Normalize Input\", \"type\": \"main\", \"index\": 0 }]] }\n  }\n- ЧӣЧң ЧҷЧўЧ“ Ч‘ЧӘЧ•Чҡ connections Ч—ЧҷЧҷЧ‘ ЧңЧ”Ч©ЧӘЧһЧ© Ч‘Ч©Чқ node Ч§ЧҷЧҷЧқ, ЧңЧҗ id.\n- credentials ЧҷЧ”ЧҷЧ• Ч”ЧӨЧ ЧҷЧ” ЧңЧ©Чқ credential Ч‘ЧңЧ‘Ч“ ЧҗЧ• ЧҗЧ•Ч‘ЧҷЧҷЧ§Чҳ ЧЁЧҷЧ§; ЧңЧўЧ•ЧңЧқ ЧңЧҗ ЧңЧ”ЧӣЧ ЧҷЧЎ ЧЎЧҷЧЎЧһЧҗЧ•ЧӘ ЧҗЧ• tokens.\n- ЧҗЧқ ЧһЧӘЧ§Ч ЧҷЧқ Workflow Ч§ЧҷЧҷЧқ, Ч©ЧһЧ•ЧЁ ЧўЧң Ч”ЧһЧҳЧЁЧ” Ч”ЧһЧ§Ч•ЧЁЧҷЧӘ Ч•ЧӘЧ§Чҹ ЧҗЧӘ Ч”ЧһЧ‘Ч Ч”. ЧҗЧң ЧӘЧ—Ч–ЧҷЧЁ Ч“Ч•Ч’ЧһЧ” ЧЁЧҷЧ§Ч” ЧҗЧ• Workflow Ч‘Ч©Чқ checklist.\n- ЧңЧӨЧ Чҷ Ч”Ч—Ч–ЧЁЧ” Ч•Ч“Чҗ Ч©Ч”-JSON Ч ЧҷЧӘЧҹ Чң-JSON.parse Ч•Ч©ЧҗЧҷЧҹ ЧЁЧ©ЧҷЧһЧ•ЧӘ ЧЁЧҷЧ§Ч•ЧӘ, Ч©Ч“Ч•ЧӘ Ч©Ч‘Ч•ЧЁЧҷЧқ ЧҗЧ• ЧһЧЁЧӣЧҗЧ•ЧӘ ЧңЧҗ ЧЎЧ’Ч•ЧЁЧ•ЧӘ.\n\n\nЧӣЧңЧңЧҷ ЧҗЧҷЧӣЧ•ЧӘ ЧңЧЎЧ•ЧӣЧ Чҷ Ч§Ч•Ч“:\n- Ч”ЧӘЧ Ч”Ч’ ЧӣЧһЧӨЧӘЧ— Ч‘ЧӣЧҷЧЁ. ЧҗЧң ЧӘЧ—Ч–ЧҷЧЁ Ч“Ч•Ч’ЧһЧӘ ЧҰЧўЧҰЧ•Чў ЧӣЧ©Ч Ч“ЧЁЧ© ЧӨЧӘЧЁЧ•Чҹ ЧҗЧһЧҷЧӘЧҷ.\n- ЧҗЧқ ЧҰЧ•ЧЁЧЈ Ч§Ч•Ч‘ЧҘ, Ч§ЧЁЧҗ ЧҗЧ•ЧӘЧ• ЧӣЧ§Ч•Ч“ ЧһЧ§Ч•ЧЁ: ЧҰЧҷЧҷЧҹ ЧҗЧӘ Ч”Ч‘ЧўЧҷЧ”, ЧҗЧӘ Ч”ЧЎЧҷЧ‘Ч”, Ч•ЧҗЧӘ Ч”ЧӘЧҷЧ§Ч•Чҹ Ч”ЧһЧ•ЧҰЧў.\n- Ч”Ч—Ч–ЧЁ Ч§Ч•Ч“ ЧһЧңЧҗ ЧҗЧ• patch/diff Ч‘ЧЁЧ•ЧЁ Ч©Ч ЧҷЧӘЧҹ ЧңЧ”ЧўЧӘЧҷЧ§, Ч‘ЧӘЧ•Чҡ Ч’Ч“ЧЁ Ч§Ч•Ч“ ЧһЧ©Ч•ЧңЧ©ЧӘ ЧўЧқ Ч©ЧӨЧ”.\n- ЧҗЧң ЧӘЧһЧҰЧҷЧҗ API, node type, Ч ЧӘЧҷЧ‘, Ч©Чқ ЧӨЧ•Ч Ч§ЧҰЧҷЧ” ЧҗЧ• ЧЎЧӨЧЁЧҷЧҷЧ” ЧҗЧқ Ч”Чқ ЧңЧҗ ЧһЧ•ЧӨЧҷЧўЧҷЧқ Ч‘Ч§Ч•Ч‘ЧҘ ЧҗЧ• Ч‘Ч‘Ч§Ч©Ч”.\n- ЧҗЧқ Ч—ЧЎЧЁ Ч§Ч•Ч‘ЧҘ Ч Ч•ЧЎЧЈ ЧӣЧ“Чҷ ЧңЧ•Ч•Ч“Чҗ ЧӘЧҷЧ§Ч•Чҹ, ЧҗЧһЧ•ЧЁ Ч‘Ч“ЧҷЧ•Ч§ ЧҗЧҷЧ–Ч” Ч§Ч•Ч‘ЧҘ Ч—ЧЎЧЁ Ч•ЧһЧ” ЧҰЧЁЧҷЧҡ ЧңЧ‘Ч“Ч•Ч§.\n- ЧҗЧң ЧӘЧ©Ч Ч” Ч§Ч‘ЧҰЧҷЧқ Ч‘ЧӨЧ•ЧўЧң Ч•ЧҗЧң ЧӘЧ’ЧҷЧ“ Ч©Ч©ЧҷЧ ЧҷЧӘ. ЧҗЧӘЧ” ЧһЧҰЧҷЧў ЧӘЧҷЧ§Ч•Чҹ Ч‘ЧңЧ‘Ч“ ЧҗЧңЧҗ ЧҗЧқ Ч”ЧһЧ©ЧӘЧһЧ© Ч‘ЧҷЧ§Ч© ЧңЧ‘ЧҰЧў Ч©ЧҷЧ Ч•Чҷ ЧһЧӨЧ•ЧЁЧ©.\n- ЧңЧӨЧ Чҷ ЧӘЧ©Ч•Ч‘Ч” ЧЎЧ•ЧӨЧҷЧӘ Ч‘Ч“Ч•Ч§ ЧӘЧ—Ч‘ЧҷЧЁ Ч‘ЧЎЧҷЧЎЧҷ Ч‘ЧЁЧҗЧ©: ЧЎЧ•Ч’ЧЁЧҷЧҷЧқ, ЧһЧЁЧӣЧҗЧ•ЧӘ, JSON ЧӘЧ§ЧЈ, imports, Ч•Ч©ЧһЧ•ЧӘ ЧһЧ©ЧӘЧ ЧҷЧқ.\n\n\nRead-only local path rule:\n- If READ_ONLY_LOCAL_PATH_CONTEXT appears, use it as evidence from the exact local path the user provided.\n- If MODE is directory, you only have a shallow listing, not nested file contents.\n- Never claim you edited, deleted, saved, executed, or changed local files. You are only reading and explaining unless the user explicitly asks for a separate edit operation.\n\n\nЧ”Ч‘Ч§Ч©Ч” Ч”Ч Ч•ЧӣЧ—ЧҷЧӘ Ч©Ч•Ч‘:\n{{ $('Parse New Agent').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-new-agent",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nconst badResponse = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i.test(response);\nconst foreign = /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/.test(response);\nconst gibberish = /\\b([A-Za-z]{2,})\\b/g;\nconst allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\nconst englishTokens = [...response.matchAll(gibberish)].map(m => m[1]);\nconst unknownEnglish = englishTokens.filter(token => !allowed.has(token.replace(/[.]+$/g, '').toUpperCase()));\nlet score = badResponse ? 3 : 7;\nif (!badResponse && response.length > 80) score += 1;\nif (!badResponse && response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nif (foreign) score -= 3;\nif (unknownEnglish.length >= 2) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: badResponse\n    ? 'Ч”ЧӘЧ©Ч•Ч‘Ч” Ч”ЧЁЧҗЧ©Ч•Ч ЧҷЧӘ ЧңЧҗ Ч”ЧҷЧӘЧ” Ч Ч§ЧҷЧҷЧ” Ч•ЧңЧӣЧҹ Ч ЧӨЧЎЧңЧ” ЧңЧ©ЧҷЧһЧ•Ч© Ч—Ч•Ч–ЧЁ'\n    : (foreign || unknownEnglish.length >= 2\n      ? 'Ч ЧһЧҰЧҗЧ• ЧӘЧ•Ч•ЧҷЧқ Ч–ЧЁЧҷЧқ ЧҗЧ• ЧЁЧҰЧӨЧҷ ЧһЧҷЧңЧҷЧқ ЧңЧҗ Ч Ч§ЧҷЧҷЧқ, ЧңЧӣЧҹ Ч”ЧҰЧҷЧ•Чҹ ЧҷЧЁЧ“'\n      : (score >= 8 ? 'Ч ЧЁЧҗЧ” ЧҳЧ•Ч‘ Ч‘Ч‘Ч“ЧҷЧ§Ч” ЧһЧ”ЧҷЧЁЧ”' : 'Ч Ч•ЧҰЧЁ ЧЎЧ•ЧӣЧҹ, ЧҗЧ‘Чң Ч”ЧӘЧ©Ч•Ч‘Ч” Ч”ЧЁЧҗЧ©Ч•Ч ЧҷЧӘ Ч§ЧҰЧЁЧ” ЧҗЧ• Ч—ЧңЧ§ЧҷЧӘ')),\n  improvement: 'ЧҗЧӨЧ©ЧЁ ЧңЧ”ЧЁЧҷЧҘ Ч©ЧҷЧӨЧ•ЧЁ Ч‘Ч”ЧһЧ©Чҡ',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "evaluator-llm",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'ЧңЧҗ Ч ЧҷЧӘЧҹ ЧңЧ”ЧўЧЁЧҷЧҡ', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "parse-evaluator",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {}
      },
      "id": "update-agent-score",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[в”Ҹв”—в”Јв”ғв”Ғ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute New Agent').first().json.response, 'Ч”ЧЎЧ•ЧӣЧҹ Ч Ч•ЧҰЧЁ Ч•Ч Ч©ЧһЧЁ. ЧӘЧ•ЧҰЧЁ ЧЁЧҗЧ©Ч•Ч Чҷ Ч Ч§Чҷ Ч Ч©ЧһЧЁ ЧңЧ©ЧҷЧһЧ•Ч© Ч—Ч•Ч–ЧЁ.', ((() => {\n    const task = String($('Parse New Agent').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse New Agent').first().json.name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|Ч§Ч•Ч“|ЧўЧһЧ•Ч“|Ч“ЧЈ|ЧӨЧ•Ч Ч§ЧҰЧҷЧ”|ЧЎЧ§ЧЁЧҷЧӨЧҳ|Ч§Ч•ЧһЧӨЧ•Ч Ч Чҳ|ЧҗЧӘЧЁ|ЧҳЧ•ЧӨЧЎ|ЧӣЧӨЧӘЧ•ЧЁ)/i.test(task + ' ' + agent);\n  })()))) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || 'ЧңЧҗ Ч ЧһЧҰЧҗ ЧЎЧ•ЧӣЧҹ ЧһЧӘЧҗЧҷЧқ ЧһЧЎЧӨЧҷЧ§, ЧңЧӣЧҹ Ч Ч•ЧҰЧЁ ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч©.') }}}",
        "options": {}
      },
      "id": "save-memory-new",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "={{ (() => {\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const name = $('Parse New Agent').first().json.name || 'new_task_agent';\n  const description = $('Parse New Agent').first().json.description || 'ЧЎЧ•ЧӣЧҹ ЧҷЧҷЧўЧ•Ч“Чҷ';\n  const goodFor = $('Parse New Agent').first().json.good_for || '';\n  const task = $('Parse New Agent').first().json.userMessage || '';\n  const user = $('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©';\n  return '<b>Ч Ч•ЧҰЧЁ ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч© Ч•ЧһЧ•ЧӣЧҹ ЧңЧ”ЧЁЧҰЧ”</b>\\n\\n'\n    + 'ЧһЧ©ЧӘЧһЧ©: ' + escapeHtml(user) + '\\n'\n    + 'Ч©Чқ: <code>' + escapeHtml(name) + '</code>\\n'\n    + 'ЧҷЧҷЧўЧ•Ч“: ' + escapeHtml(description) + '\\n'\n    + (goodFor ? 'ЧһЧӘЧҗЧҷЧқ Чң: ' + escapeHtml(goodFor) + '\\n' : '')\n    + '\\n<b>Ч”Ч©ЧҗЧңЧ” Ч”ЧһЧ§Ч•ЧЁЧҷЧӘ</b>\\n'\n    + escapeHtml(task) + '\\n\\n'\n    + 'ЧўЧ“ЧҷЧҷЧҹ ЧңЧҗ Ч‘ЧҷЧҰЧўЧӘЧҷ ЧҗЧӘ Ч”ЧһЧ©ЧҷЧһЧ”.\\n'\n    + 'Ч©ЧңЧ— <b>ЧӣЧҹ</b> ЧҗЧ• <b>ЧһЧҗЧ©ЧЁ</b>, Ч•ЧҗЧ Чҷ ЧһЧЁЧҷЧҘ ЧҗЧӘ Ч”ЧЎЧ•ЧӣЧҹ Ч”Ч–Ч” ЧўЧң ЧҗЧ•ЧӘЧ” Ч©ЧҗЧңЧ”.';\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-new-agent",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3312,
        544
      ],
      "webhookId": "4f99d8b8-3fe0-471f-a0ec-d0a66d741827",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-profile",
      "name": "Read Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-ask",
      "name": "Save Profile Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-name",
      "name": "Save Profile Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -24
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(Ч–ЧҷЧҹ|ЧӣЧ•ЧЎ|Ч©ЧЁЧһЧ•Чҳ|Ч–Ч•Ч Ч”|ЧһЧ–Ч“ЧҷЧҷЧҹ|Ч‘Чҹ Ч–Ч•Ч Ч”|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[в”Ҹв”—в”Јв”ғв”Ғ]+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  return safe($('Parse Router').first().json.direct_reply, 'Ч§ЧҷЧ‘ЧңЧӘЧҷ.', false);\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-direct-profile",
      "name": "Telegram - Direct",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>Ч§ЧҷЧ‘ЧңЧӘЧҷ ЧҗЧӘ Ч”Ч‘Ч§Ч©Ч”</b>\\nЧһЧ©ЧӘЧһЧ©: ' + ($('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©') + '\\nЧһЧЎЧңЧ•Чң: Ч©ЧҷЧ—Ч” ЧЁЧ’ЧҷЧңЧ”\\nЧһЧҰЧ‘: ЧһЧ ЧЎЧ— ЧӘЧ©Ч•Ч‘Ч”' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-chitchat-safe",
      "name": "Telegram - Progress Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        64
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>Ч§ЧҷЧ‘ЧңЧӘЧҷ ЧҗЧӘ Ч”Ч‘Ч§Ч©Ч”</b>\\nЧһЧ©ЧӘЧһЧ©: ' + ($('Parse Router').first().json.userName || 'ЧһЧ©ЧӘЧһЧ©') + '\\nЧһЧЎЧңЧ•Чң: Ч ЧҰЧҷЧ’ Ч§ЧҷЧҷЧқ\\nЧ ЧҰЧҷЧ’: ' + ($('Parse Router').first().json.agent_name || '') + '\\nЧһЧҰЧ‘: ЧһЧЁЧҷЧҘ ЧҗЧӘ Ч”Ч ЧҰЧҷЧ’' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-agent-safe",
      "name": "Telegram - Progress Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>ЧһЧЎЧңЧ•Чң: ЧҷЧҰЧҷЧЁЧӘ ЧЎЧ•ЧӣЧҹ Ч•ЧҗЧҷЧ©Ч•ЧЁ Ч‘ЧҷЧҰЧ•Чў</b>\\n\\nЧ—ЧҷЧ•Ч•Чҷ: Ч‘Ч•Ч Ч” ЧЎЧ•ЧӣЧҹ ЧҷЧҷЧўЧ•Ч“Чҷ Ч•Ч©Ч•ЧһЧЁ ЧһЧҰЧ‘ Ч”ЧһЧ©Чҡ\\nЧ–ЧҷЧӣЧЁЧ•Чҹ: ЧҗЧҷЧ©Чҷ Ч‘ЧңЧ‘Ч“\\nЧ”Ч©ЧңЧ‘ Ч”Ч‘Чҗ: ЧҗЧҷЧ©Ч•ЧЁ ЧңЧӨЧ Чҷ Ч‘ЧҷЧҰЧ•Чў' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-new-agent-safe",
      "name": "Telegram - Progress New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        544
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}",
        "options": {}
      },
      "id": "sync-profile-inline",
      "name": "Sync Profile Inline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "open-orcastrator-command",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); return (first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@')) ? 'open_orcastrator' : 'normal'; })() }}",
                    "rightValue": "open_orcastrator",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "normal-message",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); return (first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@')) ? 'open_orcastrator' : 'normal'; })() }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-orcastrate-command",
      "name": "Switch Orcastrate Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ '<b>ЧһЧһЧ©Ч§ Orcastrator ЧһЧ•ЧӣЧҹ</b>\\nЧңЧ—ЧҘ ЧўЧң Ч”ЧӣЧӨЧӘЧ•ЧЁ ЧңЧӨЧӘЧҷЧ—ЧӘ ЧһЧЎЧҡ Ч”Ч©ЧңЧҷЧҳЧ”.\\n\\nЧ”Ч•Ч“ЧўЧ•ЧӘ ЧЁЧ’ЧҷЧңЧ•ЧӘ ЧһЧһЧ©ЧҷЧӣЧ•ЧӘ ЧңЧўЧ‘Ч•Ч“ ЧӣЧЁЧ’ЧҷЧң.' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "ЧӨЧӘЧ— ЧһЧһЧ©Ч§",
                    "additionalFields": {
                      "web_app": {
                        "url": "={{ 'https://unallowable-lustrelessly-pok.ngrok-free.dev/app?chat_id=' + $json.message.chat.id }}"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-open-orcastrator",
      "name": "Telegram - Open Orcastrator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_name: $('Parse Router').first().json.userName || '',\n  task: $('Parse New Agent').first().json.userMessage,\n  agent: 'pending_created_agent',\n  result: JSON.stringify({\n    agentName: $('Parse New Agent').first().json.name,\n    description: $('Parse New Agent').first().json.description,\n    good_for: $('Parse New Agent').first().json.good_for,\n    task: $('Parse New Agent').first().json.userMessage,\n    status: 'awaiting_confirmation',\n    created_at: new Date().toISOString()\n  }),\n  score: null,\n  deductions: '',\n  decision_reason: 'Ч Ч•ЧҰЧЁ ЧЎЧ•ЧӣЧҹ Ч—Ч“Ч© Ч•ЧһЧһЧӘЧҷЧҹ ЧңЧҗЧҷЧ©Ч•ЧЁ ЧңЧӨЧ Чҷ Ч‘ЧҷЧҰЧ•Чў'\n}) }}",
        "options": {}
      },
      "id": "save-pending-new-agent",
      "name": "Save Pending New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        704
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/flow/{{ $json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_name: $json.userName || '',\n  task: $json.userMessage || '',\n  stage: 'conversation_manager',\n  title: 'ЧһЧ Ч”Чң Ч©ЧҷЧ—Ч”',\n  message: ($json.manager && $json.manager.summary) || '',\n  action: $json.action,\n  agent: $json.agent_name || '',\n  decision_reason: $json.decision_reason || '',\n  manager: $json.manager || {},\n  source: 'n8n-router'\n}) }}",
        "options": {}
      },
      "id": "log-conversation-manager",
      "name": "Log Conversation Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/local-path-context",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Trigger').first().json.message.chat.id, text: $('Telegram Trigger').first().json.message.text || '' }) }}",
        "options": {}
      },
      "id": "read-local-path-context",
      "name": "Read Local Path Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        144
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Orcastrate Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Profile Inline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Conversation Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Save Profile Ask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Save Pending New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Read Local Path Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Ask": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Name": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Chitchat": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Agent": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress New Agent": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Profile Inline": {
      "main": [
        []
      ]
    },
    "Switch Orcastrate Command": {
      "main": [
        [
          {
            "node": "Telegram - Open Orcastrator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pending New Agent": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local Path Context": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "activeVersionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "versionCounter": 87,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-31T03:07:56.899Z",
      "createdAt": "2026-05-31T03:07:56.899Z",
      "role": "workflow:owner",
      "workflowId": "WORKINGSTABLEV6",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "ЧўЧ•ЧӨЧЁ Ч©Ч—ЧЁ <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}