📥 קלט/agent_v6/Self_Evolving_Agent_v6_WORKING_IMPORT.json.bak-readonly-local-paths-2026-06-01T05-10-38-721937+00-00
{
  "updatedAt": "2026-05-31T09:24:29.000Z",
  "createdAt": "2026-05-31T03:07:56.897Z",
  "id": "WORKINGSTABLEV6",
  "name": "Self-Evolving Agent v6 - WORKING STABLE",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "read-registry",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet profile = {};\ntry {\n  const items = $('Read Profile').all();\n  if (items && items.length > 0) profile = items[0].json || {};\n} catch(e) {}\n\nconst pendingCreatedAgent = (() => {\n  const reversedPending = [...memory].map((entry, index) => ({ entry, index })).reverse();\n  const found = reversedPending.find(item => String(item.entry && item.entry.agent || '') === 'pending_created_agent');\n  if (!found) return null;\n\n  let pending = null;\n  try {\n    pending = JSON.parse(String(found.entry.result || '{}'));\n  } catch (e) {\n    return null;\n  }\n  if (!pending || !pending.agentName || !pending.task) return null;\n\n  const createdMs = Date.parse(pending.created_at || found.entry.timestamp || found.entry.time || '');\n  const isFresh = !Number.isFinite(createdMs) || (Date.now() - createdMs) < 60 * 60 * 1000;\n  if (!isFresh) return null;\n\n  const laterEntries = memory.slice(found.index + 1);\n  const alreadyRan = laterEntries.some(m =>\n    String(m.agent || '') === String(pending.agentName || '') &&\n    String(m.task || '').trim() === String(pending.task || '').trim()\n  );\n  const canceled = laterEntries.some(m => /„С„Щ„Ш„Ь„™„Щ „Р„™ „Ф„Ф„®„¶„Ф|„С„Щ„Ш„Х„Ь|„С„Х„Ш„Ь/.test(String(m.result || '')));\n  if (alreadyRan || canceled) return null;\n\n  return pending;\n})();\nmemory = memory.filter(m => String(m.agent || '') !== 'pending_created_agent');\n\nconst userName = String(profile.display_name || '').trim();\nconst awaitingName = Boolean(profile.awaiting_name);\nconst profileExists = Boolean(profile.exists);\n\nfunction cleanTextForPrompt(value) {\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  return String(value || '')\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[вФПвФЧвФ£вФГвФБ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst bannedAgentNames = new Set(['agent', 'snakecaseagent', 'snake_case_agent', 'snake_case_name', 'custom_task_agent', 'new_agent', 'helper', 'assistant', 'hebrew_task_agent', 'generic_task_agent', 'custom_hebrew_agent']);\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active' && !bannedAgentNames.has(String(a.name || '').toLowerCase()))\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${cleanTextForPrompt(a.description)} („Ю„™„Р„Щ„Э „Ь: ${cleanTextForPrompt(a.good_for || '')}; „¶„Щ„Х„Я: ${a.score_avg ?? a.score ?? '„Ч„У„©'}; „©„Щ„Ю„Х„©„Щ„Э: ${a.uses ?? 0})`).join('\\n')\n  : '„Р„Щ„Я „Ґ„У„Щ„Щ„Я „°„Х„Ы„†„Щ„Э';\n\nfunction memoryEntryIsUseful(m) {\n  const task = cleanTextForPrompt(m.task || '');\n  const result = cleanTextForPrompt(m.result || '');\n  const raw = `${m.task || ''}\\n${m.result || ''}`;\n  if (m.quarantined || m.ignore_for_prompt) return false;\n  const skipTasks = new Set(['„Ф„Щ', '„Ф„Щ„Щ', '„©„Ь„Х„Э', '„Ю„Ф „†„©„Ю„Ґ', '„Ю„Ф „І„Х„®„Ф', '„Ю„Р„©„®', '„Ы„Я', '„Ь„Р', '„С„Ш„Ь']);\n  if (!task || skipTasks.has(task)) return false;\n  if (/^„Ы„Х„Х„†„™ „Ю„Ю„©„І:/.test(task)) return false;\n  const badN8nWorkflowJson = /(SELF-CHECK PROTOCOL|ckecklist|n8n_nodes_base_|n8n-nodes-base\\.parseJSON|n8n-nodes-base\\.log|saveToDatabase|filterData|analyzeData|\\\"connections\\\"\\s*:\\s*\\[\\s*\\[|\\\"type\\\"\\s*:\\s*\\\"ckecklist\\\")/i.test(raw);\n  if (badN8nWorkflowJson) return false;\n  if (/„Щ„© „°„Х„Ы„Я „Ч„У„© „©„Ю„Х„Ы„Я „Ь„Ф„®„¶„Ф|„С„Щ„Ш„Ь„™„Щ „Р„™ „Ф„Ф„®„¶„Ф|„Ь„Р „Ф„™„І„С„Ь„Ф „™„©„Х„С„Ф „Ю„Ь„Р„Ф/.test(result)) return false;\n  const currentName = String(userName || '').trim();\n  const escapedCurrentName = currentName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const assistantClaimsUserName = escapedCurrentName && new RegExp('„Р„†„Щ\\\\s+' + escapedCurrentName + '\\\\b').test(raw);\n  if (assistantClaimsUserName || /„Р„†„Щ\\s+„Ґ„Х„§„®\\b|„Ґ„Х„§„®\\s+„Щ„Х„У„Ґ\\s+„Ь„Ф„Ш„Ю„Щ„Ґ|„Ю„Х„У„Х„Ь„Щ„Э\\s+„§„™„®„Х„†„Х„™\\s+AI\\s+„Ь„Р„™?„®„Т„Х„†„Щ„Э|„Ю„С„†„Ф\\s+„©„Ь\\s+„§„™„®„Х„†„Х„™\\s+AI\\s+„Ґ„С„Х„®\\s+N8N/i.test(raw)) return false;\n  return true;\n}\n\nconst usefulMemory = memory.filter(memoryEntryIsUseful);\n\nconst recentMemory = usefulMemory.slice(-5)\n  .map(m => `[${m.agent}] ${cleanTextForPrompt(m.task).substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = usefulMemory.slice(-4)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? '„Ґ„Х„Ц„®' : `„Ґ„Х„Ц„® [${m.agent}]`;\n    return `„Ю„©„™„Ю„©: ${cleanTextForPrompt(m.task).substring(0, 180)}\\n${assistant}: ${cleanTextForPrompt(m.result).substring(0, 260)}`;\n  })\n  .join('\\n\\n') || '';\n\n\nconst skipHistoryTasks = new Set(['„Ф„Щ', '„Ф„Щ„Щ', '„©„Ь„Х„Э', '„Ю„Ф „†„©„Ю„Ґ', '„Ю„Ф „І„Х„®„Ф']);\nconst historyTaskWords = ['„С„Р„Щ„Ц„Ф „°„Х„Ы„Я', '„Р„Щ„Ц„Ф „°„Х„Ы„Я „Ф„©„™„Ю„©', '„Р„Щ„Ц„Ф „†„¶„Щ„Т „Ф„©„™„Ю„©', '„Ф„Щ„°„Ш„Х„®„Щ„Щ„™ „°„Х„Ы„†„Щ„Э', '„©„Щ„Ю„Х„©„Щ „°„Х„Ы„†„Щ„Э', '„Ц„Щ„Ы„®„Х„Я „°„Х„Ы„†„Щ„Э'];\nconst agentHistoryRows = [...memory].reverse()\n  .filter(m => {\n    const task = cleanTextForPrompt(m.task || '');\n    const isHistoryTask = historyTaskWords.some(word => task.includes(word));\n    return task && m.agent && !skipHistoryTasks.has(task) && !isHistoryTask;\n  })\n  .slice(0, 12)\n  .map((m, index) => {\n    const task = cleanTextForPrompt(m.task || '').substring(0, 180) || '„Ь„Р „†„©„Ю„®„Ф „Ю„©„Щ„Ю„Ф';\n    const agent = String(m.agent || '„Ь„Р „Щ„У„Х„Ґ').replace(/[^A-Za-z0-9_„Р-„™-]/g, '').trim() || '„Ь„Р „Щ„У„Х„Ґ';\n    const score = (m.score === null || m.score === undefined || m.score === '') ? '„Р„Щ„Я' : String(m.score) + '/10';\n    const time = String(m.timestamp || '').replace('T', ' ').substring(0, 16) || '„Ь„Р „†„©„Ю„®';\n    const reason = cleanTextForPrompt(m.decision_reason || m.deductions || '').substring(0, 180) || '„Ь„Р „†„©„Ю„®„Ф „°„Щ„С„Ф';\n    return `${index + 1}. „Ю„©„Щ„Ю„Ф:\n${task}\n„°„Х„Ы„Я:\n${agent}\n„¶„Щ„Х„Я:\n${score}\n„°„Щ„С„Ф:\n${reason}\n„Ц„Ю„Я:\n${time}`;\n  });\n\nconst agentHistory = agentHistoryRows.length\n  ? `„©„Щ„Ю„Х„©„Щ „°„Х„Ы„†„Щ„Э „Ю„Ф„Ц„Щ„Ы„®„Х„Я\n„Ю„©„™„Ю„©: ${userName || '„Ю„©„™„Ю„©'}\n\n${agentHistoryRows.join('\\n\\n')}`\n  : `${userName || '„Ю„©„™„Ю„©'}, „Р„Щ„Я „Ґ„У„Щ„Щ„Я „©„Щ„Ю„Х„©„Щ „°„Х„Ы„†„Щ„Э „©„Ю„Х„®„Щ„Э „С„Ц„Щ„Ы„®„Х„Я „Ф„Р„Щ„©„Щ „©„Ь„Ъ.`;\n\nconst lastScored = [...memory].reverse().find(m => m.score !== null && m.score !== undefined);\nconst lastEvaluation = lastScored ? {\n  task: lastScored.task || '',\n  agent: lastScored.agent || '',\n  score: lastScored.score,\n  deductions: lastScored.deductions || '„Ь„Р „†„©„Ю„® „§„Щ„®„Х„Ш „†„Щ„Ы„Х„Щ„Щ„Э',\n  result: cleanTextForPrompt(lastScored.result).substring(0, 500),\n  timestamp: lastScored.timestamp || ''\n} : null;\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory, lastEvaluation, agentHistory, pendingCreatedAgent, profile, userName, awaitingName, profileExists } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nfunction extractUserGoal(value) {\n  const text = String(value || '').trim();\n  const asciiMatch = text.match(/USER_REQUEST:\\s*([\\s\\S]*?)(?:\\nBUTTON_HINT:|\\nINTENT_LABEL:|\\nRULE:|$)/);\n  if (asciiMatch && asciiMatch[1] && asciiMatch[1].trim()) return asciiMatch[1].trim();\n  const hebrewMatch = text.match(/„С„І„©„™ „Ф„Ю„©„™„Ю„©:\\s*([\\s\\S]*?)(?:\\n„Ф„†„Ч„Щ„Щ„™ „Ы„§„™„Х„® „Ю„©„†„Щ„™:|\\n„Ы„Х„Х„†„™ „Ю„Ю„©„І:|\\n„Ч„Х„І „С„Щ„¶„Х„Ґ:|$)/);\n  if (hebrewMatch && hebrewMatch[1] && hebrewMatch[1].trim()) return hebrewMatch[1].trim();\n  const legacyMatch = text.match(/(?:„С„І„©„™ „Ф„Ю„©„™„Ю„©|„≥вАШ„≥¬І„≥¬©„≥√Ч „≥вАЭ„≥¬Ю„≥¬©„≥√Ч„≥¬Ю„≥¬©):\\s*([\\s\\S]*)$/);\n  if (legacyMatch && legacyMatch[1] && legacyMatch[1].trim()) return legacyMatch[1].trim();\n  return text;\n}\nconst userGoal = extractUserGoal(msg);\nconst lower = msg.toLowerCase();\nconst userLower = userGoal.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\nconst hasAttachedFile = /----- BEGIN ATTACHED FILE -----|FILE_CONTEXT|„І„Х„С„• „Ю„¶„Х„®„£ „Ь„І„®„Щ„Р„Ф „С„Ь„С„У/i.test(msg);\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst hasAnyUser = (words) => words.some(w => userLower.includes(w.toLowerCase()));\nconst exactCasual = ['„Ф„Щ', '„Ф„Щ„Щ', '„Ф„Щ„Щ„Щ', '„Ф„Ь„Х', '„©„Ь„Х„Э', '„С„Х„І„® „Ш„Х„С', '„Ґ„®„С „Ш„Х„С', '„Ь„Щ„Ь„Ф „Ш„Х„С', '„Ю„Ф „†„©„Ю„Ґ', '„Ю„Ф „І„Х„®„Ф', '„Ю„Ф „Ф„Ю„¶„С', '„™„Х„У„Ф', '„°„С„С„Ф', '„Р„Ч„Ь„Ф'];\nconst scoreDetailWords = ['„§„Щ„®„Х„Ш „¶„Щ„Х„Я', '„§„Щ„®„Х„Ш „Ґ„Ь „Ф„¶„Щ„Х„Я', '„©„Ь„Ч „§„Щ„®„Х„Ш „Ґ„Ь „Ф„¶„Щ„Х„Я', '„§„®„Ш„Щ„Э „Ґ„Ь „Ф„¶„Щ„Х„Я', '„Ь„Ю„Ф „Ф„¶„Щ„Х„Я', '„Ф„°„С„® „Ґ„Ь „Ф„¶„Щ„Х„Я'];\nconst chitchatWords = ['„Ю„Щ „Р„™„Ф', '„Ґ„Ц„®„Ф', '„Ю„Ф „Р„™„Ф „Щ„Х„У„Ґ „Ь„Ґ„©„Х„™', '„Ю„Ф „Р„™„Ф „Щ„Ы„Х„Ь „Ь„Ґ„©„Х„™', '„Ю„Ф „Ф„Х„Р „Щ„Х„У„Ґ „Ь„Ґ„©„Х„™', '„Ю„Ф „Ф„С„Х„Ш „Щ„Х„У„Ґ „Ь„Ґ„©„Х„™'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'json', 'html', 'css', 'react', 'n8n', 'workflow', 'bug', 'debug', '„У„Щ„С„Р„Т', '„І„Х„У', '„І„Х„С„•', '„§„Х„†„І„¶„Щ„Ф', '„°„І„®„Щ„§„Ш', '„©„Т„Щ„Р„Ф', '„Х„Х„®„І„§„Ь„Х„Р„Х', '„Х„Х„®„І „§„Ь„Х„Р„Х', 'file_context', 'attached file', '„І„Х„С„• „Ю„¶„Х„®„£', '„С„Р„Т', '„™„І„Я', '„™„Щ„І„Х„Я'];\nconst n8nWords = ['n8n', 'workflow', 'workflow json', 'n8n workflow', '„Х„Х„®„І„§„Ь„Х„Р„Х', '„Х„Х„®„І „§„Ь„Х„Р„Х', '„Ц„®„Щ„Ю„™ n8n', '„І„Х„С„• json „Ь n8n', 'json „Ьn8n', 'json „Ь n8n'];\nconst createAgentWords = ['„¶„Х„® „Ь„Щ „°„Х„Ы„Я', '„™„Щ„¶„Х„® „Ь„Щ „°„Х„Ы„Я', '„С„†„Ф „Ь„Щ „°„Х„Ы„Я', '„™„С„†„Ф „Ь„Щ „°„Х„Ы„Я', '„™„Ы„Щ„Я „Ь„Щ „°„Х„Ы„Я', '„¶„Х„® „°„Х„Ы„Я', '„°„Х„Ы„Я „Ч„У„©', '„†„¶„Щ„Т „Ч„У„©'];\nconst historyWords = ['„С„Р„Щ„Ц„Ф „°„Х„Ы„Я', '„Р„Щ„Ц„Ф „°„Х„Ы„Я „Ф„©„™„Ю„©', '„Р„Щ„Ц„Ф „†„¶„Щ„Т „Ф„©„™„Ю„©', '„°„Х„Ы„Я „Ф„©„™„Ю„©„™', '„†„¶„Щ„Т „Ф„©„™„Ю„©„™', '„Ф„Щ„°„Ш„Х„®„Щ„Щ„™ „°„Х„Ы„†„Щ„Э', '„©„Щ„Ю„Х„©„Щ „°„Х„Ы„†„Щ„Э', '„Ц„Щ„Ы„®„Х„Я „°„Х„Ы„†„Щ„Э', '„°„Х„Ы„Я „Ь„Р„Щ„Ц„Х „Ю„©„Щ„Ю„Ф', '„†„¶„Щ„Т „Ь„Р„Щ„Ц„Х „Ю„©„Щ„Ю„Ф'];\nconst routingStopWords = new Set(['„Ф„Х„Р','„Ф„Щ„Р','„Р„†„Щ','„Р„™„Ф','„Р„™„Э','„©„Ь„Щ','„©„Ь„Ъ','„©„Ь„†„Х','„Ю„Ф','„Р„Щ„Ъ','„Ь„Ю„Ф','„Ю„™„Щ','„Р„Щ„§„Ф','„Щ„Х„У„Ґ','„Щ„Х„У„Ґ„™','„Ь„Ґ„©„Х„™','„Щ„Ы„Х„Ь','„Щ„Ы„Х„Ь„Ф','„¶„®„Щ„Ъ','„®„Х„¶„Ф','„С„І„©„Ф','„Ф„С„І„©„Ф','„™„Ґ„©„Ф','„™„Ы„™„Х„С','„™„°„С„Щ„®','„Ф„Щ„Щ„™','„Ю„Ю„Ь„Щ„•','„Ь„Ф„Ш„Ю„Щ„Ґ']);\n\nfunction cleanName(value) {\n  let text = String(value || '').trim();\n  const match = text.match(/(?:„І„Х„®„Р„Щ„Э „Ь„Щ|„Ф„©„Э „©„Ь„Щ|„Р„†„Щ)\\s+([^,.!?\\n]+)$/i);\n  if (match) text = match[1];\n  text = text\n    .replace(/^(„І„Х„®„Р„Щ„Э „Ь„Щ|„Ф„©„Э „©„Ь„Щ|„Р„†„Щ)\\s+/i, '')\n    .replace(/(?:^|\\s)(„™„Щ„¶„Х„®|„¶„Х„®|„™„Ґ„©„Ф|„С„†„Ф|„™„С„†„Ф|„™„Ы„Щ„Я|„Ф„Ы„Я|„¶„®„Щ„Ъ|„®„Х„¶„Ф|„°„Х„Ы„Я|„†„¶„Щ„Т).*$/i, '')\n    .replace(/[^\\u0590-\\u05FFa-zA-Z\\s'-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (text.split(/\\s+/).length > 3) return '';\n  return text.slice(0, 40);\n}\n\nlet action = 'chitchat';\nlet agent_name = null;\nlet direct_reply = null;\nlet userName = data.userName || '';\nlet requestMessage = userGoal;\nlet selectionReason = '';\nconst preferredN8nAgent = agents.find(a => a.name === 'n8n_agent') || agents.find(a => a.name === 'agent_create_n8n_task');\n\nif (!data.userName && !data.awaitingName) {\n  action = 'ask_name';\n  direct_reply = '„С„®„Х„Ъ „Ф„С„Р. „Р„Щ„Ъ „І„Х„®„Р„Щ„Э „Ь„Ъ?\\n\\n„Р„Ч„®„Щ „©„™„Ы„™„Х„С „Р„™ „Ф„©„Э „©„Ь„Ъ, „Р„Ц„Ы„Х„® „Р„Х„™„Х „Х„Р„§„†„Ф „Р„Ь„Щ„Ъ „С„©„Э „С„©„Щ„Ч„Х„™ „Ф„С„Р„Х„™.';\n} else if ((!data.userName && data.awaitingName) || /^\\s*(„І„Х„®„Р„Щ„Э „Ь„Щ|„Ф„©„Э „©„Ь„Щ|„Р„†„Щ)\\s+/i.test(msg)) {\n  const extractedName = cleanName(userGoal);\n  const inlineRequest = (() => {\n    const raw = userGoal.replace(/^\\s*(„І„Х„®„Р„Щ„Э „Ь„Щ|„Ф„©„Э „©„Ь„Щ|„Р„†„Щ)\\s+/i, '').trim();\n    const marker = raw.search(/\\s(„¶„Х„®|„™„Щ„¶„Х„®|„™„Ґ„©„Ф|„С„†„Ф|„™„С„†„Ф|„™„Ы„Щ„Я|„Ф„Ы„Я|„¶„®„Щ„Ъ|„®„Х„¶„Ф)\\s/i);\n    if (marker > 0) return raw.slice(marker).trim();\n    return '';\n  })();\n  if (extractedName && inlineRequest && inlineRequest.split(/\\s+/).filter(Boolean).length >= 3) {\n    action = 'create_agent';\n    userName = extractedName;\n    requestMessage = inlineRequest;\n    direct_reply = null;\n  } else if (extractedName) {\n    action = 'save_name';\n    userName = extractedName;\n    direct_reply = `„†„Ґ„Щ„Э „Ю„Р„Х„У, ${userName}.\\n\\n„Ю„Ґ„Ы„©„Щ„Х „Р„§„†„Ф „Р„Ь„Щ„Ъ „С„©„Э „Ф„Ц„Ф. „Р„Э „Ы„™„С„™ „Т„Э „С„І„©„Ф „С„Р„Х„™„Ф „Ф„Х„У„Ґ„Ф, „©„Ь„Ч „Р„Х„™„Ф „©„Х„С „С„©„Х„®„Ф „Ч„У„©„Ф „Х„Р„Ш„§„Ь „С„Ф „Ю„Щ„У.`;\n  } else {\n    action = 'ask_name';\n    direct_reply = '„Ь„Р „Ф„¶„Ь„Ч„™„Щ „Ь„Ф„С„Щ„Я „Ю„Ф „Ф„©„Э „С„Ь„С„У. „Ы„™„Х„С „®„І „Р„™ „Ф„©„Э „©„Ь„Ъ, „Ь„Ю„©„Ь: „Ґ„Х„§„®';\n  }\n} else {\n  const wordCount = userGoal.split(/\\s+/).filter(Boolean).length;\n  const isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n  const asksForScoreDetails = hasAny(scoreDetailWords) || (/^\\s*(„§„Щ„®„Х„Ш|„§„®„Ш|„©„Ь„Ч „§„Щ„®„Х„Ш|„™„Я „§„Щ„®„Х„Ш)\\s*$/i.test(userGoal) && Boolean(data.lastEvaluation));\n  const asksForAgentHistory = hasAny(historyWords);\n  const pending = data.pendingCreatedAgent || null;\n  const isN8nMetaInstruction = /(you are an n8n workflow expert|self-check protocol|before outputting any workflow json|validate node types|never invent types|connections must use node)/i.test(userGoal) && !/(fix|repair|create|generate|build|output|export|import|„™„І„Я|„¶„Х„®|„С„†„Ф|„™„С„†„Ф|„Ы„™„Х„С|„Ф„Ч„Ц„®)\\s+(?:.*\\s)?(workflow|json|n8n|„Х„Х„®„І„§„Ь„Х„Р„Х|„Х„Х„®„І „§„Ь„Х„Р„Х)/i.test(userGoal);\n  const confirmsPending = /^(„Ы„Я|„Ы„Я „™„Ю„©„Щ„Ъ|„Ю„Р„©„®|„Ю„Р„©„®„™|„Р„©„®|„™„Р„©„®|„™„Ю„©„Щ„Ъ|„С„¶„Ґ|„™„®„Щ„•|„І„У„Щ„Ю„Ф|„Щ„Р„Ь„Ь„Ф|ok|yes)$/i.test(userGoal.trim());\n  const cancelsPending = /^(„Ь„Р|„С„Ш„Ь|„С„Щ„Ш„Х„Ь|„Ґ„¶„Х„®|„Р„Ь „™„®„Щ„•|„Ь„Р „Ґ„Ы„©„Щ„Х|cancel|no)$/i.test(userGoal.trim());\n\n  if (isN8nMetaInstruction) {\n    action = 'chitchat';\n    direct_reply = '„І„Щ„С„Ь„™„Щ. „§„®„Х„Ш„Х„І„Х„Ь „С„У„Щ„І„™ n8n „†„І„Ь„Ш „Ы„Ы„Ь„Ь „Ґ„С„Х„У„Ф „§„†„Щ„Ю„Щ: „Ь„Р „Ь„Ф„Ю„¶„Щ„Р „°„Х„Т„Щ „¶„Ю„™„Щ„Э, „Ь„Р „Ь„Ф„©„™„Ю„© „С„¶„Ю„™„Щ„Э „§„Щ„І„Ш„Щ„С„Щ„Щ„Э, „Х„Ь„Х„Х„У„Р „Ю„С„†„Ф connections „™„І„Щ„Я „Ь„§„†„Щ „Ф„Ч„Ц„®„™ JSON.';\n  } else if (pending && confirmsPending) {\n    action = 'use_agent';\n    agent_name = pending.agentName;\n    requestMessage = pending.task;\n    direct_reply = null;\n    selectionReason = '„Ф„Ю„©„™„Ю„© „Р„Щ„©„® „Ь„Ф„®„Щ„• „Р„™ „Ф„°„Х„Ы„Я „Ф„Ч„У„© „©„†„Х„¶„® „Ґ„Ь „Ф„©„Р„Ь„Ф „Ф„Ю„І„Х„®„Щ„™.';\n  } else if (pending && cancelsPending) {\n    action = 'chitchat';\n    direct_reply = '„С„Щ„Ш„Ь„™„Щ „Р„™ „Ф„Ф„®„¶„Ф. „Ф„°„Х„Ы„Я „†„©„Р„® „©„Ю„Х„® „Х„Р„§„©„® „Ь„Ф„©„™„Ю„© „С„Х „С„Ф„Ю„©„Ъ.';\n  } else if (pending) {\n    action = 'chitchat';\n    direct_reply = '„Щ„© „°„Х„Ы„Я „Ч„У„© „©„Ю„Х„Ы„Я „Ь„Ф„®„¶„Ф „Ґ„Ь „Ф„©„Р„Ь„Ф „Ф„Ю„І„Х„®„Щ„™. „Ы„™„Х„С „Ы„Я „Р„Х „Ю„Р„©„® „Ы„У„Щ „Ь„Ф„®„Щ„• „Р„Х„™„Х, „Р„Х „С„Ш„Ь „Ы„У„Щ „Ь„Ґ„¶„Х„®.';\n  } else if (asksForAgentHistory) {\n    action = 'chitchat';\n    direct_reply = data.agentHistory || `${data.userName || '„Ю„©„™„Ю„©'}, „Р„Щ„Я „Ґ„У„Щ„Щ„Я „©„Щ„Ю„Х„©„Щ „°„Х„Ы„†„Щ„Э „©„Ю„Х„®„Щ„Э „С„Ц„Щ„Ы„®„Х„Я „Ф„Р„Щ„©„Щ „©„Ь„Ъ.`;\n  } else if (hasAny(createAgentWords)) {\n    action = 'create_agent';\n  } else if (asksForScoreDetails) {\n    action = 'chitchat';\n    const ev = data.lastEvaluation;\n    if (ev) {\n      direct_reply = `„§„Щ„®„Х„Ш „¶„Щ„Х„Я „Р„Ч„®„Х„Я\\n„Ю„©„™„Ю„©: ${data.userName}\\n„°„Х„Ы„Я: ${ev.agent}\\n„¶„Щ„Х„Я: ${ev.score}/10\\n„°„Щ„С„Ф: ${ev.deductions}\\n„Ю„©„Щ„Ю„Ф: ${ev.task}`;\n    } else {\n      direct_reply = `${data.userName}, „Р„Щ„Я „Ґ„У„Щ„Щ„Я „¶„Щ„Х„Я „©„Ю„Х„® „С„Ц„Щ„Ы„®„Х„Я „Ф„Р„Щ„©„Щ „©„Ь„Ъ.`;\n    }\n  } else if (!msg || isShortCasual || hasAny(chitchatWords)) {\n    action = 'chitchat';\n    if (isShortCasual) {\n      direct_reply = `${data.userName || '„©„Ь„Х„Э'}, „©„Ь„Х„Э. „Р„Щ„Ъ „Р„§„©„® „Ь„Ґ„Ц„Х„® „Ь„Ъ „Ґ„Ы„©„Щ„Х?`;\n    }\n  } else if (hasAttachedFile && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n    selectionReason = '„†„С„Ч„® code_helper „Ы„Щ „¶„Х„®„£ „І„Х„С„• „Ь„І„®„Щ„Р„Ф „Х„Р„С„Ч„Х„Я „С„Р„Т.';\n  } else if (hasAnyUser(n8nWords) && preferredN8nAgent) {\n    action = 'use_agent';\n    agent_name = preferredN8nAgent.name;\n    selectionReason = '„†„С„Ч„® „°„Х„Ы„Я n8n „Щ„Щ„Ґ„Х„У„Щ „Ы„Щ „Ф„С„І„©„Ф „Ґ„Х„°„І„™ „С-JSON „Р„Х Workflow „©„Ь n8n.';\n  } else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n    action = 'use_agent';\n    agent_name = 'code_helper';\n  } else {\n    const tokens = lower\n      .replace(/[^a-z0-9„Р-„™_\\s]/gi, ' ')\n      .split(/\\s+/)\n      .filter(t => t.length >= 3 && !routingStopWords.has(t));\n\n    const agentTimes = agents\n      .map(a => Date.parse(a.updated_at || a.last_used || a.created_at || ''))\n      .filter(Number.isFinite);\n    const newestTime = agentTimes.length ? Math.max(...agentTimes) : Date.now();\n    const oldestTime = agentTimes.length ? Math.min(...agentTimes) : newestTime;\n    const timeSpan = Math.max(1, newestTime - oldestTime);\n\n    const candidates = [];\n    for (const agent of agents) {\n      const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n      let matchScore = 0;\n      const matchedTokens = [];\n      for (const token of tokens) {\n        if (haystack.includes(token)) {\n          matchScore += 1;\n          matchedTokens.push(token);\n        }\n      }\n      if (matchScore <= 0) continue;\n\n      const agentScore = Number(agent.score_avg ?? agent.score ?? 0) || 0;\n      const quality = Math.min(agentScore, 10) / 10;\n      const uses = Number(agent.uses ?? 0) || 0;\n      const updatedMs = Date.parse(agent.updated_at || agent.last_used || agent.created_at || '') || oldestTime;\n      const recency = Math.max(0, Math.min(1, (updatedMs - oldestTime) / timeSpan));\n      const freshImprovedBonus = recency >= 0.65 && agentScore >= 8 ? 0.55 : (recency >= 0.65 && agentScore >= 7 ? 0.25 : 0);\n      const genericPenalty = /(„©„Щ„Ю„Х„© „®„Р„©„Х„Я|„©„Щ„Ю„Х„© „©„†„Щ|„©„Щ„Ю„Х„© „©„Ь„Щ„©„Щ|„Ю„©„§„Ш „Р„Ч„У „С„®„Х„® „Ґ„Ь „Ф„™„§„І„Щ„У)/.test(haystack) ? 0.45 : 0;\n      const finalScore = (matchScore * 1.35) + (quality * 0.95) + (recency * 0.55) + (Math.min(uses, 12) / 120) + freshImprovedBonus - genericPenalty;\n\n      candidates.push({\n        agent,\n        matchScore,\n        matchedTokens: [...new Set(matchedTokens)].slice(0, 5),\n        agentScore,\n        uses,\n        updatedMs,\n        recency,\n        finalScore\n      });\n    }\n\n    candidates.sort((a, b) =>\n      (b.finalScore - a.finalScore) ||\n      (b.agentScore - a.agentScore) ||\n      (b.updatedMs - a.updatedMs)\n    );\n\n    let best = candidates[0] || null;\n    if (best) {\n      for (const candidate of candidates.slice(1)) {\n        const closeMatch = candidate.matchScore >= best.matchScore - 0.5;\n        const fresherAndNoWorse = candidate.updatedMs > best.updatedMs && candidate.agentScore >= best.agentScore - 0.25;\n        const closeEnough = candidate.finalScore >= best.finalScore - 0.35;\n        if (closeMatch && fresherAndNoWorse && closeEnough) {\n          best = candidate;\n        }\n      }\n    }\n\n    if (best && best.finalScore >= 1.85 && best.matchScore >= 1) {\n      action = 'use_agent';\n      agent_name = best.agent.name;\n      const updated = best.agent.updated_at || best.agent.last_used || best.agent.created_at || '„Ь„Р „†„©„Ю„®';\n      const freshness = best.recency >= 0.65 ? '„Ґ„У„Ы„†„Щ „Щ„Ч„°„Щ„™' : '„Х„™„Щ„І „Р„С„Ь „Ґ„У„Щ„Щ„Я „Ю„™„Р„Щ„Э';\n      selectionReason = `„†„С„Ч„® ${agent_name} „Ы„Щ „Ф„Х„Р „Ю„™„Р„Щ„Э „Ь„Ю„Щ„Ь„Щ„Э: ${best.matchedTokens.join(', ') || '„Ф„™„Р„Ю„Ф „Ы„Ь„Ь„Щ„™'}. „¶„Щ„Х„Я: ${best.agentScore || '„Ч„У„©'}, „©„Щ„Ю„Х„©„Щ„Э: ${best.uses}, „Ґ„У„Ы„Х„Я „Р„Ч„®„Х„Я: ${String(updated).replace('T', ' ').substring(0, 16)}. „Ф„Ґ„У„§„Ф: ${freshness}; „°„Х„Ы„Я „Ч„У„© „Щ„Х„™„® „Ґ„Э „¶„Щ„Х„Я „У„Х„Ю„Ф „Р„Х „Т„С„Х„Ф „Ю„І„С„Ь „І„У„Щ„Ю„Х„™.`;\n    }\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? (selectionReason || `„†„С„Ч„® ${agent_name} „Ь„§„Щ „Ф„™„Р„Ю„Ф, „¶„Щ„Х„Я, „Ґ„У„Ы„†„Щ„Х„™ „Х„©„Щ„Ю„Х„©„Щ„Э „І„Х„У„Ю„Щ„Э.`)\n  : (action === 'create_agent'\n    ? '„Ь„Р „†„Ю„¶„Р „°„Х„Ы„Я „Ю„™„Р„Щ„Э „Ю„°„§„Щ„І, „Ь„Ы„Я „†„Х„¶„® „°„Х„Ы„Я „Ч„У„©.'\n    : (action === 'ask_name' ? '„Ю„©„™„Ю„© „Ч„У„© „Ь„Ь„Р „©„Э „©„Ю„Х„®.' : (action === 'save_name' ? '„†„©„Ю„® „©„Э „Ю„©„™„Ю„© „Ч„У„©.' : '„Ц„Х„Ф„™„Ф „©„Щ„Ч„Ф „®„Т„Щ„Ь„Ф „Р„Х „С„І„©„™ „Ю„Щ„У„Ґ „Р„Щ„©„Щ.')));\n\nconst isWorkflowTask = action === 'use_agent' || action === 'create_agent';\nconst isProfileStep = action === 'ask_name' || action === 'save_name';\nconst conversationManager = {\n  name: 'Conversation Manager',\n  action,\n  mode: action === 'chitchat' ? 'plain_conversation' : (isWorkflowTask ? 'task_workflow' : 'profile_flow'),\n  agent: agent_name,\n  summary: action === 'chitchat'\n    ? '„©„Щ„Ч„Ф „®„Т„Щ„Ь„Ф - „™„©„Х„С„Ф „†„І„Щ„Щ„Ф „С„Ь„С„У'\n    : (action === 'use_agent'\n      ? '„Ю„©„Щ„Ю„Ф - „©„Щ„Ю„Х„© „С„°„Х„Ы„Я „І„Щ„Щ„Э'\n      : (action === 'create_agent' ? '„Ю„©„Щ„Ю„Ф - „Щ„¶„Щ„®„™ „°„Х„Ы„Я „Ч„У„©' : '„©„Ь„С „§„®„Х„§„Щ„Ь')),\n  answer_style: action === 'chitchat' ? 'human_plain_answer' : (isProfileStep ? 'direct_profile_reply' : 'workflow_with_progress'),\n  memory_policy: action === 'chitchat'\n    ? '„Ц„Щ„Ы„®„Х„Я „©„І„Ш „С„Ь„С„У, „®„І „Р„Э „І„©„Х„® „Щ„©„Щ„®„Х„™'\n    : '„©„Ю„Щ„®„™ „Ю„©„Щ„Ю„Ф, „°„Х„Ы„Я, „™„Х„¶„Р„Ф „Х„°„Щ„С„™ „Ф„Ч„Ь„Ш„Ф',\n  progress_policy: action === 'chitchat'\n    ? '„Ь„Ь„Р „Ч„Щ„Х„Х„Щ „Ю„°„Ь„Х„Ь „Ь„Ю„©„™„Ю„©'\n    : '„Ч„Щ„Х„Х„Щ „І„¶„® „®„І „С„Ц„Ю„Я „Ґ„С„Х„У„Ф „Р„Ю„Щ„™„Щ„™',\n  show_progress: isWorkflowTask,\n  confidence: action === 'chitchat' ? 0.92 : (action === 'use_agent' ? 0.86 : (action === 'create_agent' ? 0.82 : 0.96)),\n  reason: decision_reason\n};\n\nreturn [{ json: { action, agent_name, decision_reason, direct_reply, userName, userMessage: requestMessage, chatId: data.chatId, manager: conversationManager } }];"
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    direct_reply: input.direct_reply || null,\n    userName: input.userName || $('Prepare Data').first().json.userName || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId,\n    manager: input.manager || null\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  direct_reply: parsed.direct_reply || null,\n  userName: $('Prepare Data').first().json.userName || '',\n  userMessage,\n  chatId,\n  manager: parsed.manager || null\n}}];"
      },
      "id": "parse-router",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ask-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "save-name",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "save_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "chitchat",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "use-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "create-agent",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=„Р„™„Ф „Р„Х„®„І„°„Ш„®„Щ„Щ„Ш„Х„®, „Ф„Ґ„Х„Ц„® „Ф„Р„Щ„©„Щ „©„Ь „Ф„Ю„©„™„Ю„© „С„Ш„Ь„Т„®„Э.\n„Р„™„Ф „Ь„Р „Ф„Ю„©„™„Ю„©.\n„©„Э „Ф„Ю„©„™„Ю„© „Ф„Х„Р:\n{{ $('Parse Router').first().json.userName || '„Ю„©„™„Ю„©' }}\n„Ц„Ф „©„Э „Ф„Р„У„Э „©„§„Х„†„Ф „Р„Ь„Щ„Ъ, „Ь„Р „Ф„©„Э „©„Ь„Ъ.\n„Р„°„Х„® „Ь„Ф„Т„Щ„У \"„Р„†„Щ {{ $('Parse Router').first().json.userName || '„Ф„Ю„©„™„Ю„©' }}\".\n„Р„Э „©„Х„Р„Ь„Щ„Э „Ю„Щ „Р„™„Ф, „Ґ„†„Ф „©„Р„™„Ф „Р„Х„®„І„°„Ш„®„Щ„Щ„Ш„Х„®, „Ґ„Х„Ц„® AI „Р„Щ„©„Щ „©„С„Х„†„Ф, „Ю„§„Ґ„Щ„Ь „Х„Ю„©„§„® „°„Х„Ы„†„Щ„Э „Х„Ц„®„Щ„Ю„Х„™ „Ґ„С„Х„У„Ф.\n\n„Ф„Ю„Ш„®„Ф „©„Ь„Ъ „С„©„Щ„Ч„Ф „®„Т„Щ„Ь„Ф:\n„Ь„Ґ„†„Х„™ „Ы„Ю„Х „Р„У„Э „Ч„Ы„Э, „С„®„Х„® „Х„Ґ„†„Щ„Щ„†„Щ.\n\n„С„І„©„™ „Ф„Ю„©„™„Ю„© „Ґ„Ы„©„Щ„Х:\n{{ $('Parse Router').first().json.userMessage }}\n\n„Ц„Щ„Ы„®„Х„Я „©„Щ„Ю„Х„©„Щ „Ь„©„Щ„Ч„Ф, „®„І „Р„Э „Ф„Х„Р „С„Р„Ю„™ „І„©„Х„®:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\n„°„Х„Ы„†„Щ„Э „Ц„Ю„Щ„†„Щ„Э, „®„І „Р„Э „Ф„Ю„©„™„Ю„© „©„Х„Р„Ь „С„Ю„§„Х„®„© „Ґ„Ь „°„Х„Ы„†„Щ„Э „Р„Х „Ю„С„І„© „Ю„©„Щ„Ю„Ф:\n{{ $('Prepare Data').first().json.agentList }}\n\n„Ы„Ь„Ь„Щ „©„Щ„Ч„Ф „®„Т„Щ„Ь„Ф:\n„Ґ„†„Ф „І„Х„У„Э „Ы„Ь „Ґ„Ь „Ф„Ф„Х„У„Ґ„Ф „Ф„†„Х„Ы„Ч„Щ„™.\n„Ф„©„™„Ю„© „С„Ц„Щ„Ы„®„Х„Я „Ы„®„І„Ґ „©„І„Ш „С„Ь„С„У „Х„®„І „Р„Э „Ф„Х„Р „І„©„Х„® „Щ„©„Щ„®„Х„™.\n„Р„Ь „™„¶„Щ„Т „Ю„°„Ь„Х„Ь, „Ч„Щ„Х„Х„Щ, „Ц„Щ„Ы„®„Х„Я, „Ф„Ч„Ь„Ш„Х„™ „§„†„Щ„Ю„Щ„Х„™ „Р„Х „©„Э „°„Х„Ы„Я.\n„Р„Ь „™„Т„®„Х„® „†„Х„©„Р „Щ„©„Я „Ь„©„Щ„Ч„Ф „Ч„У„©„Ф.\n„Р„Э „Ф„Ф„І„©„® „Ь„Р „С„®„Х„®, „©„Р„Ь „©„Р„Ь„™ „Ф„С„Ф„®„Ф „І„¶„®„Ф „Р„Ч„™.\n„Р„Э „Ф„Ю„©„™„Ю„© „Ю„С„І„© „Ф„°„С„®, „™„Я „Ю„С„†„Ф „†„І„Щ „Ґ„Э „Ы„Х„™„®„Х„™ „І„¶„®„Х„™ „Р„Х „®„©„Щ„Ю„Ф.\n„Р„Э „Ф„Ю„©„™„Ю„© „Ю„С„І„© „І„Х„У, „Ф„Ч„Ц„® „І„Х„У „С„™„Х„Ъ „Т„У„® „І„Х„У „Ю„©„Х„Ь„©„™ „Ґ„Э „©„Э „©„§„Ф „Ы„©„Р„§„©„®.\n„Р„Ь „™„Х„°„Щ„£ „У„Х„Т„Ю„™ „І„Х„У „Р„Э „Ь„Р „С„Щ„І„©„Х „І„Х„У.\n„Ґ„†„Ф „С„Ґ„С„®„Щ„™ „†„І„Щ„Щ„Ф „С„Ь„С„У, „Р„Ь„Р „Р„Э „©„Э „Ы„Ь„Щ „Ш„Ы„†„Щ „Ч„Щ„Щ„С „Ь„Ф„Х„§„Щ„Ґ „С„Р„†„Т„Ь„Щ„™.\n„Р„Э „Ю„Х„§„Щ„Ґ„Щ„Э „С„Ц„Щ„Ы„®„Х„Я „Ю„©„§„Ш„Щ„Э „©„С„Х„®„Щ„Э, „©„§„Х„™ „Ц„®„Х„™ „Р„Х „†„Х„©„Р „©„Ь„Р „І„©„Х„® „Ь„©„Р„Ь„Ф, „Ф„™„Ґ„Ь„Э „Ю„Ф„Э.\n„С„Ь„Щ „І„Щ„©„Х„Ш„Щ„Э, „С„Ь„Щ „Ю„°„Т„®„Х„™ „¶„Щ„Х„®, „С„Ь„Щ „Ш„І„°„Ш „©„С„Х„®."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 450,
                "num_ctx": 2048,
                "temperature": 0.3
              }
            }
          ]
        },
        "options": {}
      },
      "id": "chitchat-llm",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[вФПвФЧвФ£вФГвФБ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Parse Router').first().json.direct_reply || $('Chitchat LLM').first().json.response, '„Ь„Р „Ф„™„І„С„Ь„Ф „™„©„Х„С„Ф „Ю„Ь„Р„Ф.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|„І„Х„У|„Ґ„Ю„Х„У|„У„£|„§„Х„†„І„¶„Щ„Ф|„°„І„®„Щ„§„Ш|„І„Х„Ю„§„Х„†„†„Ш|„Р„™„®|„Ш„Х„§„°|„Ы„§„™„Х„®)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-chitchat",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[вФПвФЧвФ£вФГвФБ]+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|„І„Х„У|„Ґ„Ю„Х„У|„У„£|„§„Х„†„І„¶„Щ„Ф|„°„І„®„Щ„§„Ш|„І„Х„Ю„§„Х„†„†„Ш|„Р„™„®|„Ш„Х„§„°|„Ы„§„™„Х„®)/i.test(task + ' ' + agent);\n  })());\n  const direct = $('Parse Router').first().json.direct_reply;\n  const body = direct\n    ? safe(direct, '„Ь„Р „Ф„™„І„С„Ь„Ф „™„©„Х„С„Ф „Ю„Ь„Р„Ф. „†„°„Ф „©„Х„С „С„Ґ„Х„У „®„Т„Ґ.', keepCode)\n    : safe($('Chitchat LLM').first().json.response, '„Ь„Р „Ф„™„І„С„Ь„Ф „™„©„Х„С„Ф „Ю„Ь„Р„Ф. „†„°„Ф „©„Х„С „С„Ґ„Х„У „®„Т„Ґ.', keepCode);\n  const userName = String($('Parse Router').first().json.userName || '').trim();\n  const plain = body.replace(/<[^>]+>/g, '');\n  const escapedName = userName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const assistantClaimsUserName = escapedName && new RegExp('(^|[\\\\s,.:;!?])„Р„†„Щ\\\\s+' + escapedName + '([\\\\s,.:;!?]|$)').test(plain);\n  if (assistantClaimsUserName || /„Ґ„Х„§„®\\\\s+„Щ„Х„У„Ґ\\\\s+„Ь„Ф„Ш„Ю„Щ„Ґ|„Р„†„Щ\\\\s+„Ґ„Х„§„®\\\\b/.test(plain)) {\n    return '„Р„†„Щ „Р„Х„®„І„°„Ш„®„Щ„Щ„Ш„Х„®, „Ф„Ґ„Х„Ц„® „Ф„Р„Щ„©„Щ „©„Ь„Ъ. „Р„†„Щ „Ц„Х„Ы„® „©„Ф„©„Э „©„Ь„Ъ „Ф„Х„Р ' + safe(userName, '„Ю„©„™„Ю„©', false) + '. „Р„Щ„Ъ „Р„§„©„® „Ь„Ґ„Ц„Х„®?';\n  }\n  return body;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-chitchat",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        64
      ],
      "webhookId": "4558b5d5-020e-4317-984e-e336652c86ab",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=„Р„™„Ф „Ф„°„Х„Ы„Я:\\n{{ $('Parse Router').first().json.agent_name }}\\n\\n„Ґ„†„Ф „Ю„Ф„®, „Щ„©„Щ„® „Х„©„Щ„Ю„Х„©„Щ.\n„С„І„©„™ „Ф„Ю„©„™„Ю„© „Ф„Щ„Р „Ю„І„Х„® „Ф„Р„Ю„™. „Ф„Ф„І„©„® „Ф„І„Х„У„Э „Ф„Х„Р „®„І „®„І„Ґ, „Х„Р„°„Х„® „Ь„Х „Ь„Ф„Ч„Ь„Щ„£ „Р„™ „Ф„С„І„©„Ф „Ф„†„Х„Ы„Ч„Щ„™.\\n\\n„Ф„І„©„® „Р„Ч„®„Х„Я:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\n„Ю„©„Щ„Ю„Ф:\\n{{ $('Parse Router').first().json.userMessage }}\\n\\n„Ч„Х„С„Ф „Ю„Х„Ч„Ь„Ш„™:\\n„Ґ„†„Ф „С„Ґ„С„®„Щ„™ „С„Ь„С„У.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „°„Щ„†„Щ„™.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „™„Х„Х„Щ„Э „°„Щ„†„Щ„Щ„Э.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „Ґ„®„С„Щ„™.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „™„Х„Х„Щ„Э „Ґ„®„С„Щ„Щ„Э.\\n„Р„Э „Ф„Ф„І„©„® „Ы„Х„Ь„Ь „Ґ„®„С„Щ„™ „Р„Х „©„§„Ф „Ц„®„Ф, „Ф„™„Ґ„Ь„Э „Ю„Ю„†„Ф „Х„Ґ„†„Ф „С„Ґ„С„®„Щ„™ „†„І„Щ„Щ„Ф „С„Ь„С„У.\\n„Р„°„Х„® „Ь„Ґ„®„С„С „©„§„Х„™ „С„™„Х„Ы„Я „®„Т„Щ„Ь.\\n„Р„Э „Ц„Х „™„©„Х„С„™ „І„Х„У, „©„Ю„Х„® „Р„™ „Ф„І„Х„У „С„Ю„С„†„Ф „®„Т„Щ„Ь „Х„І„®„Щ„Р, „С„Ь„Щ „Ь„§„®„І „™„Т„Щ„Х„™, „©„Ю„Х„™ „Ю„©„™„†„Щ„Э „Р„Х „Ю„Щ„Ь„Щ„Э „С„Р„†„Т„Ь„Щ„™ „Ь„©„Х„®„Х„™.\\n„Р„Э „Р„Щ„Я „Ь„Ъ „Ю„Щ„У„Ґ „Р„Ю„Щ„™„Щ, „™„Т„Щ„У „©„Р„Щ„Я „Ю„Щ„У„Ґ „©„Ю„Х„®.\\n\\n„©„Э „Ф„Ю„©„™„Ю„© „Ь„©„Щ„Ч„Ф:\\n{{ $('Parse Router').first().json.userName || '„Ю„©„™„Ю„©' }}\\n„§„†„Ф „Р„Ь„Щ„Х „С„©„Э „©„Ь„Х „С„Ш„С„Ґ„Щ„Х„™, „Ь„Р „С„Ы„Ь „Ю„©„§„Ш.\\n„Р„Э „Щ„© „С„™„©„Х„С„Ф „І„Х„У, „Ф„Ч„Ц„® „Р„™ „Ф„І„Х„У „С„™„Х„Ъ „Т„У„® „І„Х„У „Ю„©„Х„Ь„©„™ „Ґ„Э „©„Э „©„§„Ф „Ы„Р„©„® „Р„§„©„®. „Р„Ь „™„§„®„І „©„Ю„Х„™ „Ю„©„™„†„Щ„Э, „™„Т„Щ„Х„™ „Р„Х „Ю„Щ„Ь„Щ„Э „С„Р„†„Т„Ь„Щ„™ „С„™„Х„Ъ „І„Х„У.\\n\\n„Ы„Ь„Ь„Щ „Р„Щ„Ы„Х„™ „Ь„™„©„Х„С„Ф:\\n- „§„™„Ч „С„Ю„©„§„Ш „Р„Ч„У „©„Ю„°„Ы„Э „Р„™ „Ф„™„©„Х„С„Ф.\\n- „Ь„Р„Ч„® „Ю„Ы„Я „™„Я „Ю„С„†„Ф „С„®„Х„® „Ґ„Э „Ы„Х„™„®„Х„™ „І„¶„®„Х„™ „Р„Х „®„©„Щ„Ю„Ф „Ю„Ю„Х„°„§„®„™.\\n- „Р„Ь „™„Х„°„Щ„£ „У„Х„Т„Ю„™ „І„Х„У „Р„Э „Ф„Ю„©„™„Ю„© „Ь„Р „С„Щ„І„© „І„Х„У.\\n- „Р„Ь „™„Ы„†„Щ„° „Ю„Щ„Ь„Щ„Э „Ц„®„Х„™, „™„Х„Х„Щ„Э „Ц„®„Щ„Э, „Р„Х „®„¶„§„Щ „Р„Х„™„Щ„Х„™ „Ч„°„®„Щ „Ю„©„Ю„Ґ„Х„™.\\n- „Р„Э „†„У„®„© „Ю„Х„†„Ч „Ш„Ы„†„Щ „С„Р„†„Т„Ь„Щ„™, „Ф„©„™„Ю„© „®„І „С„©„Э „Ф„Ы„Ь„Щ „Р„Х „Ф„™„І„Я „Ґ„¶„Ю„Х.\\n- „Р„Э „Ц„Х „С„І„©„™ „Р„§„Щ„Х„Я, „Ф„Ч„Ц„®: „Ю„Ш„®„Ф, „®„Ы„Щ„С„Щ„Э, „Ц„®„Щ„Ю„™ „Ґ„С„Х„У„Ф, „С„У„Щ„І„Х„™, „Х„™„Х„¶„® „°„Х„§„Щ.\\n- „С„Ь„Щ „Ю„°„Т„®„Х„™ „¶„Щ„Х„®, „С„Ь„Щ „І„Щ„©„Х„Ш„Щ„Э, „С„Ь„Щ „Ш„І„°„Ш „©„С„Х„®.\n\n„Ч„Х„І„Щ „™„Х„¶„® „Ю„Ч„Щ„Щ„С„Щ„Э:\n- „Р„Э „Ф„С„І„©„Ф „Ы„Х„Ь„Ь„™ JSON, n8n „Р„Х Workflow, „Ф„Ч„Ц„® JSON „™„І„£ „С„™„Х„Ъ „Т„У„® „І„Х„У „Ю„©„Х„Ь„©„™.\n- „Р„°„Х„® „Ь„Ф„Ч„Ц„Щ„® „®„©„Щ„Ю„Х„™ „®„Щ„І„Х„™ „Ы„Ю„Х 1. 2. 3. „С„Ь„Щ „™„Х„Ы„Я.\n- „Р„Э „Ч„°„®„Щ„Э „§„®„Ш„Щ„Э, „¶„Х„® „™„С„†„Щ„™ „©„Щ„Ю„Х„©„Щ„™ „Ґ„Э „©„Ю„Х„™ „¶„Ю„™„Щ„Э, „Ч„Щ„С„Х„®„Щ„Э „Х„©„У„Х„™ „С„®„Х„®„Щ„Э.\n- „Р„Ь „™„Ґ„™„Щ„І „†„Х„©„Р „Щ„©„Я „Ю„Ф„Ц„Щ„Ы„®„Х„Я „Р„Э „Ф„Х„Р „Ь„Р „Ч„Ь„І „Ю„Ф„С„І„©„Ф „Ф„†„Х„Ы„Ч„Щ„™.\n- „І„Х„У „Х-JSON „Щ„Ы„Х„Ь„Щ„Э „Ь„Ф„Ы„Щ„Ь „Р„†„Т„Ь„Щ„™, „©„Ю„Х„™ „©„У„Х„™ „Х„°„Щ„Ю„†„Щ„Э „Ш„Ы„†„Щ„Щ„Э „С„Ь„Щ „Ь„Ю„Ч„Х„І „Р„Х„™„Э.\n\n„Ы„Ь„Ь„Щ n8n „І„©„Щ„Ч„Щ„Э:\n- „Р„Э „Ф„Ю„©„™„Ю„© „©„Х„Ь„Ч „§„®„Х„Ш„Х„І„Х„Ь „С„У„Щ„І„Ф „Р„Х Role Prompt „Ы„Ю„Х \"You are an N8N workflow expert\", „Р„Ь „™„Щ„¶„Х„® Workflow. „Р„©„® „©„І„Щ„С„Ь„™ „Р„™ „Ф„Ы„Ь„Ь„Щ„Э „С„Ь„С„У.\n- „Р„Э „Ф„Ю„©„™„Ю„© „Ю„С„І„© JSON „Ь-n8n, „Ф„Ч„Ц„® „®„І Workflow JSON „™„І„£ „С„™„Х„Ъ „Т„У„® „І„Х„У ```json, „С„Ь„Щ „Ш„І„°„Ш „Ь„§„†„Щ „Р„Х „Р„Ч„®„Щ.\n- „Ф„©„™„Ю„© „®„І „С„°„Х„Т„Щ „¶„Ю„™„Щ„Э „Р„Ю„Щ„™„Щ„Щ„Э „Ю„Ф„®„©„Щ„Ю„Ф: n8n-nodes-base.webhook, n8n-nodes-base.httpRequest, n8n-nodes-base.code, n8n-nodes-base.set, n8n-nodes-base.if, n8n-nodes-base.switch, n8n-nodes-base.merge, n8n-nodes-base.splitInBatches, n8n-nodes-base.googleSheets, n8n-nodes-base.postgres, n8n-nodes-base.mySql, n8n-nodes-base.telegram, n8n-nodes-base.noOp.\n- „Р„°„Х„® „Ь„Ф„©„™„Ю„© „С„°„Х„Т„Щ„Э „§„Щ„І„Ш„Щ„С„Щ„Щ„Э „Ы„Ю„Х parseJSON, log, saveToDatabase, filterData, analyzeData „Р„Х snake_case „Ы„Т„Х„Я n8n_nodes_base_httpRequest.\n- „Ь„¶„Х„®„Ъ Parse JSON „Р„Х Log „Ф„©„™„Ю„© „С„¶„Х„Ю„™ n8n-nodes-base.code „Ґ„Э jsCode.\n- „Ь„Ы„Ь node „Ч„Х„С„Ф: id, name, type, typeVersion „Ы„Ю„°„§„®, position „Ы„Ю„Ґ„®„Ъ „Ю„°„§„®„Щ„Э, parameters.\n- connections „Ч„Щ„Щ„С „Ь„Ф„Щ„Х„™ „Р„Х„С„Щ„Щ„І„Ш „Ь„§„Щ „©„Э „¶„Х„Ю„™ „Ю„І„Х„®, „Ь„Р „Ь„§„Щ id:\n  \"connections\": {\n    \"Webhook\": { \"main\": [[{ \"node\": \"Normalize Input\", \"type\": \"main\", \"index\": 0 }]] }\n  }\n- „Ы„Ь „Щ„Ґ„У „С„™„Х„Ъ connections „Ч„Щ„Щ„С „Ь„Ф„©„™„Ю„© „С„©„Э node „І„Щ„Щ„Э, „Ь„Р id.\n- credentials „Щ„Ф„Щ„Х „Ф„§„†„Щ„Ф „Ь„©„Э credential „С„Ь„С„У „Р„Х „Р„Х„С„Щ„Щ„І„Ш „®„Щ„І; „Ь„Ґ„Х„Ь„Э „Ь„Р „Ь„Ф„Ы„†„Щ„° „°„Щ„°„Ю„Р„Х„™ „Р„Х tokens.\n- „Р„Э „Ю„™„І„†„Щ„Э Workflow „І„Щ„Щ„Э, „©„Ю„Х„® „Ґ„Ь „Ф„Ю„Ш„®„Ф „Ф„Ю„І„Х„®„Щ„™ „Х„™„І„Я „Р„™ „Ф„Ю„С„†„Ф. „Р„Ь „™„Ч„Ц„Щ„® „У„Х„Т„Ю„Ф „®„Щ„І„Ф „Р„Х Workflow „С„©„Э checklist.\n- „Ь„§„†„Щ „Ф„Ч„Ц„®„Ф „Х„У„Р „©„Ф-JSON „†„Щ„™„Я „Ь-JSON.parse „Х„©„Р„Щ„Я „®„©„Щ„Ю„Х„™ „®„Щ„І„Х„™, „©„У„Х„™ „©„С„Х„®„Щ„Э „Р„Х „Ю„®„Ы„Р„Х„™ „Ь„Р „°„Т„Х„®„Х„™.\n\n\n„Ы„Ь„Ь„Щ „Р„Щ„Ы„Х„™ „Ь„°„Х„Ы„†„Щ „І„Х„У:\n- „Ф„™„†„Ф„Т „Ы„Ю„§„™„Ч „С„Ы„Щ„®. „Р„Ь „™„Ч„Ц„Щ„® „У„Х„Т„Ю„™ „¶„Ґ„¶„Х„Ґ „Ы„©„†„У„®„© „§„™„®„Х„Я „Р„Ю„Щ„™„Щ.\n- „Р„Э „¶„Х„®„£ „І„Х„С„•, „І„®„Р „Р„Х„™„Х „Ы„І„Х„У „Ю„І„Х„®: „¶„Щ„Щ„Я „Р„™ „Ф„С„Ґ„Щ„Ф, „Р„™ „Ф„°„Щ„С„Ф, „Х„Р„™ „Ф„™„Щ„І„Х„Я „Ф„Ю„Х„¶„Ґ.\n- „Ф„Ч„Ц„® „І„Х„У „Ю„Ь„Р „Р„Х patch/diff „С„®„Х„® „©„†„Щ„™„Я „Ь„Ф„Ґ„™„Щ„І, „С„™„Х„Ъ „Т„У„® „І„Х„У „Ю„©„Х„Ь„©„™ „Ґ„Э „©„§„Ф.\n- „Р„Ь „™„Ю„¶„Щ„Р API, node type, „†„™„Щ„С, „©„Э „§„Х„†„І„¶„Щ„Ф „Р„Х „°„§„®„Щ„Щ„Ф „Р„Э „Ф„Э „Ь„Р „Ю„Х„§„Щ„Ґ„Щ„Э „С„І„Х„С„• „Р„Х „С„С„І„©„Ф.\n- „Р„Э „Ч„°„® „І„Х„С„• „†„Х„°„£ „Ы„У„Щ „Ь„Х„Х„У„Р „™„Щ„І„Х„Я, „Р„Ю„Х„® „С„У„Щ„Х„І „Р„Щ„Ц„Ф „І„Х„С„• „Ч„°„® „Х„Ю„Ф „¶„®„Щ„Ъ „Ь„С„У„Х„І.\n- „Р„Ь „™„©„†„Ф „І„С„¶„Щ„Э „С„§„Х„Ґ„Ь „Х„Р„Ь „™„Т„Щ„У „©„©„Щ„†„Щ„™. „Р„™„Ф „Ю„¶„Щ„Ґ „™„Щ„І„Х„Я „С„Ь„С„У „Р„Ь„Р „Р„Э „Ф„Ю„©„™„Ю„© „С„Щ„І„© „Ь„С„¶„Ґ „©„Щ„†„Х„Щ „Ю„§„Х„®„©.\n- „Ь„§„†„Щ „™„©„Х„С„Ф „°„Х„§„Щ„™ „С„У„Х„І „™„Ч„С„Щ„® „С„°„Щ„°„Щ „С„®„Р„©: „°„Х„Т„®„Щ„Щ„Э, „Ю„®„Ы„Р„Х„™, JSON „™„І„£, imports, „Х„©„Ю„Х„™ „Ю„©„™„†„Щ„Э.\n\n\n„Ф„С„І„©„Ф „Ф„†„Х„Ы„Ч„Щ„™ „©„Х„С:\n{{ $('Parse Router').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[вФПвФЧвФ£вФГвФБ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute Agent').first().json.response, '„Ь„Р „Ф„™„І„С„Ь„Ф „™„©„Х„С„Ф „Ю„Ь„Р„Ф.', ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|„І„Х„У|„Ґ„Ю„Х„У|„У„£|„§„Х„†„І„¶„Щ„Ф|„°„І„®„Щ„§„Ш|„І„Х„Ю„§„Х„†„†„Ш|„Р„™„®|„Ш„Х„§„°|„Ы„§„™„Х„®)/i.test(task + ' ' + agent);\n  })()))) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '') }}}",
        "options": {}
      },
      "id": "save-memory-agent",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[вФПвФЧвФ£вФГвФБ]+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  const keepCode = ((() => {\n    const task = String($('Parse Router').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse Router').first().json.agent_name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|„І„Х„У|„Ґ„Ю„Х„У|„У„£|„§„Х„†„І„¶„Щ„Ф|„°„І„®„Щ„§„Ш|„І„Х„Ю„§„Х„†„†„Ш|„Р„™„®|„Ш„Х„§„°|„Ы„§„™„Х„®)/i.test(task + ' ' + agent);\n  })());\n  const body = safe($('Execute Agent').first().json.response, '„Ь„Р „Ф„™„І„С„Ь„Ф „™„©„Х„С„Ф „Ю„Ь„Р„Ф. „†„°„Ф „©„Х„С „С„Ґ„Х„У „®„Т„Ґ.', keepCode);\n  const escapeHeader = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const rawAgentName = String($('Parse Router').first().json.agent_name || '').trim();\n  const agentLabel = rawAgentName ? '<code>' + escapeHeader(rawAgentName) + '</code>' : '„°„Х„Ы„Я „І„Щ„Щ„Э';\n  return `<b>„†„¶„Щ„Т „†„С„Ч„®</b>\n„Ю„©„™„Ю„©: ${$('Parse Router').first().json.userName || '„Ю„©„™„Ю„©'}\n„†„¶„Щ„Т: ${agentLabel}\n„°„Щ„С„Ф: ${safe($('Parse Router').first().json.decision_reason || '„Ф„™„Р„Ю„Ф „Ш„Х„С„Ф „С„Щ„Х„™„® „Ь„§„Щ „Ф„®„©„Щ„Ю„Ф „Х„Ф„¶„Щ„Х„†„Щ„Э', '„Ф„™„Р„Ю„Ф „Ш„Х„С„Ф „С„Щ„Х„™„® „Ь„§„Щ „Ф„®„©„Щ„Ю„Ф „Х„Ф„¶„Щ„Х„†„Щ„Э', false)}\n\n${body}`;\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-result",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        304
      ],
      "webhookId": "f05da3bd-3aec-4eac-9c88-b882240b5daf",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for must be clean, specific Hebrew when the task is Hebrew. No Arabic script, no Chinese script, no foreign-language filler.\\n- Never return generic good_for values like „©„Щ„Ю„Х„© „®„Р„©„Х„Я, „©„Щ„Ю„Х„© „©„†„Щ, „©„Щ„Ю„Х„© „©„Ь„Щ„©„Щ.\\n- Never create an agent for a simple casual chat or a request to explain the previous score.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"„™„Щ„Р„Х„® „Ґ„С„®„Щ „°„§„¶„Щ„§„Щ „©„Ь „Ф„™„§„І„Щ„У\",\n  \"good_for\": \"„Ю„©„Щ„Ю„Ф „Р„Ю„Щ„™„Щ„™ „Р„Ч„™, „Ю„©„Щ„Ю„Ф „Р„Ю„Щ„™„Щ„™ „©„†„Щ„Щ„Ф, „Ю„©„Щ„Ю„Ф „Р„Ю„Щ„™„Щ„™ „©„Ь„Щ„©„Щ„™\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "create-agent-llm",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9„Р-„™\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nfunction inferAgentName(task) {\n  const t = String(task || '').toLowerCase();\n  const parts = [];\n  if (/„Ю„Х„У„Х„Ь|module/.test(t)) parts.push('module');\n  if (/„†„™„Х„†|data|db|database/.test(t)) parts.push('data');\n  if (/front|frontend|ui|„Ю„°„Ъ|„Ю„Ю„©„І/.test(t)) parts.push('frontend');\n  if (/back|backend|„©„®„™/.test(t)) parts.push('backend');\n  if (/„С„У„Щ„І|„Х„Х„У„Р|„Р„Щ„Ю„Х„™|validate|test|qa/.test(t)) parts.push('validation');\n  if (/„†„Щ„°„Х„Ч|„Ы„™„Щ„С|„™„Х„Ы„Я|„Ш„І„°„Ш|copy/.test(t)) parts.push('writing');\n  if (/„І„Х„У|code|bug|debug|„©„Т„Щ„Р„Ф/.test(t)) parts.push('code');\n  if (/„Р„Х„Ш„Х„Ю|workflow|„™„Ф„Ь„Щ„Ъ/.test(t)) parts.push('automation');\n  const unique = [...new Set(parts)].slice(0, 3);\n  if (unique.length >= 2) return cleanName(unique.join('_') + '_agent');\n  if (unique.length === 1) return cleanName(unique[0] + '_task_agent');\n  const hash = Array.from(String(task || 'custom')).reduce((sum, ch) => sum + ch.charCodeAt(0), 0).toString(36).slice(0, 5);\n  return cleanName('custom_request_agent_' + hash);\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\nif (!/[a-z]/.test(name) || banned.has(name) || name.length < 6) {\n  name = inferAgentName(rawTask);\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || '„°„Х„Ы„Я „Щ„Щ„Ґ„Х„У„Щ „©„†„Х„¶„® „Ь„§„Щ „Ф„С„І„©„Ф „Ф„Р„Ч„®„Х„†„Ф.',\n  good_for: parsed.good_for || '„Ю„©„Щ„Ю„Х„™ „У„Х„Ю„Х„™ „Ь„С„І„©„Ф „Ф„Р„Ч„®„Х„†„Ф',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "parse-new-agent",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "save-registry",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=„Р„™„Ф „Ф„°„Х„Ы„Я:\\n{{ $('Parse New Agent').first().json.name }}\\n\\n„Ґ„†„Ф „Ю„Ф„®, „Щ„©„Щ„® „Х„©„Щ„Ю„Х„©„Щ.\n„С„І„©„™ „Ф„Ю„©„™„Ю„© „Ф„Щ„Р „Ю„І„Х„® „Ф„Р„Ю„™. „Ф„Ф„І„©„® „Ф„І„Х„У„Э „Ф„Х„Р „®„І „®„І„Ґ, „Х„Р„°„Х„® „Ь„Х „Ь„Ф„Ч„Ь„Щ„£ „Р„™ „Ф„С„І„©„Ф „Ф„†„Х„Ы„Ч„Щ„™.\\n\\n„Ф„І„©„® „Р„Ч„®„Х„Я:\\n{{ $('Prepare Data').first().json.conversationHistory }}\\n\\n„Ю„©„Щ„Ю„Ф:\\n{{ $('Parse New Agent').first().json.userMessage }}\\n\\n„Ч„Х„С„Ф „Ю„Х„Ч„Ь„Ш„™:\\n„Ґ„†„Ф „С„Ґ„С„®„Щ„™ „С„Ь„С„У.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „°„Щ„†„Щ„™.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „™„Х„Х„Щ„Э „°„Щ„†„Щ„Щ„Э.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „Ґ„®„С„Щ„™.\\n„Р„°„Х„® „Ь„Ф„Х„¶„Щ„Р „™„Х„Х„Щ„Э „Ґ„®„С„Щ„Щ„Э.\\n„Р„Э „Ф„Ф„І„©„® „Ы„Х„Ь„Ь „Ґ„®„С„Щ„™ „Р„Х „©„§„Ф „Ц„®„Ф, „Ф„™„Ґ„Ь„Э „Ю„Ю„†„Ф „Х„Ґ„†„Ф „С„Ґ„С„®„Щ„™ „†„І„Щ„Щ„Ф „С„Ь„С„У.\\n„Р„°„Х„® „Ь„Ґ„®„С„С „©„§„Х„™ „С„™„Х„Ы„Я „®„Т„Щ„Ь.\\n„Р„Э „Ц„Х „™„©„Х„С„™ „І„Х„У, „©„Ю„Х„® „Р„™ „Ф„І„Х„У „С„Ю„С„†„Ф „®„Т„Щ„Ь „Х„І„®„Щ„Р, „С„Ь„Щ „Ь„§„®„І „™„Т„Щ„Х„™, „©„Ю„Х„™ „Ю„©„™„†„Щ„Э „Р„Х „Ю„Щ„Ь„Щ„Э „С„Р„†„Т„Ь„Щ„™ „Ь„©„Х„®„Х„™.\\n„Р„Э „Р„Щ„Я „Ь„Ъ „Ю„Щ„У„Ґ „Р„Ю„Щ„™„Щ, „™„Т„Щ„У „©„Р„Щ„Я „Ю„Щ„У„Ґ „©„Ю„Х„®.\\n\\n„©„Э „Ф„Ю„©„™„Ю„© „Ь„©„Щ„Ч„Ф:\\n{{ $('Parse Router').first().json.userName || '„Ю„©„™„Ю„©' }}\\n„§„†„Ф „Р„Ь„Щ„Х „С„©„Э „©„Ь„Х „С„Ш„С„Ґ„Щ„Х„™, „Ь„Р „С„Ы„Ь „Ю„©„§„Ш.\\n„Р„Э „Щ„© „С„™„©„Х„С„Ф „І„Х„У, „Ф„Ч„Ц„® „Р„™ „Ф„І„Х„У „С„™„Х„Ъ „Т„У„® „І„Х„У „Ю„©„Х„Ь„©„™ „Ґ„Э „©„Э „©„§„Ф „Ы„Р„©„® „Р„§„©„®. „Р„Ь „™„§„®„І „©„Ю„Х„™ „Ю„©„™„†„Щ„Э, „™„Т„Щ„Х„™ „Р„Х „Ю„Щ„Ь„Щ„Э „С„Р„†„Т„Ь„Щ„™ „С„™„Х„Ъ „І„Х„У.\\n\\n„Ы„Ь„Ь„Щ „Р„Щ„Ы„Х„™ „Ь„™„©„Х„С„Ф:\\n- „§„™„Ч „С„Ю„©„§„Ш „Р„Ч„У „©„Ю„°„Ы„Э „Р„™ „Ф„™„©„Х„С„Ф.\\n- „Ь„Р„Ч„® „Ю„Ы„Я „™„Я „Ю„С„†„Ф „С„®„Х„® „Ґ„Э „Ы„Х„™„®„Х„™ „І„¶„®„Х„™ „Р„Х „®„©„Щ„Ю„Ф „Ю„Ю„Х„°„§„®„™.\\n- „Р„Ь „™„Х„°„Щ„£ „У„Х„Т„Ю„™ „І„Х„У „Р„Э „Ф„Ю„©„™„Ю„© „Ь„Р „С„Щ„І„© „І„Х„У.\\n- „Р„Ь „™„Ы„†„Щ„° „Ю„Щ„Ь„Щ„Э „Ц„®„Х„™, „™„Х„Х„Щ„Э „Ц„®„Щ„Э, „Р„Х „®„¶„§„Щ „Р„Х„™„Щ„Х„™ „Ч„°„®„Щ „Ю„©„Ю„Ґ„Х„™.\\n- „Р„Э „†„У„®„© „Ю„Х„†„Ч „Ш„Ы„†„Щ „С„Р„†„Т„Ь„Щ„™, „Ф„©„™„Ю„© „®„І „С„©„Э „Ф„Ы„Ь„Щ „Р„Х „Ф„™„І„Я „Ґ„¶„Ю„Х.\\n- „Р„Э „Ц„Х „С„І„©„™ „Р„§„Щ„Х„Я, „Ф„Ч„Ц„®: „Ю„Ш„®„Ф, „®„Ы„Щ„С„Щ„Э, „Ц„®„Щ„Ю„™ „Ґ„С„Х„У„Ф, „С„У„Щ„І„Х„™, „Х„™„Х„¶„® „°„Х„§„Щ.\\n- „С„Ь„Щ „Ю„°„Т„®„Х„™ „¶„Щ„Х„®, „С„Ь„Щ „І„Щ„©„Х„Ш„Щ„Э, „С„Ь„Щ „Ш„І„°„Ш „©„С„Х„®.\n\n„Ч„Х„І„Щ „™„Х„¶„® „Ю„Ч„Щ„Щ„С„Щ„Э:\n- „Р„Э „Ф„С„І„©„Ф „Ы„Х„Ь„Ь„™ JSON, n8n „Р„Х Workflow, „Ф„Ч„Ц„® JSON „™„І„£ „С„™„Х„Ъ „Т„У„® „І„Х„У „Ю„©„Х„Ь„©„™.\n- „Р„°„Х„® „Ь„Ф„Ч„Ц„Щ„® „®„©„Щ„Ю„Х„™ „®„Щ„І„Х„™ „Ы„Ю„Х 1. 2. 3. „С„Ь„Щ „™„Х„Ы„Я.\n- „Р„Э „Ч„°„®„Щ„Э „§„®„Ш„Щ„Э, „¶„Х„® „™„С„†„Щ„™ „©„Щ„Ю„Х„©„Щ„™ „Ґ„Э „©„Ю„Х„™ „¶„Ю„™„Щ„Э, „Ч„Щ„С„Х„®„Щ„Э „Х„©„У„Х„™ „С„®„Х„®„Щ„Э.\n- „Р„Ь „™„Ґ„™„Щ„І „†„Х„©„Р „Щ„©„Я „Ю„Ф„Ц„Щ„Ы„®„Х„Я „Р„Э „Ф„Х„Р „Ь„Р „Ч„Ь„І „Ю„Ф„С„І„©„Ф „Ф„†„Х„Ы„Ч„Щ„™.\n- „І„Х„У „Х-JSON „Щ„Ы„Х„Ь„Щ„Э „Ь„Ф„Ы„Щ„Ь „Р„†„Т„Ь„Щ„™, „©„Ю„Х„™ „©„У„Х„™ „Х„°„Щ„Ю„†„Щ„Э „Ш„Ы„†„Щ„Щ„Э „С„Ь„Щ „Ь„Ю„Ч„Х„І „Р„Х„™„Э.\n\n„Ы„Ь„Ь„Щ n8n „І„©„Щ„Ч„Щ„Э:\n- „Р„Э „Ф„Ю„©„™„Ю„© „©„Х„Ь„Ч „§„®„Х„Ш„Х„І„Х„Ь „С„У„Щ„І„Ф „Р„Х Role Prompt „Ы„Ю„Х \"You are an N8N workflow expert\", „Р„Ь „™„Щ„¶„Х„® Workflow. „Р„©„® „©„І„Щ„С„Ь„™ „Р„™ „Ф„Ы„Ь„Ь„Щ„Э „С„Ь„С„У.\n- „Р„Э „Ф„Ю„©„™„Ю„© „Ю„С„І„© JSON „Ь-n8n, „Ф„Ч„Ц„® „®„І Workflow JSON „™„І„£ „С„™„Х„Ъ „Т„У„® „І„Х„У ```json, „С„Ь„Щ „Ш„І„°„Ш „Ь„§„†„Щ „Р„Х „Р„Ч„®„Щ.\n- „Ф„©„™„Ю„© „®„І „С„°„Х„Т„Щ „¶„Ю„™„Щ„Э „Р„Ю„Щ„™„Щ„Щ„Э „Ю„Ф„®„©„Щ„Ю„Ф: n8n-nodes-base.webhook, n8n-nodes-base.httpRequest, n8n-nodes-base.code, n8n-nodes-base.set, n8n-nodes-base.if, n8n-nodes-base.switch, n8n-nodes-base.merge, n8n-nodes-base.splitInBatches, n8n-nodes-base.googleSheets, n8n-nodes-base.postgres, n8n-nodes-base.mySql, n8n-nodes-base.telegram, n8n-nodes-base.noOp.\n- „Р„°„Х„® „Ь„Ф„©„™„Ю„© „С„°„Х„Т„Щ„Э „§„Щ„І„Ш„Щ„С„Щ„Щ„Э „Ы„Ю„Х parseJSON, log, saveToDatabase, filterData, analyzeData „Р„Х snake_case „Ы„Т„Х„Я n8n_nodes_base_httpRequest.\n- „Ь„¶„Х„®„Ъ Parse JSON „Р„Х Log „Ф„©„™„Ю„© „С„¶„Х„Ю„™ n8n-nodes-base.code „Ґ„Э jsCode.\n- „Ь„Ы„Ь node „Ч„Х„С„Ф: id, name, type, typeVersion „Ы„Ю„°„§„®, position „Ы„Ю„Ґ„®„Ъ „Ю„°„§„®„Щ„Э, parameters.\n- connections „Ч„Щ„Щ„С „Ь„Ф„Щ„Х„™ „Р„Х„С„Щ„Щ„І„Ш „Ь„§„Щ „©„Э „¶„Х„Ю„™ „Ю„І„Х„®, „Ь„Р „Ь„§„Щ id:\n  \"connections\": {\n    \"Webhook\": { \"main\": [[{ \"node\": \"Normalize Input\", \"type\": \"main\", \"index\": 0 }]] }\n  }\n- „Ы„Ь „Щ„Ґ„У „С„™„Х„Ъ connections „Ч„Щ„Щ„С „Ь„Ф„©„™„Ю„© „С„©„Э node „І„Щ„Щ„Э, „Ь„Р id.\n- credentials „Щ„Ф„Щ„Х „Ф„§„†„Щ„Ф „Ь„©„Э credential „С„Ь„С„У „Р„Х „Р„Х„С„Щ„Щ„І„Ш „®„Щ„І; „Ь„Ґ„Х„Ь„Э „Ь„Р „Ь„Ф„Ы„†„Щ„° „°„Щ„°„Ю„Р„Х„™ „Р„Х tokens.\n- „Р„Э „Ю„™„І„†„Щ„Э Workflow „І„Щ„Щ„Э, „©„Ю„Х„® „Ґ„Ь „Ф„Ю„Ш„®„Ф „Ф„Ю„І„Х„®„Щ„™ „Х„™„І„Я „Р„™ „Ф„Ю„С„†„Ф. „Р„Ь „™„Ч„Ц„Щ„® „У„Х„Т„Ю„Ф „®„Щ„І„Ф „Р„Х Workflow „С„©„Э checklist.\n- „Ь„§„†„Щ „Ф„Ч„Ц„®„Ф „Х„У„Р „©„Ф-JSON „†„Щ„™„Я „Ь-JSON.parse „Х„©„Р„Щ„Я „®„©„Щ„Ю„Х„™ „®„Щ„І„Х„™, „©„У„Х„™ „©„С„Х„®„Щ„Э „Р„Х „Ю„®„Ы„Р„Х„™ „Ь„Р „°„Т„Х„®„Х„™.\n\n\n„Ы„Ь„Ь„Щ „Р„Щ„Ы„Х„™ „Ь„°„Х„Ы„†„Щ „І„Х„У:\n- „Ф„™„†„Ф„Т „Ы„Ю„§„™„Ч „С„Ы„Щ„®. „Р„Ь „™„Ч„Ц„Щ„® „У„Х„Т„Ю„™ „¶„Ґ„¶„Х„Ґ „Ы„©„†„У„®„© „§„™„®„Х„Я „Р„Ю„Щ„™„Щ.\n- „Р„Э „¶„Х„®„£ „І„Х„С„•, „І„®„Р „Р„Х„™„Х „Ы„І„Х„У „Ю„І„Х„®: „¶„Щ„Щ„Я „Р„™ „Ф„С„Ґ„Щ„Ф, „Р„™ „Ф„°„Щ„С„Ф, „Х„Р„™ „Ф„™„Щ„І„Х„Я „Ф„Ю„Х„¶„Ґ.\n- „Ф„Ч„Ц„® „І„Х„У „Ю„Ь„Р „Р„Х patch/diff „С„®„Х„® „©„†„Щ„™„Я „Ь„Ф„Ґ„™„Щ„І, „С„™„Х„Ъ „Т„У„® „І„Х„У „Ю„©„Х„Ь„©„™ „Ґ„Э „©„§„Ф.\n- „Р„Ь „™„Ю„¶„Щ„Р API, node type, „†„™„Щ„С, „©„Э „§„Х„†„І„¶„Щ„Ф „Р„Х „°„§„®„Щ„Щ„Ф „Р„Э „Ф„Э „Ь„Р „Ю„Х„§„Щ„Ґ„Щ„Э „С„І„Х„С„• „Р„Х „С„С„І„©„Ф.\n- „Р„Э „Ч„°„® „І„Х„С„• „†„Х„°„£ „Ы„У„Щ „Ь„Х„Х„У„Р „™„Щ„І„Х„Я, „Р„Ю„Х„® „С„У„Щ„Х„І „Р„Щ„Ц„Ф „І„Х„С„• „Ч„°„® „Х„Ю„Ф „¶„®„Щ„Ъ „Ь„С„У„Х„І.\n- „Р„Ь „™„©„†„Ф „І„С„¶„Щ„Э „С„§„Х„Ґ„Ь „Х„Р„Ь „™„Т„Щ„У „©„©„Щ„†„Щ„™. „Р„™„Ф „Ю„¶„Щ„Ґ „™„Щ„І„Х„Я „С„Ь„С„У „Р„Ь„Р „Р„Э „Ф„Ю„©„™„Ю„© „С„Щ„І„© „Ь„С„¶„Ґ „©„Щ„†„Х„Щ „Ю„§„Х„®„©.\n- „Ь„§„†„Щ „™„©„Х„С„Ф „°„Х„§„Щ„™ „С„У„Х„І „™„Ч„С„Щ„® „С„°„Щ„°„Щ „С„®„Р„©: „°„Х„Т„®„Щ„Щ„Э, „Ю„®„Ы„Р„Х„™, JSON „™„І„£, imports, „Х„©„Ю„Х„™ „Ю„©„™„†„Щ„Э.\n\n\n„Ф„С„І„©„Ф „Ф„†„Х„Ы„Ч„Щ„™ „©„Х„С:\n{{ $('Parse New Agent').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.18
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-new-agent",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let response = '';\ntry {\n  response = String($('Execute New Agent').first().json.response || '');\n} catch(e) {\n  response = '';\n}\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nconst badResponse = /(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/i.test(response);\nconst foreign = /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF]/.test(response);\nconst gibberish = /\\b([A-Za-z]{2,})\\b/g;\nconst allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\nconst englishTokens = [...response.matchAll(gibberish)].map(m => m[1]);\nconst unknownEnglish = englishTokens.filter(token => !allowed.has(token.replace(/[.]+$/g, '').toUpperCase()));\nlet score = badResponse ? 3 : 7;\nif (!badResponse && response.length > 80) score += 1;\nif (!badResponse && response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nif (foreign) score -= 3;\nif (unknownEnglish.length >= 2) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: badResponse\n    ? '„Ф„™„©„Х„С„Ф „Ф„®„Р„©„Х„†„Щ„™ „Ь„Р „Ф„Щ„™„Ф „†„І„Щ„Щ„Ф „Х„Ь„Ы„Я „†„§„°„Ь„Ф „Ь„©„Щ„Ю„Х„© „Ч„Х„Ц„®'\n    : (foreign || unknownEnglish.length >= 2\n      ? '„†„Ю„¶„Р„Х „™„Х„Х„Щ„Э „Ц„®„Щ„Э „Р„Х „®„¶„§„Щ „Ю„Щ„Ь„Щ„Э „Ь„Р „†„І„Щ„Щ„Э, „Ь„Ы„Я „Ф„¶„Щ„Х„Я „Щ„®„У'\n      : (score >= 8 ? '„†„®„Р„Ф „Ш„Х„С „С„С„У„Щ„І„Ф „Ю„Ф„Щ„®„Ф' : '„†„Х„¶„® „°„Х„Ы„Я, „Р„С„Ь „Ф„™„©„Х„С„Ф „Ф„®„Р„©„Х„†„Щ„™ „І„¶„®„Ф „Р„Х „Ч„Ь„І„Щ„™')),\n  improvement: '„Р„§„©„® „Ь„Ф„®„Щ„• „©„Щ„§„Х„® „С„Ф„Ю„©„Ъ',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "evaluator-llm",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: '„Ь„Р „†„Щ„™„Я „Ь„Ф„Ґ„®„Щ„Ъ', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "parse-evaluator",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {}
      },
      "id": "update-agent-score",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_name\": {{ JSON.stringify($('Parse Router').first().json.userName || '') }}, \"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify(((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  let cleaned = unescapeLoose(raw)\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/[вФПвФЧвФ£вФГвФБ]+/g, ' ')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return fallback;\n  if (keepCode) return cleaned.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return cleaned\n    .replace(/[\\\\*\\`#_]/g, '')\n    .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n      const key = token.replace(/[.]+$/g, '').toUpperCase();\n      return allowed.has(key) ? token : '';\n    })\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n})($('Execute New Agent').first().json.response, '„Ф„°„Х„Ы„Я „†„Х„¶„® „Х„†„©„Ю„®. „™„Х„¶„® „®„Р„©„Х„†„Щ „†„І„Щ „†„©„Ю„® „Ь„©„Щ„Ю„Х„© „Ч„Х„Ц„®.', ((() => {\n    const task = String($('Parse New Agent').first().json.userMessage || '').toLowerCase();\n    const agent = String($('Parse New Agent').first().json.name || '').toLowerCase();\n    return /(code|html|css|javascript|java\\s*script|js|python|sql|json|xml|react|login|script|„І„Х„У|„Ґ„Ю„Х„У|„У„£|„§„Х„†„І„¶„Щ„Ф|„°„І„®„Щ„§„Ш|„І„Х„Ю„§„Х„†„†„Ш|„Р„™„®|„Ш„Х„§„°|„Ы„§„™„Х„®)/i.test(task + ' ' + agent);\n  })()))) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}, \"decision_reason\": {{ JSON.stringify($('Parse Router').first().json.decision_reason || '„Ь„Р „†„Ю„¶„Р „°„Х„Ы„Я „Ю„™„Р„Щ„Э „Ю„°„§„Щ„І, „Ь„Ы„Я „†„Х„¶„® „°„Х„Ы„Я „Ч„У„©.') }}}",
        "options": {}
      },
      "id": "save-memory-new",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "={{ (() => {\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const name = $('Parse New Agent').first().json.name || 'new_task_agent';\n  const description = $('Parse New Agent').first().json.description || '„°„Х„Ы„Я „Щ„Щ„Ґ„Х„У„Щ';\n  const goodFor = $('Parse New Agent').first().json.good_for || '';\n  const task = $('Parse New Agent').first().json.userMessage || '';\n  const user = $('Parse Router').first().json.userName || '„Ю„©„™„Ю„©';\n  return '<b>„†„Х„¶„® „°„Х„Ы„Я „Ч„У„© „Х„Ю„Х„Ы„Я „Ь„Ф„®„¶„Ф</b>\\n\\n'\n    + '„Ю„©„™„Ю„©: ' + escapeHtml(user) + '\\n'\n    + '„©„Э: <code>' + escapeHtml(name) + '</code>\\n'\n    + '„Щ„Щ„Ґ„Х„У: ' + escapeHtml(description) + '\\n'\n    + (goodFor ? '„Ю„™„Р„Щ„Э „Ь: ' + escapeHtml(goodFor) + '\\n' : '')\n    + '\\n<b>„Ф„©„Р„Ь„Ф „Ф„Ю„І„Х„®„Щ„™</b>\\n'\n    + escapeHtml(task) + '\\n\\n'\n    + '„Ґ„У„Щ„Щ„Я „Ь„Р „С„Щ„¶„Ґ„™„Щ „Р„™ „Ф„Ю„©„Щ„Ю„Ф.\\n'\n    + '„©„Ь„Ч <b>„Ы„Я</b> „Р„Х <b>„Ю„Р„©„®</b>, „Х„Р„†„Щ „Ю„®„Щ„• „Р„™ „Ф„°„Х„Ы„Я „Ф„Ц„Ф „Ґ„Ь „Р„Х„™„Ф „©„Р„Ь„Ф.';\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-new-agent",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3312,
        544
      ],
      "webhookId": "4f99d8b8-3fe0-471f-a0ec-d0a66d741827",
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/profile/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {}
      },
      "id": "read-profile",
      "name": "Read Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  awaiting_name: true,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-ask",
      "name": "Save Profile Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  display_name: $('Parse Router').first().json.userName,\n  awaiting_name: false,\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}) }}",
        "options": {}
      },
      "id": "save-profile-name",
      "name": "Save Profile Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -24
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ (() => {\n  const safe = ((text, fallback, keepCode) => {\n  const raw = String(text || '');\n  const bad = /(„Ц„Щ„Я|„Ы„Х„°|„©„®„Ю„Х„Ш|„Ц„Х„†„Ф|„Ю„Ц„У„Щ„Щ„Я|„С„Я „Ц„Х„†„Ф|fuck|sex|porn)/i;\n  const allowed = new Set(['AI','API','JSON','HTML','CSS','JS','SQL','DB','UI','UX','HTTP','URL','N8N','OLLAMA','TELEGRAM','PYTHON','JAVASCRIPT','REACT','NODE','WEBHOOK','FRONTEND','BACKEND','MYSQL','PHP','PDF','WORKFLOW','AGENT','BOT','MINI','APP','FLASK','GATEWAY','NGROK','PROMPT','MODEL','ROUTER','MEMORY','CHAT','CRM']);\n  const escapeHtml = (value) => String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n  const unescapeLoose = (value) => String(value || '')\n    .replace(/&\\s*lt\\s*;/gi, '<')\n    .replace(/&\\s*gt\\s*;/gi, '>')\n    .replace(/&\\s*amp\\s*;/gi, '&');\n  const codePane = (value) => {\n    const code = unescapeLoose(value).replace(/\\r\\n/g, '\\n').trim();\n    return '<pre><code>' + escapeHtml(code) + '</code></pre>';\n  };\n  const formatCode = (value) => {\n    const source = unescapeLoose(value).replace(/\\r\\n/g, '\\n').replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n    const fence = /\\`\\`\\`([A-Za-z0-9_+#.-]+)?[^\\n\\`]*\\n?([\\s\\S]*?)\\`\\`\\`/g;\n    let last = 0;\n    let matched = false;\n    const parts = [];\n    source.replace(fence, (match, lang, code, offset) => {\n      const before = source.slice(last, offset).trim();\n      if (before) parts.push(cleanPlain(before));\n      parts.push(codePane(code));\n      last = offset + match.length;\n      matched = true;\n      return match;\n    });\n    const tail = source.slice(last).trim();\n    if (!matched) {\n      const looksLikeCode = /[{}<>;=]|\\b(function|const|let|class|def|return|import|select|doctype)\\b/i.test(source);\n      return looksLikeCode ? codePane(source) : cleanPlain(source);\n    }\n    if (tail) parts.push(cleanPlain(tail));\n    return parts.join('\\n\\n').replace(/\\n{4,}/g, '\\n\\n\\n');\n  };\n  const cleanPlain = (value) => {\n    let cleaned = unescapeLoose(value)\n      .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n      .replace(/[вФПвФЧвФ£вФГвФБ]+/g, ' ')\n      .replace(/\\[out\\]/gi, '')\n      .replace(/[\\\\*\\`#_]/g, '')\n      .replace(/&\\s*(lt|gt|amp)\\s*;/gi, ' ')\n      .replace(/[<>]/g, ' ')\n      .replace(/[A-Za-z][A-Za-z0-9_+#./-]*/g, (token) => {\n        const key = token.replace(/[.]+$/g, '').toUpperCase();\n        return allowed.has(key) ? '<code>' + escapeHtml(token) + '</code>' : '';\n      })\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n[ \\t]+/g, '\\n')\n      .replace(/[ \\t]{2,}/g, ' ')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n    return escapeHtml(cleaned)\n      .replace(/&lt;code&gt;/g, '<code>')\n      .replace(/&lt;\\/code&gt;/g, '</code>');\n  };\n  let cleaned = raw\n    .replace(/[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF\\uFB50-\\uFDFF\\uFE70-\\uFEFF\\u0400-\\u04FF\\u0370-\\u03FF\\u0E00-\\u0E7F\\u3040-\\u30FF\\uAC00-\\uD7AF\\u4E00-\\u9FFF\\u3400-\\u4DBF\\u3000-\\u303F\\uFF00-\\uFFEF\\u00C0-\\u024F]/g, '')\n    .replace(/\\[out\\]/gi, '')\n    .trim();\n  if (!cleaned || bad.test(cleaned)) return escapeHtml(fallback);\n  const result = keepCode ? formatCode(cleaned) : cleanPlain(cleaned);\n  return result && result.replace(/<[^>]+>/g, '').trim() ? result : escapeHtml(fallback);\n});\n  return safe($('Parse Router').first().json.direct_reply, '„І„Щ„С„Ь„™„Щ.', false);\n})() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-direct-profile",
      "name": "Telegram - Direct",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>„І„Щ„С„Ь„™„Щ „Р„™ „Ф„С„І„©„Ф</b>\\n„Ю„©„™„Ю„©: ' + ($('Parse Router').first().json.userName || '„Ю„©„™„Ю„©') + '\\n„Ю„°„Ь„Х„Ь: „©„Щ„Ч„Ф „®„Т„Щ„Ь„Ф\\n„Ю„¶„С: „Ю„†„°„Ч „™„©„Х„С„Ф' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-chitchat-safe",
      "name": "Telegram - Progress Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        64
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>„І„Щ„С„Ь„™„Щ „Р„™ „Ф„С„І„©„Ф</b>\\n„Ю„©„™„Ю„©: ' + ($('Parse Router').first().json.userName || '„Ю„©„™„Ю„©') + '\\n„Ю„°„Ь„Х„Ь: „†„¶„Щ„Т „І„Щ„Щ„Э\\n„†„¶„Щ„Т: ' + ($('Parse Router').first().json.agent_name || '') + '\\n„Ю„¶„С: „Ю„®„Щ„• „Р„™ „Ф„†„¶„Щ„Т' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-agent-safe",
      "name": "Telegram - Progress Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ '<b>„Ю„°„Ь„Х„Ь: „Щ„¶„Щ„®„™ „°„Х„Ы„Я „Х„Р„Щ„©„Х„® „С„Щ„¶„Х„Ґ</b>\\n\\n„Ч„Щ„Х„Х„Щ: „С„Х„†„Ф „°„Х„Ы„Я „Щ„Щ„Ґ„Х„У„Щ „Х„©„Х„Ю„® „Ю„¶„С „Ф„Ю„©„Ъ\\n„Ц„Щ„Ы„®„Х„Я: „Р„Щ„©„Щ „С„Ь„С„У\\n„Ф„©„Ь„С „Ф„С„Р: „Р„Щ„©„Х„® „Ь„§„†„Щ „С„Щ„¶„Х„Ґ' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-progress-new-agent-safe",
      "name": "Telegram - Progress New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        544
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/profile/{{ $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({\n  awaiting_name: $('Parse Router').first().json.action === 'ask_name',\n  telegram_username: $('Telegram Trigger').first().json.message.from.username || '',\n  telegram_first_name: $('Telegram Trigger').first().json.message.from.first_name || '',\n  telegram_last_name: $('Telegram Trigger').first().json.message.from.last_name || ''\n}, $('Parse Router').first().json.userName ? { display_name: $('Parse Router').first().json.userName } : {})) }}",
        "options": {}
      },
      "id": "sync-profile-inline",
      "name": "Sync Profile Inline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "open-orcastrator-command",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); return (first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@')) ? 'open_orcastrator' : 'normal'; })() }}",
                    "rightValue": "open_orcastrator",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "normal-message",
                    "leftValue": "={{ (() => { const text = String($json.message?.text || '').trim(); const first = text.split(/\\s+/)[0].toUpperCase(); return (first === '/ORCASTRATE' || first.startsWith('/ORCASTRATE@')) ? 'open_orcastrator' : 'normal'; })() }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-orcastrate-command",
      "name": "Switch Orcastrate Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ '<b>„Ю„Ю„©„І Orcastrator „Ю„Х„Ы„Я</b>\\n„Ь„Ч„• „Ґ„Ь „Ф„Ы„§„™„Х„® „Ь„§„™„Щ„Ч„™ „Ю„°„Ъ „Ф„©„Ь„Щ„Ш„Ф.\\n\\n„Ф„Х„У„Ґ„Х„™ „®„Т„Щ„Ь„Х„™ „Ю„Ю„©„Щ„Ы„Х„™ „Ь„Ґ„С„Х„У „Ы„®„Т„Щ„Ь.' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "„§„™„Ч „Ю„Ю„©„І",
                    "additionalFields": {
                      "web_app": {
                        "url": "={{ 'https://unallowable-lustrelessly-pok.ngrok-free.dev/app?chat_id=' + $json.message.chat.id }}"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-open-orcastrator",
      "name": "Telegram - Open Orcastrator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        96
      ],
      "credentials": {
        "telegramApi": {
          "id": "yuL92tuSioALGmJa",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_name: $('Parse Router').first().json.userName || '',\n  task: $('Parse New Agent').first().json.userMessage,\n  agent: 'pending_created_agent',\n  result: JSON.stringify({\n    agentName: $('Parse New Agent').first().json.name,\n    description: $('Parse New Agent').first().json.description,\n    good_for: $('Parse New Agent').first().json.good_for,\n    task: $('Parse New Agent').first().json.userMessage,\n    status: 'awaiting_confirmation',\n    created_at: new Date().toISOString()\n  }),\n  score: null,\n  deductions: '',\n  decision_reason: '„†„Х„¶„® „°„Х„Ы„Я „Ч„У„© „Х„Ю„Ю„™„Щ„Я „Ь„Р„Щ„©„Х„® „Ь„§„†„Щ „С„Щ„¶„Х„Ґ'\n}) }}",
        "options": {}
      },
      "id": "save-pending-new-agent",
      "name": "Save Pending New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        704
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/flow/{{ $json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_name: $json.userName || '',\n  task: $json.userMessage || '',\n  stage: 'conversation_manager',\n  title: '„Ю„†„Ф„Ь „©„Щ„Ч„Ф',\n  message: ($json.manager && $json.manager.summary) || '',\n  action: $json.action,\n  agent: $json.agent_name || '',\n  decision_reason: $json.decision_reason || '',\n  manager: $json.manager || {},\n  source: 'n8n-router'\n}) }}",
        "options": {}
      },
      "id": "log-conversation-manager",
      "name": "Log Conversation Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        640
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Orcastrate Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Profile Inline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Conversation Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Save Profile Ask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Progress New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Save Pending New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Ask": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Name": {
      "main": [
        [
          {
            "node": "Telegram - Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Chitchat": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress Agent": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Progress New Agent": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Profile Inline": {
      "main": [
        []
      ]
    },
    "Switch Orcastrate Command": {
      "main": [
        [
          {
            "node": "Telegram - Open Orcastrator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pending New Agent": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "activeVersionId": "75fc8c86-174e-4566-9a48-7ec47ecab73f",
  "versionCounter": 87,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-31T03:07:56.899Z",
      "createdAt": "2026-05-31T03:07:56.899Z",
      "role": "workflow:owner",
      "workflowId": "WORKINGSTABLEV6",
      "projectId": "cB0HY6hwxKY3jP5p",
      "project": {
        "updatedAt": "2026-05-27T18:13:22.667Z",
        "createdAt": "2026-05-27T18:11:32.809Z",
        "id": "cB0HY6hwxKY3jP5p",
        "name": "„Ґ„Х„§„® „©„Ч„® <offer0528813271@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}