📥 קלט/agent_v6/Self_Evolving_Agent_v6.json.bak-remove-miniapp-2026-05-31T01-27-52
{
  "name": "Self-Evolving Agent v6 - Multi User",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
      "credentials": {
        "telegramApi": {
          "id": "wp390TCmjVVWm1sk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/agents",
        "options": {}
      },
      "id": "read-registry",
      "name": "Read Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "read-memory",
      "name": "Read Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active')\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${a.description} (good for: ${a.good_for || ''}; avg score: ${a.score_avg ?? a.score ?? 'new'}; uses: ${a.uses ?? 0})`).join('\\n')\n  : 'No agents yet';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${String(m.task || '').substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'Assistant' : `Assistant [${m.agent}]`;\n    return `User: ${String(m.task || '').substring(0, 180)}\\n${assistant}: ${String(m.result || '').substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory } }];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '');\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst chitchatWords = ['מה המצב', 'היי', 'שלום', 'בוקר טוב', 'ערב טוב', 'תודה', 'מי אתה', 'פירוט', 'תן פירוט', 'פרט'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'דיבאג', 'קוד', 'פונקציה', 'סקריפט', 'שגיאה'];\n\nlet action = 'create_agent';\nlet agent_name = null;\nlet decision_reason = 'לא נמצא סוכן קיים שעבר את סף ההתאמה, לכן נוצר סוכן חדש.';\nlet inner_thought = 'אני משווה את הבקשה מול קטלוג הסוכנים, ציונים ושימושים קודמים.';\nlet candidates = [];\n\nif (!msg.trim() || hasAny(chitchatWords)) {\n  action = 'chitchat';\n  decision_reason = 'ההודעה נראית כמו שיחה רגילה או בקשת פירוט, לכן אין צורך בסוכן משימתי.';\n  inner_thought = 'זו אינטראקציה שיחתית. אני שומר הקשר אישי ומחזיר תשובה קצרה.';\n} else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n  action = 'use_agent';\n  agent_name = 'code_helper';\n  decision_reason = 'זוהו מילות קוד/דיבאג, ו-code_helper קיים ופעיל.';\n  inner_thought = 'הבקשה טכנית. אני מעדיף סוכן קוד מוכר במקום ליצור כפילות.';\n} else {\n  const tokens = lower\n    .replace(/[^a-z0-9א-ת_\\s]/gi, ' ')\n    .split(/\\s+/)\n    .filter(t => t.length >= 3);\n\n  let best = null;\n  let bestScore = 0;\n  for (const agent of agents) {\n    const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n    let score = 0;\n    for (const token of tokens) {\n      if (haystack.includes(token)) score += 1;\n    }\n    score += Math.min(Number(agent.score_avg ?? agent.score ?? 0) || 0, 10) / 20;\n    score += Math.min(Number(agent.uses ?? 0) || 0, 20) / 100;\n    const item = {\n      name: agent.name,\n      score: Number(score.toFixed(2)),\n      avg: agent.score_avg ?? agent.score ?? null,\n      uses: agent.uses ?? 0,\n      description: agent.description || ''\n    };\n    candidates.push(item);\n    if (score > bestScore) {\n      bestScore = score;\n      best = agent;\n    }\n  }\n  candidates = candidates.sort((a, b) => b.score - a.score).slice(0, 5);\n\n  if (best && bestScore >= 1.3) {\n    action = 'use_agent';\n    agent_name = best.name;\n    decision_reason = `נבחר ${best.name} כי קיבל התאמה ${bestScore.toFixed(2)} והוא הסוכן החזק ביותר למשימה הזו.`;\n    inner_thought = 'יש סוכן קיים שעובר את הסף. אני משתמש בו כדי לא ליצור כפילות חלשה.';\n  }\n}\n\nreturn [{ json: { action, agent_name, decision_reason, inner_thought, candidates, userMessage: data.userMessage, chatId: data.chatId } }];"
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    inner_thought: input.inner_thought || '',\n    candidates: input.candidates || [],\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  inner_thought: parsed.inner_thought || '',\n  candidates: parsed.candidates || [],\n  userMessage,\n  chatId\n}}];"
      },
      "id": "parse-router",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chitchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "use_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=SYSTEM: You are עבד, a fast Hebrew Telegram assistant.\nAnswer in Hebrew, naturally and briefly. No markdown unless the user asks.\n\nAvailable agents:\n{{ $('Prepare Data').first().json.agentList }}\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nUser: {{ $('Parse Router').first().json.userMessage }}\nעבד:"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 350,
                "num_ctx": 1536,
                "temperature": 0.4
              }
            }
          ]
        },
        "options": {}
      },
      "id": "chitchat-llm",
      "name": "Chitchat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify($('Chitchat LLM').first().json.response) }}}",
        "options": {}
      },
      "id": "save-memory-chitchat",
      "name": "Save Memory (Chitchat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        60
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Chitchat LLM').first().json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-chitchat",
      "name": "Telegram - Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        60
      ],
      "credentials": {
        "telegramApi": {
          "id": "wp390TCmjVVWm1sk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse Router').first().json.agent_name }}.\nAnswer fast, direct and useful.\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nTask: {{ $('Parse Router').first().json.userMessage }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 550,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify($('Execute Agent').first().json.response) }}}",
        "options": {}
      },
      "id": "save-memory-agent",
      "name": "Save Memory (Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "={{ $('Execute Agent').first().json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-result",
      "name": "Telegram - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "wp390TCmjVVWm1sk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma2:2b"
            },
            {
              "name": "prompt",
              "value": "=Return ONLY valid JSON.\nCreate a compact agent definition for this task: {{ $('Parse Router').first().json.userMessage }}\n\n{\n  \"name\": \"snake_case_name\",\n  \"description\": \"one sentence\",\n  \"good_for\": \"comma separated use cases\"\n}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 180,
                "num_ctx": 1024,
                "temperature": 0.2
              }
            }
          ]
        },
        "options": {}
      },
      "id": "create-agent-llm",
      "name": "Create Agent LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\nreturn [{ json: {\n  name: parsed.name,\n  description: parsed.description,\n  good_for: parsed.good_for,\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
      },
      "id": "parse-new-agent",
      "name": "Parse New Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
        "options": {}
      },
      "id": "save-registry",
      "name": "Save to Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:7b"
            },
            {
              "name": "prompt",
              "value": "=You are {{ $('Parse New Agent').first().json.name }}.\nAnswer fast, direct and useful.\n\nTask: {{ $('Parse New Agent').first().json.userMessage }}\n\nKeep the answer under 1800 characters unless code is required."
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "num_predict": 600,
                "num_ctx": 2048,
                "temperature": 0.25
              }
            }
          ]
        },
        "options": {}
      },
      "id": "execute-new-agent",
      "name": "Execute New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = String($('Execute New Agent').first().json.response || '');\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nlet score = 7;\nif (response.length > 80) score += 1;\nif (response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: score >= 8 ? 'נראה טוב בבדיקה מהירה' : 'תשובה קצרה או חלקית בבדיקה מהירה',\n  improvement: 'אפשר להריץ הערכה עמוקה ידנית אם צריך',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
      },
      "id": "evaluator-llm",
      "name": "Evaluator LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'לא ניתן להעריך', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
      },
      "id": "parse-evaluator",
      "name": "Parse Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/agents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "update-agent-score",
      "name": "Update Agent Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        540
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify($('Execute New Agent').first().json.response) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}}",
        "options": {}
      },
      "id": "save-memory-new",
      "name": "Save Memory (New Agent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        540
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
        "text": "=יצרתי סוכן חדש\n\n{{ $('Execute New Agent').first().json.response.substring(0, 1000) }}\n\nציון: {{ $('Parse Evaluator').first().json.score }}/10\nשלח פירוט לפרטים על הציון",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-new-agent",
      "name": "Telegram - New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3300,
        540
      ],
      "credentials": {
        "telegramApi": {
          "id": "wp390TCmjVVWm1sk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "=קיבלתי. זה נראה כמו שיחה רגילה, אז אני עונה ישירות ומהר.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-flow-chitchat",
      "name": "Telegram - Flow Chitchat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1430,
        60
      ],
      "credentials": {
        "telegramApi": {
          "id": "wp390TCmjVVWm1sk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "=קיבלתי. בוחר נציג לפי התאמה וציון...\\nנבחר: {{ $('Parse Router').first().json.agent_name }}\\nלמה: {{ $('Parse Router').first().json.decision_reason }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-flow-agent",
      "name": "Telegram - Flow Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1430,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "wp390TCmjVVWm1sk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Router').first().json.chatId }}",
        "text": "=לא מצאתי נציג מספיק מתאים. יוצר נציג חדש...\\nלמה: {{ $('Parse Router').first().json.decision_reason }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-flow-new-agent",
      "name": "Telegram - Flow New Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1430,
        540
      ],
      "credentials": {
        "telegramApi": {
          "id": "wp390TCmjVVWm1sk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'decision',\n  title: 'בחירת מסלול',\n  message: $('Parse Router').first().json.action === 'use_agent'\n    ? 'נבחר סוכן קיים: ' + $('Parse Router').first().json.agent_name\n    : ($('Parse Router').first().json.action === 'create_agent' ? 'נדרש סוכן חדש' : 'שיחה רגילה'),\n  agent: $('Parse Router').first().json.agent_name,\n  action: $('Parse Router').first().json.action,\n  reason: $('Parse Router').first().json.decision_reason,\n  thought: $('Parse Router').first().json.inner_thought,\n  candidates: $('Parse Router').first().json.candidates\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-decision",
      "name": "Flow - Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1210,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'answering',\n  title: 'מנסח תשובה',\n  message: 'המסלול הוא שיחה רגילה. אני משתמש בהקשר האישי האחרון בלבד.',\n  action: 'chitchat',\n  thought: 'אני שומר את זה קל ומהיר, בלי לפתוח סוכן משימתי.'\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-chitchat-start",
      "name": "Flow - Chitchat Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'agent_run',\n  title: 'מריץ סוכן נבחר',\n  message: 'הסוכן שנבחר: ' + $('Parse Router').first().json.agent_name,\n  agent: $('Parse Router').first().json.agent_name,\n  action: 'use_agent',\n  reason: $('Parse Router').first().json.decision_reason,\n  thought: 'אני מעביר את המשימה לסוכן עם ההתאמה והציון הטובים ביותר.'\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-agent-start",
      "name": "Flow - Agent Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'agent_build',\n  title: 'יוצר סוכן חדש',\n  message: 'לא נמצא סוכן מספיק מתאים, אז אני בונה הגדרה חדשה.',\n  action: 'create_agent',\n  reason: $('Parse Router').first().json.decision_reason,\n  thought: 'אני מנסה להימנע מכפילות. רק אם אין התאמה טובה אני יוצר סוכן חדש.'\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-new-agent-start",
      "name": "Flow - New Agent Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'agent_named',\n  title: 'הסוכן קיבל זהות',\n  message: 'נוצרה טיוטת סוכן: ' + $('Parse New Agent').first().json.name,\n  agent: $('Parse New Agent').first().json.name,\n  action: 'create_agent',\n  thought: $('Parse New Agent').first().json.description + ' | ' + $('Parse New Agent').first().json.good_for\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-new-agent-named",
      "name": "Flow - New Agent Named",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1870,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'saved',\n  title: 'נשמר בזיכרון האישי',\n  message: 'השיחה נשמרה רק לקובץ של המשתמש הזה.',\n  action: 'chitchat'\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-saved-chitchat",
      "name": "Flow - Saved Chitchat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1870,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'saved',\n  title: 'תוצאה נשמרה',\n  message: 'התוצאה של ' + $('Parse Router').first().json.agent_name + ' נשמרה בזיכרון האישי.',\n  agent: $('Parse Router').first().json.agent_name,\n  action: 'use_agent'\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-saved-agent",
      "name": "Flow - Saved Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1870,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5000/flow/' + $('Parse Router').first().json.chatId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stage: 'scored',\n  title: 'סוכן חדש דורג ונשמר',\n  message: $('Parse New Agent').first().json.name + ' קיבל ציון ' + $('Parse Evaluator').first().json.score + '/10',\n  agent: $('Parse New Agent').first().json.name,\n  action: 'create_agent',\n  reason: $('Parse Evaluator').first().json.deductions,\n  thought: 'הציון נכנס ל-registry כדי שהסוכן הטוב יותר ינצח בפעמים הבאות.'\n}) }}",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "id": "flow-saved-new-agent",
      "name": "Flow - Saved New Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3190,
        420
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Read Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Memory": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Router LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "main": [
        [
          {
            "node": "Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router": {
      "main": [
        [
          {
            "node": "Flow - Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Telegram - Flow Chitchat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Flow Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Flow New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chitchat LLM": {
      "main": [
        [
          {
            "node": "Save Memory (Chitchat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Chitchat)": {
      "main": [
        [
          {
            "node": "Flow - Saved Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Save Memory (Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (Agent)": {
      "main": [
        [
          {
            "node": "Flow - Saved Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Agent LLM": {
      "main": [
        [
          {
            "node": "Parse New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse New Agent": {
      "main": [
        [
          {
            "node": "Flow - New Agent Named",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Registry": {
      "main": [
        [
          {
            "node": "Execute New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute New Agent": {
      "main": [
        [
          {
            "node": "Evaluator LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator LLM": {
      "main": [
        [
          {
            "node": "Parse Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluator": {
      "main": [
        [
          {
            "node": "Update Agent Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Agent Score": {
      "main": [
        [
          {
            "node": "Save Memory (New Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory (New Agent)": {
      "main": [
        [
          {
            "node": "Flow - Saved New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Flow Chitchat": {
      "main": [
        [
          {
            "node": "Flow - Chitchat Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Flow Agent": {
      "main": [
        [
          {
            "node": "Flow - Agent Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Flow New Agent": {
      "main": [
        [
          {
            "node": "Flow - New Agent Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Decision": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Chitchat Start": {
      "main": [
        [
          {
            "node": "Chitchat LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Saved Chitchat": {
      "main": [
        [
          {
            "node": "Telegram - Chitchat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Agent Start": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Saved Agent": {
      "main": [
        [
          {
            "node": "Telegram - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - New Agent Start": {
      "main": [
        [
          {
            "node": "Create Agent LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - New Agent Named": {
      "main": [
        [
          {
            "node": "Save to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow - Saved New Agent": {
      "main": [
        [
          {
            "node": "Telegram - New Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
