הצעה לפרוייט משותף/n8n/ptsd_support_agent_ollama_minimal.workflow.json
{
  "name": "Shared AI Project - PTSD Support Navigator - Minimal Ollama",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ptsd-support-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_In",
      "name": "Webhook - Support Event In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst text = body.message || body.event_text || body.text || '';\nconst source = body.source || 'class_demo';\nconst consent = body.consent === true || body.consent === 'true';\nconst language = body.language || 'he';\nconst prompt = `אתה סוכן ניווט ותמיכה ראשונית עבור משוחררים/ות עם מצוקה נפשית או פוסט-טראומה.\n\nחשוב: אינך מטפל, אינך מאבחן, אינך נותן טיפול רפואי, ואינך מחליף איש מקצוע. המטרה שלך היא להבין צורך, לזהות סיכון, להציע צעד בטוח, ולהפנות לגורם מתאים.\n\nהחזר JSON בלבד. בלי הסברים מחוץ ל-JSON.\n\nרמות סיכון:\ngreen = מידע כללי, ניווט זכויות, קושי בירוקרטי, חיפוש גורם סיוע.\nyellow = מצוקה משמעותית, קושי לתפקד, צורך בליווי אנושי, אבל ללא סכנה מיידית.\nred = סימנים לסיכון, יאוש חריף, בידוד קיצוני, אלימות, שימוש מסוכן בחומרים, או משפטים שמרמזים על פגיעה עצמית בלי תוכנית ברורה.\ncritical = סכנה מיידית לעצמו או לאחרים, תוכנית פגיעה, אמצעים זמינים, או אמירה ישירה על כוונה לפגוע.\n\nחוקי בטיחות:\n- אם יש חשד לסכנה מיידית: risk=critical, recommended_action=crisis_escalation, needs_human_review=true.\n- אל תציע טיפול קליני.\n- אל תבטיח מימון, הכרה, זכאות או תור.\n- אל תאסוף פרטים מזהים מעבר למה שנדרש.\n- אם אין הסכמה לעיבוד מידע, אל תשמור מידע אישי.\n- התגובה חייבת להיות מחזקת, לא שיפוטית, פשוטה, וקצרה.\n\nפורמט JSON:\n{\n  \"need_type\": \"benefits_navigation | therapy_access | social_worker | funding | peer_support | crisis | bureaucracy | unknown\",\n  \"risk\": \"green | yellow | red | critical\",\n  \"summary\": \"סיכום קצר בעברית\",\n  \"recommended_action\": \"info_pack | human_callback | eligibility_map | provider_match | crisis_escalation | ask_clarifying_question\",\n  \"response_to_user\": \"תגובה אמפתית וקצרה בעברית\",\n  \"next_step\": \"הצעד הבא המוצע\",\n  \"needs_human_review\": true,\n  \"data_minimization_note\": \"מה לא לשמור או לשמור מינימום\",\n  \"agent_needed\": \"intake | rights | therapy_match | funding | crisis_guard | followup\",\n  \"reason\": \"סיבה קצרה לסיווג\"\n}\n\nהודעה מהמשתמש:\n${text}\n\nמקור: ${source}\nהסכמה לעיבוד מידע: ${consent}\nשפה: ${language}`;\n\nreturn [{ json: { model: body.model || 'llama3.1:8b', stream: false, prompt, original: body } }];"
      },
      "id": "Prepare_Prompt",
      "name": "Code - Prepare Ollama Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.model, prompt: $json.prompt, stream: false } }}",
        "options": { "timeout": 120000 }
      },
      "id": "Ollama_HTTP",
      "name": "HTTP - Ollama Local Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-420, 0]
    },
    {
      "parameters": {
        "jsCode": "function safeParse(raw) {\n  if (!raw) throw new Error('empty model response');\n  let txt = String(raw).trim();\n  txt = txt.replace(/^```json/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n  const start = txt.indexOf('{');\n  const end = txt.lastIndexOf('}');\n  if (start >= 0 && end > start) txt = txt.slice(start, end + 1);\n  return JSON.parse(txt);\n}\ntry {\n  const parsed = safeParse($json.response);\n  const risk = parsed.risk || 'red';\n  const needs = parsed.needs_human_review === true || ['red','critical'].includes(risk);\n  return [{ json: { status: needs ? 'human_review_required' : 'safe_auto_response', ai_result: parsed, raw_ollama: $json.response } }];\n} catch (e) {\n  return [{ json: { status: 'human_review_required', ai_result: { need_type: 'unknown', risk: 'red', summary: 'המודל לא החזיר JSON תקין', recommended_action: 'human_callback', response_to_user: 'קיבלנו את הפנייה. נציג אנושי יעבור עליה לפני כל פעולה.', next_step: 'בדיקה ידנית', needs_human_review: true, data_minimization_note: 'לא לשמור מידע אישי עד בדיקה', agent_needed: 'intake', reason: e.message }, raw_ollama: $json.response || null } }];\n}"
      },
      "id": "Parse_JSON",
      "name": "Code - Parse AI JSON Safely",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-180, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "needs_review_condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "human_review_required",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "IF_Risk",
      "name": "IF - Risk Requires Human Review",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [60, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, route: 'human_review', message: 'נדרש מעבר אנושי לפני פעולה', result: $json.ai_result } }}",
        "options": {}
      },
      "id": "Respond_Review",
      "name": "Respond - Human Review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [320, -120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, route: 'safe_response', message: 'תגובה בטוחה מוכנה להצגה', result: $json.ai_result } }}",
        "options": {}
      },
      "id": "Respond_Safe",
      "name": "Respond - Safe Draft",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [320, 120]
    }
  ],
  "connections": {
    "Webhook - Support Event In": { "main": [[{ "node": "Code - Prepare Ollama Prompt", "type": "main", "index": 0 }]] },
    "Code - Prepare Ollama Prompt": { "main": [[{ "node": "HTTP - Ollama Local Generate", "type": "main", "index": 0 }]] },
    "HTTP - Ollama Local Generate": { "main": [[{ "node": "Code - Parse AI JSON Safely", "type": "main", "index": 0 }]] },
    "Code - Parse AI JSON Safely": { "main": [[{ "node": "IF - Risk Requires Human Review", "type": "main", "index": 0 }]] },
    "IF - Risk Requires Human Review": { "main": [[{ "node": "Respond - Human Review", "type": "main", "index": 0 }],[{ "node": "Respond - Safe Draft", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": false }
}
