מוח על/📥 קלט/agent_v6/n8n_exports/WORKINGSTABLEV6_english_lines.json
[
  {
    "updatedAt": "2026-05-31T03:32:37.000Z",
    "createdAt": "2026-05-31T03:07:56.897Z",
    "id": "WORKINGSTABLEV6",
    "name": "Self-Evolving Agent v6 - WORKING STABLE",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "id": "telegram-trigger",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          304
        ],
        "webhookId": "a4c6dcb8-696a-4509-ade3-c7246f389ef9",
        "credentials": {
          "telegramApi": {
            "id": "yuL92tuSioALGmJa",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "http://127.0.0.1:5000/agents",
          "options": {}
        },
        "id": "read-registry",
        "name": "Read Registry",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          304
        ]
      },
      {
        "parameters": {
          "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
          "options": {}
        },
        "id": "read-memory",
        "name": "Read Memory",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          304
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const userMessage = $('Telegram Trigger').item.json.message.text || '';\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nlet registry = [];\ntry {\n  const items = $('Read Registry').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) registry = first;\n    else if (Array.isArray(first.agents)) registry = first.agents;\n    else registry = items.map(i => i.json);\n  }\n} catch(e) {}\n\nlet memory = [];\ntry {\n  const items = $('Read Memory').all();\n  if (items && items.length > 0) {\n    const first = items[0].json;\n    if (Array.isArray(first)) memory = first;\n    else if (Array.isArray(first.memory)) memory = first.memory;\n    else memory = items.map(i => i.json);\n  }\n} catch(e) {}\n\nconst activeAgents = registry\n  .filter(a => (a.status || 'active') === 'active')\n  .sort((a, b) => {\n    const scoreA = Number(a.score_avg ?? a.score ?? 0);\n    const scoreB = Number(b.score_avg ?? b.score ?? 0);\n    const usesA = Number(a.uses ?? 0);\n    const usesB = Number(b.uses ?? 0);\n    return (scoreB - scoreA) || (usesB - usesA);\n  });\n\nconst agentList = activeAgents.slice(0, 8).length > 0\n  ? activeAgents.slice(0, 8).map(a => `- ${a.name}: ${a.description} (good for: ${a.good_for || ''}; avg score: ${a.score_avg ?? a.score ?? 'new'}; uses: ${a.uses ?? 0})`).join('\\n')\n  : 'No agents yet';\n\nconst recentMemory = memory.slice(-3)\n  .map(m => `[${m.agent}] ${String(m.task || '').substring(0, 120)}`)\n  .join('\\n') || 'None';\n\nconst conversationHistory = memory.slice(-3)\n  .map(m => {\n    const assistant = m.agent === 'chitchat' ? 'Assistant' : `Assistant [${m.agent}]`;\n    return `User: ${String(m.task || '').substring(0, 180)}\\n${assistant}: ${String(m.result || '').substring(0, 220)}`;\n  })\n  .join('\\n\\n') || '';\n\nreturn [{ json: { userMessage, chatId, agents: activeAgents, agentList, recentMemory, conversationHistory } }];"
        },
        "id": "prepare-data",
        "name": "Prepare Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $('Prepare Data').first().json;\nconst msg = String(data.userMessage || '').trim();\nconst lower = msg.toLowerCase();\nconst agents = Array.isArray(data.agents) ? data.agents : [];\n\nconst hasAny = (words) => words.some(w => lower.includes(w.toLowerCase()));\nconst exactCasual = ['הי', 'היי', 'הייי', 'הלו', 'שלום', 'בוקר טוב', 'ערב טוב', 'לילה טוב', 'מה נשמע', 'מה קורה', 'מה המצב', 'תודה', 'סבבה', 'אחלה'];\nconst chitchatWords = ['מי אתה', 'פירוט', 'תן פירוט', 'פרט', 'עזרה', 'מה אתה יודע לעשות'];\nconst codeWords = ['code', 'python', 'javascript', 'js', 'sql', 'html', 'css', 'react', 'bug', 'debug', 'דיבאג', 'קוד', 'פונקציה', 'סקריפט', 'שגיאה'];\n\nlet action = 'create_agent';\nlet agent_name = null;\n\nconst wordCount = msg.split(/\\s+/).filter(Boolean).length;\nconst isShortCasual = wordCount <= 3 && (exactCasual.includes(lower) || hasAny(exactCasual));\n\nif (!msg || isShortCasual || hasAny(chitchatWords)) {\n  action = 'chitchat';\n} else if (hasAny(codeWords) && agents.some(a => a.name === 'code_helper')) {\n  action = 'use_agent';\n  agent_name = 'code_helper';\n} else {\n  const tokens = lower\n    .replace(/[^a-z0-9א-ת_\\s]/gi, ' ')\n    .split(/\\s+/)\n    .filter(t => t.length >= 3);\n\n  let best = null;\n  let bestScore = 0;\n  for (const agent of agents) {\n    const haystack = [agent.name, agent.description, agent.good_for].join(' ').toLowerCase();\n    let score = 0;\n    for (const token of tokens) {\n      if (haystack.includes(token)) score += 1;\n    }\n    score += Math.min(Number(agent.score_avg ?? agent.score ?? 0) || 0, 10) / 20;\n    score += Math.min(Number(agent.uses ?? 0) || 0, 20) / 100;\n    if (score > bestScore) {\n      bestScore = score;\n      best = agent;\n    }\n  }\n\n  if (best && bestScore >= 1.3) {\n    action = 'use_agent';\n    agent_name = best.name;\n  }\n}\n\nconst decision_reason = action === 'use_agent'\n  ? `נבחר ${agent_name} לפי התאמה, ציון ושימושים קודמים.`\n  : (action === 'create_agent'\n    ? 'לא נמצא סוכן מתאים מספיק, לכן נוצר סוכן חדש.'\n    : 'זוהתה שיחה רגילה, לכן אין צורך בסוכן משימתי.');\n\nreturn [{ json: { action, agent_name, decision_reason, userMessage: data.userMessage, chatId: data.chatId } }];"
        },
        "id": "router-llm",
        "name": "Router LLM",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.item.json || {};\nif (input.action) {\n  return [{ json: {\n    action: input.action || 'chitchat',\n    agent_name: input.agent_name || null,\n    decision_reason: input.decision_reason || '',\n    userMessage: input.userMessage || $('Prepare Data').first().json.userMessage,\n    chatId: input.chatId || $('Prepare Data').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { action: 'chitchat', agent_name: null };\n}\nconst userMessage = $('Prepare Data').first().json.userMessage;\nconst chatId = $('Prepare Data').first().json.chatId;\nreturn [{ json: {\n  action: parsed.action || 'chitchat',\n  agent_name: parsed.agent_name || null,\n  decision_reason: parsed.decision_reason || '',\n  userMessage,\n  chatId\n}}];"
        },
        "id": "parse-router",
        "name": "Parse Router",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          304
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "c1",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "chitchat",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "c2",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "use_agent",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "c3",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "create_agent",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "switch-action",
        "name": "Switch Action",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1328,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:11434/api/generate",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "qwen2.5:7b"
              },
              {
                "name": "prompt",
                "value": "=SYSTEM: You are עבד, a fast Hebrew Telegram assistant.\nAnswer in Hebrew, naturally and briefly. No markdown unless the user asks.\n\nAvailable agents:\n{{ $('Prepare Data').first().json.agentList }}\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nUser: {{ $('Parse Router').first().json.userMessage }}\nעבד:"
              },
              {
                "name": "stream",
                "value": false
              },
              {
                "name": "options",
                "value": {
                  "num_predict": 350,
                  "num_ctx": 1536,
                  "temperature": 0.4
                }
              }
            ]
          },
          "options": {}
        },
        "id": "chitchat-llm",
        "name": "Chitchat LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1552,
          64
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"task\": {{ JSON.stringify($('Telegram Trigger').first().json.message.text) }}, \"agent\": \"chitchat\", \"result\": {{ JSON.stringify($('Chitchat LLM').first().json.response) }}}",
          "options": {}
        },
        "id": "save-memory-chitchat",
        "name": "Save Memory (Chitchat)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1760,
          64
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Router').first().json.chatId }}",
          "text": "=┏━━━━━━━━━━━━━━━━━━\n┃ מסלול: שיחה רגילה\n┣━━━━━━━━━━━━━━━━━━\n┃ חיווי: עונה ישירות\n┃ זיכרון: אישי בלבד\n┗━━━━━━━━━━━━━━━━━━\n\n{{ $('Chitchat LLM').first().json.response }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "telegram-chitchat",
        "name": "Telegram - Chitchat",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1984,
          64
        ],
        "webhookId": "4558b5d5-020e-4317-984e-e336652c86ab",
        "credentials": {
          "telegramApi": {
            "id": "yuL92tuSioALGmJa",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:11434/api/generate",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "qwen2.5:7b"
              },
              {
                "name": "prompt",
                "value": "=You are {{ $('Parse Router').first().json.agent_name }}.\nAnswer fast, direct and useful.\n\nRecent context:\n{{ $('Prepare Data').first().json.conversationHistory }}\n\nTask: {{ $('Parse Router').first().json.userMessage }}"
              },
              {
                "name": "stream",
                "value": false
              },
              {
                "name": "options",
                "value": {
                  "num_predict": 550,
                  "num_ctx": 2048,
                  "temperature": 0.25
                }
              }
            ]
          },
          "options": {}
        },
        "id": "execute-agent",
        "name": "Execute Agent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1552,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"task\": {{ JSON.stringify($('Parse Router').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse Router').first().json.agent_name) }}, \"result\": {{ JSON.stringify($('Execute Agent').first().json.response) }}}",
          "options": {}
        },
        "id": "save-memory-agent",
        "name": "Save Memory (Agent)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1760,
          304
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Router').first().json.chatId }}",
          "text": "=┏━━━━━━━━━━━━━━━━━━\n┃ נציג נבחר\n┣━━━━━━━━━━━━━━━━━━\n┃ שם:\n┃ {{ $('Parse Router').first().json.agent_name }}\n┃\n┃ סיבה:\n┃ {{ $('Parse Router').first().json.decision_reason || 'התאמה טובה ביותר לפי הרשימה והציונים' }}\n┗━━━━━━━━━━━━━━━━━━\n\n{{ $('Execute Agent').first().json.response }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "telegram-result",
        "name": "Telegram - Result",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1984,
          304
        ],
        "webhookId": "f05da3bd-3aec-4eac-9c88-b882240b5daf",
        "credentials": {
          "telegramApi": {
            "id": "yuL92tuSioALGmJa",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:11434/api/generate",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "gemma2:2b"
              },
              {
                "name": "prompt",
                "value": "=Return ONLY valid JSON. No markdown. No explanations.\n\nCreate a useful, specific agent definition for this user task:\n{{ $('Parse Router').first().json.userMessage }}\n\nRules:\n- The name must be specific to the task.\n- Never return snake_case_name, snakecaseagent, snake_case_agent, agent, helper, assistant.\n- The name must be lowercase English snake_case.\n- Use 2 to 4 words in the name.\n- Description and good_for should be Hebrew if the task is Hebrew.\n\nReturn exactly:\n{\n  \"name\": \"specific_task_agent\",\n  \"description\": \"משפט אחד ברור על התפקיד\",\n  \"good_for\": \"שימוש ראשון, שימוש שני, שימוש שלישי\"\n}"
              },
              {
                "name": "stream",
                "value": false
              },
              {
                "name": "options",
                "value": {
                  "num_predict": 180,
                  "num_ctx": 1024,
                  "temperature": 0.2
                }
              }
            ]
          },
          "options": {}
        },
        "id": "create-agent-llm",
        "name": "Create Agent LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1552,
          544
        ]
      },
      {
        "parameters": {
          "jsCode": "const text = $input.item.json.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst rawTask = String($('Parse Router').first().json.userMessage || '');\nconst fallbackBase = rawTask\n  .toLowerCase()\n  .replace(/[^a-z0-9א-ת\\s]/gi, ' ')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .slice(0, 3)\n  .join('_');\n\nfunction cleanName(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[^a-z0-9_]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_');\n}\n\nlet name = cleanName(parsed.name);\nconst banned = new Set(['snake_case_name', 'snakecaseagent', 'snake_case_agent', 'agent', 'helper', 'assistant', 'new_agent']);\nif (!name || banned.has(name) || name.length < 6) {\n  name = cleanName((fallbackBase || 'custom_task') + '_agent');\n}\nif (!/[a-z]/.test(name)) {\n  name = 'custom_task_agent';\n}\n\nreturn [{ json: {\n  name,\n  description: parsed.description || 'סוכן ייעודי שנוצר לפי הבקשה האחרונה.',\n  good_for: parsed.good_for || 'משימות דומות לבקשה האחרונה',\n  userMessage: $('Parse Router').first().json.userMessage,\n  chatId: $('Parse Router').first().json.chatId\n}}];"
        },
        "id": "parse-new-agent",
        "name": "Parse New Agent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          544
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5000/agents",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ name: $('Parse New Agent').first().json.name, description: $('Parse New Agent').first().json.description, good_for: $('Parse New Agent').first().json.good_for }) }}",
          "options": {}
        },
        "id": "save-registry",
        "name": "Save to Registry",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1984,
          544
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:11434/api/generate",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "qwen2.5:7b"
              },
              {
                "name": "prompt",
                "value": "=You are {{ $('Parse New Agent').first().json.name }}.\nAnswer fast, direct and useful.\n\nTask: {{ $('Parse New Agent').first().json.userMessage }}\n\nKeep the answer under 1800 characters unless code is required."
              },
              {
                "name": "stream",
                "value": false
              },
              {
                "name": "options",
                "value": {
                  "num_predict": 600,
                  "num_ctx": 2048,
                  "temperature": 0.25
                }
              }
            ]
          },
          "options": {}
        },
        "id": "execute-new-agent",
        "name": "Execute New Agent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2208,
          544
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = String($('Execute New Agent').first().json.response || '');\nconst userMessage = $('Parse New Agent').first().json.userMessage;\nlet score = 7;\nif (response.length > 80) score += 1;\nif (response.length > 300) score += 1;\nif (response.length < 30) score -= 2;\nscore = Math.max(1, Math.min(10, score));\nreturn [{ json: {\n  score,\n  deductions: score >= 8 ? 'נראה טוב בבדיקה מהירה' : 'תשובה קצרה או חלקית בבדיקה מהירה',\n  improvement: 'אפשר להריץ הערכה עמוקה ידנית אם צריך',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId,\n  userMessage\n}}];"
        },
        "id": "evaluator-llm",
        "name": "Evaluator LLM",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2432,
          544
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.item.json || {};\nif (input.score) {\n  return [{ json: {\n    score: input.score || 7,\n    deductions: input.deductions || '',\n    improvement: input.improvement || '',\n    agentName: input.agentName || $('Parse New Agent').first().json.name,\n    chatId: input.chatId || $('Parse New Agent').first().json.chatId\n  }}];\n}\n\nconst text = input.response || '';\nconst cleaned = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { score: 5, deductions: 'לא ניתן להעריך', improvement: '' };\n}\nreturn [{ json: {\n  score: parsed.score || 5,\n  deductions: parsed.deductions || '',\n  improvement: parsed.improvement || '',\n  agentName: $('Parse New Agent').first().json.name,\n  chatId: $('Parse New Agent').first().json.chatId\n}}];"
        },
        "id": "parse-evaluator",
        "name": "Parse Evaluator",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          544
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5000/agents",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ name: $json.agentName, score: $json.score, last_feedback: $json.deductions, improvement: $json.improvement }) }}",
          "options": {}
        },
        "id": "update-agent-score",
        "name": "Update Agent Score",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2864,
          544
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://127.0.0.1:5000/memory/{{ $('Telegram Trigger').first().json.message.chat.id }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"task\": {{ JSON.stringify($('Parse New Agent').first().json.userMessage) }}, \"agent\": {{ JSON.stringify($('Parse New Agent').first().json.name) }}, \"result\": {{ JSON.stringify($('Execute New Agent').first().json.response) }}, \"score\": {{ $('Parse Evaluator').first().json.score }}, \"deductions\": {{ JSON.stringify($('Parse Evaluator').first().json.deductions) }}}",
          "options": {}
        },
        "id": "save-memory-new",
        "name": "Save Memory (New Agent)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3088,
          544
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse New Agent').first().json.chatId }}",
          "text": "=┏━━━━━━━━━━━━━━━━━━\n┃ סוכן חדש נוצר\n┣━━━━━━━━━━━━━━━━━━\n┃ שם:\n┃ {{ $('Parse New Agent').first().json.name }}\n┃\n┃ סיבה:\n┃ לא נמצא סוכן מתאים מספיק\n┃\n┃ ציון:\n┃ {{ $('Parse Evaluator').first().json.score }}/10\n┗━━━━━━━━━━━━━━━━━━\n\n{{ $('Execute New Agent').first().json.response.substring(0, 1000) }}\n\nשלח פירוט כדי לראות הסבר על הציון",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "telegram-new-agent",
        "name": "Telegram - New Agent",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3312,
          544
        ],
        "webhookId": "4f99d8b8-3fe0-471f-a0ec-d0a66d741827",
        "credentials": {
          "telegramApi": {
            "id": "yuL92tuSioALGmJa",
            "name": "Telegram account 2"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Read Registry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Registry": {
        "main": [
          [
            {
              "node": "Read Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Memory": {
        "main": [
          [
            {
              "node": "Prepare Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Data": {
        "main": [
          [
            {
              "node": "Router LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Router LLM": {
        "main": [
          [
            {
              "node": "Parse Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Router": {
        "main": [
          [
            {
              "node": "Switch Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Action": {
        "main": [
          [
            {
              "node": "Chitchat LLM",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Agent LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chitchat LLM": {
        "main": [
          [
            {
              "node": "Save Memory (Chitchat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Memory (Chitchat)": {
        "main": [
          [
            {
              "node": "Telegram - Chitchat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Agent": {
        "main": [
          [
            {
              "node": "Save Memory (Agent)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Memory (Agent)": {
        "main": [
          [
            {
              "node": "Telegram - Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Agent LLM": {
        "main": [
          [
            {
              "node": "Parse New Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse New Agent": {
        "main": [
          [
            {
              "node": "Save to Registry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Registry": {
        "main": [
          [
            {
              "node": "Execute New Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute New Agent": {
        "main": [
          [
            {
              "node": "Evaluator LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluator LLM": {
        "main": [
          [
            {
              "node": "Parse Evaluator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Evaluator": {
        "main": [
          [
            {
              "node": "Update Agent Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Agent Score": {
        "main": [
          [
            {
              "node": "Save Memory (New Agent)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Memory (New Agent)": {
        "main": [
          [
            {
              "node": "Telegram - New Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "47647b13-9209-4934-8771-7ca0cfa8ecc0",
    "activeVersionId": "47647b13-9209-4934-8771-7ca0cfa8ecc0",
    "versionCounter": 13,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-31T03:07:56.899Z",
        "createdAt": "2026-05-31T03:07:56.899Z",
        "role": "workflow:owner",
        "workflowId": "WORKINGSTABLEV6",
        "projectId": "cB0HY6hwxKY3jP5p",
        "project": {
          "updatedAt": "2026-05-27T18:13:22.667Z",
          "createdAt": "2026-05-27T18:11:32.809Z",
          "id": "cB0HY6hwxKY3jP5p",
          "name": "עופר שחר <offer0528813271@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "e20300ad-9be9-4e1d-99d0-0742550133b9"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]