whatsapp-automation/N8N_WORKFLOW_TEMPLATE.json
{
  "name": "WhatsApp Bot - [CLIENT_NAME]",
  "description": "Automation workflow for WhatsApp chatbot - connects incoming messages to workflows and sends responses",
  "nodes": [
    {
      "name": "Webhook Trigger - Incoming WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "auto-generated",
      "webhookPath": "whatsapp-[CLIENT_NAME]",
      "webhookMethods": [
        "POST"
      ],
      "parameters": {
        "path": "whatsapp-[CLIENT_NAME]",
        "responseMode": "onReceived",
        "responseData": "success"
      },
      "credentials": {}
    },
    {
      "name": "Parse Incoming Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "sender_phone",
              "value": "={{ $json.from }}"
            },
            {
              "name": "message_text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "message_type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "timestamp",
              "value": "={{ Date.now() }}"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "name": "Route by Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "cases": [
          {
            "condition": "contains",
            "value1": "={{ $json.message_text.toLowerCase() }}",
            "value2": "order",
            "output": 1
          },
          {
            "condition": "contains",
            "value1": "={{ $json.message_text.toLowerCase() }}",
            "value2": "help",
            "output": 2
          },
          {
            "condition": "contains",
            "value1": "={{ $json.message_text.toLowerCase() }}",
            "value2": "status",
            "output": 3
          }
        ],
        "fallbackOutput": 4
      },
      "credentials": {}
    },
    {
      "name": "Handle Order Request",
      "type": "n8n-nodes-base.http",
      "typeVersion": 4,
      "position": [
        1000,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.YOUR_ORDER_API }}",
        "sendBody": true,
        "bodyParameters": [
          {
            "name": "customer_phone",
            "value": "={{ $json.sender_phone }}"
          },
          {
            "name": "message",
            "value": "={{ $json.message_text }}"
          }
        ]
      },
      "credentials": {}
    },
    {
      "name": "Handle Help Request",
      "type": "n8n-nodes-base.http",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://your-ai-agent-endpoint/ask",
        "sendBody": true,
        "bodyParameters": [
          {
            "name": "question",
            "value": "={{ $json.message_text }}"
          },
          {
            "name": "user_phone",
            "value": "={{ $json.sender_phone }}"
          }
        ]
      },
      "credentials": {}
    },
    {
      "name": "Handle Status Request",
      "type": "n8n-nodes-base.http",
      "typeVersion": 4,
      "position": [
        1000,
        450
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.YOUR_STATUS_API }}/{{ $json.sender_phone }}"
      },
      "credentials": {}
    },
    {
      "name": "Default Response Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        600
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "תודה על ההודעה. אנא בחר אחת מהאפשרויות: order, help, status"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.http",
      "typeVersion": 4,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/send-message",
        "sendBody": true,
        "bodyParameters": [
          {
            "name": "to",
            "value": "={{ $json.sender_phone }}"
          },
          {
            "name": "text",
            "value": "={{ $json.response || 'Your response here' }}"
          }
        ]
      },
      "credentials": {}
    },
    {
      "name": "Log to Database",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "action",
              "value": "log"
            },
            {
              "name": "message",
              "value": "Conversation logged"
            }
          ]
        }
      },
      "credentials": {}
    }
  ],
  "connections": {
    "Webhook Trigger - Incoming WhatsApp": {
      "main": [
        [
          {
            "node": "Parse Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incoming Message": {
      "main": [
        [
          {
            "node": "Route by Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Message Type": {
      "main": [
        [
          {
            "node": "Handle Order Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Help Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Status Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Order Request": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Help Request": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Status Request": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Response Handler": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
