2225/n8n_slack_telegram_anthropic_workflow.json
{
  "name": "Slack to Telegram - Anthropic Handoff",
  "nodes": [
    {
      "parameters": {
        "path": "slack-webhook",
        "options": {}
      },
      "id": "uuid-webhook-1",
      "name": "Slack Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "webhook-slack-handoff"
    },
    {
      "parameters": {
        "functionCode": "// Extract and parse Slack message JSON\nconst slackMessage = $json.body.text;\ntry {\n  const jsonData = JSON.parse(slackMessage);\n  return {\n    event: jsonData.event,\n    session_id: jsonData.session_id,\n    client_name: jsonData.client_name,\n    topic: jsonData.topic,\n    summary: jsonData.summary,\n    urgency: jsonData.urgency,\n    timestamp: jsonData.timestamp,\n    action_required: jsonData.action_required,\n    slack_user_id: $json.body.user,\n    slack_channel_id: $json.body.channel\n  };\n} catch(e) {\n  return { error: 'Invalid JSON in Slack message', details: e.message };\n}"
      },
      "id": "uuid-code-parse",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_USER_ID }}",
        "text": "📞 <b>בקשת Handoff חדשה</b>\n\n<b>לקוח:</b> {{ $node[\"Parse JSON\"].json.client_name }}\n<b>נושא:</b> {{ $node[\"Parse JSON\"].json.topic }}\n<b>דחיפות:</b> {{ $node[\"Parse JSON\"].json.urgency }}\n\n<b>תקציר:</b>\n{{ $node[\"Parse JSON\"].json.summary }}\n\n<b>Session ID:</b> <code>{{ $node[\"Parse JSON\"].json.session_id }}</code>",
        "parseMode": "html",
        "replyMarkup": {
          "inlineKeyboard": [
            [
              {
                "text": "✅ הצטרף לשיחה",
                "callbackData": "join_chat_{{ $node[\"Parse JSON\"].json.session_id }}"
              }
            ],
            [
              {
                "text": "❌ דחה",
                "callbackData": "reject_{{ $node[\"Parse JSON\"].json.session_id }}"
              }
            ]
          ]
        }
      },
      "id": "uuid-telegram-send",
      "name": "Telegram Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "telegramBotApi": "telegramBotApi"
      }
    },
    {
      "parameters": {
        "pollInterval": 5,
        "options": {}
      },
      "id": "uuid-telegram-polling",
      "name": "Telegram Callback Listener",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "telegramBotApi": "telegramBotApi"
      }
    },
    {
      "parameters": {
        "functionCode": "// Extract session_id from callback_data\nconst callbackData = $json.callback_query.data;\nconst parts = callbackData.split('_');\nconst action = parts[0]; // 'join' or 'reject'\nconst sessionId = parts.slice(2).join('_'); // Reconstruct session_id\n\nreturn {\n  session_id: sessionId,\n  callback_query_id: $json.callback_query.id,\n  user_id: $json.callback_query.from.id,\n  callback_action: action,\n  message_id: $json.callback_query.message?.message_id\n};"
      },
      "id": "uuid-extract-callback",
      "name": "Extract Session from Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "key": "{{ $node[\"Extract Session from Callback\"].json.callback_action }}",
              "condition": "equals",
              "value": "join"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "uuid-if-join",
      "name": "Is Join Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/beta/conversations/{{ $node[\"Extract Session from Callback\"].json.session_id }}/messages",
        "method": "POST",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-beta",
              "value": "interleaved-thinking-2025-05-14"
            }
          ]
        },
        "body": {
          "mode": "raw",
          "raw": "{\"model\":\"claude-3-5-sonnet-20241022\",\"max_tokens\":1024,\"messages\":[{\"role\":\"user\",\"content\":\"🔔 מטפל אנושי הצטרף לשיחה\"}],\"system\":\"אתה סוכן תמיכה בטלגרם וב-Slack. מטפל אנושי זה עתה הצטרף לשיחה כדי לעזור.\"}"
        }
      },
      "id": "uuid-anthropic-api",
      "name": "Send Message to Anthropic Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Extract Session from Callback\"].json.user_id }}",
        "text": "{{ $node[\"Send Message to Anthropic Session\"].json.content[0].text }}",
        "parseMode": "html"
      },
      "id": "uuid-telegram-response",
      "name": "Send API Response to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "telegramBotApi": "telegramBotApi"
      }
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": {
          "mode": "raw",
          "raw": "{\"callback_query_id\":\"{{ $node[\"Extract Session from Callback\"].json.callback_query_id }}\",\"text\":\"✅ הצטרפת בהצלחה לשיחה!\",\"show_alert\":false,\"cache_time\":0}"
        }
      },
      "id": "uuid-answer-callback",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1650, 350]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Extract Session from Callback\"].json.user_id }}",
        "text": "❌ בקשת ההצטרפות נדחתה.",
        "parseMode": "html"
      },
      "id": "uuid-telegram-reject",
      "name": "Send Rejection Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 450],
      "credentials": {
        "telegramBotApi": "telegramBotApi"
      }
    }
  ],
  "connections": {
    "Slack Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Message": {
      "main": [
        [
          {
            "node": "Telegram Callback Listener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Callback Listener": {
      "main": [
        [
          {
            "node": "Extract Session from Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session from Callback": {
      "main": [
        [
          {
            "node": "Is Join Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Join Action?": {
      "main": [
        [
          {
            "node": "Send Message to Anthropic Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message to Anthropic Session": {
      "main": [
        [
          {
            "node": "Send API Response to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send API Response to Telegram": {
      "main": [
        [
          {
            "node": "Answer Callback Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorHandler": "stop"
  },
  "staticData": null,
  "pinData": null
}
