FIRST AGENTIC AI WORKFLOW/n8n-lead-classifier.json
{
  "name": "Outlook Lead Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "searchCriteria": "is:unseen"
      },
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const message = $input.first().json;\n\nconst sender = message.from?.emailAddress?.address || 'unknown';\nconst subject = message.subject || '';\nconst body = message.bodyPreview || message.body || '';\n\n// Classification logic\nlet category = 'COLD';\nlet score = 0;\n\nconst hotKeywords = ['buy', 'purchase', 'quote', 'demo', 'interested', 'want to buy', 'pricing'];\nconst warmKeywords = ['information', 'learn more', 'details', 'interested', 'tell me'];\nconst coldKeywords = ['unsubscribe', 'spam', 'newsletter'];\nconst spamKeywords = ['viagra', 'casino', 'lottery', 'click here', 'urgent action'];\n\nconst text = (subject + ' ' + body).toLowerCase();\n\nif (spamKeywords.some(kw => text.includes(kw))) {\n  category = 'SPAM';\n  score = 0;\n} else if (hotKeywords.some(kw => text.includes(kw))) {\n  category = 'HOT';\n  score = 90;\n} else if (warmKeywords.some(kw => text.includes(kw))) {\n  category = 'WARM';\n  score = 60;\n} else {\n  category = 'COLD';\n  score = 30;\n}\n\nlet action = '';\nswitch(category) {\n  case 'HOT':\n    action = 'Immediate follow-up required';\n    break;\n  case 'WARM':\n    action = 'Schedule follow-up';\n    break;\n  case 'COLD':\n    action = 'Add to nurture list';\n    break;\n  case 'SPAM':\n    action = 'Mark as spam';\n    break;\n}\n\nreturn {\n  sender,\n  subject,\n  category,\n  score,\n  summary: `${sender} - ${category} lead`,\n  action,\n  timestamp: new Date().toISOString(),\n  originalMessage: {\n    from: message.from,\n    subject: message.subject,\n    body: body.substring(0, 200)\n  }\n};"
      },
      "name": "Classify Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fileName": "={{ $json.sender }}_{{ Date.now() }}.json",
        "dataPropertyName": "data",
        "options": {
          "encoding": "utf8"
        },
        "path": "c:\\Users\\GamingPC\\Desktop\\lisim"
      },
      "name": "Save to File",
      "type": "n8n-nodes-base.writeLocalFile",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Outlook Trigger": {
      "main": [
        [
          {
            "node": "Classify Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead": {
      "main": [
        [
          {
            "node": "Save to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
