FIRST AGENTIC AI WORKFLOW/n8n-workflow-ready.json
{
  "name": "Outlook Lead Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {}
      },
      "id": "d69e67f8-ac44-45f3-94b4-2e0e8f1a3c5d",
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": "outlook_connection"
      }
    },
    {
      "parameters": {
        "functionCode": "const email = $input.first().json;\n\nconst sender = email.from?.emailAddress?.address || email.sender || 'unknown';\nconst subject = email.subject || '';\nconst body = (email.bodyPreview || email.body || '').substring(0, 300).toLowerCase();\nconst text = (subject + ' ' + body).toLowerCase();\n\nlet category = 'COLD';\nlet score = 30;\nlet action = 'Add to nurture list';\n\nconst hotKeywords = ['buy', 'purchase', 'order', 'quote', 'demo', 'interested', 'want to buy', 'pricing', 'cost', 'price', 'investment', 'proposal'];\nconst warmKeywords = ['information', 'learn more', 'details', 'interested', 'tell me', 'how does', 'can you', 'more info'];\nconst spamKeywords = ['viagra', 'casino', 'lottery', 'unsubscribe', 'click here', 'urgent action', 'limited time'];\n\nif (spamKeywords.some(kw => text.includes(kw))) {\n  category = 'SPAM';\n  score = 0;\n  action = 'Mark as spam and delete';\n} else if (hotKeywords.some(kw => text.includes(kw))) {\n  category = 'HOT';\n  score = 90;\n  action = 'Immediate follow-up required - HIGH PRIORITY';\n} else if (warmKeywords.some(kw => text.includes(kw))) {\n  category = 'WARM';\n  score = 60;\n  action = 'Schedule follow-up meeting';\n}\n\nreturn {\n  sender: sender,\n  subject: subject,\n  category: category,\n  score: score,\n  summary: `${sender} - ${category} lead (Score: ${score})`,\n  action: action,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "c4f2e9b1-3a5e-4c2d-8f1b-9e7a2d5c8b3f",
      "name": "Classify Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.sender.replace('@', '_').replace('.', '_') }}_{{ $now.toFormat('yyyyMMdd_HHmmss') }}.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "a8b7c6d5-e4f3-2b1a-9c0e-1f2a3b4c5d6e",
      "name": "Save to File",
      "type": "n8n-nodes-base.filesWrite",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Outlook Trigger": {
      "main": [
        [
          {
            "node": "Classify Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead": {
      "main": [
        [
          {
            "node": "Save to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3d2e1f0-9a8b-7c6d-5e4f-3a2b1c0d9e8f",
  "meta": {
    "instanceId": "123456789"
  },
  "pinData": {}
}
